Repository oinani0721/canvas-learning-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflow-gate, check-prd-spec-sync, validate-schemas, validate-openapi, validate-gherkin, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

validate-workflow-gate:
  name: BMad Workflow Gate Validation
  description: Ensure Story files follow complete BMad workflow (SM→PO→DEV→QA)
  entry: python -X utf8 scripts/validate-workflow-gate.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true
  additional_dependencies:
  - pyyaml>=6.0

check-prd-spec-sync:
  name: Check PRD-Spec Synchronization
  description: Detect drift between PRD and SDD specifications
  entry: python -X utf8 scripts/check-prd-spec-sync.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-schemas:
  name: Validate JSON Schemas
  description: Validate JSON Schema files for syntax and compatibility
  entry: python -X utf8 scripts/validate-schemas.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-openapi:
  name: Validate OpenAPI Specifications
  description: Check OpenAPI specs for syntax errors
  entry: python -X utf8 scripts/validate-openapi.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-gherkin:
  name: Validate Gherkin Syntax
  description: Check Gherkin feature files for syntax errors
  entry: python -X utf8 scripts/validate-gherkin.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-sot-hierarchy:
  name: Validate SoT Hierarchy
  description: Check cross-document consistency (PRD/Architecture/Schema/OpenAPI)
  entry: python -X utf8 scripts/validate-sot-hierarchy.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-story-sdd-adr:
  name: Validate Story SDD/ADR Sections
  description: Ensure story files have SDD and ADR reference sections
  entry: python -X utf8 scripts/validate-story-sdd-adr.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

verify-sdd-coverage:
  name: Verify SDD Coverage (PRD->OpenAPI/Schema)
  description: Ensure PRD requirements have corresponding SDD specifications
  entry: python -X utf8 scripts/verify-sdd-coverage.py --threshold 80
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-source-citations:
  name: Validate Source Citations (x-source-verification)
  description: Ensure SDD files have x-source-verification metadata
  entry: python -X utf8 scripts/validate-source-citations.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-content-consistency:
  name: Validate Content Consistency (PRD<->Schema<->OpenAPI)
  description: Check for field definition mismatches across SoT documents
  entry: python -X utf8 scripts/validate-content-consistency.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

fix(35,34): RAG fallback dict completeness + review history test determinism
  backend/app/services/rag_service.py
  backend/tests/integration/test_review_history_pagination.py
Due: none

fix(31): unify review.py logger to module-level variable
  backend/app/api/v1/endpoints/review.py
  backend/openapi.json
Due: none

fix: remaining logger unification, dependency CVE bumps, datetime mock cleanup
  backend/app/api/v1/endpoints/review.py
  backend/openapi.json
  backend/requirements.txt
  backend/tests/integration/test_review_history_pagination.py
Due: none

fix(33): remove obsolete intelligent grouping and result merger tests
  backend/app/api/v1/endpoints/review.py
  backend/openapi.json
  backend/tests/e2e/conftest.py
  backend/tests/e2e/test_intelligent_parallel.py
  backend/tests/unit/test_intelligent_grouping_service.py
  backend/tests/unit/test_result_merger.py
Due: none

test(EPIC-33): add 100-node batch load test with NFR validation
  backend/tests/load/test_batch_100_nodes.py
Due: none

review(35.10): adversarial code review fixes — real defense chain tests, e2e UUID fix
  backend/tests/e2e/test_multimodal_workflow.py
  backend/tests/unit/test_multimodal_path_security.py
  docs/stories/35.10.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(34.9): adversarial review P0 hotfix — API validation, DI alignment, test trustworthiness
  backend/app/api/v1/endpoints/review.py
  backend/openapi.json
  backend/tests/integration/test_review_history_pagination.py
  backend/tests/unit/test_review_history_pagination.py
  docs/stories/34.9.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31): adversarial review fixes — degradation transparency, doc sync, DI regression test
  backend/app/services/verification_service.py
  backend/tests/integration/test_verification_service_di_completeness.py
  docs/epics/EPIC-31-VERIFICATION-CANVAS-INTELLIGENT-GUIDANCE.md
  docs/stories/31.7.story.md
Due: validate-workflow-gate, check-prd-spec-sync, validate-story-sdd-adr

fix(30): replace asyncio.sleep with wait_for_call in agent trigger tests
  backend/tests/integration/test_story_30_14_agent_trigger.py
Due: none

fix(36): add Neo4j sync for edge deletion — symmetric with edge creation
  backend/app/clients/neo4j_client.py
  backend/app/services/canvas_service.py
  backend/tests/unit/test_graphiti_client_mock_performance.py
Due: none

feat(36): add syncCanvasEdges and healthCheckStorage to plugin ApiClient
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
Due: none

test(31.A.9): add degraded flag propagation and recommend-action degradation tests
  backend/tests/integration/test_recommend_action_degradation.py
  backend/tests/unit/test_degraded_flag_propagation.py
  docs/stories/31.A.9.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31.A.8): code review — degraded fields API pass-through + test gaps
  backend/app/api/v1/endpoints/review.py
  backend/app/models/review_models.py
  backend/openapi.json
  backend/tests/integration/test_verification_interactive_e2e.py
  backend/tests/unit/test_mock_degradation_transparency.py
  docs/stories/31.A.8.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(36): NFR assessment fixes — CI silent failure, asyncio.sleep reduction, AC coverage gaps
  .github/workflows/test.yml
  backend/tests/integration/test_cross_canvas_injection.py
  backend/tests/unit/test_agent_context_injection.py
  backend/tests/unit/test_agent_memory_trigger.py
  backend/tests/unit/test_canvas_edge_bulk_sync.py
  backend/tests/unit/test_canvas_edge_sync.py
  backend/tests/unit/test_canvas_memory_trigger.py
  backend/tests/unit/test_graphiti_client_unification.py
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_graphiti_neo4j_calls.py
  backend/tests/unit/test_storage_health.py
Due: none

fix(32): resolve 2 HIGH NFR issues — fixture isolation + dashboard test coverage
  backend/tests/conftest.py
  backend/tests/unit/test_dashboard_statistics.py
Due: none

refactor(epic-32): extract shared FSRS fixtures to unit/conftest.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_card_state_concurrent_write.py
  backend/tests/unit/test_fsrs_state_query.py
  backend/tests/unit/test_review_service_fsrs.py
Due: none

feat(36): add Story 36.12 failure observability + Story 36.13 configurable retry/cache
  backend/app/core/failure_counters.py
  backend/app/dependencies.py
  backend/app/services/canvas_service.py
  backend/app/services/context_enrichment_service.py
  backend/app/services/memory_service.py
  backend/tests/e2e/test_epic36_endpoints.py
  backend/tests/e2e/test_epic36_integration.py
  backend/tests/integration/test_epic36_gap_integration.py
  backend/tests/unit/test_epic36_gap_coverage.py
  backend/tests/unit/test_failure_observability.py
Due: none

fix(33): adversarial review fixes — cancel race guard, path validation, structlog migration
  .github/workflows/test.yml
  _bmad-output/test-artifacts/nfr-assessment-epic35.md
  backend/.env.example
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/intelligent_parallel.py
  backend/app/models/intelligent_parallel_models.py
  backend/app/models/schemas.py
  backend/app/services/agent_service.py
  backend/app/services/batch_orchestrator.py
  backend/app/services/intelligent_parallel_service.py
  backend/app/services/review_service.py
  backend/app/services/session_manager.py
  backend/openapi.json
  backend/tests/integration/test_review_history_pagination.py
  backend/tests/integration/test_verification_history_api.py
  backend/tests/integration/test_verification_service_e2e.py
  backend/tests/unit/test_cross_canvas_auto_discover.py
  backend/tests/unit/test_review_mode_support.py
  backend/tests/unit/test_verification_dedup.py
  backend/tests/unit/test_websocket_endpoints.py
Due: none

feat(34.11): add modular review_history test suite + performance benchmarks
  backend/tests/integration/review_history/__init__.py
  backend/tests/integration/review_history/conftest.py
  backend/tests/integration/review_history/helpers.py
  backend/tests/integration/review_history/test_history_behavior.py
  backend/tests/integration/review_history/test_history_endpoint.py
  backend/tests/integration/review_history/test_history_real_service.py
  backend/tests/integration/review_history/test_history_statistics.py
  backend/tests/integration/review_history/test_history_validation.py
  backend/tests/performance/test_history_performance.py
Due: none

feat(34.13): add real E2E test for textbook mount sync path
  _bmad-output/implementation-artifacts/34-13-textbook-mount-real-e2e.md
  backend/tests/e2e/test_textbook_mount_e2e.py
Due: none

docs(epic-34): add review artifacts — NFR, TEA, traceability, retrospective
  _bmad-output/implementation-artifacts/epic-34-retro-2026-02-10.md
  _bmad-output/test-artifacts/nfr-assessment-epic34-security.json
  _bmad-output/test-artifacts/nfr-assessment-epic34.md
  _bmad-output/test-artifacts/tea-trace-coverage-matrix-epic34.json
  _bmad-output/test-artifacts/test-review-epic34-20260209.md
  _bmad-output/test-artifacts/test-review-epic34-20260210.md
  _bmad-output/test-artifacts/traceability-matrix-epic34.md
Due: none

chore: add circuit_breaker utility and update .gitignore
  .gitignore
  backend/app/utils/__init__.py
  backend/app/utils/circuit_breaker.py
Due: none

feat(plugin): add deploy/verify/sync tooling and documentation
  canvas-progress-tracker/obsidian-plugin/CHANGELOG.md
  canvas-progress-tracker/obsidian-plugin/README.md
  canvas-progress-tracker/obsidian-plugin/scripts/deploy.mjs
  canvas-progress-tracker/obsidian-plugin/scripts/sync-vault.mjs
  canvas-progress-tracker/obsidian-plugin/scripts/verify-vault.mjs
  canvas-progress-tracker/obsidian-plugin/scripts/verify.mjs
Due: none

docs(epic-30): add 12 story definitions and 7 story-specific test files
  backend/tests/integration/test_story_30_20_core_coverage.py
  backend/tests/integration/test_story_30_21_real_integration.py
  backend/tests/unit/test_story_30_10_idempotency.py
  backend/tests/unit/test_story_30_11_batch_parallel.py
  backend/tests/unit/test_story_30_12_agent_trigger.py
  backend/tests/unit/test_story_30_22_agent_trigger_deep.py
  backend/tests/unit/test_story_30_24_boundary.py
  backend/tests/unit/test_story_30_6_color_change.py
  backend/tests/unit/test_story_30_7_plugin_init.py
  docs/stories/30.10.idempotency-fix.story.md
  docs/stories/30.11.batch-true-parallel.story.md
  docs/stories/30.12.agent-trigger-completion.story.md
  docs/stories/30.15.test-isolation-di-integrity.story.md
  docs/stories/30.17.priority-memory-transparency.story.md
  docs/stories/30.18.apiclient-memory-methods.story.md
  docs/stories/30.19.subject-mapping-ui.story.md
  docs/stories/30.20.core-test-coverage.story.md
  docs/stories/30.21.real-integration-test-suite.story.md
  docs/stories/30.22.agent-trigger-deep-test.story.md
  docs/stories/30.23.ci-pipeline-activation.story.md
  docs/stories/30.24.boundary-test-hardening.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

docs(epic-31,32): add story definitions and test files
  backend/tests/integration/test_epic31_e2e.py
  backend/tests/unit/test_difficulty_canvas_integration.py
  backend/tests/unit/test_epic32_p0_fixes.py
  docs/stories/31.A.10.story.md
  docs/stories/31.A.7.story.md
  docs/stories/32.10.story.md
  docs/stories/32.11.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

docs(epic-33-38): add story definitions for EPICs 33-38
  docs/stories/33.10.story.md
  docs/stories/33.11.story.md
  docs/stories/33.12.story.md
  docs/stories/33.13.story.md
  docs/stories/34.10.story.md
  docs/stories/34.11.story.md
  docs/stories/34.12.story.md
  docs/stories/34.13.story.md
  docs/stories/35.11.story.md
  docs/stories/35.12.story.md
  docs/stories/36.11.story.md
  docs/stories/36.12.story.md
  docs/stories/36.13.story.md
  docs/stories/38.9.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

chore: add CI workflow, JSON schemas, and review docs
  .github/workflows/release-obsidian-plugin.yml
  COMMAND-VALIDATION-REPORT.md
  docs/reviews/EPIC-38-adversarial-review.md
  specs/data/recommend-action-request.schema.json
  specs/data/recommend-action-response.schema.json
  specs/data/score-history-response.schema.json
  specs/data/session-pause-resume-response.schema.json
  specs/data/session-progress-response.schema.json
Due: check-prd-spec-sync, validate-schemas, validate-sot-hierarchy, verify-sdd-coverage, validate-source-citations, validate-content-consistency

feat(plugin): add PM2 ecosystem config for esbuild watch
  canvas-progress-tracker/obsidian-plugin/ecosystem.config.cjs
Due: none

chore: add lefthook/commitlint toolchain and git hooks infrastructure
  .gitattributes
  _bmad/tea/workflows/testarch/test-review/workflow.yaml
  _bmad/tea/workflows/testarch/trace/workflow.yaml
  backend/data/.gitignore
  commitlint.config.js
  lefthook.yml
  package-lock.json
  package.json
  scripts/hooks/install.sh
  scripts/hooks/post-commit
  scripts/hooks/pre-commit
  scripts/hooks/pre-push
  scripts/pm2-resurrect.bat
Due: none

fix(process): add git discipline enforcement to prevent file tracking gaps
  _bmad/bmm/workflows/4-implementation/dev-story/instructions.xml
  scripts/hooks/pre-commit
Due: none

feat: deploy plugin to CS188 vault with vault-wide indexing and AI config sync
  backend/app/api/v1/endpoints/config.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/api/v1/router.py
  backend/app/config.py
  backend/config/subject_mapping.yaml
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  docs/PROGRESS_TRACKER_BROKEN_PIPE.md
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/retrievers/__init__.py
  src/agentic_rag/retrievers/vault_notes_retriever.py
  src/agentic_rag/state.py
  src/agentic_rag/state_graph.py
Due: none

chore: add uv.lock for reproducible dependency resolution
  uv.lock
Due: none

fix: resolve RAG pipeline returning empty results (3 root causes)
  backend/app/api/v1/endpoints/rag.py
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/config.py
  src/agentic_rag/nodes.py
  src/agentic_rag/processors/video_processor.py
  src/agentic_rag/retrievers/cross_canvas_retriever.py
  src/agentic_rag/retrievers/multimodal_retriever.py
  src/agentic_rag/retrievers/vault_notes_retriever.py
Due: none

Path conditions:
  validate-workflow-gate: any of: ^docs/stories/.*\.(story\.md|md)$
  check-prd-spec-sync: any of: ^(docs/prd/|docs/epics/|specs/)
  validate-schemas: any of: ^specs/data/.*\.json$
  validate-openapi: any of: ^specs/api/.*\.(yml|yaml)$
  validate-gherkin: any of: ^specs/behavior/.*\.feature$
  validate-sot-hierarchy: any of: ^(docs/prd/|docs/architecture/|specs/)
  validate-story-sdd-adr: any of: ^docs/stories/.*\.story\.md$
  verify-sdd-coverage: any of: ^(docs/prd/|specs/)
  validate-source-citations: any of: ^specs/
  validate-content-consistency: any of: ^(docs/prd/|specs/)
