Repository oinani0721/canvas-learning-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-prd-spec-sync, validate-schemas, validate-openapi, validate-gherkin, bdd-tests, contract-test, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

Path conditions:
  check-prd-spec-sync: any of: ^(docs/prd/|docs/epics/|specs/)
  validate-schemas: any of: ^specs/data/.*\.json$
  validate-openapi: any of: ^specs/api/.*\.(yml|yaml)$
  validate-gherkin: any of: ^specs/behavior/.*\.feature$
  bdd-tests: any of: ^(specs/behavior/.*\.feature$|tests/bdd/)
  contract-test: any of: ^(src/api/|specs/api/)
  validate-sot-hierarchy: any of: ^(docs/prd/|docs/architecture/|specs/)
  validate-story-sdd-adr: any of: ^docs/stories/.*\.story\.md$
  verify-sdd-coverage: any of: ^(docs/prd/|specs/)
  validate-source-citations: any of: ^specs/
  validate-content-consistency: any of: ^(docs/prd/|specs/)

feat(bmad-orchestrator): Add BMad Workflow Enforcement v2.0.0
  .claude/agents/parallel-dev-orchestrator.md
  src/bmad_orchestrator/__init__.py
  src/bmad_orchestrator/audit.py
  src/bmad_orchestrator/cli.py
  src/bmad_orchestrator/nodes.py
  src/bmad_orchestrator/state.py
Due: none

feat(Epic-25): Cross-Canvas & Textbook Context Integration
  backend/app/api/v1/endpoints/agents.py
  backend/app/api/v1/endpoints/cross_canvas.py
  backend/app/dependencies.py
  backend/app/services/context_enrichment_service.py
  backend/app/services/cross_canvas_service.py
  backend/app/services/textbook_context_service.py
  backend/tests/test_context_enrichment_service.py
  backend/tests/test_cross_canvas_service.py
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
  canvas-progress-tracker/obsidian-plugin/src/modals/CrossCanvasModal.ts
  canvas-progress-tracker/obsidian-plugin/src/services/CrossCanvasService.ts
  canvas-progress-tracker/obsidian-plugin/src/types/UITypes.ts
  canvas-progress-tracker/obsidian-plugin/src/views/CrossCanvasSidebar.ts
  canvas-progress-tracker/obsidian-plugin/styles.css
  docs/prd/EPIC-25-CROSS-CANVAS-TEXTBOOK-CONTEXT.md
  docs/stories/25.1.story.md
  docs/stories/25.2.story.md
  docs/stories/25.3.story.md
Due: check-prd-spec-sync, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-content-consistency

SM: Create Story 24.1 draft
  .bmad-prompt.txt
  .sm-result.json
  docs/stories/24.1.story.md
Due: validate-story-sdd-adr

SM: Create Story 24.1 draft
  .sm-result.json
Due: none

feat(Epic-24): SM phase - Create Stories 24.2-24.5 for Verification Canvas
  .bmad-prompt.txt
  docs/stories/24.2.story.md
  docs/stories/24.3.story.md
  docs/stories/24.4.story.md
  docs/stories/24.5.story.md
Due: validate-story-sdd-adr

fix(Epic-24): PO validation fixes for Stories 24.1, 24.2, 24.5
  docs/stories/24.1.story.md
  docs/stories/24.2.story.md
  docs/stories/24.5.story.md
Due: validate-story-sdd-adr

feat(Epic-24): Complete Verification Canvas Redesign
  backend/app/api/v1/endpoints/rag.py
  backend/app/api/v1/endpoints/review.py
  backend/app/dependencies.py
  backend/app/models/__init__.py
  backend/app/models/review_models.py
  backend/app/models/schemas.py
  backend/app/services/review_service.py
  backend/app/services/verification_service.py
  backend/app/services/weight_calculator.py
  backend/tests/test_multi_review_progress.py
  backend/tests/test_weight_calculator.py
  backend/tests/test_weighted_selection.py
  docs/prd/EPIC-24-VERIFICATION-CANVAS-REDESIGN.md
  docs/stories/24.5.story.md
  specs/data/review-generate-request.schema.json
  specs/data/review-generate-response.schema.json
  src/tests/test_rag_context_injection.py
  src/tests/test_review_mode_support.py
Due: check-prd-spec-sync, validate-schemas, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

test(Story-21.5.2): Add AI_MODEL_NAME validator unit tests
  backend/tests/test_cors_exception.py
  docs/qa/gates/21.5.1-cors-exception-fix.yml
  docs/stories/21.5.1.story.md
  specs/data/error-response.schema.json
Due: check-prd-spec-sync, validate-schemas, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

feat(Epic-21.5): Complete Story 21.5.1 - CORS Exception Middleware
  .pre-commit-config.yaml
Due: none

feat(Story-21.5.3): Bug追踪日志系统 - Add tests and fix route ordering
  backend/app/api/v1/endpoints/debug.py
  backend/app/core/bug_tracker.py
  backend/tests/test_debug.py
  backend/tests/unit/test_bug_tracker.py
  docs/qa/gates/21.5.3-bug-tracking-log-system.yml
  docs/stories/21.5.3.story.md
Due: validate-story-sdd-adr

feat(Story-21.5.2): Add AI_MODEL_NAME validator unit tests
  backend/tests/test_config.py
  docs/qa/gates/21.5.2-ai-provider-config-validation.yml
Due: none

fix(Story-21.5.4): Add 400ms timeout to AI health check (P0 PERF-001)
  backend/app/services/agent_service.py
  backend/tests/test_health.py
  docs/qa/gates/21.5.4-agent-health-check-enhancement.yml
Due: none

fix(Story-21.5.5): Add bug_id to 500 error responses
  backend/app/main.py
Due: none

test(Story-21.5.5): Add plugin error handling tests
  canvas-progress-tracker/obsidian-plugin/tests/__mocks__/obsidian.ts
  canvas-progress-tracker/obsidian-plugin/tests/api/ApiError.test.ts
  canvas-progress-tracker/obsidian-plugin/tests/managers/ErrorHistoryManager.test.ts
Due: none

feat(Epic-21.5): Agent端点可靠性修复 - Complete Implementation
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/router.py
  backend/app/config.py
  backend/app/core/exception_handlers.py
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
  canvas-progress-tracker/obsidian-plugin/src/managers/ErrorHistoryManager.ts
  canvas-progress-tracker/obsidian-plugin/src/services/ErrorNotificationService.ts
  canvas-progress-tracker/obsidian-plugin/src/settings/PluginSettingsTab.ts
  canvas-progress-tracker/obsidian-plugin/src/types/settings.ts
  canvas-progress-tracker/obsidian-plugin/tsconfig.json
  scripts/test-agent-endpoint.py
Due: none

docs(Story-21.5.5): Update QA gate to PASS
  .bmad-core/data/canvas-project-status.yaml
  docs/prd/EPIC-21.5-AGENT-RELIABILITY-FIX.md
  docs/qa/gates/21.5.5-plugin-error-display-enhancement.yml
  docs/qa/gates/21.5.6-incremental-test-validation.yml
  docs/stories/21.5.6.story.md
Due: check-prd-spec-sync, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-content-consistency

Story 21.5.1.2: 优化后端Path Traversal安全检查
  .ai-context.md
  .claude-launcher.ps1
  .claude-prompt-temp.txt
  .claude-prompt.txt
  .coverage
  .worktree-status.yaml
  backend/.coverage
  backend/app/services/canvas_service.py
  backend/data/review_data.db
  backend/tests/unit/test_canvas_validation.py
  data/review_data.db
Due: none

Story 21.5.1.1: 修复前端canvas_name参数构建
  .worktree-status.yaml
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/tests/utils/extractCanvasFileName.test.ts
  docs/qa/nfr/21.5.1.1-nfr-assessment.md
  docs/qa/traces/21.5.1.1-trace.md
Due: none

chore: Update worktree status with commit info and result
  .worktree-result.json
  .worktree-status.yaml
Due: none

Story 21.5.1.1: Fix canvas_name parameter construction in frontend
  .ai-context.md
  .claude-launcher.ps1
  .claude-prompt-temp.txt
  .claude-prompt.txt
  .worktree-result.json
  docs/qa/assessments/21.5.1.1-nfr-20251214.md
  docs/qa/gates/21.5.1.1-quality-gate.yml
  docs/qa/reviews/21.5.1.1-code-review.md
  docs/qa/reviews/21.5.1.1-review-20251214.md
Due: none

qa(Story-21.5.1.1): Add QA artifacts and update Story records
  .worktree-result.json
  docs/qa/gates/21.5.1.1-canvas-name-fix.yml
  docs/stories/21.5.1.1.story.md
Due: validate-story-sdd-adr

test(Story-21.5.1.3): Add integration tests for canvas_name parameter validation
  backend/tests/integration/test_agent_canvas_param.py
  docs/qa/gates/21.5.1.3-integration-tests.yml
  docs/stories/21.5.1.3.story.md
Due: validate-story-sdd-adr

docs(QA): Update Epic 21.5 QA gates and risk assessment
  docs/qa/assessments/21.5.5-risk-20251214.md
  docs/qa/gates/21.5.4-agent-health-check-enhancement.yml
Due: none

qa(Epic-21.5.1): Add ultrathink deep review results for Stories 21.5.1.2 and 21.5.1.3
  docs/qa/gates/21.5.1.2-path-traversal-fix.yml
  docs/qa/gates/21.5.1.3-api-param-format-test.yml
  docs/stories/21.5.1.2.story.md
  docs/stories/21.5.1.3.story.md
Due: validate-story-sdd-adr

fix(Epic-21.5.2): Implement Canvas context caching to fix getCurrentContext() path issue
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
Due: none

fix(Agent-API): Resolve empty response issue for custom AI providers
  CLAUDE.md
  backend/app/api/v1/router.py
  backend/app/clients/gemini_client.py
  backend/app/config.py
  backend/app/services/rag_service.py
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/services/BackendProcessManager.ts
Due: none

feat(Story-12.A.4): Add memory injection docs, tests, and QA gate
  backend/app/services/canvas_service.py
  backend/tests/test_canvas_name_normalize.py
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/tests/utils/extractCanvasFileName.test.ts
  docs/qa/gates/12.A.1-canvas-name-standardization.yml
  docs/stories/story-12.A.1-canvas-name-standardization.md
Due: none

feat(Story-12.A.4): Add memory injection with timeout and cache
  backend/tests/unit/test_agent_memory_injection.py
  docs/qa/gates/12.A.4-memory-injection.yml
  docs/stories/story-12.A.4-memory-injection.md
Due: none

feat(Epic-12.A): Agent-RAG Deep Integration - Stories 12.A.2-12.A.6
  backend/app/api/v1/endpoints/agents.py
  backend/app/dependencies.py
  backend/app/models/__init__.py
  backend/app/models/schemas.py
  backend/app/services/agent_service.py
  backend/app/services/context_enrichment_service.py
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
  docs/prd/epics/EPIC-12A-Agent-RAG-Integration.md
  docs/qa/gates/12.A.5-learning-event-recording.yml
  docs/qa/gates/12.A.6-complete-agents.yml
  docs/stories/story-12.A.2-agent-rag-bridge.md
  docs/stories/story-12.A.3-node-context-deep-read.md
  docs/stories/story-12.A.5-learning-event-recording.md
  docs/stories/story-12.A.6-complete-agents.md
Due: check-prd-spec-sync, validate-sot-hierarchy, verify-sdd-coverage, validate-content-consistency

test(Story-12.A.5): Add learning event recording tests (19/19 passing)
  backend/tests/api/v1/endpoints/__init__.py
  backend/tests/api/v1/endpoints/test_agents_learning_event.py
Due: none

feat(Story-12.D.1): Add FILE type node content reading support
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
  docs/prd/epics/EPIC-12D-FILE-NODE-SUPPORT.md
  docs/qa/gates/12.D.1-file-node-support.yml
  docs/stories/12.D.1.story.md
Due: check-prd-spec-sync, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-content-consistency

fix(Story-12.D.2): Add FILE type node support to context_enrichment_service
  backend/app/services/context_enrichment_service.py
  backend/tests/integration/test_context_enrichment_file_nodes.py
  backend/tests/unit/test_context_enrichment_get_node_content.py
  docs/qa/gates/12.D.2-backend-file-node-support.yml
  docs/stories/12.D.2.backend-file-node-support.md
Due: none

docs(Story-12.D.1): Update status to Done
  docs/stories/12.D.1.story.md
Due: validate-story-sdd-adr

feat(Story-12.D.3): Add node type logging chain for debugging
  backend/app/api/v1/endpoints/agents.py
  backend/tests/test_context_enrichment_service.py
  docs/qa/gates/12.D.3-node-type-logging.yml
  docs/stories/story-12.D.3-node-type-logging.md
  scripts/validate-content-consistency.py
  specs/api/canvas-api.openapi.yml
  specs/api/fastapi-backend-api.openapi.yml
  specs/data/canvas-data.schema.json
Due: check-prd-spec-sync, validate-schemas, validate-openapi, contract-test, validate-sot-hierarchy, verify-sdd-coverage, validate-source-citations, validate-content-consistency

docs(Story-12.E.2): Add QA review - PASS
  docs/qa/gates/12.E.2-user-understanding-dual-channel.yml
  docs/stories/story-12.E.2-user-understanding-dual-channel.md
Due: none

docs(Story-12.E.5): Add QA review - PASS
  docs/qa/gates/12.E.5-agent-multimodal-integration.yml
  docs/qa/gates/12.E.6-integration-testing.yml
  docs/stories/story-12.E.5-agent-multimodal-integration.md
  docs/stories/story-12.E.6-integration-testing.md
Due: none

feat(Epic-12.E): Agent Quality Comprehensive Fix - 6 Stories
  backend/app/api/v1/endpoints/agents.py
  backend/app/services/agent_service.py
  backend/app/services/context_enrichment_service.py
  backend/app/services/markdown_image_extractor.py
  backend/tests/integration/test_epic12e_integration.py
  backend/tests/unit/test_agent_service_comparison.py
  backend/tests/unit/test_agent_service_user_understanding.py
  backend/tests/unit/test_agents_multimodal.py
  backend/tests/unit/test_context_enrichment_2hop.py
  backend/tests/unit/test_markdown_image_extractor.py
  docs/epics/epic-12.E-topic-extraction-quality-fix.md
  docs/qa/gates/12.E.1-prompt-format-alignment.yml
  docs/qa/gates/12.E.3-2hop-context-traversal.yml
  docs/qa/gates/12.E.4-markdown-image-extractor.yml
  docs/stories/story-12.E.1-prompt-format-alignment.md
  docs/stories/story-12.E.3-2hop-context-traversal.md
  docs/stories/story-12.E.4-markdown-image-extractor.md
Due: check-prd-spec-sync

docs(Story-12.G.5): Add QA review - PASS
  docs/qa/gates/12.G.5-frontend-error-display.yml
  docs/stories/story-12.G.5-frontend-error-display.md
Due: none
