Repository oinani0721/canvas-learning-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflow-gate, check-prd-spec-sync, validate-schemas, validate-openapi, validate-gherkin, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

validate-workflow-gate:
  name: BMad Workflow Gate Validation
  description: Ensure Story files follow complete BMad workflow (SM→PO→DEV→QA)
  entry: python -X utf8 scripts/validate-workflow-gate.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true
  additional_dependencies:
  - pyyaml>=6.0

check-prd-spec-sync:
  name: Check PRD-Spec Synchronization
  description: Detect drift between PRD and SDD specifications
  entry: python -X utf8 scripts/check-prd-spec-sync.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  verbose: true

validate-schemas:
  name: Validate JSON Schemas
  description: Validate JSON Schema files for syntax and compatibility
  entry: python -X utf8 scripts/validate-schemas.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-openapi:
  name: Validate OpenAPI Specifications
  description: Check OpenAPI specs for syntax errors
  entry: python -X utf8 scripts/validate-openapi.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-gherkin:
  name: Validate Gherkin Syntax
  description: Check Gherkin feature files for syntax errors
  entry: python -X utf8 scripts/validate-gherkin.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-sot-hierarchy:
  name: Validate SoT Hierarchy
  description: Check cross-document consistency (PRD/Architecture/Schema/OpenAPI)
  entry: python -X utf8 scripts/validate-sot-hierarchy.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-story-sdd-adr:
  name: Validate Story SDD/ADR Sections
  description: Ensure story files have SDD and ADR reference sections
  entry: python -X utf8 scripts/validate-story-sdd-adr.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

verify-sdd-coverage:
  name: Verify SDD Coverage (PRD->OpenAPI/Schema)
  description: Ensure PRD requirements have corresponding SDD specifications
  entry: python -X utf8 scripts/verify-sdd-coverage.py --threshold 80
  language: python
  pass_filenames: false
  stages:
  - pre-commit

validate-source-citations:
  name: Validate Source Citations (x-source-verification)
  description: Ensure SDD files have x-source-verification metadata
  entry: python -X utf8 scripts/validate-source-citations.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

validate-content-consistency:
  name: Validate Content Consistency (PRD<->Schema<->OpenAPI)
  description: Check for field definition mismatches across SoT documents
  entry: python -X utf8 scripts/validate-content-consistency.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

fix(tests): replace 35+ asyncio.sleep() with deterministic wait utilities
  backend/tests/conftest.py
  backend/tests/integration/test_agent_memory_integration.py
  backend/tests/integration/test_dual_write_consistency.py
  backend/tests/integration/test_edge_neo4j_sync.py
  backend/tests/integration/test_memory_graphiti_integration.py
  backend/tests/test_services.py
  backend/tests/unit/test_agent_memory_trigger.py
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_memory_service_write_retry.py
  backend/tests/unit/test_story_38_5_canvas_crud_degradation.py
Due: none

fix(tests): resolve P0 #3-#5 test isolation and maintainability issues
  backend/tests/conftest.py
  backend/tests/integration/test_batch_processing.py
  backend/tests/test_agent_metrics.py
  backend/tests/test_memory_metrics.py
  backend/tests/test_metrics_middleware.py
  backend/tests/test_rollback.py
  backend/tests/test_rollback_diff.py
  backend/tests/test_rollback_execute.py
  backend/tests/test_rollback_history.py
  backend/tests/test_rollback_snapshots.py
  backend/tests/unit/test_story_31a2_ac1_neo4j_priority.py
  backend/tests/unit/test_story_31a2_ac2_client_method.py
  backend/tests/unit/test_story_31a2_ac3_persistence.py
  backend/tests/unit/test_story_31a2_ac4_pagination.py
  backend/tests/unit/test_story_31a2_ac5_api_injection.py
  backend/tests/unit/test_story_31a2_helpers.py
  backend/tests/unit/test_story_31a2_learning_history.py
Due: none

docs: add EPIC-30 traceability matrix and test review (TEA testarch-trace)
  _bmad-output/test-artifacts/test-review-epic30.md
  _bmad-output/test-artifacts/traceability-matrix.md
Due: none

test: EPIC-30 remediation — add 50 tests to close coverage gaps (86% → 98%)
  _bmad-output/test-artifacts/traceability-matrix.md
  backend/tests/unit/test_canvas_memory_trigger.py
  canvas-progress-tracker/obsidian-plugin/tests/services/GraphitiAssociationService.test.ts
Due: none

fix(neo4j): store group_id on Concept nodes for subject isolation (A3)
  _bmad-output/implementation-artifacts/epic-30-retro-2026-02-08.md
  backend/app/clients/neo4j_client.py
Due: none

fix: EPIC-38 code review fixes — dedup, concurrency, FSRS runtime, failed writes isolation
  backend/app/config.py
  backend/app/services/canvas_service.py
  backend/app/services/lancedb_index_service.py
  backend/openapi.json
  backend/tests/unit/test_qa_38_5_fallback_extra.py
  backend/tests/unit/test_story_38_1_ac1_auto_trigger.py
  backend/tests/unit/test_story_38_1_review_fixes.py
  backend/tests/unit/test_story_38_5_canvas_crud_degradation.py
  docs/stories/38.1.story.md
  docs/test-artifacts/atdd-checklist-38.5.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(canvas): resolve 6 issues from Story 38.5 adversarial code review
  backend/app/services/review_service.py
Due: none

fix: EPIC-38 remaining code review fixes — tests, docs, story updates
  backend/openapi.json
Due: none

fix(tests): Story 38.7 code review — fix dedup test, extract shared helpers, strengthen assertions
  backend/app/core/failed_writes_constants.py
  backend/app/services/agent_service.py
  backend/app/services/memory_service.py
  backend/openapi.json
  backend/tests/unit/test_qa_38_6_scoring_reliability_extra.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: none

fix(38.6): resolve race condition, DRY violation, and Windows safety in scoring write reliability
  backend/openapi.json
Due: none

fix: EPIC-38 code review — Story 38.2 dedup/lock, 38.3 FSRS, tests & docs
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/review.py
  backend/app/clients/neo4j_client.py
  backend/app/main.py
  backend/openapi.json
  backend/tests/integration/test_story_38_7_ac1_fresh_startup.py
  backend/tests/integration/test_story_38_7_ac2_learning_flow.py
  backend/tests/integration/test_story_38_7_ac3_restart_survival.py
  backend/tests/integration/test_story_38_7_ac4_degraded_mode.py
  backend/tests/integration/test_story_38_7_ac5_recovery_and_cross_story.py
  backend/tests/integration/test_story_38_7_qa_supplement.py
  backend/tests/unit/test_story_38_2_qa_supplement.py
  backend/tests/unit/test_story_38_3_fsrs_init_guarantee.py
  backend/tests/unit/test_story_38_4_dual_write_default.py
  data/bug_log.jsonl
  docs/implementation-artifacts/story-38.3.md
  docs/implementation-artifacts/story-38.4.md
  docs/implementation-artifacts/story-38.7.md
  docs/stories/38.2.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(tests): resolve 3 P1 violations from EPIC-38 test quality review
  backend/tests/integration/test_story_38_7_qa_supplement.py
  backend/tests/unit/test_qa_38_6_scoring_reliability_extra.py
  backend/tests/unit/test_story_38_3_fsrs_init_guarantee.py
  backend/tests/unit/test_story_38_5_canvas_crud_degradation.py
Due: none

docs(test): add EPIC-38 AC→test traceability matrix
  _bmad-output/test-artifacts/traceability-matrix-epic38.md
Due: none

fix(EPIC-38): resolve adversarial review findings — test anti-patterns, SLO docs, tech debt updates
  backend/tests/api/v1/endpoints/test_fsrs_state_api.py
  backend/tests/integration/test_story_38_7_qa_supplement.py
  backend/tests/unit/test_story_38_3_fsrs_init_guarantee.py
  docs/stories/EPIC-38-infrastructure-reliability-fixes.md
Due: validate-workflow-gate

feat(38.8): implement JSON fallback → Neo4j complete sync mechanism
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_story_38_8_fallback_sync.py
Due: none

fix(31.1): fix E2E test mock formats and sync Story timeout docs
  backend/tests/integration/test_verification_service_e2e.py
  docs/stories/31.1.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31.5): implement mastery filtering and fix adversarial review findings
  backend/app/services/verification_service.py
  backend/tests/integration/test_verification_difficulty.py
  docs/stories/31.5.story.md
  specs/data/difficulty-level.schema.json
  specs/data/score-history-query.schema.json
Due: validate-workflow-gate, check-prd-spec-sync, validate-schemas, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

fix(31.4): resolve adversarial code review findings — Graphiti timeout, pagination, task tracking
  backend/app/api/v1/endpoints/review.py
  backend/app/services/verification_service.py
  docs/stories/31.4.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31.7): resolve adversarial code review findings — passRate NaN guard, session date sort, doc line refs
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
  docs/stories/31.7.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31.3): preserve review_suggested on high scores and consolidate history parsing
  backend/app/api/v1/endpoints/agents.py
  backend/openapi.json
  backend/tests/api/v1/endpoints/test_recommend_action.py
  docs/stories/31.3.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31.4): enable cross-process dedup via Neo4j direct persistence
  src/agentic_rag/clients/graphiti_temporal_client.py
Due: none

fix(31.6): apply H2/H3/M2 code review fixes for pause/resume and unify score scale
  backend/app/services/verification_service.py
Due: none

fix(31.3): resolve adversarial code review findings for consecutive_low and recommend_action
  backend/app/api/v1/endpoints/agents.py
  backend/app/services/memory_service.py
  backend/openapi.json
  backend/tests/api/v1/endpoints/test_recommend_action.py
  backend/tests/unit/test_story_31a2_ac1_neo4j_priority.py
  backend/tests/unit/test_story_31a2_ac5_api_injection.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: none

fix: unify MemoryService to single singleton path in services/memory_service.py
  backend/app/api/v1/endpoints/agents.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/services/memory_service.py
  backend/openapi.json
  backend/tests/api/v1/endpoints/test_agents_learning_event.py
  backend/tests/api/v1/endpoints/test_recommend_action.py
  backend/tests/conftest.py
  backend/tests/e2e/test_memory_api_e2e.py
  backend/tests/integration/test_epic30_memory_integration.py
  backend/tests/integration/test_memory_singleton_unity.py
Due: none

fix(34.4): correct mock patch target in review history pagination integration tests
  backend/tests/integration/test_review_history_pagination.py
Due: none

fix(32.8): add create_fsrs_manager tests, fix getattr, update EPIC-32 line counts
  backend/app/services/review_service.py
  backend/tests/unit/test_create_fsrs_manager.py
  docs/epics/EPIC-32-EBBINGHAUS-REVIEW-SYSTEM-ENHANCEMENT.md
  docs/stories/32.8.story.md
Due: validate-workflow-gate, check-prd-spec-sync, validate-story-sdd-adr

fix(33.9): inject batch_orchestrator and agent_service via async lazy singleton
  backend/app/api/v1/endpoints/intelligent_parallel.py
  backend/app/dependencies.py
  backend/openapi.json
  backend/tests/integration/test_epic33_di_completeness.py
  backend/tests/unit/test_intelligent_parallel_endpoints.py
Due: none

fix(36.11): add AgentService memory_client WARNING log and DI completeness tests
  backend/app/services/agent_service.py
  backend/tests/integration/test_di_completeness.py
Due: none

test(EPIC-30): add Stories 30.13/30.14/30.16 tests — batch idempotency, agent triggers, Neo4j resilience
  backend/tests/integration/test_story_30_14_agent_trigger.py
  backend/tests/integration/test_story_30_16_neo4j_resilience.py
  backend/tests/unit/test_story_30_13_batch_idempotency.py
  docs/stories/30.13.test-batch-idempotency.story.md
  docs/stories/30.14.test-agent-trigger-integration.story.md
  docs/stories/30.16.test-neo4j-real-resilience.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(34.8): adversarial review fixes — real integration tests, DI completeness, safety bounds
  backend/app/api/v1/endpoints/review.py
  backend/app/services/review_service.py
  backend/openapi.json
  backend/tests/integration/test_review_history_pagination.py
  docs/stories/34.8.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(31): adversarial code review fixes — DI warning, timeout, degraded flag, score computation
  backend/app/clients/graphiti_client.py
  backend/app/models/review_models.py
  backend/app/services/verification_service.py
  backend/openapi.json
  backend/tests/integration/test_verification_service_e2e.py
  backend/tests/unit/test_verification_service_activation.py
  backend/tests/unit/test_verification_service_injection.py
  docs/epics/EPIC-31-VERIFICATION-CANVAS-INTELLIGENT-GUIDANCE.md
  docs/stories/31.1.story.md
  docs/stories/31.3.story.md
  docs/stories/31.6.story.md
Due: validate-workflow-gate, check-prd-spec-sync, validate-story-sdd-adr

fix(33.9): EPIC-33 adversarial review — asyncio.Lock race condition, type annotations, xfail reasons
  backend/app/api/v1/endpoints/intelligent_parallel.py
  backend/app/services/intelligent_parallel_service.py
  backend/openapi.json
  backend/tests/e2e/test_intelligent_parallel.py
  docs/epics/EPIC-33-AGENT-POOL-BATCH-PROCESSING.md
  docs/stories/33.9.story.md
Due: validate-workflow-gate, check-prd-spec-sync, validate-story-sdd-adr

fix(31): export EPIC-31 session models and add skip_mastered/difficulty_adapted fields
  backend/app/models/__init__.py
  backend/app/models/schemas.py
  backend/openapi.json
Due: none

fix(36): TTLCache for agent memory, inject memory_client into VS AgentService
  backend/app/core/agent_memory_mapping.py
  backend/app/dependencies.py
  backend/app/services/agent_service.py
  backend/requirements.txt
Due: none

fix(30): memory service singleton import path + test updates
  backend/app/main.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_epic30_memory_pipeline.py
  backend/tests/unit/test_memory_service_batch.py
Due: none

fix(32): FSRS config settings, review method renames, deterministic tests
  backend/app/config.py
  backend/tests/api/v1/endpoints/test_fsrs_state_api.py
  backend/tests/test_multi_review_progress.py
  backend/tests/unit/test_create_fsrs_manager.py
  backend/tests/unit/test_review_history_pagination.py
  backend/tests/unit/test_review_service_fsrs.py
  canvas-progress-tracker/obsidian-plugin/src/services/PriorityCalculatorService.ts
  canvas-progress-tracker/obsidian-plugin/src/services/TodayReviewListService.ts
  canvas-progress-tracker/obsidian-plugin/tests/services/PriorityCalculatorService.test.ts
  canvas-progress-tracker/obsidian-plugin/tests/services/TodayReviewListService.test.ts
  docs/stories/32.2.story.md
  docs/stories/32.3.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(33): intelligent parallel service refactor and batch orchestrator updates
  backend/app/services/batch_orchestrator.py
Due: none

fix(35): multimodal service improvements, pact provider states, RAG fusion
  backend/app/api/v1/endpoints/multimodal.py
  backend/app/models/multimodal_schemas.py
  backend/app/services/multimodal_service.py
  backend/openapi.json
  backend/tests/api/v1/endpoints/test_multimodal.py
  backend/tests/contract/test_pact_provider.py
  backend/tests/e2e/test_multimodal_workflow.py
  backend/tests/unit/test_rag_multimodal_integration.py
  canvas-progress-tracker/obsidian-plugin/tests/api/ApiClient.multimodal.test.ts
  docs/stories/35.8.story.md
  src/agentic_rag/fusion/rrf_fusion.py
Due: validate-workflow-gate, validate-story-sdd-adr

fix(36,38): TTLCache for sessions, context enrichment, test infra updates
  backend/app/api/v1/endpoints/health.py
  backend/app/data/canvas_events_fallback.json
  backend/app/services/context_enrichment_service.py
  backend/app/services/verification_service.py
  backend/openapi.json
  backend/tests/conftest.py
  backend/tests/e2e/test_health_endpoint.py
  backend/tests/integration/test_review_history_pagination.py
  backend/tests/integration/test_story_30_14_agent_trigger.py
  backend/tests/unit/test_agent_memory_injection.py
  backend/tests/unit/test_agent_service_neo4j_memory.py
  backend/tests/unit/test_story_38_3_edge_cases.py
  backend/tests/unit/test_story_38_3_fsrs_init_guarantee.py
Due: none

feat(plugin): multimodal media panel, verification progress, API client extensions
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/components/MediaPanel.ts
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
  canvas-progress-tracker/obsidian-plugin/src/modals/AttachMediaModal.ts
  canvas-progress-tracker/obsidian-plugin/src/modals/VerificationProgressModal.ts
  canvas-progress-tracker/obsidian-plugin/src/types/menu.ts
  canvas-progress-tracker/obsidian-plugin/src/types/settings.ts
  canvas-progress-tracker/obsidian-plugin/styles.css
Due: none

Path conditions:
  validate-workflow-gate: any of: ^docs/stories/.*\.(story\.md|md)$
  check-prd-spec-sync: any of: ^(docs/prd/|docs/epics/|specs/)
  validate-schemas: any of: ^specs/data/.*\.json$
  validate-openapi: any of: ^specs/api/.*\.(yml|yaml)$
  validate-gherkin: any of: ^specs/behavior/.*\.feature$
  validate-sot-hierarchy: any of: ^(docs/prd/|docs/architecture/|specs/)
  validate-story-sdd-adr: any of: ^docs/stories/.*\.story\.md$
  verify-sdd-coverage: any of: ^(docs/prd/|specs/)
  validate-source-citations: any of: ^specs/
  validate-content-consistency: any of: ^(docs/prd/|specs/)
