Repository oinani0721/canvas-learning-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflow-gate, check-prd-spec-sync, validate-schemas, validate-openapi, validate-gherkin, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

Path conditions:
  validate-workflow-gate: any of: ^docs/stories/.*\.(story\.md|md)$
  check-prd-spec-sync: any of: ^(docs/prd/|docs/epics/|specs/)
  validate-schemas: any of: ^specs/data/.*\.json$
  validate-openapi: any of: ^specs/api/.*\.(yml|yaml)$
  validate-gherkin: any of: ^specs/behavior/.*\.feature$
  validate-sot-hierarchy: any of: ^(docs/prd/|docs/architecture/|specs/)
  validate-story-sdd-adr: any of: ^docs/stories/.*\.story\.md$
  verify-sdd-coverage: any of: ^(docs/prd/|specs/)
  validate-source-citations: any of: ^specs/
  validate-content-consistency: any of: ^(docs/prd/|specs/)

docs(Story-12.G.4): Add QA review - PASS
  docs/qa/gates/12.G.4-response-format-adaptive.yml
  docs/stories/story-12.G.4-response-format-adaptive.md
Due: validate-workflow-gate

feat(Epic-12.G): Agent Response Fix - 5 Stories Complete
  backend/.env.example
  backend/app/config.py
  backend/app/models/enums.py
  backend/app/services/agent_service.py
  backend/tests/unit/test_agent_service_extraction.py
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/errors/AgentErrorHandler.ts
  canvas-progress-tracker/obsidian-plugin/src/errors/error-notification-map.ts
  canvas-progress-tracker/obsidian-plugin/src/errors/index.ts
  canvas-progress-tracker/obsidian-plugin/src/managers/ContextMenuManager.ts
Due: none

feat(Story-12.G.5): Add Agent error notification CSS styles
  canvas-progress-tracker/obsidian-plugin/styles.css
Due: none

feat(Story-12.H.5): Backend request deduplication for Agent endpoints
  backend/app/api/v1/endpoints/agents.py
  backend/app/config.py
  backend/app/core/__init__.py
  backend/app/core/request_cache.py
  backend/tests/api/v1/endpoints/test_agents_dedup.py
  backend/tests/core/__init__.py
  backend/tests/core/test_request_cache.py
  docs/stories/story-12.H.5-backend-dedup.md
Due: validate-workflow-gate

feat(Epic-12.H): Canvas Concurrency Control + Task Management Panel - Complete
  .bmad-core/core-config.yaml
  backend/app/services/canvas_service.py
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/modals/TaskQueueModal.ts
  canvas-progress-tracker/obsidian-plugin/styles.css
  docs/prd/epics/EPIC-12H-CONCURRENCY-TASK-PANEL.md
  docs/qa/assessments/12.H.4-risk-20251217.md
  docs/qa/gates/12.H.1-canvas-concurrency-lock.yml
  docs/qa/gates/12.H.2-node-concurrency-limit.yml
  docs/qa/gates/12.H.3-task-queue-modal.yml
  docs/qa/gates/12.H.4-abort-controller.yml
  docs/qa/gates/12.H.5-backend-dedup.yml
  docs/stories/story-12.H.1-canvas-concurrency-lock.md
  docs/stories/story-12.H.2-node-concurrency-limit.md
  docs/stories/story-12.H.3-task-queue-modal.md
  docs/stories/story-12.H.4-abort-controller.md
  docs/stories/story-12.H.5-backend-dedup.md
Due: validate-workflow-gate, check-prd-spec-sync, validate-sot-hierarchy, verify-sdd-coverage, validate-content-consistency

feat: Add local ralph-loop commands with Windows 11 compatibility fixes
  .claude/commands/cancel-ralph.md
  .claude/commands/ralph-loop.md
  .claude/hooks/ralph-stop-hook.sh
Due: none

feat(BMad-#1015): Add Story status YAML sync validation (Phase 3)
  .bmad-core/data/canvas-project-status.yaml
  .bmad-core/schemas/story-status-tracking.schema.yaml
  .pre-commit-config.yaml
  scripts/validate-story-status-yaml-sync.py
Due: none

feat(BMad-#1015): Add Story status sync workflow improvements (Phase 1-2)
  .bmad-core/checklists/story-dod-checklist.md
  .bmad-core/checklists/story-status-sync-checklist.md
  .bmad-core/tasks/apply-qa-fixes.md
  .bmad-core/tasks/review-story.md
  scripts/validate-story-status-sync.ps1
Due: none

fix(Story-30.4): Integrate fire-and-forget memory write pattern for 3 agents
  backend/app/services/agent_service.py
  docs/qa/gates/30.4-agent-memory-trigger.yml
  docs/stories/30.4.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

fix(Story-30.3): Set health endpoint test threshold to 750ms
  backend/tests/integration/test_memory_health_api.py
  docs/qa/gates/30.3-memory-api-health-endpoints.yml
Due: none

docs(Story-31.5): Add QA review results and quality gate
  canvas-progress-tracker/obsidian-plugin/src/views/ScoringResultPanel.ts
  docs/qa/gates/31.3-agent-recommend-action.yml
  docs/qa/gates/31.5-difficulty-adaptive-algorithm.yml
  docs/stories/31.3.story.md
  docs/stories/31.5.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

chore(Story-31.3): Update status to Done for BMad workflow compliance
  docs/stories/31.3.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

docs(Story-31.4): Add QA review results and quality gate
  docs/qa/gates/31.4-verification-dedup-history.yml
  docs/stories/31.4.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

docs(Story-31.7): Add QA review results and quality gate
  docs/qa/gates/31.7-verification-history-view-ui.yml
  docs/stories/31.7.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

docs(Story-33.4): Add QA review results and quality gate
  docs/qa/gates/33.4-intelligent-grouping-service.yml
  docs/stories/33.4.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

chore: remove leaked backend/.env from repository
  .gitignore
  backend/.env
Due: none

chore: Remove BMad development files
  .gitignore
  README-BMAD-WORKFLOW.md
  bmad_orchestrator.db
  bmad_orchestrator.db-shm
  bmad_orchestrator.db-wal
  docs/BMAD-DEVELOPMENT-PLAN-COMPLETE.md
  docs/BMAD_INTEGRATION_COMPLETION_REPORT.md
  docs/RESEARCH_REPORT_BMAD_INTEGRATION.md
  docs/architecture/decisions/0005-bmad-4-integration.md
  logs/bmad-audit-trail.jsonl
  src/bmad_orchestrator.db
  src/bmad_orchestrator/README.md
  src/bmad_orchestrator/__init__.py
  src/bmad_orchestrator/__main__.py
  src/bmad_orchestrator/annotation_checker.py
  src/bmad_orchestrator/audit.py
  src/bmad_orchestrator/cli.py
  src/bmad_orchestrator/commit_gate.py
  src/bmad_orchestrator/dependency_analyzer.py
  src/bmad_orchestrator/graph.py
  src/bmad_orchestrator/nodes.py
  src/bmad_orchestrator/prd_parser.py
  src/bmad_orchestrator/session_spawner.py
  src/bmad_orchestrator/state.py
  src/bmad_orchestrator/status_persister.py
  src/bmad_orchestrator/workflow_enforcer.py
  src/tests/test_bmad_orchestrator.py
  src/tests/test_bmad_v110_integration.py
  src/tests/test_bmad_v110_routing.py
  src/tests/test_bmad_v110_unit.py
Due: validate-sot-hierarchy

chore: exclude sensitive files from repository
  .env
  .gitignore
  CLAUDE.md
Due: none

docs: add contributors badge to README
  README.md
Due: none

fix: resolve frontend-backend sync issues with metadata management
  backend/app/api/v1/endpoints/metadata.py
  backend/app/api/v1/router.py
  backend/app/models/metadata_models.py
  backend/app/services/subject_resolver.py
  backend/config/subject_mapping.yaml
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/services/BackendHealthService.ts
  canvas-progress-tracker/obsidian-plugin/src/settings/PluginSettingsTab.ts
  canvas-progress-tracker/obsidian-plugin/src/views/CanvasInfoView.ts
Due: none

fix: resolve LanceDB data isolation and memory system connection bugs
  backend/app/api/v1/endpoints/health.py
  backend/app/core/memory_system_logger.py
  src/agentic_rag/clients/graphiti_temporal_client.py
  src/agentic_rag/clients/lancedb_client.py
Due: none

docs: add Docker/Graphiti deployment guide and troubleshooting
  .gitignore
  README.md
  start-canvas-services.bat
Due: none

feat: EPIC 30 integration fixes and subject isolation settings tab
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/services/CrossCanvasService.ts
  canvas-progress-tracker/obsidian-plugin/src/settings/PluginSettingsTab.ts
  canvas-progress-tracker/obsidian-plugin/src/types/settings.ts
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
Due: none

fix: enable LanceDB subject isolation + add subject tags to Dashboard
  canvas-progress-tracker/obsidian-plugin/src/types/UITypes.ts
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/nodes.py
  src/agentic_rag/state.py
Due: none

fix: correct settings property name aiBaseUrl in Dashboard subject query
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
Due: none

fix: correct subject_mapping.yaml rules to match actual vault structure
  backend/config/subject_mapping.yaml
Due: none

fix: memory system breakpoint fixes + new stories 30.9/31.8-31.10
  backend/app/api/v1/endpoints/agents.py
  backend/app/clients/neo4j_client.py
  backend/app/models/canvas_events.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_memory_service_batch.py
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/ApiClient.ts
  canvas-progress-tracker/obsidian-plugin/src/services/NodeColorChangeWatcher.ts
  canvas-progress-tracker/obsidian-plugin/src/views/ScoringResultPanel.ts
  canvas-progress-tracker/obsidian-plugin/styles.css
  canvas-progress-tracker/obsidian-plugin/tests/integration/color-change-memory.test.ts
  canvas-progress-tracker/obsidian-plugin/tests/services/NodeColorChangeWatcher.test.ts
  canvas-progress-tracker/obsidian-plugin/tests/views/ReviewDashboardView.test.ts
  canvas-progress-tracker/obsidian-plugin/tests/views/ScoringResultPanel.fallback.test.ts
  canvas-progress-tracker/obsidian-plugin/tests/views/ScoringResultPanel.test.ts
  docker-compose.yml
  docs/qa/assessments/31.10-nfr-20260205.md
  docs/qa/gates/30.6-node-color-change-memory-trigger.yml
  docs/qa/gates/30.7-obsidian-memory-init.yml
  docs/qa/gates/30.8-multi-subject-isolation.yml
  docs/qa/gates/30.9-node-color-change-data-integrity.yml
  docs/qa/gates/31.2-verification-canvas-e2e.yml
  docs/qa/gates/31.3-agent-recommend-action.yml
  docs/qa/gates/31.7-verification-history-view-ui.yml
  docs/qa/gates/31.8-fallback-indicator-ui.yml
  docs/qa/gates/31.9-rewrite-verification-history-tests.yml
  docs/stories/30.6.story.md
  docs/stories/30.7.story.md
  docs/stories/30.8.story.md
  docs/stories/30.9.story.md
  docs/stories/31.10.story.md
  docs/stories/31.2.story.md
  docs/stories/31.3.story.md
  docs/stories/31.7.story.md
  docs/stories/31.8.story.md
  docs/stories/31.9.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

feat: implement Story 31.A.4 + 31.A.6 — FSRS priority fix & TodayReviewListService integration
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
  docs/stories/31.A.4.story.md
  docs/stories/31.A.6.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

test: add strict QA tests for Story 31.A.3 write retry reliability
  backend/tests/unit/test_memory_service_write_retry.py
Due: none

feat: add real last_review field and batch FSRS query optimization
  backend/app/api/v1/endpoints/review.py
  backend/app/models/schemas.py
  backend/app/services/review_service.py
  backend/openapi.json
  canvas-progress-tracker/obsidian-plugin/src/services/FSRSStateQueryService.ts
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
  canvas-progress-tracker/obsidian-plugin/tests/views/ReviewDashboardView.fsrs-integration.test.ts
Due: none

fix: inject Neo4jClient into GraphitiTemporalClient initialization
  backend/app/dependencies.py
Due: none

feat: implement Story 38.2 — learning history persistence & restart recovery
  .claude/agents/basic-decomposition.md
  .claude/agents/canvas-orchestrator.md
  .claude/agents/clarification-path.md
  .claude/agents/comparison-table.md
  .claude/agents/deep-decomposition.md
  .claude/agents/example-teaching.md
  .claude/agents/four-level-explanation.md
  .claude/agents/graphiti-memory-agent.md
  .claude/agents/iteration-validator.md
  .claude/agents/memory-anchor.md
  .claude/agents/oral-explanation.md
  .claude/agents/parallel-dev-orchestrator.md
  .claude/agents/planning-orchestrator.md
  .claude/agents/question-decomposition.md
  .claude/agents/review-board-agent-selector.md
  .claude/agents/scoring-agent.md
  .claude/agents/verification-question-agent.md
  backend/app/clients/neo4j_client.py
  backend/app/main.py
  backend/app/services/agent_service.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_memory_service_write_retry.py
  backend/tests/unit/test_story_38_2_episode_recovery.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
  docs/implementation-artifacts/story-38.6.md
  docs/stories/38.2.story.md
Due: validate-workflow-gate, validate-story-sdd-adr

feat: implement Story 38.3 — FSRS state initialization guarantee
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/review.py
  backend/app/models/schemas.py
  backend/app/services/review_service.py
  backend/openapi.json
  backend/tests/unit/test_story_38_3_fsrs_init_guarantee.py
  canvas-progress-tracker/obsidian-plugin/src/services/FSRSStateQueryService.ts
  canvas-progress-tracker/obsidian-plugin/src/services/PriorityCalculatorService.ts
  canvas-progress-tracker/obsidian-plugin/src/services/TodayReviewListService.ts
  canvas-progress-tracker/obsidian-plugin/src/views/ReviewDashboardView.ts
  docs/implementation-artifacts/story-38.3.md
Due: none

test: Story 38.7 e2e integration tests with code review fixes
  backend/app/config.py
  backend/tests/integration/test_story_38_7_e2e_integration.py
  backend/tests/integration/test_story_38_7_qa_supplement.py
  docs/implementation-artifacts/story-38.7.md
Due: none

docs: add EPIC-38 NFR assessment report (BMad TEA testarch-nfr)
  _bmad-output/test-artifacts/nfr-assessment.md
Due: none

test: add EPIC 30 memory pipeline test automation (63 tests)
  _bmad-output/test-artifacts/automation-summary.md
  backend/tests/integration/test_epic30_memory_integration.py
  backend/tests/unit/test_epic30_memory_pipeline.py
Due: none
