Repository oinani0721/canvas-learning-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-prd-spec-sync, validate-schemas, validate-openapi, validate-gherkin, bdd-tests, contract-test, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-source-citations, validate-content-consistency

check-prd-spec-sync:
  name: Check PRD-Spec Synchronization
  description: Detect drift between PRD and SDD specifications
  entry: python scripts/check-prd-spec-sync.py
  language: python
  pass_filenames: false
  stages:
  - commit
  verbose: true

validate-schemas:
  name: Validate JSON Schemas
  description: Validate JSON Schema files for syntax and compatibility
  entry: python scripts/validate-schemas.py
  language: python
  pass_filenames: true
  stages:
  - commit

validate-openapi:
  name: Validate OpenAPI Specifications
  description: Check OpenAPI specs for syntax errors
  entry: python scripts/validate-openapi.py
  language: python
  pass_filenames: true
  stages:
  - commit

validate-gherkin:
  name: Validate Gherkin Syntax
  description: Check Gherkin feature files for syntax errors
  entry: python scripts/validate-gherkin.py
  language: python
  pass_filenames: true
  stages:
  - commit

bdd-tests:
  name: BDD Tests (Gherkin Contract Enforcement)
  description: Execute pytest-bdd tests to enforce Gherkin behavior contracts
  entry: pytest tests/bdd/ -v --tb=short -m bdd
  language: system
  pass_filenames: false
  stages:
  - commit

contract-test:
  name: Contract Testing (API Compliance)
  description: Validate code against OpenAPI specification using Schemathesis
  entry: pytest tests/contract/test_schemathesis_api.py -v --tb=short -m contract
  language: system
  pass_filenames: false
  stages:
  - commit

validate-sot-hierarchy:
  name: Validate SoT Hierarchy
  description: Check cross-document consistency (PRD/Architecture/Schema/OpenAPI)
  entry: python scripts/validate-sot-hierarchy.py
  language: python
  pass_filenames: false
  stages:
  - commit

validate-story-sdd-adr:
  name: Validate Story SDD/ADR Sections
  description: Ensure story files have SDD and ADR reference sections
  entry: python scripts/validate-story-sdd-adr.py
  language: python
  pass_filenames: true
  stages:
  - commit

verify-sdd-coverage:
  name: Verify SDD Coverage (PRD→OpenAPI/Schema)
  description: Ensure PRD requirements have corresponding SDD specifications
  entry: python scripts/verify-sdd-coverage.py --threshold 80
  language: python
  pass_filenames: false
  stages:
  - commit

validate-source-citations:
  name: Validate Source Citations (x-source-verification)
  description: Ensure SDD files have x-source-verification metadata
  entry: python scripts/validate-source-citations.py
  language: python
  pass_filenames: true
  stages:
  - commit

validate-content-consistency:
  name: Validate Content Consistency (PRD↔Schema↔OpenAPI)
  description: Check for field definition mismatches across SoT documents
  entry: python scripts/validate-content-consistency.py
  language: python
  pass_filenames: false
  stages:
  - commit

SM: Create Story 17.5 draft
  docs/stories/17.5.story.md
Due: validate-story-sdd-adr

SM: Create Story 17.2 draft
  docs/stories/17.2.story.md
Due: validate-story-sdd-adr

SM: Create Story 17.3 draft
  docs/stories/17.3.story.md
Due: validate-story-sdd-adr

SM: Create Story 17.6 draft
  docs/stories/17.6.story.md
Due: validate-story-sdd-adr

SM: Create Story 17.1 draft
  .sm-result.json
  docs/stories/17.1.story.md
Due: validate-story-sdd-adr

SM: Create Story 17.1 draft
  .sm-result.json
Due: none

SM: Create Story 17.1 draft
  .bmad-prompt.txt
  .sm-result.json
Due: none

SM: Create Story 17.2 draft
  .bmad-prompt.txt
Due: none

feat(Epic-18): implement rollback system with 5 stories
  backend/app/api/v1/endpoints/rollback.py
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/models/rollback.py
  backend/app/services/rollback_service.py
  backend/tests/test_rollback.py
  backend/tests/test_rollback_e2e.py
  docs/stories/18.1.story.md
  docs/stories/18.2.story.md
  docs/stories/18.3.story.md
  docs/stories/18.4.story.md
  docs/stories/18.5.story.md
  rollback_config.yaml
  src/rollback/__init__.py
  src/rollback/graph_sync_service.py
  src/rollback/models.py
  src/rollback/operation_tracker.py
  src/rollback/rollback_engine.py
  src/rollback/snapshot_manager.py
  src/rollback/tracked_operator.py
Due: validate-story-sdd-adr

chore: update Epic 18 status to completed
  .bmad-core/data/canvas-project-status.yaml
Due: none

feat(Story-6.3): implement multimodal content storage architecture
  scripts/init_multimodal_schema.cypher
  specs/data/multimodal-content.schema.json
  src/agentic_rag/models/__init__.py
  src/agentic_rag/models/multimodal_content.py
  src/agentic_rag/storage/__init__.py
  src/agentic_rag/storage/multimodal_store.py
  src/tests/test_multimodal_store.py
Due: check-prd-spec-sync, validate-schemas, validate-sot-hierarchy, verify-sdd-coverage, validate-source-citations, validate-content-consistency

feat(Story-6.1): implement multimodal image support for Canvas nodes
  requirements.txt
  src/agentic_rag/processors/__init__.py
  src/agentic_rag/processors/image_processor.py
  src/canvas_utils.py
  src/tests/test_canvas_attach_image.py
  src/tests/test_image_processor.py
Due: none

feat(Story-6.9): implement multimodal UI components
  canvas-progress-tracker/obsidian-plugin/src/components/ImagePreview.ts
  canvas-progress-tracker/obsidian-plugin/src/components/MediaPanel.ts
  canvas-progress-tracker/obsidian-plugin/src/components/MediaPlayer.ts
  canvas-progress-tracker/obsidian-plugin/src/components/PDFPreview.ts
  canvas-progress-tracker/obsidian-plugin/src/components/index.ts
  canvas-progress-tracker/obsidian-plugin/src/styles/multimodal.css
  canvas-progress-tracker/obsidian-plugin/tests/multimodal-ui.test.ts
Due: none

feat(Epic-20): add Epic 20 Backend Stability Multi-Provider PRD
  docs/prd/EPIC-20-BACKEND-STABILITY-MULTI-PROVIDER.md
Due: check-prd-spec-sync, validate-sot-hierarchy, verify-sdd-coverage, validate-content-consistency

feat(Story-20.1): complete SM workflow and fix CLI base_path detection
  docs/stories/20.1.story.md
  src/bmad_orchestrator/cli.py
  src/bmad_orchestrator/graph.py
  src/bmad_orchestrator/nodes.py
  src/bmad_orchestrator/session_spawner.py
Due: validate-story-sdd-adr

feat(Story-20.1): implement Multi-Provider Architecture
  backend/app/clients/__init__.py
  backend/app/clients/anthropic_provider.py
  backend/app/clients/base_provider.py
  backend/app/clients/claude_client.py
  backend/app/clients/gemini_client.py
  backend/app/clients/google_provider.py
  backend/app/clients/graphiti_client.py
  backend/app/clients/openai_provider.py
  backend/app/config.py
  backend/app/services/agent_service.py
  backend/requirements.txt
Due: none

SM: Create Story 20.6 draft
  .bmad-core/agents.disabled/analyst.md
  .bmad-core/agents.disabled/architect.md
  .bmad-core/agents.disabled/bmad-master.md
  .bmad-core/agents.disabled/bmad-orchestrator.md
  .bmad-core/agents.disabled/dev.md
  .bmad-core/agents.disabled/iteration-validator.md
  .bmad-core/agents.disabled/parallel-dev-coordinator.md
  .bmad-core/agents.disabled/planning-orchestrator.md
  .bmad-core/agents.disabled/pm.md
  .bmad-core/agents.disabled/po.md
  .bmad-core/agents.disabled/qa.md
  .bmad-core/agents.disabled/sm.md
  .bmad-core/agents.disabled/ux-expert.md
  .bmad-prompt.txt
  .sm-result.json
  docs/stories/20.6.story.md
Due: validate-story-sdd-adr

feat(Story-20.6): implement comprehensive Provider test suite
  .bmad-prompt.txt
  .pre-commit-config.yaml
  .sm-result.json
  backend/tests/conftest.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/test_health_endpoint.py
  backend/tests/integration/__init__.py
  backend/tests/integration/test_failover.py
  backend/tests/integration/test_multi_provider_switch.py
  backend/tests/integration/test_provider_recovery.py
  backend/tests/performance/__init__.py
  backend/tests/performance/test_switch_latency.py
  backend/tests/security/__init__.py
  backend/tests/security/test_api_key_security.py
  backend/tests/unit/__init__.py
  docs/stories/20.5.story.md
Due: validate-story-sdd-adr

feat(Epic-21): implement Agent E2E flow fix - all 6 Stories complete
  backend/app/api/v1/endpoints/agents.py
  backend/app/services/agent_service.py
  backend/app/services/context_enrichment_service.py
  docs/prd/EPIC-21-AGENT-E2E-FLOW-FIX.md
  docs/stories/21.1.story.md
  docs/stories/21.2.story.md
  docs/stories/21.3.story.md
  docs/stories/21.4.story.md
  docs/stories/21.5.story.md
  docs/stories/21.6.story.md
Due: check-prd-spec-sync, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-content-consistency

feat(Story-22.1): add Neo4j configuration story
  docs/stories/22.1.story.md
Due: validate-story-sdd-adr

feat(Epic-22): add Memory System PRD and Stories 22.2-22.4
  docs/prd/EPIC-22-MEMORY-SYSTEM-NEO4J-GRAPHITI.md
  docs/stories/22.2.story.md
  docs/stories/22.3.story.md
  docs/stories/22.4.story.md
Due: check-prd-spec-sync, validate-sot-hierarchy, validate-story-sdd-adr, verify-sdd-coverage, validate-content-consistency

fix: pass timeout parameter to DEV/QA session helper functions
  src/bmad_orchestrator/nodes.py
Due: none

fix: add flexible result parsing for DEV/QA sessions
  src/bmad_orchestrator/session_spawner.py
Due: none

fix: preserve worktrees when Commit Gate fails
  src/bmad_orchestrator/graph.py
  src/bmad_orchestrator/nodes.py
Due: none

feat(Story-22.2): implement GraphitiTemporalClient for temporal queries
  docs/stories/22.2.story.md
  src/agentic_rag/clients/__init__.py
  src/agentic_rag/clients/graphiti_temporal_client.py
  src/tests/agentic_rag/test_graphiti_temporal_client.py
Due: validate-story-sdd-adr

feat(Story-22.4): implement Learning History Storage and Query API
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/router.py
  backend/app/clients/neo4j_client.py
  backend/app/models/memory_schemas.py
  backend/app/services/memory_service.py
  docs/stories/22.4.story.md
  tests/integration/test_memory_api.py
  tests/unit/test_memory_service.py
Due: validate-story-sdd-adr

docs: add Epic 23 RAG Intelligent Inference PRD
  docs/prd/EPIC-23-RAG-INTELLIGENT-INFERENCE.md
Due: check-prd-spec-sync, validate-sot-hierarchy, verify-sdd-coverage, validate-content-consistency

SM: Create Story 23.1 draft
  .bmad-prompt.txt
  .sm-result.json
  docs/stories/23.1.story.md
Due: validate-story-sdd-adr

SM: Create Story 23.2 draft
  .bmad-prompt.txt
  .sm-result.json
  docs/stories/23.2.story.md
Due: validate-story-sdd-adr

SM: Create Story 23.3 draft
  .bmad-prompt.txt
  .sm-result.json
  docs/stories/23.3.story.md
Due: validate-story-sdd-adr

SM: Create Story 23.4 draft
  .bmad-prompt.txt
  .sm-result.json
  docs/stories/23.4.story.md
Due: validate-story-sdd-adr

feat(Story-23.1): LangGraph导入问题修复
  backend/app/services/__init__.py
  backend/app/services/rag_service.py
  backend/requirements.txt
  src/agentic_rag/__init__.py
  src/tests/test_agentic_rag_import.py
Due: none

feat(Story-23.2): LanceDB Embedding Pipeline
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/config.py
  src/tests/test_lancedb_embedding.py
Due: none

feat(Story-23.3): StateGraph智能推理链配置
  src/agentic_rag/nodes.py
  src/agentic_rag/state_graph.py
  src/tests/test_state_graph.py
  src/tests/test_stategraph_e2e.py
Due: none

feat(Story-23.4): 多源融合 (教材+历史+跨Canvas)
  src/agentic_rag/config.py
  src/agentic_rag/nodes.py
  src/agentic_rag/retrievers/__init__.py
  src/agentic_rag/retrievers/cross_canvas_retriever.py
  src/agentic_rag/retrievers/textbook_retriever.py
  src/agentic_rag/state.py
  src/agentic_rag/state_graph.py
  src/tests/agentic_rag/test_multi_source_fusion.py
Due: none

Path conditions:
  check-prd-spec-sync: any of: ^(docs/prd/|docs/epics/|specs/)
  validate-schemas: any of: ^specs/data/.*\.json$
  validate-openapi: any of: ^specs/api/.*\.(yml|yaml)$
  validate-gherkin: any of: ^specs/behavior/.*\.feature$
  bdd-tests: any of: ^(specs/behavior/.*\.feature$|tests/bdd/)
  contract-test: any of: ^(src/api/|specs/api/)
  validate-sot-hierarchy: any of: ^(docs/prd/|docs/architecture/|specs/)
  validate-story-sdd-adr: any of: ^docs/stories/.*\.story\.md$
  verify-sdd-coverage: any of: ^(docs/prd/|specs/)
  validate-source-citations: any of: ^specs/
  validate-content-consistency: any of: ^(docs/prd/|specs/)
