Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

feat: Agent architecture rebuild + unified memory system
  .claude/agents/clarification-path.md
  .claude/agents/comparison-table.md
  .claude/agents/deep-decomposition.md
  .claude/agents/example-teaching.md
  .claude/agents/four-level-explanation.md
  .claude/agents/memory-anchor.md
  .claude/agents/oral-explanation.md
  .claude/agents/scoring-agent.md
  backend/app/api/v1/endpoints/agents.py
  backend/app/api/v1/endpoints/review.py
  backend/app/clients/gemini_client.py
  backend/app/clients/graphiti_client.py
  backend/app/config.py
  backend/app/core/memory_format.py
  backend/app/dependencies.py
  backend/app/models/memory_schemas.py
  backend/app/models/schemas.py
  backend/app/services/agent_service.py
  backend/app/services/context_enrichment_service.py
  backend/app/services/graphiti_bridge_service.py
  backend/app/services/memory_service.py
  backend/app/services/react_agent.py
  backend/app/services/tool_definitions.py
  backend/app/services/tool_executor.py
  backend/requirements.txt
  backend/start_server.py
  canvas-progress-tracker/obsidian-plugin/main.ts
  canvas-progress-tracker/obsidian-plugin/src/api/types.ts
  canvas-progress-tracker/obsidian-plugin/src/services/NodeColorChangeWatcher.ts
  canvas-progress-tracker/obsidian-plugin/src/types/canvas.ts
  canvas-progress-tracker/obsidian-plugin/tests/services/NodeColorChangeWatcher.test.ts
  src/agentic_rag/agent_graph.py
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/retrievers/vault_notes_retriever.py
  src/agentic_rag/state.py
  src/ebbinghaus_review.py
  src/services/progress_analyzer.py
Due: spec-sync, python-lint

feat: add Canvas UI demo + research docs + brainstorming outputs
  _bmad-output/brainstorming/a2-review-verification-report-2026-03-13.md
  _bmad-output/brainstorming/acceptance-criteria-P0-chunking-pipeline-2026-03-13.md
  _bmad-output/brainstorming/acceptance-criteria-S5-A3-new-features-2026-03-14.md
  _bmad-output/brainstorming/brainstorming-session-2026-03-11-001.md
  _bmad-output/brainstorming/brainstorming-session-2026-03-11.md
  _bmad-output/brainstorming/brainstorming-session-2026-03-12.md
  _bmad-output/brainstorming/brainstorming-session-2026-03-13.md
  _bmad-output/brainstorming/brainstorming-session-A3-retrieval-scope-2026-03-11.md
  _bmad-output/brainstorming/brainstorming-session-A5-multimodal-retrieval-2026-03-12.md
  _bmad-output/brainstorming/brainstorming-session-D-frontend-refactor-2026-03-11.md
  _bmad-output/brainstorming/brainstorming-session-P0-chunking-pipeline-2026-03-11.md
  _bmad-output/brainstorming/brainstorming-session-S1-dead-code-cleanup-2026-03-11.md
  _bmad-output/brainstorming/brainstorming-session-S3-pipeline-postprocessing-2026-03-12.md
  _bmad-output/brainstorming/brainstorming-session-S4b-rag-architecture-deep-explore-2026-03-13.md
  _bmad-output/brainstorming/brainstorming-session-S5-A3-new-features-2026-03-13.md
  _bmad-output/brainstorming/brainstorming-session-S7-A2-reranking-crag-2026-03-13.md
  _bmad-output/brainstorming/implementation-roadmap-2026-03-13.md
  _bmad-output/brainstorming/prototype-canvas-learning.html
  _bmad-output/brainstorming/session-prompts-memory-system-1.md
  demo/index.html
  docs/canvas-backend-research-report.md
  docs/community-product-research.md
  lefthook.yml
  pyrightconfig.json
Due: none

chore(2.1): archive reranking.py, fusion/, and 2 test files as Story 2.2 reference
  _bmad-output/archive/fusion/__init__.py
  _bmad-output/archive/fusion/cascade_retrieval.py
  _bmad-output/archive/fusion/evaluator.py
  _bmad-output/archive/fusion/rrf_fusion.py
  _bmad-output/archive/fusion/strategy_selector.py
  _bmad-output/archive/fusion/unified_result.py
  _bmad-output/archive/fusion/weighted_fusion.py
  _bmad-output/archive/reranking.py
  _bmad-output/archive/test_multimodal_rag.py
  _bmad-output/archive/test_observability.py
Due: none

refactor(2.1): delete 9 dead modules (~5090 lines) and 2 dependent test files
  src/agentic_rag/__init__.py
  src/agentic_rag/env_config.py
  src/agentic_rag/fusion/__init__.py
  src/agentic_rag/fusion/cascade_retrieval.py
  src/agentic_rag/fusion/evaluator.py
  src/agentic_rag/fusion/rrf_fusion.py
  src/agentic_rag/fusion/strategy_selector.py
  src/agentic_rag/fusion/unified_result.py
  src/agentic_rag/fusion/weighted_fusion.py
  src/agentic_rag/observability/__init__.py
  src/agentic_rag/observability/config.py
  src/agentic_rag/observability/metrics.py
  src/agentic_rag/observability/tracing.py
  src/agentic_rag/parallel_retrieval.py
  src/agentic_rag/quality/__init__.py
  src/agentic_rag/quality/quality_checker.py
  src/agentic_rag/quality/query_rewriter.py
  src/agentic_rag/quality_nodes/__init__.py
  src/agentic_rag/quality_nodes/grade_documents.py
  src/agentic_rag/quality_nodes/rewrite_query.py
  src/agentic_rag/reranking.py
  src/agentic_rag/routing/__init__.py
  src/agentic_rag/routing/quality_router.py
  src/agentic_rag/traced_nodes.py
  src/tests/agentic_rag/test_observability.py
  src/tests/test_multimodal_rag.py
Due: none

fix(2.1): ghost tables, false labels, adapter config bug, and cs188 hardcodes
  backend/app/api/v1/endpoints/canvas.py
  backend/app/api/v1/endpoints/mastery.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/api/v1/endpoints/review.py
  backend/app/config.py
  backend/app/core/memory_format.py
  backend/app/services/agent_service.py
  backend/app/services/graphiti_bridge_service.py
  backend/app/services/mastery_store.py
  backend/app/services/memory_service.py
  backend/app/services/react_agent.py
  backend/app/services/review_service.py
  src/agentic_rag/agent_graph.py
  src/agentic_rag/clients/lancedb_client.py
  src/canvas/adapters/agentic_rag_adapter.py
  src/tests/agentic_rag/test_lancedb_client.py
Due: spec-sync, python-lint

docs(2.1): mark Story 2.1 as done with verification results
  _bmad-output/implementation-artifacts/2-1-dead-code-cleanup-config-fix.md
Due: none

fix: resolve 5 critical integration gaps from code review
  backend/app/api/v1/endpoints/canvas.py
  backend/app/api/v1/endpoints/mastery.py
  backend/app/api/v1/endpoints/mastery_ws.py
  backend/app/main.py
  backend/app/mcp/tools/exam_tools.py
  backend/app/mcp/tools/mastery_tools.py
  backend/app/services/event_handlers.py
  backend/app/services/mastery_store.py
Due: spec-sync, python-lint

chore: backup all current changes including temp files and pending edits
  UsersHeishingAppDataLocalTempwrite-pig.js
  UsersHeishingAppDataLocalTempwrite-story.js
  UsersHeishingAppDataLocalTempwrite-test-event-bus.js
  UsersHeishingAppDataLocalTempwrite-test-fc.js
  UsersHeishingAppDataLocalTempwrite-test-pig.js
  UsersHeishingAppDataLocalTempwrite-test-qa.js
  UsersHeishingAppDataLocalTempwrite-tests.js
  backend/_gen_mastery_tests.py
  backend/tests/_gen_b64.js
  obsidian-canvas-learning/esbuild.config.mjs
  obsidian-canvas-learning/src/components/chat/QuotaExhausted.svelte
  obsidian-canvas-learning/src/components/chat/RecoveryBanner.svelte
  obsidian-canvas-learning/src/components/system/ExtractionValidator.svelte
  obsidian-canvas-learning/src/components/system/PipelineHealth.svelte
  obsidian-canvas-learning/src/services/skill-registry.ts
Due: none

feat(sprint): complete Story 2-3 (bge-m3) + Story 1-9 backend (subject isolation)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/v1/endpoints/rag.py
  backend/app/api/v1/endpoints/subjects.py
  backend/app/api/v1/router.py
  backend/app/core/subject_config.py
  backend/app/dependencies.py
  backend/app/models/subject_models.py
  backend/app/services/cross_subject_bridge.py
  backend/app/services/rag_service.py
  backend/app/services/subject_resolver.py
  backend/config/subject_mapping.yaml
  backend/requirements.txt
  lefthook.yml
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/nodes.py
Due: spec-sync, python-lint

fix: resolve 5 CRITICAL + 5 HIGH issues from code review (Story 1-9 + 2-13)
  .claude/hooks/graphiti-stop-check.js
  .claude/hooks/graphiti-user-prompt.js
  .claude/rules/development-discipline.md
  _decisions/decision-log.md
  backend/app/api/v1/endpoints/rag.py
  backend/app/api/v1/endpoints/subjects.py
  backend/tests/fixtures/regression_baselines/baseline_metadata.json
  backend/tests/fixtures/regression_baselines/crag_grading/scenario_01_all_relevant.json
  backend/tests/fixtures/regression_baselines/crag_grading/scenario_02_mixed_relevance.json
  backend/tests/fixtures/regression_baselines/crag_grading/scenario_03_all_irrelevant.json
  backend/tests/fixtures/regression_baselines/crag_grading/scenario_04_english_mixed.json
  backend/tests/fixtures/regression_baselines/crag_grading/scenario_05_partial_relevant.json
  backend/tests/fixtures/regression_baselines/query_optimize/scenario_01_basic_rewrite.json
  backend/tests/fixtures/regression_baselines/query_optimize/scenario_02_synonym_expansion.json
  backend/tests/fixtures/regression_baselines/query_optimize/scenario_03_decompose_compound.json
  backend/tests/fixtures/regression_baselines/query_optimize/scenario_04_english_mixed.json
  backend/tests/fixtures/regression_baselines/query_optimize/scenario_05_narrow_broad.json
  backend/tests/fixtures/regression_baselines/query_rewrite/scenario_01_medium_chinese.json
  backend/tests/fixtures/regression_baselines/query_rewrite/scenario_02_complex_decomposition.json
  backend/tests/fixtures/regression_baselines/query_rewrite/scenario_03_medium_english.json
  backend/tests/fixtures/regression_baselines/query_rewrite/scenario_04_complex_mixed.json
  backend/tests/fixtures/regression_baselines/query_rewrite/scenario_05_medium_short.json
  backend/tests/fixtures/regression_baselines/search_intent/scenario_01_needs_search.json
  backend/tests/fixtures/regression_baselines/search_intent/scenario_02_no_search.json
  backend/tests/fixtures/regression_baselines/search_intent/scenario_03_with_context.json
  backend/tests/fixtures/regression_baselines/search_intent/scenario_04_english_query.json
  backend/tests/fixtures/regression_baselines/search_intent/scenario_05_mixed_request.json
  backend/tests/regression/conftest.py
  backend/tests/regression/report_generator.py
  backend/tests/regression/test_crag_grading_regression.py
  backend/tests/regression/test_query_optimize_regression.py
  backend/tests/regression/test_query_rewrite_regression.py
  backend/tests/regression/test_search_intent_regression.py
  src/agentic_rag/agent_graph.py
  src/agentic_rag/mastery_injection.py
  src/agentic_rag/nodes.py
  src/agentic_rag/state.py
Due: spec-sync, python-lint

feat(sprint): complete Story 2-5 (reranker) + Story 2-7 (fingerprint)
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/nodes.py
  src/agentic_rag/reranking.py
Due: none

fix: resolve BMAD review HIGH issues for Story 2-5 and 2-7
  _decisions/decision-log.md
  backend/requirements.txt
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/config.py
  src/agentic_rag/nodes.py
  src/agentic_rag/reranking.py
Due: none

feat(sprint): complete Story 2-6/2-8/2-9 + fix BMAD review HIGHs
  backend/app/dependencies.py
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/models/multimodal_content.py
  src/agentic_rag/nodes.py
  src/agentic_rag/retrievers/multimodal_retriever.py
  src/agentic_rag/state_graph.py
  src/agentic_rag/storage/multimodal_store.py
Due: python-lint

chore: add DD-11 pipeline connectivity enforcement
  .claude/hooks/graphiti-stop-check.js
  .claude/hooks/graphiti-user-prompt.js
  .claude/rules/development-discipline.md
Due: none

feat(sprint): complete Story 2-10/2-11/2-12 + DD-11 wiring
  _bmad-output/implementation-artifacts/sprint-status.yaml
  src/agentic_rag/clients/lancedb_client.py
  src/agentic_rag/config.py
  src/agentic_rag/nodes.py
  src/agentic_rag/state_graph.py
  tests/test_acceptance.py
Due: none

feat(E3-wave1): complete Story 3-1/3-2/3-3 — dialog engine foundation
  backend/app/mcp/tools/conversation_tools.py
  backend/app/mcp/tools/exam_tools.py
  backend/app/services/canvas_service.py
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/chat/InputBar.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/SelectionToolbar.tsx
  frontend/src/components/chat/StreamingIndicator.tsx
  frontend/src/components/chat/TipsList.tsx
  frontend/src/services/dexie-db.ts
  frontend/src/stores/chat-store.ts
  obsidian-canvas-learning/src/services/claude-code-engine.ts
  obsidian-canvas-learning/src/services/mcp-config.ts
  obsidian-canvas-learning/src/services/session-store.ts
Due: python-lint

feat(E3-wave2): complete Story 3-4/3-5/3-6 — context, skills, tips
  backend/app/api/v1/endpoints/context.py
  backend/app/api/v1/endpoints/skills.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/api/v1/router.py
  backend/app/mcp/tools/conversation_tools.py
  backend/app/mcp/tools/error_tools.py
  backend/app/mcp/tools/memory_tools.py
  backend/app/services/conversation_archive.py
  backend/app/services/conversation_distiller.py
  backend/app/services/learning_context_service.py
  backend/app/services/memory_service.py
  backend/app/services/skill_registry.py
Due: spec-sync, python-lint

feat(E3-wave3): complete Story 3-7/3-8/3-9/3-10/3-11
  backend/app/api/v1/endpoints/suggestions.py
  backend/app/services/conversation_archive.py
  backend/app/services/conversation_distiller.py
  backend/app/services/memory_service.py
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/chat/EngineStatusIndicator.tsx
  frontend/src/components/chat/InputBar.tsx
  frontend/src/components/chat/QuotaExhaustedBanner.tsx
  frontend/src/components/chat/RecoveryBanner.tsx
  frontend/src/services/api-key-engine.ts
  frontend/src/services/crash-recovery.ts
  frontend/src/services/dexie-db.ts
  frontend/src/services/engine-fallback.ts
  frontend/src/stores/chat-store.ts
Due: spec-sync, python-lint

feat(E3-E4): complete E3 (13/13) + E4 (4/4) — dialog + edge systems
  backend/app/api/v1/endpoints/edges.py
  backend/app/clients/claude_client.py
  backend/app/clients/gemini_client.py
  backend/app/mcp/tools/exam_tools.py
  backend/app/middleware/prompt_injection_guard.py
  backend/app/models/edge_rationale.py
  backend/app/services/agent_service.py
  backend/app/services/autoscore.py
  backend/tests/regression/test_edge_dialog_prompt.py
  backend/tests/unit/test_edge_rationale_fallback.py
  frontend/src/App.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/Settings.tsx
  frontend/src/components/StatusBar.tsx
  frontend/src/components/SyncIndicator.tsx
  frontend/src/components/chat/EdgeGuideTooltip.tsx
  frontend/src/components/nodes/ImageNode.tsx
  frontend/src/components/nodes/KnowledgeNode.tsx
  frontend/src/components/nodes/nodeTypes.ts
  frontend/src/hooks/useBackendStatus.ts
  frontend/src/hooks/useBoardData.ts
  frontend/src/hooks/usePullToNode.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/services/api-client.ts
  frontend/src/services/backup-manager.ts
  frontend/src/services/claude-engine.ts
  frontend/src/services/docker-manager.ts
  frontend/src/services/indexing-service.ts
  frontend/src/services/sync-engine.ts
  frontend/src/stores/canvas-store.ts
  frontend/src/stores/chat-store.ts
  frontend/src/types.ts
  frontend/src/vite-env.d.ts
Due: spec-sync, python-lint

feat(E5): complete E5 (8/8) — mastery tracking + dashboard + profile
  backend/app/api/v1/system.py
  backend/app/models/qa_models.py
  backend/app/services/conversation_archive.py
  backend/app/services/event_handlers.py
  backend/app/services/extraction_validator.py
  frontend/src/App.tsx
  frontend/src/components/dashboard/ExamCard.tsx
  frontend/src/components/dashboard/ReviewItem.tsx
  frontend/src/components/nodes/KnowledgeNode.tsx
  frontend/src/components/profile/LearningProfile.tsx
  frontend/src/index.css
  frontend/src/services/mastery-utils.ts
  frontend/src/stores/mastery-store.ts
Due: spec-sync, python-lint

feat(E6): complete E6 (10/10) — exam board + scoring + faithfulness
  backend/app/mcp/server.py
  backend/app/mcp/tools/exam_tools.py
  backend/app/models/canvas_events.py
  backend/app/models/exam_models.py
  backend/app/prompts/scoring/faithfulness_evidence_grounding.md
  backend/app/prompts/scoring/faithfulness_score_consistency.md
  backend/app/services/autoscore.py
  backend/app/services/difficulty_matcher.py
  backend/app/services/exam_service_ext.py
  backend/app/services/question_generator.py
  backend/app/services/scoring_faithfulness.py
  frontend/src/services/api-client.ts
  frontend/src/services/dexie-db.ts
  frontend/src/stores/exam-store.ts
Due: python-lint

fix: resolve nodes.py vs nodes/ import conflict for StateGraph
  src/agentic_rag/nodes/__init__.py
Due: none

fix: add src/ volume mount + PYTHONPATH for RAG pipeline in Docker
  backend/Dockerfile
  docker-compose.yml
Due: none

feat: complete all 15 missing frontend scenarios (68/68 coverage)
  frontend/src/App.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/NodeContextMenu.tsx
  frontend/src/components/chat/InputBar.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/SelectionToolbar.tsx
  frontend/src/components/chat/SkillSelector.tsx
  frontend/src/components/chat/TipsList.tsx
  frontend/src/components/exam/CognitiveLoadTimer.tsx
  frontend/src/components/exam/ExamCanvas.tsx
  frontend/src/components/exam/ExamModeSelector.tsx
  frontend/src/components/exam/HintButton.tsx
  frontend/src/components/exam/SkipButton.tsx
  frontend/src/hooks/usePullToNode.ts
  frontend/src/services/api-client.ts
  frontend/src/services/obsidian-link.ts
Due: none

fix: resolve 2 HIGH + 4 MEDIUM from BMAD frontend review (S18-6)
  _decisions/decision-log.md
  frontend/src/components/chat/SkillSelector.tsx
  frontend/src/components/exam/ExamCanvas.tsx
  frontend/src/components/exam/HintButton.tsx
  frontend/src/stores/exam-store.ts
Due: none

feat: add 3 missing functional components (ExamSummary + InlineAnnotation + ContextMenu)
  frontend/src/App.tsx
  frontend/src/components/ChatPanel.tsx
  frontend/src/components/NodeContextMenu.tsx
  frontend/src/components/chat/InlineAnnotation.tsx
  frontend/src/components/exam/ExamCanvas.tsx
  frontend/src/components/exam/ExamSummary.tsx
  frontend/src/components/nodes/KnowledgeNode.tsx
  frontend/src/services/dexie-db.ts
  frontend/src/stores/canvas-store.ts
  frontend/src/types.ts
Due: none

fix: resolve 6 HIGH from BMAD review of 3 new components (S18-7)
  frontend/src/App.tsx
  frontend/src/components/NodeContextMenu.tsx
  frontend/src/components/chat/InlineAnnotation.tsx
  frontend/src/components/exam/ExamSummary.tsx
Due: none

fix: correct Tauri fs permission name for v2.4.5
  frontend/src-tauri/capabilities/default.json
Due: none

chore: update Cargo.lock + tauri.conf.json after tauri-plugin-fs 2.4.5
  frontend/src-tauri/Cargo.lock
  frontend/src-tauri/tauri.conf.json
Due: none

fix: correct health endpoint URL /api/v1/system/health → /api/v1/health
  frontend/src/hooks/useBackendStatus.ts
  frontend/src/services/api-client.ts
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
