Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

docs(isolation): 人判交接件 —— (j) 递归出口已达 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
Due: none

fix(g4-4b): codex round-5 整改 3 HIGH + 存档 [BATCH-2026-09-04-第十批 / CARD-G4-4b]
  _bmad-output/审查/codex-review-CARD-G4-4b.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4b.md
  _bmad-output/验收单/UAT-CARD-G4-4b-邻居扩展subject过滤-2026-09-04.md
  backend/lib/agentic_rag/nodes.py
Due: python-lint

docs(recap): Codex round-2 LOW×3 — 三处声明比证据宽 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

docs(审查): CARD-维护B-R4 验收单 + 两轮 Codex prompt/报告 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  _bmad-output/审查/codex-review-CARD-维护B-R4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-R4-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-R4.md
  _bmad-output/验收单/UAT-CARD-维护B-R4-先渲染再核数-2026-09-04.md
Due: none

feat(g3-2c-C): 字符轴按码点区间硬拒绝 [BATCH-2026-09-04-第十批 / CARD-G3-2c-C]
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2c-C.md
  backend/scripts/g32b_mutation_gates.py
  backend/scripts/g32cb_mutation_gates.py
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_g3_2_review_ledger.py
  docs/learning-events-schema-v1.md
Due: python-lint

docs(g3-2c-C): 边界硬拒绝验收单 [BATCH-2026-09-04-第十批 / CARD-G3-2c-C]
  _bmad-output/验收单/UAT-CARD-G3-2c-C-边界硬拒绝-2026-09-04.md
Due: none

fix(g3-2c-C): 字符轴收窄为字段级 — 修 Codex round-1 BLOCKER [BATCH-2026-09-04-第十批 / CARD-G3-2c-C]
  _bmad-output/审查/codex-review-CARD-G3-2c-C.md
  _bmad-output/验收单/UAT-CARD-G3-2c-C-边界硬拒绝-2026-09-04.md
  backend/scripts/g32cb_mutation_gates.py
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_g3_2_review_ledger.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix(g3-2c-C): emitter 门换承重载体 — 修 Codex round-2 HIGH [BATCH-2026-09-04-第十批 / CARD-G3-2c-C]
  _bmad-output/审查/codex-review-CARD-G3-2c-C.md
  _bmad-output/验收单/UAT-CARD-G3-2c-C-边界硬拒绝-2026-09-04.md
  backend/scripts/g32cb_mutation_gates.py
  backend/tests/regression/test_g3_2_review_ledger.py
  docs/learning-events-schema-v1.md
Due: python-lint

merge(squash): X5-B rank 指纹纳入 decay_beta 字节 [BATCH-2026-09-04-第十批 / CARD-G3-6b-R2]
  _bmad-output/验收单/UAT-CARD-G3-6b-R2-指纹覆盖decay函数体-2026-09-04.md
  _bmad-output/验收单/UAT-CARD-G3-6b-板级why_this_board与rank_manifest-2026-09-01.md
  backend/tests/regression/test_daily_review_pick.py
  scripts/daily_review_pick.py
  scripts/review_rank_manifest.json
Due: python-lint

merge(squash): X5-C G8-2 round-12 六M一L收口 [BATCH-2026-09-04-第十批 / CARD-G8-2b]
  _bmad-output/审查/evidence-g82/MANIFEST.txt
  _bmad-output/审查/evidence-g82/g82_mutation_negative_controls.sh
  _bmad-output/审查/evidence-g82/live-lint-round14.json
  _bmad-output/审查/evidence-g82/live-rc-round14.txt
  _bmad-output/审查/evidence-g82/live-sha-after-r14.txt
  _bmad-output/审查/evidence-g82/live-sha-before-r14.txt
  _bmad-output/审查/evidence-g82/live-window-round14.txt
  _bmad-output/验收单/UAT-CARD-G8-2-统一lint骨架与三检查.md
  _bmad-output/验收单/UAT-CARD-G8-2b-round12六M一L收口-2026-09-04.md
  backend/requirements.txt
  backend/scripts/vault_lint.py
  backend/tests/unit/test_vault_lint.py
Due: python-lint

merge(squash): X5-A lefthook typecheck 假绿收口 [BATCH-2026-09-04-第十批 / CARD-DEBT-hook-pyright]
  _bmad-output/验收单/UAT-CARD-DEBT-hook-pyright-lefthook假绿收口-2026-09-04.md
  lefthook.yml
Due: none

merge(squash): X3-OBS 端点日志 nothrow 包装 R1 [BATCH-2026-09-04-第十批 / CARD-OBS-nothrow-logging-R1]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging-round2.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging.md
  _bmad-output/审查/prompts/codex-prompt-CARD-OBS-nothrow-logging-round2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-OBS-nothrow-logging.md
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/rag.py
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
  backend/tests/api/v1/endpoints/test_rag_four_state_api.py
Due: spec-sync, python-lint

merge(squash): X3-① G4-4a 显式 VaultScope 移植 7 commit + 收口 [BATCH-2026-09-04-第十批 / CARD-G4-4a]
  _bmad-output/审查/codex-review-CARD-G4-4-round2.md
  _bmad-output/审查/codex-review-CARD-G4-4-round3.md
  _bmad-output/审查/codex-review-CARD-G4-4.md
  _bmad-output/审查/evidence-g44/g44_mutations.py
  _bmad-output/审查/evidence-g44/mutation-run.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4.md
  _bmad-output/验收单/UAT-CARD-G4-4-full-RAG-显式VaultScope-2026-09-01.md
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
  backend/app/api/v1/endpoints/agents.py
  backend/app/api/v1/endpoints/rag.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/api/v1/endpoints/test_agents_learning_event.py
  backend/tests/api/v1/endpoints/test_rag_four_state_api.py
  backend/tests/api/v1/endpoints/test_rag_vault_scope_api.py
  backend/tests/api/v1/endpoints/test_recommend_action.py
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: spec-sync, python-lint

merge(squash): X3-① G4-4a round-4 整改与取证 [BATCH-2026-09-04-第十批 / CARD-G4-4a]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-4a.md
  _bmad-output/审查/evidence-g44/mutation-run.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4a.md
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
  backend/app/api/v1/endpoints/rag.py
  backend/lib/agentic_rag/nodes.py
Due: spec-sync, python-lint

merge(squash): X6 维护B-R4 先渲染再核数架构重切 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  _bmad-output/审查/codex-review-CARD-维护B-R4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-R4-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-R4.md
  _bmad-output/验收单/UAT-CARD-维护B-R4-先渲染再核数-2026-09-04.md
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-CS 61B.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-CS188 lecture 2.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-特征值与特征向量.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-递归与分治 (Recursion & Divide-Conquer).json
  backend/tests/regression/fixtures/recap_live_reports/MANIFEST.sha256
  backend/tests/regression/fixtures/recap_live_reports/refresh_from_live.py
  backend/tests/regression/fixtures/recap_live_reports/回顾-CS 61B-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-CS188 lecture 2-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-特征值与特征向量-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-递归与分治 (Recursion & Divide-Conquer)-2026-08-27.md
  backend/tests/regression/fixtures/recap_synthetic_signals/.recap-scan-CS 61B.json
  backend/tests/regression/fixtures/recap_synthetic_signals/回顾-CS 61B-2026-09-01.md
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

merge(squash): X3-② G4-4b 邻居扩展按 subject 过滤 [BATCH-2026-09-04-第十批 / CARD-G4-4b]
  _bmad-output/审查/codex-review-CARD-G4-4b.md
  _bmad-output/审查/evidence-g44b/g44b_mutations.py
  _bmad-output/审查/evidence-g44b/mutation-run.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4b.md
  _bmad-output/验收单/UAT-CARD-G4-4b-邻居扩展subject过滤-2026-09-04.md
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: python-lint

merge(squash): X7-B G3-2c 核心状态机 输入硬上限 fail-closed [BATCH-2026-09-04-第十批 / CARD-G3-2c-B]
  _bmad-output/审查/codex-review-CARD-G3-2c-B.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2c-B.md
  _bmad-output/验收单/UAT-CARD-G3-2c-B-核心状态机-2026-09-04.md
  backend/scripts/g32cb_mutation_gates.py
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_g3_2_review_ledger.py
  docs/learning-events-schema-v1.md
Due: python-lint

merge(squash): X7-C G3-2c 边界字符轴硬拒绝 [BATCH-2026-09-04-第十批 / CARD-G3-2c-C]
  _bmad-output/审查/codex-review-CARD-G3-2c-C.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2c-C.md
  _bmad-output/验收单/UAT-CARD-G3-2c-C-边界硬拒绝-2026-09-04.md
  backend/scripts/g32b_mutation_gates.py
  backend/scripts/g32cb_mutation_gates.py
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_g3_2_review_ledger.py
  docs/learning-events-schema-v1.md
Due: python-lint

merge(squash): X7-A G3-2c 安全取证与移植快照 [BATCH-2026-09-04-第十批 / CARD-G3-2c-A]
  _bmad-output/审查/codex-review-CARD-G3-2b-round17.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2b-round17.md
  _bmad-output/验收单/UAT-CARD-G3-2c-A-安全取证与移植-2026-09-04.md
  backend/app/services/learning_event_log.py
  backend/scripts/g32b_build_fixture.py
  backend/scripts/g32b_mutation_gates.py
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/regression/test_learning_events_schema_contract.py
  canvas-vault/.claude/scripts/fsrs_bridge.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

fix(board-recap): recap_exam_build 加载 recap_scan 前注册 sys.modules [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: none

docs(goal-cards): 第十批复核裁定 + 台账 v3（10 卡合入、X6 集成修复、X4 人判）[BATCH-2026-09-04-第十批]
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/审查/2026-09-05-第十批复核裁定与待裁决登记.md
Due: none

docs(goal-cards): X8 卡文 v2（bce2986a 重验）+ 车道已建 + 短 goal 3476 字符 [BATCH-2026-09-04-第十批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-04-第十批开跑手册-8车道11卡.md
  _bmad-output/implementation-artifacts/goal-cards/第十批-goals/X8.md
Due: none

docs(goal-cards): X8 四项用户按默认裁定（#0 乙 / #1 #2 #3 批），卡文与台账标已裁 [BATCH-2026-09-04-第十批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-04-第十批开跑手册-8车道11卡.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/implementation-artifacts/goal-cards/第十批-goals/X8.md
Due: none

docs(openapi): X8 裁决页 4 项待批 [BATCH-2026-09-04-第十批 / CARD-DEBT-openapi-sync-R1]
  _bmad-output/验收单/UAT-CARD-DEBT-openapi-sync-R1-2026-09-05.md
Due: none

feat(openapi): 移植漂移门 13 文件白名单 [BATCH-2026-09-04-第十批 / CARD-DEBT-openapi-sync-R1]
  .github/workflows/api-spec-sync.yml
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-round3-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-round3-CARD-DEBT-openapi-sync.md
  backend/openapi.json
  backend/scripts/openapi_drift_negative_control.py
  backend/tests/contract/test_openapi_snapshot_drift.py
  lefthook.yml
  scripts/spec-tools/check-openapi-drift.py
Due: python-lint

chore(openapi): 快照重生成 @bce2986a [BATCH-2026-09-04-第十批 / CARD-DEBT-openapi-sync-R1]
  backend/openapi.json
Due: none

docs(openapi): X8 验收单 + Codex round-4 零 B/H [BATCH-2026-09-04-第十批 / CARD-DEBT-openapi-sync-R1]
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync-R1.md
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-openapi-sync-R1.md
  _bmad-output/验收单/UAT-CARD-DEBT-openapi-sync-R1-2026-09-05.md
Due: none

merge(squash): X8 OpenAPI 漂移门重排 13 文件白名单 + 快照重生成 [BATCH-2026-09-04-第十批 / CARD-DEBT-openapi-sync-R1]
  .github/workflows/api-spec-sync.yml
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync-R1.md
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-round3-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-openapi-sync-R1.md
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-round3-CARD-DEBT-openapi-sync.md
  _bmad-output/验收单/UAT-CARD-DEBT-openapi-sync-R1-2026-09-05.md
  backend/openapi.json
  backend/scripts/openapi_drift_negative_control.py
  backend/tests/contract/test_openapi_snapshot_drift.py
  lefthook.yml
  scripts/spec-tools/check-openapi-drift.py
Due: python-lint

docs(openapi): X8 验收单「待你裁决」改标已裁（用户 2026-09-05 按默认）[BATCH-2026-09-04-第十批 / CARD-DEBT-openapi-sync-R1]
  _bmad-output/验收单/UAT-CARD-DEBT-openapi-sync-R1-2026-09-05.md
Due: none

docs: 台账 X8 合入·第十批清零 + 新增 rules/card-batch-protocol.md [BATCH-2026-09-04-第十批]
  .claude/rules/card-batch-protocol.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
Due: none

docs(goal-cards): 第十一批开跑手册 7 车道 17 卡 + 卡文 + 长度门 + w7 残留存证 [BATCH-2026-09-05-第十一批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-05-第十一批开跑手册-7车道17卡.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z1-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z1-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z1-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z1-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z2.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z3-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z3-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z3-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z4-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z4-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z5.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z6-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z6-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z6-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z7-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z7-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z7-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/gate_goal_length_b11.py
  _bmad-output/审查/evidence-w7-abandon/w7-ledger-uncommitted-2026-09-05.diff
Due: none

docs(goal-cards): 第十一批 3 处用户裁决按默认（Z1-D 两项 / Z7-C 乙 / Z5 docker 自查）[BATCH-2026-09-05-第十一批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-05-第十一批开跑手册-7车道17卡.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z1-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z5.md
  _bmad-output/implementation-artifacts/goal-cards/第十一批-goals/Z7-C.md
Due: none

chore(lint): lefthook glob 补 scripts/ + 变异残留门 [BATCH-2026-09-05-第十一批]
  lefthook.yml
  ruff.toml
Due: none

fix(review): R1 补审 X2 — 收紧写路径根名 fail-open + 代际锚三前提取证 [BATCH-2026-09-05-第十一批 / CARD-CX-G6-2b-R1]
  _bmad-output/审查/codex-review-CARD-CX-G6-2b-R1-FAILED.md
  _bmad-output/审查/evidence-g62b/negative-control-27e61454.md
  _bmad-output/审查/evidence-g62b/prem2-gen-semantics.md
  _bmad-output/审查/evidence-g62b/probe-matrix.md
  _bmad-output/审查/evidence-g62b/probe-r1-global-声明加del.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-global-声明加for绑定.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-global-声明加赋值.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-global-纯声明不赋值.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-nonlocal-声明加赋值.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞①-三元属性写.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞①-对照-根是Name.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞①-布尔短路属性写.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞①-调用结果属性写.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞②-Annotated带Depends原样.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞②-Annotated注解.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞②-字符串注解.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞②-对照-直接注解.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-洞②-限定名注解.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-装饰器-链式中间层.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1-装饰器-链式对照-同表达式作调用.py.txt
  _bmad-output/审查/evidence-g62b/probe-r1.md
  _bmad-output/审查/evidence-g62b/probe-根不可解析-三元属性写.py.txt
  _bmad-output/审查/evidence-g62b/probe-根不可解析-布尔短路属性写.py.txt
  _bmad-output/审查/evidence-g62b/probe-根不可解析-调用结果属性写.py.txt
  _bmad-output/审查/evidence-g62b/probe_r1.py
  _bmad-output/审查/evidence-g62b/probe_r1_gen.py
  _bmad-output/审查/prompts/codex-prompt-CARD-CX-G6-2b-R1.md
  _bmad-output/验收单/UAT-CARD-CX-G6-2b-R1-2026-09-05.md
  backend/tests/unit/test_review_app.py
Due: python-lint

fix(w4-gate): M15/LOW#18 补门 + M14 收窄 + M16/M13 修正 [BATCH-2026-09-05-第十一批 / CARD-W4-3b]
  _bmad-output/审查/CARD-W4-3b-拆门实测.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-W4-3b.md
  _bmad-output/审查/验收单/UAT-CARD-W4-3b-2026-09-05.md
  backend/scripts/lifespan_isolation_guard_probes.py
  backend/scripts/lifespan_isolation_negative_control.py
  backend/scripts/lifespan_isolation_runtime_sha.sh
  backend/tests/conftest.py
Due: python-lint

fix(lint): 变异残留门补 6 处静默放行 + 撤回 target-version [BATCH-2026-09-05-第十一批]
  lefthook.yml
  ruff.toml
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
