Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

test(isolation): 单例工厂两条用例转 mock 断开 7691 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  backend/tests/unit/test_story_38_3_fsrs_init_guarantee.py
Due: python-lint

fix(hook): lefthook typecheck 假绿收口 [BATCH-2026-09-04-第十批 / CARD-DEBT-hook-pyright]
  _bmad-output/验收单/UAT-CARD-DEBT-hook-pyright-lefthook假绿收口-2026-09-04.md
  lefthook.yml
Due: none

chore(g3-2c-A): quiz-answer 账本移植快照 + 清除变异残留 [BATCH-2026-09-04-第十批 / CARD-G3-2c-A]
  _bmad-output/审查/codex-review-CARD-G3-2b-round17.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2b-round17.md
  backend/app/services/learning_event_log.py
  backend/scripts/g32b_build_fixture.py
  backend/scripts/g32b_mutation_gates.py
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/regression/test_learning_events_schema_contract.py
  canvas-vault/.claude/scripts/fsrs_bridge.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

docs(g4-4a): 收口 xfail 改绑 4b + 移植注 + 验收单 [BATCH-2026-09-04-第十批 / CARD-G4-4a]
  _bmad-output/审查/evidence-g44/mutation-run.txt
  _bmad-output/验收单/UAT-CARD-G4-4-full-RAG-显式VaultScope-2026-09-01.md
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: python-lint

fix(G5-6c-R1): 三处残留 Unicode 口径 strip 收到 ASCII [BATCH-2026-09-04-第十批 / CARD-G5-6c-R1]
  _bmad-output/验收单/UAT-CARD-G5-6-clear-inbox只读盘点提名preview-2026-08-31.md
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

feat(obs): 端点日志 nothrow 包装 + 注入回归锁 + 存量登记 [BATCH-2026-09-01-第八批 / CARD-OBS-nothrow-logging]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/prompts/codex-prompt-CARD-OBS-nothrow-logging.md
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/rag.py
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
  backend/tests/api/v1/endpoints/test_rag_four_state_api.py
Due: spec-sync, python-lint

fix(obs): r1 整改 stacklevel 守护区+逐门负控+终版验收单 [BATCH-2026-09-01-第八批 / CARD-OBS-nothrow-logging]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging.md
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
Due: python-lint

fix(obs): r2 清零收尾 docstring 边界+渲染门全覆盖+inventory 加固 [BATCH-2026-09-01-第八批 / CARD-OBS-nothrow-logging]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging-round2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-OBS-nothrow-logging-round2.md
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
Due: python-lint

fix(review): G6-2b 交互壳残留收口 — 重绘帧保留失联通知 + AST 门补全绑定形态 [BATCH-2026-09-04-第十批 / CARD-G6-2b]
  _bmad-output/审查/evidence-g62b/probe-async-for-目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-async-with-as.py.txt
  _bmad-output/审查/evidence-g62b/probe-class-名遮蔽.py.txt
  _bmad-output/审查/evidence-g62b/probe-def-名遮蔽.py.txt
  _bmad-output/审查/evidence-g62b/probe-except-as.py.txt
  _bmad-output/审查/evidence-g62b/probe-for-目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-kwarg.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-kwonly.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-posonly.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-vararg.py.txt
  _bmad-output/审查/evidence-g62b/probe-match-rest.py.txt
  _bmad-output/审查/evidence-g62b/probe-match-捕获.py.txt
  _bmad-output/审查/evidence-g62b/probe-match-星号.py.txt
  _bmad-output/审查/evidence-g62b/probe-matrix.md
  _bmad-output/审查/evidence-g62b/probe-with-as.py.txt
  _bmad-output/审查/evidence-g62b/probe-嵌套-自有定义遮蔽.py.txt
  _bmad-output/审查/evidence-g62b/probe-推导式目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-海象.py.txt
  _bmad-output/审查/evidence-g62b/probe_matrix.py
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2b-round5.md
  _bmad-output/验收单/UAT-CARD-G6-2b-交互壳残留收口-2026-09-04.md
  backend/app/api/v1/endpoints/review_app.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

chore(recap): 移植 R3 车道 41 轮末态五项做金样基线 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-CS 61B.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-CS188 lecture 2.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-特征值与特征向量.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-递归与分治 (Recursion & Divide-Conquer).json
  backend/tests/regression/fixtures/recap_live_reports/回顾-CS 61B-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-CS188 lecture 2-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-特征值与特征向量-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-递归与分治 (Recursion & Divide-Conquer)-2026-08-27.md
  backend/tests/regression/fixtures/recap_synthetic_signals/.recap-scan-CS 61B.json
  backend/tests/regression/fixtures/recap_synthetic_signals/回顾-CS 61B-2026-09-01.md
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

docs(g3-2c-A): 安全取证与移植验收单 [BATCH-2026-09-04-第十批 / CARD-G3-2c-A]
  _bmad-output/验收单/UAT-CARD-G3-2c-A-安全取证与移植-2026-09-04.md
Due: none

fix(obs): scope 日志归一 nothrow 删双层兜底 [BATCH-2026-09-04-第十批 / CARD-OBS-nothrow-logging-R1]
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
  backend/app/api/v1/endpoints/rag.py
Due: spec-sync, python-lint

fix(isolation): 运行时文件锚点跟随 G2-5 journal 改名 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  backend/scripts/lifespan_isolation_negative_control.py
  backend/scripts/lifespan_isolation_runtime_sha.sh
Due: python-lint

feat(pick): rank 指纹纳入 decay_beta 字节 [BATCH-2026-09-04-第十批 / CARD-G3-6b-R2]
  _bmad-output/验收单/UAT-CARD-G3-6b-R2-指纹覆盖decay函数体-2026-09-04.md
  _bmad-output/验收单/UAT-CARD-G3-6b-板级why_this_board与rank_manifest-2026-09-01.md
  backend/tests/regression/test_daily_review_pick.py
  scripts/daily_review_pick.py
  scripts/review_rank_manifest.json
Due: python-lint

test(recap): live fixture 字节一致门改快照+显式刷新脚本 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/fixtures/recap_live_reports/MANIFEST.sha256
  backend/tests/regression/fixtures/recap_live_reports/refresh_from_live.py
  backend/tests/regression/test_recap_scan_signals.py
Due: python-lint

docs(isolation): 终审改绑实现最终态 + 验收单 v2 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
  _bmad-output/审查/prompts/codex-prompt-CARD-TEST-isolate-lifespan-R1.md
Due: none

fix(lint): anomaly key 含相对路径 + r12 六M一L收口 [BATCH-2026-09-04-第十批 / CARD-G8-2b]
  _bmad-output/审查/evidence-g82/MANIFEST.txt
  _bmad-output/审查/evidence-g82/g82_mutation_negative_controls.sh
  _bmad-output/审查/evidence-g82/live-lint-round14.json
  _bmad-output/审查/evidence-g82/live-rc-round14.txt
  _bmad-output/审查/evidence-g82/live-sha-after-r14.txt
  _bmad-output/审查/evidence-g82/live-sha-before-r14.txt
  _bmad-output/审查/evidence-g82/live-window-round14.txt
  _bmad-output/验收单/UAT-CARD-G8-2-统一lint骨架与三检查.md
  _bmad-output/验收单/UAT-CARD-G8-2b-round12六M一L收口-2026-09-04.md
  backend/requirements.txt
  backend/scripts/vault_lint.py
  backend/tests/unit/test_vault_lint.py
Due: python-lint

fix(review): G6-2b 按 round-5 反例集收紧 AST 门 — 8 条漏网 + 1 条误伤 [BATCH-2026-09-04-第十批 / CARD-G6-2b]
  _bmad-output/审查/codex-review-CARD-G6-2b-round5.md
  _bmad-output/审查/evidence-g62b/allowed-下标读取保护名.py.txt
  _bmad-output/审查/evidence-g62b/allowed-惰性代码.py.txt
  _bmad-output/审查/evidence-g62b/allowed-新增同形态端点.py.txt
  _bmad-output/审查/evidence-g62b/allowed-非保护名走新形态.py.txt
  _bmad-output/审查/evidence-g62b/probe-async-for-目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-async-with-as.py.txt
  _bmad-output/审查/evidence-g62b/probe-class-名遮蔽.py.txt
  _bmad-output/审查/evidence-g62b/probe-def-名遮蔽.py.txt
  _bmad-output/审查/evidence-g62b/probe-except-as.py.txt
  _bmad-output/审查/evidence-g62b/probe-for-目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-kwarg.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-kwonly.py.txt
  _bmad-output/审查/evidence-g62b/probe-lambda-vararg.py.txt
  _bmad-output/审查/evidence-g62b/probe-match-rest.py.txt
  _bmad-output/审查/evidence-g62b/probe-match-捕获.py.txt
  _bmad-output/审查/evidence-g62b/probe-match-星号.py.txt
  _bmad-output/审查/evidence-g62b/probe-matrix.md
  _bmad-output/审查/evidence-g62b/probe-type-别名.py.txt
  _bmad-output/审查/evidence-g62b/probe-with-as.py.txt
  _bmad-output/审查/evidence-g62b/probe-取别名改属性.py.txt
  _bmad-output/审查/evidence-g62b/probe-嵌套-自有定义遮蔽.py.txt
  _bmad-output/审查/evidence-g62b/probe-推导式目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-无括号装饰器.py.txt
  _bmad-output/审查/evidence-g62b/probe-模板增量赋值.py.txt
  _bmad-output/审查/evidence-g62b/probe-海象.py.txt
  _bmad-output/审查/evidence-g62b/probe-相对导入.py.txt
  _bmad-output/审查/evidence-g62b/probe-重复定义-class.py.txt
  _bmad-output/审查/evidence-g62b/probe-重复定义-def.py.txt
  _bmad-output/审查/evidence-g62b/probe-重复定义-模板.py.txt
  _bmad-output/审查/evidence-g62b/probe_matrix.py
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2b-round5.md
  _bmad-output/验收单/UAT-CARD-G6-2b-交互壳残留收口-2026-09-04.md
  backend/tests/unit/test_review_app.py
Due: python-lint

refactor(recap): 先渲染再核数 — 单一渲染入口 + 角色表绑定, 闭合 BLOCKER② [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(g4-4a): codex round-4 整改 HIGH-2/HIGH-5 注释 + 存档 [BATCH-2026-09-04-第十批 / CARD-G4-4a]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-4a.md
  _bmad-output/审查/evidence-g44/mutation-run.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4a.md
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
  backend/app/api/v1/endpoints/rag.py
  backend/lib/agentic_rag/nodes.py
Due: spec-sync, python-lint

docs(g4-4a): 补 live vault 零写取证与 launchd 归因 [BATCH-2026-09-04-第十批 / CARD-G4-4a]
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
Due: none

docs(g4-4a): 绑定破坏面机器界定 + 合并门自身假绿实证 [BATCH-2026-09-04-第十批 / CARD-G4-4a]
  _bmad-output/验收单/UAT-CARD-G4-4a-显式VaultScope-2026-09-04.md
Due: none

fix(isolation): compgen 自检堵住 glob 静默消失的假绿 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
  backend/scripts/lifespan_isolation_runtime_sha.sh
Due: none

docs(isolation): 更正 port-0 定性并盘点阻断级 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
Due: none

fix(review): G6-2b 整改 round-5 findings — 因果锚改代际 + 写路径按根名判定 [BATCH-2026-09-04-第十批 / CARD-G6-2b]
  _bmad-output/审查/codex-review-CARD-G6-2b-round5-attempt2.md
  _bmad-output/审查/evidence-g62b/allowed-普通对象下标赋值.py.txt
  _bmad-output/审查/evidence-g62b/allowed-普通对象属性赋值.py.txt
  _bmad-output/审查/evidence-g62b/ctx-store-completeness.txt
  _bmad-output/审查/evidence-g62b/probe-del-保护名.py.txt
  _bmad-output/审查/evidence-g62b/probe-for-属性目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-import-alias.py.txt
  _bmad-output/审查/evidence-g62b/probe-matrix.md
  _bmad-output/审查/evidence-g62b/probe-type-形参.py.txt
  _bmad-output/审查/evidence-g62b/probe-元组内属性目标.py.txt
  _bmad-output/审查/evidence-g62b/probe-受保护对象-dunder下标写.py.txt
  _bmad-output/审查/evidence-g62b/probe-受保护对象-下标写.py.txt
  _bmad-output/审查/evidence-g62b/probe-无注解request形参.py.txt
  _bmad-output/审查/evidence-g62b/probe-模块级覆盖-import名.py.txt
  _bmad-output/审查/evidence-g62b/probe-模块级覆盖-内建名.py.txt
  _bmad-output/审查/evidence-g62b/probe-模块级覆盖-白名单调用名.py.txt
  _bmad-output/审查/evidence-g62b/probe-装饰器-lambda包裹.py.txt
  _bmad-output/审查/evidence-g62b/probe-装饰器-下标取内建.py.txt
  _bmad-output/审查/evidence-g62b/probe-装饰器-非白名单接收者.py.txt
  _bmad-output/审查/evidence-g62b/probe_matrix.py
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2b-round5.md
  _bmad-output/验收单/UAT-CARD-G6-2b-交互壳残留收口-2026-09-04.md
  backend/app/api/v1/endpoints/review_app.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

docs(验收单): G6-2b 终校 — 行号锚实测更新 + M2 变异证据 + 用户可感补一条 [BATCH-2026-09-04-第十批 / CARD-G6-2b]
  _bmad-output/验收单/UAT-CARD-G6-2b-交互壳残留收口-2026-09-04.md
Due: none

docs(isolation): 更正 shell 门过宽声称并记录一次回退 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  backend/scripts/lifespan_isolation_runtime_sha.sh
Due: none

fix(isolation): 同名工厂重定义不再按安全算 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  backend/scripts/lifespan_isolation_negative_control.py
Due: python-lint

docs(isolation): 绑定推进到 de57e375 + 阻断项处置结果 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
  _bmad-output/审查/prompts/codex-prompt-CARD-TEST-isolate-lifespan-R1.md
Due: none

fix(recap): 段3收口 — 修重构自造的三个放行面 + negverify 重锚 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

docs(isolation): round-3 提示词改任务边界规避内容过滤 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/prompts/codex-prompt-CARD-TEST-isolate-lifespan-R1.md
Due: none

feat(g3-2c-B): 学习事件账本输入硬上限 fail-closed [BATCH-2026-09-04-第十批 / CARD-G3-2c-B]
  _bmad-output/审查/codex-review-CARD-G3-2c-B.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2c-B.md
  backend/scripts/g32cb_mutation_gates.py
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_g3_2_review_ledger.py
  docs/learning-events-schema-v1.md
Due: python-lint

docs(g3-2c-B): 核心状态机验收单 [BATCH-2026-09-04-第十批 / CARD-G3-2c-B]
  _bmad-output/验收单/UAT-CARD-G3-2c-B-核心状态机-2026-09-04.md
Due: none

fix(recap): 扁平 ledger 形态不得误拒 + survivor-R4e [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(recap): ⭐Codex round-1 BLOCKER — 身份解析两份实现, 派生那份放行伪造数字 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

docs(isolation): round-3 裁定与三处误判更正 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
  _bmad-output/审查/codex-review-CARD-TEST-isolate-lifespan-R1-round3.md
Due: none

docs(isolation): 补 round-2 轮次结局并登记偏离 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
  _bmad-output/审查/codex-review-CARD-TEST-isolate-lifespan-R1-round2.md
Due: none

fix(g4-4b): 邻居扩展按 subject 过滤，跨学科泄漏收口 [BATCH-2026-09-04-第十批 / CARD-G4-4b]
  _bmad-output/审查/evidence-g44b/g44b_mutations.py
  _bmad-output/审查/evidence-g44b/mutation-run.txt
  _bmad-output/验收单/UAT-CARD-G4-4b-邻居扩展subject过滤-2026-09-04.md
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: python-lint

fix(recap): Codex round-2 五条全修 — 两处放行面 + 三处误拒 [BATCH-2026-09-04-第十批 / CARD-维护B-R4]
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

docs(isolation): 补发 round-2 裁定与两轮交叉对照 [BATCH-2026-09-04-第十批 / CARD-TEST-isolate-lifespan-R1-终审]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-R1-验收单.md
  _bmad-output/审查/codex-review-CARD-TEST-isolate-lifespan-R1-round2-attempts.md
  _bmad-output/审查/codex-review-CARD-TEST-isolate-lifespan-R1-round2.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
