Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

feat(t6-c): 死信坟场写侧有界 + 修 traces 错目录与只读 backlog [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-BOUND]
  backend/app/api/v1/endpoints/traces.py
  backend/app/core/failed_writes_constants.py
  backend/app/core/failure_counters.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_dead_letter_bounded_t6c.py
  backend/tests/unit/test_traces_backlog_t6c.py
Due: spec-sync, python-lint

fix(g610): 采纳 Codex r3 一条 HIGH + 两条 MEDIUM + 一条 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/codex-review-CARD-G6-10-r3.md
  _bmad-output/审查/evidence-g610/gate-mutation-anchors-r3-20260915T120715.txt
  _bmad-output/审查/evidence-g610/r3-anchors-20260915T120622.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-10-r3.md
  backend/scripts/g610_dual_vault_interaction_canary.py
  backend/tests/integration/test_g610_dual_vault_isolation.py
Due: python-lint

fix(t5-b): 修 H1——收窄 try + 写确认 + 可枚举的对端故障类型集 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

fix(g6-9c-r2): r8 LOW + 用户裁定「直到完全没问题」⇒ 一并收口两条既有 [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/core/display_tz.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/local_tz.py
Due: python-lint

test(runtime-sha): 扩面三运行时文件 + noexec 调用方自证契约 [BATCH-2026-09-11-第十四批 / CARD-RUNTIME-SHA-SURFACE]
  backend/scripts/lifespan_isolation_runtime_sha.sh
Due: none

fix(mutkill): round-8 整改 Codex 3 MEDIUM + 6 LOW [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(g610): 采纳 Codex r4 一条 HIGH + 两条 MEDIUM + 一条 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/codex-review-CARD-G6-10-r4.md
  _bmad-output/审查/evidence-g610/gate-mutation-anchors-r4-20260915T182607.txt
  _bmad-output/审查/evidence-g610/r4-anchors-20260915T182436.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-10-r4.md
  backend/scripts/g610_dual_vault_interaction_canary.py
  backend/tests/integration/test_g610_dual_vault_isolation.py
Due: python-lint

fix(mutkill): round-9 独立扫描 3 条 [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

test(t7a): 变异测试补门 + r6 六条全部整改 [BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r6.md
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-r7-20260915T182540.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-r7-20260915T182540.txt
  _bmad-output/审查/evidence-harness-tree/repro-counterexample-20260914.py
  _bmad-output/审查/evidence-harness-tree/skills-r7-20260915T182952.txt
  _bmad-output/审查/evidence-harness-tree/verify-kills-20260915T182540.txt
  _bmad-output/审查/evidence-harness-tree/verify-new-gates-kill-mutants-20260915.py
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r6.md
  _bmad-output/验收单/UAT-CARD-HARNESS-TREE-PARSE-REDO-2026-09-14.md
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

fix(t5-b): 按 Codex r6 修 M2 假门 + 补 try 边界门与 RETURN 耦合锚 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

docs(runtime-sha): 按 Codex r1 修配方判据与 WAL 措辞 [BATCH-2026-09-11-第十四批 / CARD-RUNTIME-SHA-SURFACE]
  backend/scripts/lifespan_isolation_runtime_sha.sh
Due: none

docs(g610): Codex r5 终审 B0/H0 + 验收单定稿 [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/codex-review-CARD-G6-10-r1.md
  _bmad-output/审查/codex-review-CARD-G6-10-r2.md
  _bmad-output/审查/codex-review-CARD-G6-10-r3.md
  _bmad-output/审查/codex-review-CARD-G6-10-r4.md
  _bmad-output/审查/codex-review-CARD-G6-10-r5.md
  _bmad-output/审查/evidence-g610/close-final.nodeids
  _bmad-output/审查/evidence-g610/unit-close-final-20260915T182940.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-10-r5.md
  _bmad-output/验收单/UAT-CARD-G6-10-2026-09-15.md
Due: none

docs(g610): 收官核存档（绑定/地盘/越界/只读 sentinel） [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/evidence-g610/final-close-20260915T184136.txt
Due: none

test(epw): 按 Codex r1 补实际重试退避实参/日志/身份断言并加固路径门 [第十四批 / CARD-EPW-COVERAGE]
  _bmad-output/审查/codex-review-CARD-EPW-COVERAGE-r1.md
  _bmad-output/审查/evidence-epw-coverage/coverage-matrix-20260915T121111.md
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-driver-r2-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-restored-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_all_attempts_timeout_then_dead_letter-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_backoff_upper_bound_is_monotonic_and_capped_at_60-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_backoff_upper_bound_series_is_1_2_4-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_dead_letter_omits_full_body_by_default-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_dead_letter_store_count_matches_appended_lines-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_deterministic_validation_error_skips_retry_and_dead_letters-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_metrics_snapshot_covers_all_counters-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_redact_scrubs_known_secret_patterns-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_retry_actually_sleeps_backoff_seconds_series_2_4_8-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_retry_reuses_same_task_and_preserves_timestamps-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-negctl-test_success_after_one_retry-20260915T183847.txt
  _bmad-output/审查/evidence-epw-coverage/epw-path-gate-v2-20260915T183454.txt
  _bmad-output/审查/evidence-epw-coverage/epw-path-gate-v2-rcfix-20260915T183520.txt
  _bmad-output/审查/evidence-epw-coverage/epw-r2-rerun-20260915T183704.txt
  _bmad-output/审查/evidence-epw-coverage/epw-territory-20260915T182315.txt
  _bmad-output/审查/evidence-epw-coverage/epw-territory-fixed-20260915T182337.txt
  _bmad-output/审查/evidence-epw-coverage/epw-unit-close2-20260915T184254.txt
  _bmad-output/审查/evidence-epw-coverage/epw_negctl.py
  _bmad-output/审查/evidence-epw-coverage/epw_path_gate.py
  backend/tests/unit/test_episode_worker_coverage_epw.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: python-lint

docs(g2-9-f1-canary): 按 Codex r1 整改 6 条 [BATCH-2026-09-11-第十四批 / CARD-G2-9-F1-canary]
  _bmad-output/审查/codex-review-CARD-G2-9-F1-canary-r1.md
  _bmad-output/审查/evidence-g29f1-canary/ledger-negctl-20260915T150103Z-18180.json
  _bmad-output/审查/evidence-g29f1-canary/negctl-forbidden-path-rerun-mkdir-check-20260915T230103.txt
  _bmad-output/审查/evidence-g29f1-canary/negctl-preflight-no-connect-evidence-20260915T230117.txt
  _bmad-output/审查/evidence-g29f1-canary/turf-outside-bmad-20260915T193339.txt
  _bmad-output/验收单/UAT-CARD-G2-9-F1-canary-20260915.md
Due: none

docs(g2-9-f1-canary): 按 Codex r2 整改 5 条 [BATCH-2026-09-11-第十四批 / CARD-G2-9-F1-canary]
  _bmad-output/审查/codex-review-CARD-G2-9-F1-canary-r2.md
  _bmad-output/审查/evidence-g29f1-canary/ast-rc-guard-structure-20260915T230932.txt
  _bmad-output/审查/evidence-g29f1-canary/deviation-r2-target-mutated-20260915T230646.txt
  _bmad-output/审查/evidence-g29f1-canary/residue-recon-7692-20260915T230907.txt
  _bmad-output/审查/evidence-g29f1-canary/uat-consistency-selfcheck-20260915T230502.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-9-F1-canary-r2.md
  _bmad-output/验收单/UAT-CARD-G2-9-F1-canary-20260915.md
Due: none

docs(g2-9-f1-canary): r3 冻结态终审 prompt [BATCH-2026-09-11-第十四批 / CARD-G2-9-F1-canary]
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-9-F1-canary-r3.md
Due: none

fix(mutkill): round-10 整改 1 HIGH(驳回) + 8 条 [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(t7a): 拿 PyYAML 与读 config 拆两个 try（r7 HIGH）[BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r6.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r7.md
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-r8-20260915T184803.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-r8-20260915T184803.txt
  _bmad-output/审查/evidence-harness-tree/skills-r8-20260915T184803.txt
  _bmad-output/审查/evidence-harness-tree/verify-kills-r8-20260915T184803.txt
  _bmad-output/审查/evidence-harness-tree/verify-new-gates-kill-mutants-20260915.py
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r7.md
  _bmad-output/验收单/UAT-CARD-HARNESS-TREE-PARSE-REDO-2026-09-14.md
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

fix(t5-b): 按 Codex r7 收四条 LOW + 补清理回执断言 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

fix(mutkill): round-11 逐条正则按套写 [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

feat(deploy): --hosts opencode 生成静态绑定件 [BATCH-2026-09-11-第十四批 / CARD-HOSTS-OPENCODE]
  .claude/skills/deploy-vault/SKILL.md
  backend/tests/unit/test_deploy_vault_sh.py
  backend/tests/unit/test_vault_install_manifest.py
  scripts/cls_forbidden_paths.py
  scripts/deploy-vault.sh
  scripts/vault-install-manifest.json
Due: python-lint

fix(t6-c): 收口 Codex r1 与内部对抗复核的阻断级/高危项 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-BOUND]
  backend/app/api/v1/endpoints/traces.py
  backend/app/core/failed_writes_constants.py
  backend/app/core/failure_counters.py
  backend/tests/unit/test_dead_letter_bounded_t6c.py
  backend/tests/unit/test_traces_backlog_t6c.py
Due: spec-sync, python-lint

fix(mutkill): round-12 整改 1 HIGH + 2 MEDIUM [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(t7a): 判 safe_load 在不在 + 补组合格（r8 五条）[BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r7.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r8.md
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-r9-20260916T002455.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-r9-20260916T002455.txt
  _bmad-output/审查/evidence-harness-tree/skills-r9-20260916T002455.txt
  _bmad-output/审查/evidence-harness-tree/verify-kills-r9-20260916T002455.txt
  _bmad-output/审查/evidence-harness-tree/verify-new-gates-kill-mutants-20260915.py
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r8.md
  _bmad-output/验收单/UAT-CARD-HARNESS-TREE-PARSE-REDO-2026-09-14.md
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

docs(mutkill): 钉住「只看更靠后」的完备性前提 [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/mutation_kill_identity.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

test(t5-b): 按 Codex r8 收三条 LOW——失败消息措辞 + 行号引用改符号名 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: python-lint

fix(g6-9c-r2): 名字长度改和式 512 + 三处失实注释 [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  _bmad-output/审查/evidence-g69cr2/scripts/negctl.py
  backend/app/core/display_tz.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/local_tz.py
Due: python-lint

test(t5-b): 按 Codex r9 收最后一条 LOW + 回执断言排除 bool [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: python-lint

fix(mutkill): round-13 整改 1 HIGH + 1 MEDIUM [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(deploy): r1 整改 — 祖先软链与发布窗口两处堵死, MCP 端点补全 [BATCH-2026-09-11-第十四批 / CARD-HOSTS-OPENCODE]
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

test(mutkill): 钉住位置行交叉核的截断安全性 [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

test(t5-b): 按 Codex r10 收残余措辞 + 门数枚举笔误 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: python-lint

fix(t7a): open 与 parse 拆作用域 + PyYAML 自证（r9）[BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r8.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r9.md
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-r10-20260916T011528.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-r10-20260916T011528.txt
  _bmad-output/审查/evidence-harness-tree/skills-r10-20260916T011528.txt
  _bmad-output/审查/evidence-harness-tree/verify-kills-r10-20260916T011528.txt
  _bmad-output/审查/evidence-harness-tree/verify-new-gates-kill-mutants-20260915.py
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r9.md
  _bmad-output/验收单/UAT-CARD-HARNESS-TREE-PARSE-REDO-2026-09-14.md
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

docs(t5-b): 入库 Codex r6-r11 存档+prompts+evidence [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  _bmad-output/审查/codex-review-CARD-T-EDGES-r10.md
  _bmad-output/审查/codex-review-CARD-T-EDGES-r11.md
  _bmad-output/审查/codex-review-CARD-T-EDGES-r6.md
  _bmad-output/审查/codex-review-CARD-T-EDGES-r7.md
  _bmad-output/审查/codex-review-CARD-T-EDGES-r8.md
  _bmad-output/审查/codex-review-CARD-T-EDGES-r9.md
  _bmad-output/审查/evidence-t-edges/allgates-selfbound-20260916T010314.txt
  _bmad-output/审查/evidence-t-edges/allgates-selfbound-20260916T010656.txt
  _bmad-output/审查/evidence-t-edges/allgates-selfbound-20260916T012207.txt
  _bmad-output/审查/evidence-t-edges/api-dir-20260915T183949.txt
  _bmad-output/审查/evidence-t-edges/closeout-r9-20260916T005225.txt
  _bmad-output/审查/evidence-t-edges/edges-consumers-20260915T183926.txt
  _bmad-output/审查/evidence-t-edges/edges-r6-allgates-20260915T120944.txt
  _bmad-output/审查/evidence-t-edges/edges-r7-allgates-20260915T183330.txt
  _bmad-output/审查/evidence-t-edges/edges-r8-allgates-20260915T234321.txt
  _bmad-output/审查/evidence-t-edges/edges-r9-allgates-20260916T003901.txt
  _bmad-output/审查/evidence-t-edges/fallback-200-falsegreen-20260915T120325.txt
  _bmad-output/审查/evidence-t-edges/lancedb-never-writes-probe-20260915T183820.txt
  _bmad-output/审查/evidence-t-edges/negctl-r6-newgates-20260915T120705.txt
  _bmad-output/审查/evidence-t-edges/negctl-r7-20260915T183450.txt
  _bmad-output/审查/evidence-t-edges/negctl-r8-20260915T234554.txt
  _bmad-output/审查/evidence-t-edges/negctl-r8-cleanup-20260915T235206.txt
  _bmad-output/审查/evidence-t-edges/unit-final-r8-20260916T001124.txt
  _bmad-output/审查/evidence-t-edges/unit-r6-20260915T182216.txt
  _bmad-output/审查/evidence-t-edges/write-confirm-rowcount-probe-20260915T182121.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-T-EDGES-r10.md
  _bmad-output/审查/prompts/codex-prompt-CARD-T-EDGES-r11.md
  _bmad-output/审查/prompts/codex-prompt-CARD-T-EDGES-r6.md
  _bmad-output/审查/prompts/codex-prompt-CARD-T-EDGES-r7.md
  _bmad-output/审查/prompts/codex-prompt-CARD-T-EDGES-r8.md
  _bmad-output/审查/prompts/codex-prompt-CARD-T-EDGES-r9.md
  _bmad-output/验收单/UAT-CARD-T-EDGES-2026-09-14.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
