Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

chore(auto-sync): 1 files, pack-core-loop.py
  .gdr/pack-core-loop.py
Due: none

chore(auto-sync): 1 files, append-instruction.py
  .gdr/append-instruction.py
Due: none

feat(story-2.4): callout 自动同步 — p0 三件套 + plan-b phase 1-4
  backend/app/api/v1/endpoints/tips.py
  backend/app/core/memory_format.py
  backend/app/graphiti/entity_types.py
  backend/app/graphiti/group_id_compat.py
  backend/app/services/episode_worker.py
  backend/app/services/memory_service.py
  backend/app/services/question_generator.py
  docker-compose.yml
  frontend/obsidian-plugin/src/callout-sync.ts
  frontend/obsidian-plugin/src/callout.ts
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

docs(story-2.4): plan-b uat v2.0 验收单 + chatgpt 第二意见报告
  _bmad-output/research/2026-05-13-chatgpt-dr-response-core-loop-second-opinion.md
  _bmad-output/验收单/Story-P0-callout-backend-sync.md
Due: none

chore(research-pack): plan-b 对抗审查 pack — 4-agent + chatgpt 投喂
  .gdr/pack-plan-b-review.py
  .gdr/plan-b-agent-summary.md
  .gdr/plan-b-chatgpt-instruction.md
Due: none

refactor(story-2.4): plan-b → plan-a 回退 — 4 方对抗审查共识决策
  backend/app/api/v1/endpoints/tips.py
  backend/app/services/learning_context_service.py
  frontend/obsidian-plugin/src/callout.ts
  frontend/obsidian-plugin/src/frontmatter-tips-sync.ts
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

docs(story-2.4): plan-b postmortem + uat v3.0 plan-a 验收单
  _bmad-output/research/2026-05-14-plan-b-postmortem.md
  _bmad-output/验收单/Story-P0-callout-backend-sync.md
Due: none

fix(story-2.4): callout parser 严格协议 — 双 telltale 排除模板 hint
  frontend/obsidian-plugin/src/callout.ts
Due: none

chore(sprint-status): mark story 2.4 done + dev agent record fill
  _bmad-output/implementation-artifacts/epic-2/2-4-callout-annotation-tips.md
Due: none

chore(sprint-status): story 2.4 callout-annotation-tips mark done
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(mvp-alpha): 并行开发协调文档 — 3 session 工种切分 + 启动 prompt
  _bmad-output/research/2026-05-14-mvp-alpha-parallel-dev-plan.md
Due: none

feat(mvp-alpha): plugin α-5 status bar + α-3 quick exam UI (Session B)
  _bmad-output/_status/mvp-alpha-broadcast-session-b.yaml
  frontend/obsidian-plugin/package.json
  frontend/obsidian-plugin/src/exam-quick.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/src/status-bar.ts
  frontend/obsidian-plugin/tests/exam-quick.test.ts
  frontend/obsidian-plugin/tests/status-bar.test.ts
Due: none

fix(mvp-alpha): quick-exam 快捷键 cmd+shift+e → cmd+shift+q (用户批注修复)
  _bmad-output/research/2026-05-14-mvp-alpha-parallel-dev-plan.md
  _bmad-output/验收单/Story-MVP-α-end-to-end-learning-loop.md
  canvas-vault/.claude/skills/exam-quick/SKILL.md
Due: none

docs(mvp-alpha): uat v1.0 → v1.1 加起跑前 30 秒 section (用户批注闭环)
  _bmad-output/验收单/Story-MVP-α-end-to-end-learning-loop.md
Due: none

fix(mvp-alpha): lucene escape + typeerror catch — graphiti fallback
  backend/app/services/learning_context_service.py
  backend/app/services/memory_service.py
Due: python-lint

fix(plugin): restore canvassettingtab — 5 个 setting field + vault status 状态卡
  frontend/obsidian-plugin/src/main.ts
Due: none

docs(audit): chatgpt graphiti deep research + sprint 2 决策清单
  .gdr/chatgpt-prompt-graphiti-起手.md
  _bmad-output/审查/2026-05-26-adversarial-review-C-用户体验断层.md
  _bmad-output/审查/2026-05-26-adversarial-review-D-MVP-scope膨胀.md
  _bmad-output/审查/2026-05-26-adversarial-review-E-实施可行性.md
  _bmad-output/审查/2026-05-26-chatgpt-graphiti-deep-research-报告.md
  _bmad-output/审查/2026-05-26-graphiti-sprint-2-决策清单.md
  _bmad-output/审查/2026-05-26-graphiti-设计审计-任务书-给-ChatGPT.md
  _bmad-output/审查/2026-05-26-开发计划报告-Obsidian-Hybrid-方向审计.md
  _decisions/CURRENT_TASK.md
Due: none

docs(epic-5-graphiti-era): bmad 体系重构 + chatgpt 5 必修 5 spec
  .gdr/chatgpt-prompt-bmad-体系审查-起手.md
  _bmad-output/implementation-artifacts/epic-5-graphiti-era/5-ge-1-canvas-graph-episode-v1.md
  _bmad-output/implementation-artifacts/epic-5-graphiti-era/5-ge-2-belief-key-version-chain.md
  _bmad-output/implementation-artifacts/epic-5-graphiti-era/5-ge-3-query-time-flush.md
  _bmad-output/implementation-artifacts/epic-5-graphiti-era/5-ge-4-relationship-sync-production.md
  _bmad-output/implementation-artifacts/epic-5-graphiti-era/5-ge-5-graphiti-relation-service-facade.md
  _bmad-output/implementation-artifacts/epic-5-graphiti-era/README.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/审查/2026-05-26-bmad-spec-体系全图诊断.md
  _bmad-output/审查/2026-05-26-bmad-体系级审查-任务书-给-ChatGPT.md
  _decisions/CURRENT_TASK.md
Due: none

refactor(bmad-system): chatgpt 体系审查落地 — epic 改名 + 17 归档 + 3 契约
  _bmad-output/.claude/CLAUDE.md
  _bmad-output/implementation-artifacts/archive/README.md
  _bmad-output/implementation-artifacts/archive/epic-1__1-10-health-endpoint-unification.md
  _bmad-output/implementation-artifacts/archive/epic-1__1-12-mcp-infra-tools-deployment-tier.md
  _bmad-output/implementation-artifacts/archive/epic-1__1-13-deployment-checklist-external-net.md
  _bmad-output/implementation-artifacts/archive/epic-2__2-2-supplementary-material-search.md
  _bmad-output/implementation-artifacts/archive/epic-2__2-9-rag-rerank-and-evidence.md
  _bmad-output/implementation-artifacts/archive/epic-4__4-3-triple-fusion-question-gen.md
  _bmad-output/implementation-artifacts/archive/epic-4__4-9-calibration-vote-data-sync.md
  _bmad-output/implementation-artifacts/archive/epic-5__5-6-calibration-data-voting.md
  _bmad-output/implementation-artifacts/archive/epic-5__5-7-three-layer-memory-retrieval.md
  _bmad-output/implementation-artifacts/archive/epic-5__5-8-async-write-hot-warm-cold.md
  _bmad-output/implementation-artifacts/archive/epic-6__6-1-edge-discussion-trigger.md
  _bmad-output/implementation-artifacts/archive/epic-6__6-2-ei-se-dual-strategy.md
  _bmad-output/implementation-artifacts/archive/epic-6__6-3-semantic-label-storage.md
  _bmad-output/implementation-artifacts/archive/epic-8__8-3-metacognition-calibration-matrix.md
  _bmad-output/implementation-artifacts/archive/epic-8__8-7-audit-log.md
  _bmad-output/implementation-artifacts/archive/epic-9__9-1-image-exam-material.md
  _bmad-output/implementation-artifacts/archive/epic-9__9-2-phase3-enhancements.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-1-canvas-graph-episode-v1.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-2-belief-key-version-chain.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-3-query-time-flush.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-4-relationship-sync-production.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-5-graphiti-relation-service-facade.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/README.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/审查/2026-05-26-chatgpt-bmad-体系审查-报告.md
  _decisions/CURRENT_TASK.md
Due: none

docs(audit): 两白板生产力审查任务书 + spec 体系全景 + 打包
  .gdr/_external/epics-两白板章节.md
  .gdr/_external/prd-两白板灵魂章节.md
  .gdr/chatgpt-prompt-两白板生产力-起手.md
  _bmad-output/审查/2026-05-27-spec体系全景-我开发什么.md
  _bmad-output/审查/2026-05-27-两白板生产力审查-任务书-给-ChatGPT.md
Due: none

docs(audit): 原白板+检验白板双功能进度全景 + 设计审查任务书 (workflow 深化版)
  .gdr/_external/anchor-prd-whiteboard-sections.md
  _bmad-output/审查/2026-05-27-原白板检验白板-设计审查-任务书.md
  _bmad-output/审查/2026-05-27-原白板检验白板-进度全景.md
Due: none

docs(audit): chatgpt 白板设计审查 + 双审查收敛 Sprint 2 执行计划
  _bmad-output/审查/2026-05-27-chatgpt-白板设计审查-报告.md
  _bmad-output/审查/2026-05-27-双审查收敛-Sprint2-执行计划.md
Due: none

fix(epic-6): V-10 评分对象漂移修复 — score_answer 回读真实题面
  backend/app/mcp/tools/exam_tools.py
  backend/app/services/question_registry.py
  backend/tests/unit/test_question_registry.py
Due: python-lint

docs(sprint-2): S2-1 V-10 修复规划记录 + BMAD 追踪 (代码已 commit main bb00ed5)
  _bmad-output/implementation-artifacts/epic-4/LITE-4-3.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

docs(sprint-2): S2-2 新 session 启动包 + CURRENT_TASK 接续锚点 (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/审查/2026-06-01-新session启动包-S2-2.md
  _decisions/CURRENT_TASK.md
Due: none

fix(backend): 恢复未提交 backend 批次 P0-1~P0-7 + Story 2.5/2.1 (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/api/v1/endpoints/tips.py
  backend/app/core/memory_format.py
  backend/app/graphiti/entity_types.py
  backend/app/graphiti/group_id_compat.py
  backend/app/main.py
  backend/app/services/episode_worker.py
  backend/app/services/error_classifier.py
  backend/app/services/learning_context_service.py
  backend/app/services/memory_service.py
  backend/app/services/question_generator.py
  backend/tests/unit/test_error_classification_mapping.py
  backend/tests/unit/test_s02_entity_types.py
Due: spec-sync, python-lint

feat(graphiti): S2-2 belief 时序版本链 + 统一 episode schema (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/graphiti/canvas_episode.py
  backend/app/graphiti/narrative_builder.py
  backend/app/services/episode_worker.py
  backend/app/services/graphiti_belief_service.py
  backend/tests/unit/test_belief_version_chain.py
  backend/tests/unit/test_canvas_episode_v1.py
Due: python-lint

docs(s2-2): belief 时序链 spec 追踪 + 验收单 (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-1-canvas-graph-episode-v1.md
  _bmad-output/implementation-artifacts/epic-5a-graphiti-runtime/5-ge-2-belief-key-version-chain.md
  _bmad-output/验收单/Story-S2-2-graphiti-belief-spine.md
Due: none

test(exam-chain): 端到端验证 harness — 批注/节点+原因→针对性考察主链 (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/scripts/verify_targeted_exam_chain.py
Due: python-lint

fix(memory): Fix-D 同步直写 node_id-keyed EpisodicNode 打通针对性考察主链 (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/services/memory_service.py
  backend/tests/unit/test_fix_d_exam_queryable_episode.py
Due: python-lint

feat(kg): Fix-E1 节点 frontmatter relationships 同步成 CANVAS_EDGE 原因边
  backend/app/main.py
  backend/app/services/node_relationship_sync_service.py
  backend/scripts/verify_targeted_exam_chain.py
  backend/tests/unit/test_fix_e1_node_relationship_sync.py
Due: python-lint

docs(s2-2): 主链 hands-on 验收单 + GAP-D/E 诊断与 Fix 落地记录
  _bmad-output/研究/2026-06-03-S2-2批注重塑认知-下一步开发计划.md
  _bmad-output/验收单/Story-S2-2-主链-批注节点原因-handson.md
Due: none

test(s02): 修陈旧用例 name→concept_name 跟随 P0-4 改名
  backend/tests/unit/test_s02_entity_types.py
Due: python-lint

feat(graphiti): Phase 0 身份层 identity_registry — node_id↔entity_uuid 单一真相源
  backend/app/graphiti/identity_registry.py
  backend/tests/unit/test_identity_registry.py
Due: python-lint

feat(graphiti): Phase 1 结构化写入适配器 — 显式标注确定性写 :Entity/RELATES_TO
  backend/app/services/graphiti_structured_writer.py
  backend/tests/unit/test_graphiti_structured_writer.py
Due: python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
