Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

feat(mem-batch3): 反馈闭环 — P14蒸馏候选+dispute三件套+calibration消费+事件日志 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/endpoints/errors.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/services/conversation_distiller.py
  backend/app/services/learning_event_log.py
  backend/app/services/targeting_material_service.py
  backend/tests/regression/test_learning_event_log.py
  backend/tests/regression/test_targeting_material_isolation.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
Due: spec-sync, python-lint

feat(mem-batch4): 拆分补强与中文 — CJK+检索束+快照随边+幽灵边对账 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/app/core/term_aliases.py
  backend/app/services/canvas_projection_sync.py
  backend/app/services/memory_service.py
  backend/app/services/targeting_material_service.py
  backend/scripts/rebuild_fulltext_cjk.cypher
  backend/tests/regression/test_targeting_material_isolation.py
  backend/tests/regression/test_term_aliases.py
  canvas-vault/.claude/skills/ai-linked-doc/SKILL.md
Due: python-lint

docs(mem-flywheel): 全计划 UAT 验收单 ship — 7 段结构+4B 零技术词 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/验收单/Story-MEM-FLYWHEEL-记忆飞轮全计划-UAT.md
Due: none

docs(mem-flywheel): UAT v2 — 回应用户批注: 整板vs定向考察的升级覆盖说明 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/验收单/Story-MEM-FLYWHEEL-记忆飞轮全计划-UAT.md
Due: none

fix(mem-batch4): plugin 派生路径补快照+事件 — UAT 实操抓到的断点 (MEM-FLYWHEEL-2026-07-22)
  frontend/obsidian-plugin/package.json
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/src/node-derivation.ts
  frontend/obsidian-plugin/tests/derivation-snapshot.test.ts
Due: none

docs(mem-flywheel): Graphiti 燃料策略 deep research 包 — 批注入图+规模化 Q1-Q7 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/审查/2026-07-23-graphiti燃料策略-deep-research-任务书-给ChatGPT.md
  _bmad-output/审查/graphiti-fuel-strategy_pack_2026-07-23.md
Due: none

docs(mem-flywheel): ChatGPT 燃料策略逐条对账 — 批注过滤直连方案+批次5'草案 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/研究/2026-07-23-ChatGPT燃料策略对账-批注直连方案.md
Due: none

docs(mem-flywheel): 全轮设计终验对抗审查包 — 七大设计决策证伪任务书 Q1-Q8 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/审查/2026-07-24-记忆系统设计终验-对抗审查任务书-给ChatGPT.md
  _bmad-output/审查/memory-system-design-review_pack_2026-07-24.md
Due: none

fix(mem-flywheel): 终验审查红旗 — 3处NameError静默失败+F821防线 (MEM-FLYWHEEL-2026-07-22)
  backend/app/api/v1/endpoints/intelligent_parallel.py
  backend/app/mcp/tools/memory_tools.py
  backend/app/services/memory_service.py
  backend/ruff.toml
Due: spec-sync, python-lint

fix(mem-flywheel): 幽灵边误失效保护 + 终验七裁决对账 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/研究/2026-07-24-ChatGPT终验对账-红旗修复与七裁决.md
  backend/app/services/canvas_projection_sync.py
  backend/tests/regression/test_projection_sync_ghost_edges.py
Due: python-lint

feat(mem-batch5): 批注过滤直连管道 — 打批注1分钟可检索 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/app/api/v1/endpoints/tips.py
  backend/app/services/episode_worker.py
  backend/app/services/learning_event_log.py
  backend/app/services/memory_service.py
  backend/tests/regression/test_callout_direct.py
  frontend/obsidian-plugin/src/frontmatter-tips-sync.ts
  frontend/obsidian-plugin/src/main.ts
  scripts/memory-health.sh
Due: spec-sync, python-lint

feat(mem-p1): 评测治理+dispute语义排除 — 冻结版本化/LLM-judge/模糊拦截 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/app/services/targeting_material_service.py
  backend/scripts/run_memory_retrieval_regression.py
  backend/tests/fixtures/regression_baselines/memory_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/memory_retrieval_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/memory_retrieval_last_run.json
  backend/tests/regression/memory_gold_set.yaml
  backend/tests/regression/memory_gold_set_shadow.yaml
  backend/tests/regression/test_targeting_material_isolation.py
Due: python-lint

docs(mem-flywheel): UAT v3 — 补批次5'批注直连⑧+P1 dispute强化+三轮审查修复 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/验收单/Story-MEM-FLYWHEEL-记忆飞轮全计划-UAT.md
Due: none

fix(mem-flywheel): 并行验证快修 — 0分归纳兜底+score量纲标注+历史对账 (MEM-FLYWHEEL-2026-07-22)
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: none

fix(mem-flywheel): 弃答词表 10→18 — 用户UAT提问补齐漏网词 (MEM-FLYWHEEL-2026-07-22)
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: none

fix(mem-flywheel): 回执模板补选点排序表+第N次考察 — UAT②展示层缺口 (MEM-FLYWHEEL-2026-07-22)
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
Due: none

fix(mem-flywheel): 封选点边界捷径 — 全新白板也必须跑排序表 (MEM-FLYWHEEL-2026-07-22)
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
Due: none

fix(mem-flywheel): 删 doc_mastery_avg 死字段 — 双真相源反模式 (MEM-FLYWHEEL-2026-07-22)
  frontend/obsidian-plugin/src/configure-whiteboard.ts
Due: none

test(mem-flywheel): 反转 doc_mastery_avg 模板断言 — 死字段已删 (MEM-FLYWHEEL-2026-07-22)
  frontend/obsidian-plugin/tests/configure-whiteboard.test.ts
Due: none

docs(mem-flywheel): UAT v4 — ⑥示例词修正(极小极大库内无内容→协方差,已代验0.86分命中) (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/验收单/Story-MEM-FLYWHEEL-记忆飞轮全计划-UAT.md
Due: none

fix(mem-flywheel): 行内选区批注插入换行包裹 — UAT⑧ 实操抓到的渲染碎裂 (MEM-FLYWHEEL-2026-07-22)
  frontend/obsidian-plugin/src/callout.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/tests/callout.test.ts
Due: none

docs(mem-flywheel): 🏁 全计划收官 — 用户UAT八条全勾批复通过 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/验收单/Story-MEM-FLYWHEEL-记忆飞轮全计划-UAT.md
  _decisions/CURRENT_TASK.md
Due: none

docs(review-push): 每日复习手机推送 MVP 方案定稿 — iPhone/Bark 拍板+新session开工手册 (DAILY-REVIEW-PUSH-2026-07-29)
  _bmad-output/研究/2026-07-29-每日复习手机推送-MVP方案.md
  _decisions/CURRENT_TASK.md
Due: none

feat(review-push): 每日复习手机推送 MVP 落地 — 终审吸收+审查修复 (DAILY-REVIEW-PUSH-2026-07-29)
  CURRENT_TASK.md
  _bmad-output/审查/2026-07-29-ChatGPT终审全文-每日复习推送+本地模型栈.md
  _bmad-output/审查/2026-07-29-ChatGPT终审吸收与代码验证.md
  _bmad-output/审查/2026-07-29-Code-Review-每日复习推送.md
  _bmad-output/审查/2026-07-29-每日复习推送+本地模型栈-审查请求-给-ChatGPT.md
  _bmad-output/审查/daily-review-push-and-local-llm_pack_2026-07-29.md
  _bmad-output/研究/2026-07-29-每日复习手机推送-MVP方案.md
  _bmad-output/验收单/Story-DAILY-REVIEW-PUSH-每日复习手机推送-mini-UAT.md
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/regression/test_decay_beta_convergence.py
  canvas-vault/.claude/scripts/decay_beta.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  scripts/daily-review-push.sh
  scripts/daily_review_pick.py
  scripts/daily_review_run.py
  scripts/launchd/com.canvas.daily-review.plist
  scripts/launchd/daily-review-wrapper.sh
  scripts/memory-health.sh
  scripts/send_bark.py
Due: python-lint

docs(fsrs-scope): FSRS v2 验收范围对抗性审查报告 — 4 并行 Agent deep explore (FSRS-V2-SCOPE-2026-07-29)
  _bmad-output/研究/2026-07-29-FSRS-v2-验收范围-对抗性审查报告.md
Due: none

feat(fsrs-v2): 真实到期调度上线 — WHEN/WHAT 双引擎 + 收口清算 Tier A (FSRS-V2-2026-07-30)
  CURRENT_TASK.md
  _bmad-output/审查/2026-07-30-Code-Review-FSRS-v2.md
  _bmad-output/研究/2026-07-30-FSRS-v2-D0-决策记录.md
  _bmad-output/验收单/Story-FSRS-V2-真实到期调度-mini-UAT.md
  backend/app/api/v1/endpoints/review.py
  backend/tests/e2e/test_review_fsrs_degradation.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/regression/test_fsrs_bridge.py
  backend/tests/test_dependencies.py
  backend/tests/test_routers.py
  canvas-vault/.claude/scripts/fsrs_bridge.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/Dashboard.md
  frontend/obsidian-plugin/src/main.ts
  scripts/daily_review_pick.py
  scripts/launchd/daily-review-wrapper.sh
Due: spec-sync, python-lint

fix(security): P0-0 端口收口 + P0-2 MCP 写侧隔离 — 局域网断路, 19→5 只读工具 (P0-SEC-2026-07-31)
  _bmad-output/审查/2026-07-30-全系统功能状态对抗性审查-三分类报告.md
  _bmad-output/审查/2026-07-31-ChatGPT第二轮对抗审查吸收与代码验证.md
  backend/app/mcp/server.py
  backend/tests/regression/test_mcp_quarantine.py
  canvas-vault/.claude/mcp.json
  docker-compose.yml
  docs/api-contracts-backend.md
Due: python-lint

fix(security): P0-3 去 global vault switch — 切换向量清零 + hook per-request vault (P0-SEC-2026-07-31)
  .claude/skills/deploy-vault/SKILL.md
  CURRENT_TASK.md
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/api/v1/endpoints/vault.py
  backend/tests/regression/test_p03_vault_isolation.py
  backend/tests/unit/test_vault_switch.py
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

docs(security): P0 落地进度表 + P0-6 恢复演练结果记录 (P0-SEC-2026-07-31)
  _bmad-output/审查/2026-07-31-ChatGPT第二轮对抗审查吸收与代码验证.md
Due: none

fix(launchd): plist 显式 /bin/bash 调用 — TCC FDA 责任归属修复 (P0-SEC-2026-08-01)
  scripts/launchd/com.canvas.daily-review.plist
Due: none

feat(review-push): 推送 vault 与 .env ACTIVE_VAULT 同源 — VAULT-SYNC (2026-08-02 用户拍板)
  scripts/daily_review_run.py
  scripts/launchd/daily-review-wrapper.sh
Due: none

feat(deploy): vault 一键部署落地 — install-vault.sh + /deploy-vault 翻新 (DEPLOY-VAULT-2026-08-02)
  .claude/skills/deploy-vault/SKILL.md
  scripts/install-vault.sh
Due: none

docs(rag-review): RAG 两轮 ChatGPT 对抗审查完整决策链归档 (RAG-REVIEW-2026-08-02)
  CURRENT_TASK.md
  _bmad-output/审查/2026-07-30-功能状态审查-ChatGPT对抗审查请求.md
  _bmad-output/审查/2026-08-02-ChatGPT-RAG三P0审查吸收与验证.md
  _bmad-output/审查/2026-08-02-ChatGPT-规模化结构检索终审-吸收与验证.md
  _bmad-output/审查/2026-08-02-RAG三P0修复-审查请求-给ChatGPT.md
  _bmad-output/审查/2026-08-02-RAG检索设计对抗性审查-三问三答.md
  _bmad-output/审查/2026-08-02-规模化结构检索-审查请求-给ChatGPT.md
  _bmad-output/审查/rag-p0_pack_2026-08-02.md
  _bmad-output/审查/rag-scale_pack_2026-08-02.md
  _bmad-output/研究/2026-08-02-RAG修复计划-用户审阅版.md
Due: none

feat(rag): 阶段 0 止血 — search_notes fast path 转正 + 诚实状态申报 (RAG-S0-2026-08-02)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S0-阶段0止血-mini-UAT.md
  backend/app/main.py
  backend/app/mcp/server.py
  backend/app/mcp/tools/note_search_tools.py
  backend/lib/agentic_rag/config.py
  backend/tests/regression/test_rag_stage0_contracts.py
  requirements.txt
Due: python-lint

feat(rag): 阶段 1 索引重写 — 统一原语 + durable pending + 双机制触发 (RAG-S1-2026-08-02)
  .gitignore
  CURRENT_TASK.md
  _bmad-output/研究/2026-08-02-RAG阶段1-索引重写实施计划.md
  _bmad-output/验收单/Story-RAG-S1-索引重写-mini-UAT.md
  backend/app/api/v1/endpoints/index.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/config.py
  backend/app/main.py
  backend/app/services/lancedb_index_service.py
  backend/app/services/vault_index_orchestrator.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/regression/test_rag_stage1_index_contracts.py
  requirements.txt
Due: spec-sync, python-lint

fix(rag): 观测层加固 — 假停摆误诊事后修正 (RAG-S1-OBS-2026-08-09)
  _bmad-output/研究/2026-08-08-批注回复-RAG检索逻辑与笔记来源.md
  _bmad-output/验收单/Story-RAG-S1-样本D修订版-索引层直测.md
  _bmad-output/验收单/Story-RAG-S1-索引重写-mini-UAT.md
  backend/app/services/vault_index_orchestrator.py
  backend/tests/regression/test_rag_stage1_index_contracts.py
Due: python-lint

docs(uat): 阶段 1 完整上手体验测试 v2 — 对抗审查后重制 (RAG-S1-UAT-2026-08-09)
  _bmad-output/验收单/Story-RAG-S1-完整上手体验测试-v2.md
Due: none

fix(mcp): SSE→streamable HTTP 迁移根治全线 -32602 (MCP-32602-2026-08-09)
  _bmad-output/验收单/Story-RAG-S1-完整上手体验测试-v2.md
  backend/app/mcp/server.py
  canvas-vault/.mcp.json
Due: python-lint

docs(uat): 阶段 1 用户完整 UAT 通过归档 + chunk 稀释靶子实证 (RAG-S1-UAT-PASS-2026-08-09)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S1-完整上手体验测试-v2.md
Due: none

feat(rag): 阶段 2 T1 — 60 条 vault 检索金集 + 三层评测门禁 + 开工基线 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  _bmad-output/研究/2026-08-09-RAG阶段2-强化fastpath实施计划.md
  backend/scripts/run_vault_retrieval_regression.py
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline.json
  backend/tests/regression/vault_gold_set.yaml
  backend/tests/regression/vault_gold_set_shadow.yaml
Due: python-lint
