Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

fix(mutkill): 还原 15 个地盘外脚本至基线 — 修正 01ac27d0 的越界格式化 [BATCH-2026-09-07-第十三批 / CARD-DEBT-mutkill-R2]
  _bmad-output/审查/evidence-mutkill-r2/lefthook-skip-python-lint-20260909T171349.txt
  _bmad-output/审查/evidence-mutkill-r2/readonly-after-scopefix-20260909T171315.txt
  _bmad-output/审查/evidence-mutkill-r2/scope-fix-20260909T171223.txt
  _bmad-output/审查/evidence-mutkill-r2/scope-fix-20260909T171246.txt
  backend/scripts/backfill_candidate_callouts.py
  backend/scripts/backfill_graphiti_structured.py
  backend/scripts/compare_l1_router_strategies.py
  backend/scripts/g41a_mutation_negative_controls.py
  backend/scripts/g41b_mutation_negative_controls.py
  backend/scripts/generate_regression_tests.py
  backend/scripts/graphiti_schema_canary.py
  backend/scripts/impact_map.py
  backend/scripts/migrate_group_ids.py
  backend/scripts/migrate_neo4j_data.py
  backend/scripts/quarantine_test_pollution.py
  backend/scripts/run_prompt_regression.py
  backend/scripts/verify_embedder.py
  backend/scripts/verify_graphiti_native_chain.py
  backend/scripts/verify_targeted_exam_chain.py
Due: python-lint

docs(mutkill): 验收单登记地盘越界及修正 + 绑定口径分叉如实陈述 [BATCH-2026-09-07-第十三批 / CARD-DEBT-mutkill-R2]
  _bmad-output/审查/evidence-mutkill-r2/tests-after-scopefix-20260909T171505.txt
  _bmad-output/验收单/UAT-CARD-DEBT-mutkill-R2-2026-09-08.md
Due: none

test(red-c2): Codex round-7 整改 — 判据由枚举式换成结构性 [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

test(skills): 按 Codex r21 整改 — 重赋值的写入目标与作用域 + shell 掩码统一 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r21.md
  _bmad-output/审查/evidence-skill-lint/r22-judges-20260909T172658.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r21.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

fix(review): Codex round-1 整改 — 四条健壮性缺陷 + busy 键 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/codex-review-CARD-G6-6.md
  _bmad-output/审查/evidence-g66/grep-gates-r2-20260909T172657.txt
  _bmad-output/审查/evidence-g66/judges-r2-20260909T172301.txt
  _bmad-output/审查/evidence-g66/judges-r2-tests-20260909T172322.txt
  _bmad-output/审查/evidence-g66/mutation-r1-fixes-20260909T172215.txt
  _bmad-output/审查/evidence-g66/unit-closing-diff-r2-20260909T172744.txt
  _bmad-output/审查/evidence-g66/unit-closing-r2-20260909T172255.txt
  _bmad-output/验收单/UAT-CARD-G6-6-2026-09-09.md
  backend/app/api/v1/endpoints/review_app.py
  backend/app/api/v1/endpoints/review_overview.py
  backend/openapi.json
  backend/tests/regression/test_daily_review_run.py
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_run.py
Due: spec-sync, python-lint

fix(deploy-vault): Codex r4 4B+2H — 四处同型回归 + 三个新面 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/codex-review-CARD-G2-7b-r4.md
  _bmad-output/审查/evidence-g27b/dir-red-diff-r4fix.txt
  _bmad-output/审查/evidence-g27b/dir-red-nodeids-r4fix.txt
  _bmad-output/审查/evidence-g27b/dir-red-raw-r4fix-20260909T170437.txt
  _bmad-output/审查/evidence-g27b/dir-red-raw-r4fix-20260909T170949.txt
  _bmad-output/审查/evidence-g27b/dir-red-raw-r4fix-final-20260909T171851.txt
  _bmad-output/审查/evidence-g27b/dir-red-raw-r4fix-final2-20260909T172453.txt
  _bmad-output/审查/evidence-g27b/mutation-r4-20260909T171918.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r4.md
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/cls_forbidden_paths.py
  scripts/deploy-vault.sh
Due: python-lint

docs(mutkill): 还原后 tests/unit 实测 + 误调用 pyc 事件如实登记 [BATCH-2026-09-07-第十三批 / CARD-DEBT-mutkill-R2]
  _bmad-output/审查/evidence-mutkill-r2/marker-after-scopefix-20260909T171926.txt
  _bmad-output/审查/evidence-mutkill-r2/pyc-misinvocation-20260909T173007.txt
  _bmad-output/审查/evidence-mutkill-r2/unit-after-scopefix-20260909T171859.txt
  _bmad-output/审查/evidence-mutkill-r2/unit-after-scopefix-v2-20260909T172442.txt
  _bmad-output/验收单/UAT-CARD-DEBT-mutkill-R2-2026-09-08.md
Due: none

docs(g2-7b): round-5 prompt 绑 6b9ef8ce [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r5.md
Due: none

docs(red-c2): §十二 round-7 记录 + 一次未复现的 > 行归属核查 [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  _bmad-output/审查/codex-review-CARD-RED-C2-r7.md
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T172121.txt
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T172714.txt
  _bmad-output/审查/evidence-red-c2/c2-verdicts.md
  _bmad-output/审查/evidence-red-c2/files-23-20260909T173249.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T173249.txt
  _bmad-output/审查/evidence-red-c2/flake-20260909T172121-candidate-service.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T173331.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T172121.bare.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T172714.bare.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r7-20260909T171917.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r7-committed-20260909T172100.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T172121.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T172714.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T172121.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T172714.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T172121.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T172714.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T172121.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T172714.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r7.md
  _bmad-output/验收单/UAT-CARD-RED-C2-2026-09-09.md
Due: none

docs(g2-7b): round-5 未能取得 — Codex 配额耗尽，按协议转人审 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/codex-review-CARD-G2-7b-r5.md
  _bmad-output/审查/evidence-g27b/round5-quota-exhausted-20260909T173700.txt
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
Due: none

test(red-c2): 送 round-8 前自测补两个缺口（双引号字面量 / SKIP 子句）[BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

test(red-c2): 自测再补三处（子句右边界 / B 层用子集 / $limit 里的 limit）[BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

docs(g2-7a): 第二次车道复验 @ U3-C r4 后 — 6/6 裁判绿 [BATCH-2026-09-07-第十三批 / CARD-G2-7a]
  _bmad-output/审查/evidence-g27a/judge1-recheck-20260909T174133.txt
  _bmad-output/审查/evidence-g27a/rv2-h-live-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/rv2-h-tree-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/rv2-judge4-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/rv2-live-sha-after-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/rv2-live-sha-before-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/rv2-wtenv-sha-after-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/rv2-wtenv-sha-before-20260909T174241.txt
  _bmad-output/审查/evidence-g27a/verify-self-recheck-20260909T174020.txt
  _bmad-output/验收单/UAT-CARD-G2-7a-2026-09-08.md
Due: none

test(red-c2): round-8 整改 — 修两处误报 + 子查询边界；S1 前提被证伪，降级为启发式 [第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

test(skills): 按 Codex r22 整改 — 重赋值判据改绑「执行区 × 绑定 × 可达执行关系」 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r22-retry.md
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r22.md
  _bmad-output/审查/evidence-skill-lint/r23-judges-20260909T174051.txt
  _bmad-output/审查/evidence-skill-lint/r23-judges-20260909T180244.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r22.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

test(red-c2): round-9 有限收尾 — 花括号深度边界 + FOREACH + 统一被证伪的文案 [第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

fix(review): 自查两条 + Codex round-2 三条 LOW 整改 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/codex-review-CARD-G6-6-r2-p2.md
  _bmad-output/审查/codex-review-CARD-G6-6-r2.md
  _bmad-output/审查/codex-review-CARD-G6-6.md
  _bmad-output/审查/evidence-g66/dst-gate-capability-20260909T173846.txt
  _bmad-output/审查/evidence-g66/final-surface-20260909T174056.txt
  _bmad-output/审查/evidence-g66/grep-gates-final-20260909T180617.txt
  _bmad-output/审查/evidence-g66/judges-final-20260909T180715.txt
  _bmad-output/审查/evidence-g66/mutation-r2-fixes.txt
  _bmad-output/审查/evidence-g66/unit-closing-diff-final-20260909T174944.txt
  _bmad-output/审查/evidence-g66/unit-closing-diff-r4-20260909T180654.txt
  _bmad-output/审查/evidence-g66/unit-closing-final-20260909T174320.txt
  _bmad-output/审查/evidence-g66/unit-closing-r3-20260909T173836.txt
  _bmad-output/审查/evidence-g66/unit-closing-r4-20260909T180220.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-6-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-6-r3.md
  _bmad-output/验收单/UAT-CARD-G6-6-2026-09-09.md
  backend/app/api/v1/endpoints/review_app.py
  backend/app/api/v1/endpoints/review_overview.py
  backend/openapi.json
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
Due: spec-sync, python-lint

docs(red-c2): §十三/§十四 + D-15 达成记录 + 裁判绑定终态 32f392ef [第十三批 / CARD-RED-C2]
  _bmad-output/审查/codex-review-CARD-RED-C2-r8.md
  _bmad-output/审查/codex-review-CARD-RED-C2-r9.md
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T174558.txt
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T180740.txt
  _bmad-output/审查/evidence-red-c2/c2-verdicts.md
  _bmad-output/审查/evidence-red-c2/files-23-20260909T174516.txt
  _bmad-output/审查/evidence-red-c2/files-23-20260909T181231.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T174516.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T181231.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T175118.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T181312.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T174558.bare.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T180740.bare.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r8pre-20260909T173958.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r8pre-20260909T174241.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r8pre-committed-20260909T174405.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r9-20260909T175828.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T174558.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T180740.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T174558.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T180740.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T174558.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T180740.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T174558.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T180740.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r8.md
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r9.md
  _bmad-output/验收单/UAT-CARD-RED-C2-2026-09-09.md
Due: none

docs(g2-7b): round-5 取得 4B/3H — 配额已恢复，更正转人审裁定 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/codex-review-CARD-G2-7b-r5.md
  _bmad-output/审查/evidence-g27b/round5-exposure-bounds-20260909T180500.txt
  _bmad-output/审查/evidence-g27b/round5-forbidden-surface-recon-20260909T181500.txt
  _bmad-output/审查/evidence-g27b/round5-quota-exhausted-20260909T173700.txt
  _bmad-output/审查/evidence-g27b/round5-quota-restored-20260909T175631.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r5.md
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
Due: none

docs(review): Codex round-3 两条 LOW — 更正 Nuuk 注释 + 登记键碰撞边界 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/codex-review-CARD-G6-6-r3.md
  _bmad-output/审查/evidence-g66/judges-r3-20260909T182156.txt
  _bmad-output/验收单/UAT-CARD-G6-6-2026-09-09.md
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
Due: python-lint

docs(review): 「本轮只改注释」的四版判据证明 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/evidence-g66/comment-only-proof-20260909T182531.txt
  _bmad-output/审查/evidence-g66/comment-only-proof-20260909T182626.txt
  _bmad-output/审查/evidence-g66/comment-only-proof-20260909T182724.txt
  _bmad-output/审查/evidence-g66/comment-only-proof-final-20260909T182818.txt
  _bmad-output/审查/evidence-g66/verify_comment_only.py
  _bmad-output/审查/evidence-g66/verify_docstring_only.py
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-6-r4.md
Due: none

test(skills): 按 Codex r23 整改 — 翻转判据默认方向：证明不了安全就登记 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r23.md
  _bmad-output/审查/evidence-skill-lint/r24-judges-20260909T183018.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r23.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

docs(review): Codex round-4 两条 LOW — 更正键碰撞理由 + 补漏改注释 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/codex-review-CARD-G6-6-r4.md
  _bmad-output/审查/evidence-g66/comment-only-proof-r4-20260909T183936.txt
  _bmad-output/审查/evidence-g66/judges-r4-20260909T183804.txt
  _bmad-output/验收单/UAT-CARD-G6-6-2026-09-09.md
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
Due: python-lint

docs(review): round-5 prompt + 同步自述数 5→6 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-6-r5.md
Due: none

fix(tests): Codex r1 整改 — 三处把推断当事实的表述改正 + 补更强负控 [BATCH-2026-09-07-第十三批 / CARD-RED-A1-sentinel]
  _bmad-output/审查/codex-review-CARD-RED-A1-sentinel.md
  _bmad-output/审查/evidence-red-a1-sentinel/api-r1fix-20260909T183634.txt
  _bmad-output/审查/evidence-red-a1-sentinel/commit-20260909T182237.txt
  _bmad-output/审查/evidence-red-a1-sentinel/five-r1fix-order-a-20260909T183634.txt
  _bmad-output/审查/evidence-red-a1-sentinel/five-r1fix-order-b-20260909T183634.txt
  _bmad-output/审查/evidence-red-a1-sentinel/red-diff-r1fix-20260909T183634.txt
  _bmad-output/审查/evidence-red-a1-sentinel/red-r1fix-20260909T183634.txt
  _bmad-output/审查/evidence-red-a1-sentinel/ruff-format-hunk-multiset-20260909T183436.txt
  _bmad-output/审查/evidence-red-a1-sentinel/scope-postcommit-20260909T182304.txt
  _bmad-output/审查/evidence-red-a1-sentinel/status-conformance-v2-20260909T183601.txt
  _bmad-output/审查/evidence-red-a1-sentinel/status_conformance_probe.py
  _bmad-output/审查/evidence-red-a1-sentinel/unit-r1fix-20260909T183634.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-A1-sentinel.md
  _bmad-output/验收单/UAT-CARD-RED-A1-sentinel-2026-09-09.md
  backend/app/api/v1/system.py
  backend/openapi.json
  backend/tests/unit/test_mock_degradation_transparency.py
  backend/tests/unit/test_review_mode_support.py
Due: spec-sync, python-lint

docs(uat): Codex r2 整改 — 把正文里被推翻的三处说法一起改掉 + 探针还原自证加固 [BATCH-2026-09-07-第十三批 / CARD-RED-A1-sentinel]
  _bmad-output/审查/codex-review-CARD-RED-A1-sentinel-r2.md
  _bmad-output/审查/codex-review-CARD-RED-A1-sentinel.md
  _bmad-output/审查/evidence-red-a1-sentinel/commit-r1fix-20260909T184425.txt
  _bmad-output/审查/evidence-red-a1-sentinel/status-conformance-v3-20260909T185502.txt
  _bmad-output/审查/evidence-red-a1-sentinel/status_conformance_probe.py
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-A1-sentinel-r2.md
  _bmad-output/验收单/UAT-CARD-RED-A1-sentinel-2026-09-09.md
Due: none

test(skills): 按 Codex r24 整改 — 必经性/绑定归属/heredoc fd 归属 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r24.md
  _bmad-output/审查/evidence-skill-lint/r25-judges-20260909T185527.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r24.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

docs(uat): 收官状态段 + 收官地盘门存档 [BATCH-2026-09-07-第十三批 / CARD-RED-A1-sentinel]
  _bmad-output/审查/evidence-red-a1-sentinel/scope-final-20260909T185752.txt
  _bmad-output/验收单/UAT-CARD-RED-A1-sentinel-2026-09-09.md
Due: none

fix(review): Codex round-5 LOW-1 — 换 snoozeKey 键编码, 与完成键值域不相交 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/codex-review-CARD-G6-6-r5.md
  _bmad-output/审查/evidence-g66/judges-r5-20260909T185706.txt
  _bmad-output/审查/evidence-g66/key-collision-exhaustive-20260909T185220.txt
  _bmad-output/审查/evidence-g66/mutation-r5-keyfix-20260909T185521.txt
  _bmad-output/审查/evidence-g66/unit-closing-diff-final2-20260909T190036.txt
  _bmad-output/审查/evidence-g66/unit-closing-final2-20260909T185605.txt
  _bmad-output/审查/evidence-g66/unit-closing-final3-20260909T190151.txt
  _bmad-output/审查/evidence-g66/unit-flaky-attribution-20260909T190608.txt
  _bmad-output/验收单/UAT-CARD-G6-6-2026-09-09.md
  backend/app/api/v1/endpoints/review_app.py
  backend/openapi.json
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

docs(review): 收官核对存档 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/evidence-g66/final-close-20260909T190715.txt
Due: none

test(skills): 按 Codex r25 整改 — 修四条自引回归 + 裸提前离开 + 反射写入名单 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r25.md
  _bmad-output/审查/evidence-skill-lint/r26-judges-20260909T191227.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r25.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

test(skills): 按 Codex r26 整改 — heredoc 判别换引号 + 反射识别两侧同时校准 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r26.md
  _bmad-output/审查/evidence-skill-lint/r27-judges-20260909T193150.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r26.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

docs(review): 建立逐 commit 对照自检脚本 —— 把 Codex 替我做的事收进流程 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-skill-lint/self-regression-diff.py
Due: none

docs(audit): 韧性审计补跑完成 — 对抗轮推翻多条结论，据此改写 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-resilience-audit/AUDIT-neo4j-offline-resilience-2026-09-08.md
  _bmad-output/审查/evidence-resilience-audit/VERDICT-merged-2026-09-09.md
  _bmad-output/审查/evidence-resilience-audit/raw-round4-results.json
Due: none

test(unit): 3 条真负控改撞鉴权层 Branch 1 + 判据绑层身份 [BATCH-2026-09-07-第十三批 / CARD-RED-A2]
  backend/tests/unit/test_sync_batch_auth.py
  backend/tests/unit/test_system_endpoint_auth.py
Due: python-lint

test(skills): 按 Codex r27 整改 — heredoc 判别改用 fence info + 命名空间别名/解包/del/yield [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r27.md
  _bmad-output/审查/evidence-skill-lint/r28-judges-20260909T195536.txt
  _bmad-output/审查/evidence-skill-lint/self-regression-diff.py
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r27.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

fix(deploy-vault): Codex r5 四 BLOCKER + 三 HIGH 全数整改 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/evidence-g27b/close-recon-r5fix-20260909T200500.txt
  _bmad-output/审查/evidence-g27b/dir-red-diff-r5fix.txt
  _bmad-output/审查/evidence-g27b/dir-red-nodeids-r5fix.txt
  _bmad-output/审查/evidence-g27b/dir-tests-unit-r5fix-20260909T195400.raw
  _bmad-output/审查/evidence-g27b/judges-r5fix-20260909T194710.txt
  _bmad-output/审查/evidence-g27b/mutate_r5.py
  _bmad-output/审查/evidence-g27b/mutation-r5-20260909T194237.txt
  _bmad-output/审查/evidence-g27b/mutation-r5-20260909T194548.txt
  _bmad-output/审查/evidence-g27b/mutation-r5-final-20260909T194838.txt
  _bmad-output/审查/evidence-g27b/neg-positive-r5fix-20260909T195336.txt
  _bmad-output/审查/evidence-g27b/neg-r5fix-20260909T195012.txt
  _bmad-output/审查/evidence-g27b/positive-r5fix-20260909T195035.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r6.md
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/cls_forbidden_paths.py
  scripts/deploy-vault.sh
Due: python-lint

docs(g2-7b): round-6 prompt 绑 e5ab1af0 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r6.md
Due: none

test(skills): 按 Codex r28 结构性收口 — 加第十一条整文件字节摘要判据 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-SKILL-PORT-LINT-r28.md
  _bmad-output/审查/evidence-skill-lint/r29-judges-20260909T200748.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-SKILL-PORT-LINT-r28.md
  _bmad-output/验收单/UAT-CARD-SKILL-PORT-LINT-2026-09-08.md
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
