Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

fix(story-2.2): docker volume mount 解耦 — LANCEDB_DATA_PATH env + 独立挂载点
  backend/lib/agentic_rag/clients/lancedb_client.py
  docker-compose.yml
Due: python-lint

fix(story-2.2): phase A 5+1 hardening — singleton + ListTablesResponse + 顶级 mount
  backend/app/api/v1/endpoints/chat.py
  backend/app/main.py
  backend/app/services/supplementary_search_service.py
  docker-compose.yml
Due: spec-sync, python-lint

fix(story-2.2): phase A endpoint 不 acquire singleton init lock — 防 BGEM3 init 期间阻塞用户
  backend/app/api/v1/endpoints/chat.py
Due: spec-sync, python-lint

feat(story-2.2-followup): plugin Settings vault selector + 顶级 /vaults mount
  backend/app/api/v1/endpoints/vault.py
  docker-compose.yml
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

fix(plugin): DEFAULT_BACKEND_URL 8001 → 8011 修复 Round-22 后端口 drift
  frontend/obsidian-plugin/src/main.ts
Due: none

refactor(plugin): vault status detector — status-first UX 替代 dropdown 暴露端口
  frontend/obsidian-plugin/src/main.ts
Due: none

feat(story-2.2): plugin 增量索引 hook + RRF-aware 阈值校准 — Phase A 真实可用闭环
  backend/app/api/v1/endpoints/chat.py
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

fix(story-2.2): P0 性能 — Ollama env 别名同步 + skip *-explanations
  _bmad-output/research/round-23-phase-a-architecture-report-2026-05-09.md
  backend/app/api/v1/endpoints/metadata.py
  docker-compose.yml
Due: spec-sync, python-lint

feat(plugin): Gap 1 fix — Cmd+Shift+E 真实触发 Phase A 补充材料搜索
  frontend/obsidian-plugin/src/main.ts
Due: none

docs(uat): 端到端原白板闭环验收单 — 4 Story 集成 (1.19+1.17+2.1+2.2-PhaseA)
  _bmad-output/验收单/Story-端到端-原白板闭环-2026-05-09.md
Due: none

fix(prompt-engineering): SKILL + plugin prompt 锁死 anchor — Phase A 真实联动
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  frontend/obsidian-plugin/src/main.ts
Due: none

docs(research): Phase A 检索质量调研报告 — 索引污染 + 范式对比 + 业界最佳实践
  _bmad-output/research/round-23-phase-a-retrieval-quality-2026-05-09.md
Due: none

docs(research): ChatGPT Deep Research 提示词包 — Phase A/B/C 范式选择
  _bmad-output/research/round-23-chatgpt-dr-prompt-2026-05-09.md
Due: none

fix(phase-a-T1.1): skip_dirs glob bug + 黑名单扩展 — 41 explanations + 3 SKILL 不再入库
  backend/app/api/v1/endpoints/metadata.py
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: spec-sync, python-lint

fix(phase-a-t1.1): config.py pydantic skip_dirs 默认值同步 + skip_files 补 testconcept
  _bmad-output/research/round-23-phase-abc-implementation-spec-2026-05-09.md
  backend/app/config.py
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: python-lint

feat(phase-a-t1.4): rag-as-tool 重构 — claude read 验证 + 动态 top_k + 空文档过滤
  backend/app/api/v1/endpoints/chat.py
  backend/app/services/supplementary_search_service.py
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

fix(phase-a-t1.5): wikilink 跳转修复 — chunks 派生路径回写 + heading 不 over-strip
  backend/app/services/supplementary_search_service.py
Due: python-lint

fix(phase-a-t1.6): wikilink anchor 用 raw heading 字面 + display 用 clean 版
  backend/app/services/supplementary_search_service.py
Due: python-lint

feat(phase-a-t1.7): UserPromptSubmit hook 自动 RAG 注入到 claudian 每次对话
  backend/app/api/v1/endpoints/chat.py
  canvas-vault/.claude/settings.json
Due: spec-sync, python-lint

docs(phase-a-round-2): rag 召回精度 6 agent 对抗调研 + 7 根因 + chatgpt prompt
  _bmad-output/research/round-23-phase-a-retrieval-quality-2026-05-09.md
Due: none

docs(phase-a-round-2): 完善 chatgpt prompt — 加 t0/t1 文件清单 + commits 时间线
  _bmad-output/research/round-23-phase-a-retrieval-quality-2026-05-09.md
Due: none

docs(phase-a-round-2): chatgpt-dr-prompt md 追加 v2 完善版
  _bmad-output/research/round-23-chatgpt-dr-prompt-2026-05-09.md
Due: none

docs(phase-a-round-3): chatgpt v2 反馈 + 4 agent cross-check — 4 个漏诊根因 confirmed
  _bmad-output/research/round-23-chatgpt-dr-response-v2-2026-05-09.md
  _bmad-output/research/round-23-phase-a-retrieval-quality-2026-05-09.md
Due: none

fix(phase-a0): 修 j pattern 失配 + i tier-2 fallback 0.85 致命止血
  backend/app/services/supplementary_search_service.py
  backend/data/reference_priority.json
Due: python-lint

docs(phase-a-round-3): chatgpt v3 multi-vault prompt + 4 agent 调研
  _bmad-output/research/round-23-chatgpt-dr-prompt-2026-05-09.md
Due: none

docs(phase-a-round-4): chatgpt v3 multi-vault + 5 cross-check — 4/5 confirmed p0 安全
  _bmad-output/research/round-23-chatgpt-dr-response-v3-multi-vault-2026-05-10.md
  _bmad-output/research/round-23-phase-a-retrieval-quality-2026-05-09.md
Due: none

fix(phase-a0.5): l hook 鉴权 + n subjectresolver 规范 + p supplementary taint 扫描
  backend/app/api/v1/endpoints/chat.py
  backend/app/services/subject_resolver.py
  backend/app/services/supplementary_search_service.py
Due: spec-sync, python-lint

docs(phase-b-plan): 多 vault 完整解决方案 + 小白用户操作流程
  _bmad-output/research/round-23-multi-vault-implementation-plan-2026-05-10.md
Due: none

fix(phase-b0): m 中文 vault sanitize + 测试反 pattern + 4 preset + 兼容读 fallback
  backend/app/config.py
  backend/data/presets/cs.yaml
  backend/data/presets/generic.yaml
  backend/data/presets/humanities.yaml
  backend/data/presets/math.yaml
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/unit/test_vault_switch.py
Due: python-lint

docs(study-question): 解题深度模式 skill 完整设计 + chatgpt v4 prompt
  _bmad-output/research/round-23-study-question-skill-design-2026-05-10.md
Due: none

docs(study-question): chatgpt v4 prompt 追加 — 决策授权模式
  _bmad-output/research/round-23-chatgpt-dr-prompt-2026-05-09.md
Due: none

docs(study-question-round-5): chatgpt v4 答非所问 + 4 cross-check agent 实证
  _bmad-output/research/round-23-chatgpt-dr-response-v4-study-question-2026-05-10.md
Due: none

fix(round-5-path-a): a1 securityschemes + a2 vault_id yaml-first + a3 rag path tests
  backend/app/config.py
  backend/app/main.py
  backend/tests/unit/test_supplementary_search_service.py
  backend/tests/unit/test_vault_switch.py
  canvas-vault/.canvas-config.yaml
Due: python-lint

chore(auto-sync): 3 files, round-23-multi-vault-implementation-plan
  _bmad-output/research/round-23-multi-vault-implementation-plan-2026-05-10.md
  backend/lancedb/test.txt
  canvas-vault/.obsidian/plugins/canvas-learning-system/manifest.json
Due: none

chore(auto-sync): 6 files, metadata.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/services/supplementary_search_service.py
  backend/app/services/tool_executor.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/lib/agentic_rag/retrievers/vault_notes_retriever.py
  backend/tests/unit/test_rag_p0_doc_type_filter.py
Due: spec-sync, python-lint

feat(study-question-p0): sq1 skill.md + sq2 cmd+shift+q + sq3 mode=deep + sq4 8 tests
  backend/app/api/v1/endpoints/chat.py
  backend/tests/unit/test_study_question_deep_mode.py
  canvas-vault/.claude/skills/study-question/SKILL.md
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

fix(multi-vault-p0-1): mv1 vault_id 必填 + contextvar + mv2 plugin payload + mv3 8 tests
  backend/app/api/v1/endpoints/chat.py
  backend/tests/unit/test_chat_endpoint.py
  backend/tests/unit/test_enrich_context_vault_isolation.py
  backend/tests/unit/test_study_question_deep_mode.py
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

feat(study-question): v1.5 + backend schema guard + raw lancedb fallback + 3 uat
  _bmad-output/验收单/UAT-Multi-Vault-P0-1-vault_id-必填-2026-05-10.md
  _bmad-output/验收单/UAT-RAG-P0-白板噪声修复-2026-05-10.md
  _bmad-output/验收单/UAT-Study-Question-Skill-2026-05-10.md
  backend/app/mcp/tools/note_search_tools.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  canvas-vault/.claude/mcp.json
  canvas-vault/.claude/skills/study-question/SKILL.md
  frontend/obsidian-plugin/src/main.ts
Due: python-lint

feat(round-23): b0.3 plugin onboarding modal + chat-with-context v2.0
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  frontend/obsidian-plugin/src/main.ts
Due: none

docs(chatgpt-review): 全链路对抗性审查 prompt 准备
  _bmad-output/research/chatgpt-deep-research-prompt-2026-05-11.md
Due: none
