Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

fix(g4-4): codex round-2 整改: 活性门重做+subject泄漏边界锁+数字更正 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  _bmad-output/审查/codex-review-CARD-G4-4-round2.md
  _bmad-output/审查/codex-review-CARD-G4-4-round2.stderr
  _bmad-output/审查/evidence-g44/final-judge1.txt
  _bmad-output/审查/evidence-g44/final-judge2.txt
  _bmad-output/审查/evidence-g44/g44_mutations.py
  _bmad-output/审查/evidence-g44/mutation-run.txt
  _bmad-output/验收单/UAT-CARD-G4-4-full-RAG-显式VaultScope-2026-09-01.md
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: python-lint

fix(obs): r2 清零收尾 docstring 边界+渲染门全覆盖+inventory 加固 [BATCH-2026-09-01-第八批 / CARD-OBS-nothrow-logging]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging-round2.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging-round2.stderr
  _bmad-output/审查/prompts/codex-prompt-CARD-OBS-nothrow-logging-round2.md
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
Due: python-lint

feat(g3-2): quiz-answer write-ahead 事件账 + bridge 时刻契约修复 [BATCH-2026-09-01-第八批 / CARD-G3-2]
  _bmad-output/审查/codex-review-CARD-G3-2-round1.md
  _bmad-output/审查/codex-review-CARD-G3-2-round2.md
  _bmad-output/审查/codex-review-CARD-G3-2-round3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2-round2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-2.md
  _bmad-output/验收单/UAT-CARD-G3-2-复习事件账本write-ahead-2026-09-01.md
  backend/app/services/learning_event_log.py
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/regression/test_learning_events_schema_contract.py
  canvas-vault/.claude/scripts/fsrs_bridge.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

docs(g4-4): codex round-3 收口: 到顶声明+台账R1+xfail收紧 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/审查/codex-review-CARD-G4-4-round3.md
  _bmad-output/审查/codex-review-CARD-G4-4-round3.stderr
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4.md
  _bmad-output/验收单/UAT-CARD-G4-4-full-RAG-显式VaultScope-2026-09-01.md
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: python-lint

fix(skills): round-3 六条整改——列表容器语义/EOF对齐/③段限定/数字绑定 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  _bmad-output/审查/codex-review-CARD-维护B-round3.md
  _bmad-output/审查/codex-review-CARD-维护B-round3.stderr
  _bmad-output/审查/evidence-maintb-r2/f-collect-final2.txt
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(G5-6): 五处误判整改 B3/H1/H2/H3/H4 + 三轮自审护栏加固 [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

docs(G5-6): round-2..4 审查存档+prompts+diff 取证+验收单 [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  _bmad-output/审查/CARD-G5-6b-diff-83834c4f-to-worktree.txt
  _bmad-output/审查/codex-review-CARD-G5-6-round3.md
  _bmad-output/审查/codex-review-CARD-G5-6-round3.stderr
  _bmad-output/审查/codex-review-CARD-G5-6-round4.md
  _bmad-output/审查/codex-review-CARD-G5-6-round4.stderr
  _bmad-output/审查/prompts/CARD-G5-6b-round3-prompt.md
  _bmad-output/验收单/UAT-CARD-G5-6-clear-inbox只读盘点提名preview-2026-08-31.md
Due: none

fix(g25): durable写失败诚实化+recover竞态修复+口径三锁, 双round整改 [BATCH-2026-09-01-第八批 / CARD-G2-5]
  .gitignore
  _bmad-output/审查/G2-5-后端全局状态文件盘点-2026-08-31.md
  _bmad-output/审查/codex-review-CARD-G2-5-round3.md
  _bmad-output/审查/evidence-g24/g25-head-baseline.txt
  _bmad-output/审查/evidence-g24/g25-mutations-round5.txt
  _bmad-output/审查/evidence-g24/g25-mutations.txt
  _bmad-output/审查/evidence-g24/g25-post-suite.txt
  _bmad-output/审查/evidence-g24/six-file-baseline-g25.txt
  _bmad-output/审查/evidence-g24/six-file-post-g25.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-5-round3.md
  _bmad-output/验收单/UAT-CARD-G2-5-索引journal命名空间-2026-08-31.md
  backend/app/api/v1/endpoints/index.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/core/vault_state_paths.py
  backend/app/services/lancedb_index_service.py
  backend/app/services/vault_index_orchestrator.py
  backend/tests/unit/test_g25_journal_namespace.py
  backend/tests/unit/test_story_38_1_ac3_startup_recovery.py
  backend/tests/unit/test_vault_scope_409.py
  backend/tests/unit/test_wave5_stageb_continued_vault_id_injection.py
  backend/tests/unit/test_wave5_stageb_vault_id_injection.py
Due: spec-sync, python-lint

fix(skills): round-4 抢救三缝隙整改——引用前导空格列/manifest③段限定/中文数词池 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  _bmad-output/审查/codex-review-CARD-维护B-round4.md
  _bmad-output/审查/codex-review-CARD-维护B-round4.stderr
  _bmad-output/审查/evidence-maintb-r2/f-collect-final5.txt
  _bmad-output/审查/evidence-maintb-r2/judge1-final4.txt
  _bmad-output/审查/evidence-maintb-r2/judge1-final5.txt
  _bmad-output/审查/evidence-maintb-r2/judge3-final5.txt
  _bmad-output/审查/evidence-maintb-r2/negverify-final5.txt
  _bmad-output/审查/evidence-maintb-r2/probe_round4.py
  _bmad-output/审查/evidence-maintb-r2/replay-after-result6.txt
  _bmad-output/审查/evidence-maintb-r2/round4-after.txt
  _bmad-output/审查/evidence-maintb-r2/round4-after2.txt
  _bmad-output/审查/evidence-maintb-r2/round4-after3.txt
  _bmad-output/审查/evidence-maintb-r2/round4-repro.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-round4.md
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(g25): e③文案门封三个新绕过(反问/中文数字/语境伪造), 篡改门9条 [BATCH-2026-09-01-第八批 / CARD-G2-5]
  _bmad-output/审查/codex-review-CARD-G2-5-round4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-5-round4.md
  _bmad-output/验收单/UAT-CARD-G2-5-索引journal命名空间-2026-08-31.md
  backend/tests/unit/test_g25_journal_namespace.py
Due: python-lint

fix(review): CARD-G6-2 round-2 四HIGH五MED整改 [BATCH-2026-09-01-第八批 / CARD-G6-2]
  _bmad-output/审查/G6-2-UI范式-demo.html
  _bmad-output/审查/codex-review-CARD-G6-2-round2.md
  _bmad-output/审查/codex-review-CARD-G6-2-round2.stderr
  _bmad-output/审查/evidence-g62/g62-1-unavailable不白屏-r3.png
  _bmad-output/审查/evidence-g62/g62-2-正常-live列表-r3.png
  _bmad-output/审查/evidence-g62/g62_mutation_negative_controls.py
  _bmad-output/审查/evidence-g62/netlog-analysis-r3.txt
  _bmad-output/审查/evidence-g62/netlog-normal-full-r3.json
  _bmad-output/审查/evidence-g62/裁判命令输出-r3.txt
  _bmad-output/审查/evidence-g62/走查时间线-r3.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2.md
  _bmad-output/验收单/UAT-CARD-G6-2-交互复习壳-2026-09-01.md
  backend/app/api/v1/endpoints/review_app.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

fix(G5-6): round-5 终裁整改 — AI 变体归一化 + 损坏URL别名信号 [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

fix(g25): e③存在性断言+反方向篡改门, recover fail-closed 等五项 [BATCH-2026-09-01-第八批 / CARD-G2-5]
  _bmad-output/审查/codex-review-CARD-G2-5-round4b.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-5-round4b.md
  _bmad-output/验收单/UAT-CARD-G2-5-索引journal命名空间-2026-08-31.md
  backend/app/services/lancedb_index_service.py
  backend/tests/unit/test_g25_journal_namespace.py
Due: python-lint

docs(g25): round-5 终审判决登记 BLOCKER/HIGH 清零=是, MEDIUM 登记结案 [BATCH-2026-09-01-第八批 / CARD-G2-5]
  _bmad-output/审查/codex-review-CARD-G2-5-round5.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-5-round5.md
  _bmad-output/验收单/UAT-CARD-G2-5-索引journal命名空间-2026-08-31.md
Due: none

fix(G5-6): round-6 整改 — AI词边界信号+autolink+info string [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  _bmad-output/审查/CARD-G5-6b-diff-83834c4f-to-worktree.txt
  _bmad-output/审查/codex-review-CARD-G5-6-round5.md
  _bmad-output/审查/codex-review-CARD-G5-6-round5.stderr
  _bmad-output/审查/codex-review-CARD-G5-6-round6.md
  _bmad-output/审查/codex-review-CARD-G5-6-round6.stderr
  _bmad-output/审查/prompts/CARD-G5-6b-round3-prompt.md
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

fix(review): CARD-G6-2 round-3 终裁 findings 整改 [BATCH-2026-09-01-第八批 / CARD-G6-2]
  _bmad-output/审查/codex-review-CARD-G6-2-round3.md
  _bmad-output/审查/codex-review-CARD-G6-2-round3.stderr
  _bmad-output/审查/codex-review-CARD-G6-2-round3.stderr.cyber-blocked
  _bmad-output/审查/evidence-g62/g62-1-unavailable不白屏-r4.png
  _bmad-output/审查/evidence-g62/g62-2-正常-live列表-r4.png
  _bmad-output/审查/evidence-g62/g62_mutation_negative_controls.py
  _bmad-output/审查/evidence-g62/netlog-analysis-r4.txt
  _bmad-output/审查/evidence-g62/netlog-normal-full-r4.json
  _bmad-output/审查/evidence-g62/裁判命令输出-r4.txt
  _bmad-output/审查/evidence-g62/走查时间线-r4.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2.md
  backend/app/api/v1/endpoints/review_app.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

docs(governance): CARD-G6-2 终态 FAIL 显著声明 + 台账/CURRENT_TASK [BATCH-2026-09-01-第八批 / CARD-G6-2]
  CURRENT_TASK.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/验收单/UAT-CARD-G6-2-交互复习壳-2026-09-01.md
Due: none

fix(G5-6): round-7 整改 — CJK邻接AI+标题缩进+来源值substring [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

docs(G5-6): 终裁提示词补 round-7 整改说明 [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  _bmad-output/审查/prompts/CARD-G5-6b-round3-prompt.md
Due: none

docs(review): 验收单回填实施 SHA cdd77274 [BATCH-2026-09-01-第八批 / CARD-TEST-isolate-lifespan]
  _bmad-output/审查/CARD-TEST-isolate-lifespan-验收单.md
Due: none

docs(G5-6): round-5..8 审查存档 + 验收单终版(长尾登记) [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  _bmad-output/审查/codex-review-CARD-G5-6-round7.md
  _bmad-output/审查/codex-review-CARD-G5-6-round7.stderr
  _bmad-output/审查/codex-review-CARD-G5-6-round8.md
  _bmad-output/审查/codex-review-CARD-G5-6-round8.stderr
  _bmad-output/验收单/UAT-CARD-G5-6-clear-inbox只读盘点提名preview-2026-08-31.md
Due: none

fix(spec): OpenAPI 漂移门修活+快照重生成 [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  .github/workflows/api-spec-sync.yml
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-openapi-sync.md
  backend/openapi.json
  backend/scripts/openapi_drift_negative_control.py
  backend/tests/contract/test_openapi_snapshot_drift.py
  lefthook.yml
  scripts/spec-tools/check-openapi-drift.py
Due: python-lint

fix(skills): round-5 定向复核整改——C 中文数词只认单字+注释口径更正 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  _bmad-output/审查/codex-review-CARD-维护B-round5.md
  _bmad-output/审查/codex-review-CARD-维护B-round5.stderr
  _bmad-output/审查/evidence-maintb-r2/f-collect-final6.txt
  _bmad-output/审查/evidence-maintb-r2/judge1-final6.txt
  _bmad-output/审查/evidence-maintb-r2/judge3-final6.txt
  _bmad-output/审查/evidence-maintb-r2/negverify-final6.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-round5.md
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(spec): Codex round-1 整改 4B+2H 清零 [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  .github/workflows/api-spec-sync.yml
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync.stderr
  backend/openapi.json
  backend/tests/contract/test_openapi_snapshot_drift.py
  lefthook.yml
  scripts/spec-tools/check-openapi-drift.py
Due: python-lint

fix(spec): Codex round-2 整改 2B 清零+隐私卫生 [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  .github/workflows/api-spec-sync.yml
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync.stderr
  _bmad-output/审查/codex-review-CARD-DEBT-openapi-sync.stderr-redacted.txt
  _bmad-output/审查/codex-review-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-round2-CARD-DEBT-openapi-sync.stderr-redacted.txt
  _bmad-output/审查/prompts/codex-prompt-round2-CARD-DEBT-openapi-sync.md
  backend/openapi.json
  backend/tests/contract/test_openapi_snapshot_drift.py
  lefthook.yml
  scripts/spec-tools/check-openapi-drift.py
Due: python-lint

fix(review): CARD-G6-2 定向第四轮 findings 整改 [BATCH-2026-09-01-第八批 / CARD-G6-2]
  _bmad-output/审查/codex-review-CARD-G6-2-round4.md
  _bmad-output/审查/codex-review-CARD-G6-2-round4.stderr
  _bmad-output/审查/evidence-g62/g62-1-unavailable不白屏-r5.png
  _bmad-output/审查/evidence-g62/g62-2-正常-live列表-r5.png
  _bmad-output/审查/evidence-g62/g62_mutation_negative_controls.py
  _bmad-output/审查/evidence-g62/netlog-analysis-r5.txt
  _bmad-output/审查/evidence-g62/netlog-normal-full-r5.json
  _bmad-output/审查/evidence-g62/裁判命令输出-r5.txt
  _bmad-output/审查/evidence-g62/走查时间线-r5.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2.md
  backend/app/api/v1/endpoints/review_app.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

docs(governance): CARD-G6-2 定向第四轮终态 + 台账/CURRENT_TASK 更新 [BATCH-2026-09-01-第八批 / CARD-G6-2]
  CURRENT_TASK.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/验收单/UAT-CARD-G6-2-交互复习壳-2026-09-01.md
Due: none

fix(spec): Codex round-3 终轮整改+停轮收口 [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
  _bmad-output/审查/codex-review-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/codex-review-round3-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-round2-CARD-DEBT-openapi-sync.md
  _bmad-output/审查/prompts/codex-prompt-round3-CARD-DEBT-openapi-sync.md
  backend/openapi.json
  backend/tests/contract/test_openapi_snapshot_drift.py
  lefthook.yml
  scripts/spec-tools/check-openapi-drift.py
Due: python-lint

docs(review): 验收单回填终态裁判与停轮声明 [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
Due: none

docs(review): 校正 stderr 登记口径为 ② 车道实测数 [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
Due: none

docs(review): 验收单过期口径校正(测试数/命令数/时间戳/轮次表述) [BATCH-2026-09-01-第八批 / CARD-DEBT-openapi-sync]
  _bmad-output/审查/CARD-DEBT-openapi-sync-验收单.md
Due: none

docs(review): CARD-G3-6b-R1 指纹边界收窄与证据当前化 [BATCH-2026-09-01-第九批]
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_mutations.py
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_recheck.py
  _bmad-output/审查/evidence-g36b-r1/recheck-A-on-c2d2e590-bytes.txt
  _bmad-output/审查/evidence-g36b-r1/recheck-B-on-r1-narrowed-bytes.txt
  _bmad-output/验收单/UAT-CARD-G3-6b-板级why_this_board与rank_manifest-2026-09-01.md
  backend/tests/regression/test_daily_review_pick.py
  scripts/daily_review_pick.py
Due: python-lint

fix(G5-6c): 关闭 NBSP 标题/模型声明/DOI 来源三条误删 [BATCH-2026-09-01-第九批 / CARD-G5-6c]
  _bmad-output/审查/evidence-g56c/README-取证说明.md
  _bmad-output/审查/evidence-g56c/g56c_mutations.py
  _bmad-output/审查/evidence-g56c/g56c_mutations_output.txt
  _bmad-output/审查/evidence-g56c/make_repro_g56c.py
  _bmad-output/验收单/UAT-CARD-G5-6-clear-inbox只读盘点提名preview-2026-08-31.md
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

fix(g3-2b): 清除 R1-R7 残留 + 闭合 write-ahead 六格状态机 [BATCH-2026-09-01-第九批 / CARD-G3-2b]
  _bmad-output/验收单/UAT-CARD-G3-2b-write-ahead六格状态机闭合-2026-09-02.md
  backend/scripts/g32b_build_fixture.py
  backend/scripts/g32b_mutation_gates.py
  backend/scripts/g32b_r1r7_counterexamples.py
  backend/tests/regression/test_g3_2_review_ledger.py
  canvas-vault/.claude/scripts/fsrs_bridge.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  docs/learning-events-schema-v1.md
Due: python-lint

fix(review): CARD-G3-6b-R1 整改 Codex R1 轮 1H+3M+2L [BATCH-2026-09-01-第九批]
  _bmad-output/审查/codex-review-CARD-G3-6b-R1.md
  _bmad-output/审查/codex-review-CARD-G3-6b-R1.stderr
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_mutations.py
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_negctl_probe.py
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_recheck.py
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_verify_high_decay.py
  _bmad-output/审查/evidence-g36b-r1/negctl-output.txt
  _bmad-output/审查/evidence-g36b-r1/recheck-A-on-c2d2e590-bytes.txt
  _bmad-output/审查/evidence-g36b-r1/recheck-B-on-r1-narrowed-bytes.txt
  _bmad-output/审查/evidence-g36b-r1/verify-high-decay-output.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-6b-R1.md
  _bmad-output/验收单/UAT-CARD-G3-6b-板级why_this_board与rank_manifest-2026-09-01.md
  backend/tests/regression/test_daily_review_pick.py
  scripts/daily_review_pick.py
Due: python-lint

fix(skills): R3 中文数词终态——判据统一+数串跨噪声整抓 [BATCH-2026-09-01-第九批 / CARD-维护B-R3]
  _bmad-output/审查/evidence-maintb-r3/a-baseline-sha.txt
  _bmad-output/审查/evidence-maintb-r3/b-prefix-red-repro.txt
  _bmad-output/审查/evidence-maintb-r3/c-judge12.txt
  _bmad-output/审查/evidence-maintb-r3/d-cli-probe.txt
  _bmad-output/审查/evidence-maintb-r3/e-wider-regression.txt
  _bmad-output/审查/evidence-maintb-r3/f-live-fixtures.txt
  _bmad-output/审查/evidence-maintb-r3/g-diff-check.txt
  _bmad-output/审查/evidence-maintb-r3/h-boundary-separator.txt
  _bmad-output/审查/evidence-maintb-r3/i-uat-history-preserved.txt
  _bmad-output/审查/evidence-maintb-r3/j-zero-write-side-effects.txt
  _bmad-output/审查/evidence-maintb-r3/k-round2-selfreview.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-R3.md
  _bmad-output/验收单/UAT-CARD-维护B-R3-中文数词终态-2026-09-02.md
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(review): CARD-G3-6b-R1 整改 round-2 的 5M+3L，HIGH 清零 [BATCH-2026-09-01-第九批]
  _bmad-output/审查/codex-review-CARD-G3-6b-R1-round2.md
  _bmad-output/审查/codex-review-CARD-G3-6b-R1-round2.stderr
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_mutations.py
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_negctl_probe.py
  _bmad-output/审查/evidence-g36b-r1/g36b_r1_recheck.py
  _bmad-output/审查/evidence-g36b-r1/negctl-output.txt
  _bmad-output/审查/evidence-g36b-r1/recheck-A-on-c2d2e590-bytes.txt
  _bmad-output/审查/evidence-g36b-r1/recheck-B-on-r1-narrowed-bytes.txt
  _bmad-output/审查/evidence-g36b-r1/verify-high-decay-output.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-6b-R1-round2.md
  _bmad-output/验收单/UAT-CARD-G3-6b-板级why_this_board与rank_manifest-2026-09-01.md
  backend/tests/regression/test_daily_review_pick.py
  scripts/daily_review_pick.py
Due: python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
