Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

feat(rag): 阶段 2 T2 快修批 — 权重方向翻转 + confidence 地基 + 隔离收口 (RAG-S2-2026-08-09)
  backend/app/mcp/tools/note_search_tools.py
  backend/app/services/supplementary_reranker.py
  backend/app/services/supplementary_search_service.py
  backend/data/reference_priority.json
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/scripts/run_vault_retrieval_regression.py
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline_history.jsonl
  backend/tests/unit/test_supplementary_search_service.py
Due: python-lint

feat(rag): 阶段 2 T3 chunk 改造 — 段落级切分+callout 分级+题面泄漏根治 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline_history.jsonl
  backend/tests/regression/test_rag_stage2_chunk_contracts.py
Due: python-lint

feat(rag): 阶段 2 T4 — 源文件级 dedup + CE 交付门 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  backend/app/main.py
  backend/app/services/retrieval_reranker.py
  backend/app/services/supplementary_search_service.py
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/vault_retrieval_last_run.json
  backend/tests/regression/test_rag_stage2_rerank_contracts.py
  backend/tests/unit/test_supplementary_search_service.py
Due: python-lint

feat(rag): 阶段 2 T5 — 链统一 + retrieval_confidence + 降级可见 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/mcp/server.py
  backend/app/mcp/tools/note_search_tools.py
  backend/app/services/supplementary_search_service.py
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/vault_retrieval_last_run.json
  backend/tests/regression/test_rag_stage0_contracts.py
  backend/tests/regression/test_rag_stage2_chain_unify_contracts.py
  backend/tests/unit/test_chat_endpoint.py
Due: spec-sync, python-lint

fix(rag): 阶段 2 T6 验证收尾 — HARD-ISO 泄漏封堵 + 审查 findings 处置 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S2-阶段2-强化fastpath-UAT.md
  backend/app/api/v1/endpoints/chat.py
  backend/app/services/react_agent.py
  backend/app/services/retrieval_reranker.py
  backend/app/services/supplementary_search_service.py
  backend/app/services/tool_executor.py
  backend/lib/agentic_rag/agent_graph.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/lib/agentic_rag/retrievers/vault_notes_retriever.py
  backend/tests/regression/test_rag_stage2_chain_unify_contracts.py
  backend/tests/regression/test_rag_stage2_t6_verification_contracts.py
  backend/tests/unit/test_supplementary_search_service.py
Due: spec-sync, python-lint

chore(rag): T6 三决策落地 — f06/h07 移 shadow (金集 v2) + f04/[!note] 裁定留档 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S2-阶段2-强化fastpath-UAT.md
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/vault_retrieval_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/vault_retrieval_last_run.json
  backend/tests/regression/vault_gold_set.yaml
  backend/tests/regression/vault_gold_set_shadow.yaml
Due: none

docs(uat): 阶段 2 用户 UAT 四步全过归档 — 阶段 2 收官 (RAG-S2-2026-08-09)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S2-阶段2-强化fastpath-UAT.md
Due: none

fix(deps): T0.1 显式声明 python-frontmatter 依赖 (RAG-S2.5-2026-08-10)
  backend/requirements.txt
Due: none

chore(vault): T0 成员真相源单一化 — source_board 回填+测试节点清理 (RAG-S2.5-2026-08-10)
  canvas-vault/检验白板/考察-Fundamentals-2026-07-16.md
  canvas-vault/节点/TestConceptA.md
  canvas-vault/节点/TestConceptB.md
  canvas-vault/节点/TestConceptC.md
  canvas-vault/节点/cs-61b-csm.md
  canvas-vault/节点/csm-tutoring-unit-credit.md
  canvas-vault/节点/my-recursion-notes.md
Due: none

feat(manifest): T1 白板结构读模型核心 — frontmatter 直读+四态归一化+差集告警 (RAG-S2.5-2026-08-10)
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_board_manifest_contracts.py
Due: python-lint

feat(manifest): T2 双视图投影+JSON 快照兜底+freshness 诚实三态 (RAG-S2.5-2026-08-10)
  backend/app/config.py
  backend/app/models/board_manifest.py
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_board_manifest_contracts.py
Due: python-lint

feat(manifest): T3 暴露面 HTTP /boards/manifest + MCP get_board_manifest (RAG-S2.5-2026-08-10)
  backend/app/api/v1/endpoints/boards.py
  backend/app/api/v1/router.py
  backend/app/mcp/server.py
  backend/app/mcp/tools/board_manifest_tools.py
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_board_manifest_contracts.py
  backend/tests/regression/test_mcp_quarantine.py
Due: spec-sync, python-lint

test(manifest): T4 金集验收器 — 31 条硬禁通道全绿封版 (RAG-S2.5-2026-08-10)
  backend/scripts/run_board_manifest_regression.py
  backend/tests/fixtures/regression_baselines/board_manifest_baseline.json
  backend/tests/fixtures/regression_baselines/board_manifest_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/board_manifest_last_run.json
  backend/tests/regression/board_manifest_gold_set.yaml
Due: python-lint

fix(manifest): 对抗审查 3H/3M/5L 全处置 — 信封泄漏通道封堵+类型归一+金集去恒真 (RAG-S2.5-2026-08-10)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S2.5-BoardManifest-mini-UAT.md
  backend/app/api/v1/endpoints/boards.py
  backend/app/mcp/tools/board_manifest_tools.py
  backend/app/models/board_manifest.py
  backend/app/services/board_manifest_service.py
  backend/scripts/run_board_manifest_regression.py
  backend/tests/fixtures/regression_baselines/board_manifest_baseline.json
  backend/tests/fixtures/regression_baselines/board_manifest_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/board_manifest_last_run.json
  backend/tests/regression/test_board_manifest_contracts.py
Due: spec-sync, python-lint

docs(uat): mini-UAT 卡同步审查处置后数字 32/32 (RAG-S2.5-2026-08-10)
  _bmad-output/验收单/Story-RAG-S2.5-BoardManifest-mini-UAT.md
Due: none

docs(uat): mini-UAT 卡改为技术项全代跑 — 用户只验产品体验+确认框 (RAG-S2.5-2026-08-10)
  _bmad-output/验收单/Story-RAG-S2.5-BoardManifest-mini-UAT.md
Due: none

docs(mcp): serverInfo 描述同步第 6 个工具 board manifest (DD-13 名实一致) (RAG-S2.5-2026-08-10)
  backend/app/mcp/server.py
Due: python-lint

fix(mcp): get_board_manifest 参数面丢失修复 — Optional body 签名换 Body(default_factory) (RAG-S2.5-2026-08-10)
  CURRENT_TASK.md
  backend/app/mcp/server.py
  backend/tests/regression/test_mcp_quarantine.py
Due: python-lint

docs(uat): 产品体验项第三轮实测留档 + score 量纲误读记 backlog (RAG-S2.5-2026-08-10)
  CURRENT_TASK.md
  _bmad-output/验收单/Story-RAG-S2.5-BoardManifest-mini-UAT.md
Due: none

feat(manifest): T1 两字段封版 — pick_rank 候选秩 + score_scale 量纲申报 (RAG-S2.6-2026-08-11)
  _bmad-output/研究/2026-08-11-RAG-S2.6-导航改造-实施留档.md
  backend/app/models/board_manifest.py
  backend/app/services/board_manifest_service.py
  backend/scripts/run_board_manifest_regression.py
  backend/tests/fixtures/regression_baselines/board_manifest_baseline.json
  backend/tests/fixtures/regression_baselines/board_manifest_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/board_manifest_last_run.json
  backend/tests/regression/board_manifest_gold_set.yaml
  backend/tests/regression/test_board_manifest_contracts.py
  canvas-vault/.claude/skills/exam-quick/SKILL.md
Due: python-lint

feat(vault): T2 Concepts 视图化 — 只读派生物 + 写侧三点接线 (RAG-S2.6-2026-08-11)
  _bmad-output/研究/2026-08-11-RAG-S2.6-导航改造-实施留档.md
  backend/tests/fixtures/regression_baselines/board_manifest_baseline.json
  backend/tests/fixtures/regression_baselines/board_manifest_baseline_history.jsonl
  backend/tests/fixtures/regression_baselines/board_manifest_last_run.json
  backend/tests/regression/board_manifest_gold_set.yaml
  canvas-vault/.claude/scripts/sync_board_concepts.py
  canvas-vault/.claude/skills/ai-linked-doc/SKILL.md
  canvas-vault/.claude/skills/configure-whiteboard/SKILL.md
  canvas-vault/.claude/skills/configure-whiteboard/templates/whiteboard.md.template
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: none

feat(skills): T3+T4+T5 八份 skill 接入检索平面协议 + 校验器与探针 (RAG-S2.6-2026-08-11)
  _bmad-output/研究/2026-08-11-RAG-S2.6-导航改造-实施留档.md
  backend/scripts/check_skill_routing_block.py
  backend/scripts/run_skill_navigation_probe.py
  canvas-vault/.claude/skills/ai-linked-doc/SKILL.md
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  canvas-vault/.claude/skills/configure-whiteboard/SKILL.md
  canvas-vault/.claude/skills/exam-quick/SKILL.md
  canvas-vault/.claude/skills/node-chat/SKILL.md
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
  canvas-vault/.claude/skills/study-question/SKILL.md
Due: python-lint

fix(s2.6): 三视角独立对抗审查 24 条发现全部处置 + 回归锁 (RAG-S2.6-2026-08-11)
  CURRENT_TASK.md
  _bmad-output/研究/2026-08-11-RAG-S2.6-导航改造-实施留档.md
  _bmad-output/验收单/Story-RAG-S2.6-导航改造-mini-UAT.md
  backend/app/services/board_manifest_service.py
  backend/scripts/check_skill_routing_block.py
  backend/scripts/run_board_manifest_regression.py
  backend/tests/regression/board_manifest_gold_set.yaml
  backend/tests/regression/test_board_manifest_contracts.py
  backend/tests/regression/test_sync_board_concepts.py
  canvas-vault/.claude/scripts/sync_board_concepts.py
  canvas-vault/.claude/skills/ai-linked-doc/SKILL.md
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  canvas-vault/.claude/skills/configure-whiteboard/SKILL.md
  canvas-vault/.claude/skills/exam-quick/SKILL.md
  canvas-vault/.claude/skills/node-chat/SKILL.md
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
  canvas-vault/.claude/skills/study-question/SKILL.md
Due: python-lint

fix(vault): sentinel 行尾追加的用户文字不再被删 — UAT 实测数据丢失 (RAG-S2.6-2026-08-11)
  backend/tests/regression/test_sync_board_concepts.py
  canvas-vault/.claude/scripts/sync_board_concepts.py
Due: python-lint

fix(vault): 收编判据改白名单 + 围栏感知 + 删除留痕 — 第 3 轮审查 P0 (RAG-S2.6-2026-08-11)
  backend/tests/regression/test_sync_board_concepts.py
  canvas-vault/.claude/scripts/sync_board_concepts.py
Due: python-lint

fix(s2.6): 三把锁口径统一 + dataviewjs .md 后缀不对称 (RAG-S2.6-2026-08-11)
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_sync_board_concepts.py
  canvas-vault/.claude/skills/configure-whiteboard/templates/whiteboard.md.template
  canvas-vault/原白板/CS 61B.md
  canvas-vault/原白板/特征值与特征向量.md
  canvas-vault/原白板/线性代数.md
  canvas-vault/原白板/递归与分治 (Recursion & Divide-Conquer).md
  frontend/obsidian-plugin/src/configure-whiteboard.ts
  frontend/obsidian-plugin/tests/configure-whiteboard.test.ts
Due: python-lint

fix(vault): 节点关系图 v2.7→v2.8 口径对齐 + esbuild charset (RAG-S2.6-2026-08-12)
  canvas-vault/.claude/scripts/sync_board_concepts.py
  canvas-vault/.claude/skills/configure-whiteboard/templates/whiteboard.md.template
  canvas-vault/原白板/CS 61B.md
  canvas-vault/原白板/特征值与特征向量.md
  canvas-vault/原白板/线性代数.md
  canvas-vault/原白板/递归与分治 (Recursion & Divide-Conquer).md
  frontend/obsidian-plugin/esbuild.config.mjs
  frontend/obsidian-plugin/src/configure-whiteboard.ts
  frontend/obsidian-plugin/tests/configure-whiteboard.test.ts
Due: none

fix(sync): /sync/batch 六条 Cypher 补 (id, group_id) 复合键 — 跨 vault 写侧隔离 (P0-SYNC-ISO-2026-08-17)
  backend/app/api/v1/endpoints/sync.py
  backend/app/models/sync_models.py
  backend/app/services/canvas_projection_sync.py
  backend/app/services/exam_service_ext.py
  backend/app/services/sync_service.py
  backend/tests/unit/test_sync_batch_auth.py
  backend/tests/unit/test_sync_exception_classification.py
  backend/tests/unit/test_sync_group_isolation.py
  backend/tests/unit/test_sync_payload_validation.py
  backend/tests/unit/test_sync_segment_commit.py
  backend/tests/unit/test_wave5_stageb_continued_vault_id_injection.py
Due: spec-sync, python-lint

feat(migration): 003 canvas 图 group_id 回填 + 复合唯一约束迁移件 (P0-SYNC-ISO-2026-08-17)
  backend/migrations/003_canvas_group_isolation.cypher
  backend/scripts/migrate_canvas_group_isolation.py
  backend/tests/unit/test_migrate_canvas_group_isolation.py
Due: python-lint

fix(sync): 独立审查 F1-F3 处置 — exam 边写入空匹配如实上报等 (P0-SYNC-ISO-2026-08-17)
  backend/app/models/sync_models.py
  backend/app/services/exam_service_ext.py
  backend/migrations/003_canvas_group_isolation.cypher
  backend/scripts/migrate_canvas_group_isolation.py
  backend/tests/unit/test_exam_sync_node_group_isolation.py
  backend/tests/unit/test_migrate_canvas_group_isolation.py
  backend/tests/unit/test_wave5_stageb_continued_vault_id_injection.py
Due: python-lint

fix(sync): ON CREATE SET 紧跟 MERGE — 三条 upsert 存量 CypherSyntaxError (P0-SYNC-ISO-2026-08-17)
  backend/app/services/sync_service.py
  backend/tests/unit/test_sync_group_isolation.py
Due: python-lint

fix(sync): R10 复审核心处置 — vault 身份注册表 + commit 后 ACK + edge 独立事务 + exam 空写如实 (P0-SYNC-ISO-2026-08-17)
  backend/app/api/v1/endpoints/exam.py
  backend/app/api/v1/endpoints/sync.py
  backend/app/main.py
  backend/app/models/sync_models.py
  backend/app/services/exam_service_ext.py
  backend/app/services/schema_gate.py
  backend/app/services/sync_service.py
  backend/app/services/vault_identity_registry.py
  backend/tests/unit/test_exam_sync_node_group_isolation.py
  backend/tests/unit/test_schema_gate.py
  backend/tests/unit/test_sync_group_isolation.py
  backend/tests/unit/test_sync_segment_commit.py
  backend/tests/unit/test_vault_identity_registry.py
Due: spec-sync, python-lint

fix(read-side): R10 P1-06 读侧 group filter 全量收口 — 12+ 站点五文件 (P0-SYNC-ISO-2026-08-17)
  backend/app/api/v1/endpoints/subjects.py
  backend/app/services/cross_subject_bridge.py
  backend/app/services/question_generator.py
  backend/app/services/recommendation_service.py
  backend/app/services/verification_service.py
  backend/tests/e2e/test_a11_kg_relevance_e2e.py
  backend/tests/unit/test_cross_subject_bridge_group_isolation.py
  backend/tests/unit/test_kg_relevance_weighted.py
  backend/tests/unit/test_recommendation_group_filter.py
  backend/tests/unit/test_subjects_group_isolation.py
  backend/tests/unit/test_verification_group_filter.py
Due: spec-sync, python-lint

test: R10 migration hardening dry run
  backend/migrations/003_canvas_group_isolation.cypher
  backend/migrations/004_vault_identity_and_edge_constraints.cypher
  backend/scripts/migrate_canvas_group_isolation.py
  backend/tests/integration/test_sync_real_neo4j_gate.py
  backend/tests/unit/test_migrate_canvas_group_isolation.py
Due: python-lint

test(conftest): unit 层全局 stub vault 身份注册表 — 防单测污染生产注册表 (P0-SYNC-ISO-2026-08-17)
  backend/tests/unit/conftest.py
Due: python-lint

fix(compose): 移除被遮蔽的 data 嵌套挂载地雷 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/r11-evidence-2026-08-17/weights-three-way.json
  docker-compose.yml
Due: none

fix(config): 权重配置对齐生产分支 + 移除 data 挂载地雷 (R11-BATCH2-2026-08-17)
  backend/data/reference_priority.json
  canvas-vault/.claude/hooks/session-end-archive.py
  docker-compose.yml
Due: none

feat(index): A-9 _待处理/_archive 加入 vault 索引黑名单 (R11-BATCH2-2026-08-17)
  backend/app/config.py
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: python-lint

fix(manifest): E-2 快照落盘前剔除泄题原文 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/r11-evidence-2026-08-17/e2-snapshot-slimming.json
  backend/app/services/board_manifest_service.py
Due: python-lint
