Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

chore(t9-w4): 卡级 squash CARD-W4-FINAL-ACCOUNTING [BATCH-2026-09-11-第十四批 / CARD-W4-FINAL-ACCOUNTING]
  _bmad-output/审查/codex-review-CARD-W4-FINAL-ACCOUNTING.md
  _bmad-output/审查/evidence-w4final/DISCARDED-unit-open-20260914T195156-truncated.txt
  _bmad-output/审查/evidence-w4final/ast-after-20260914T200544.txt
  _bmad-output/审查/evidence-w4final/ast-before-20260914T195111.txt
  _bmad-output/审查/evidence-w4final/ast-protected.py
  _bmad-output/审查/evidence-w4final/base.nodeids
  _bmad-output/审查/evidence-w4final/close.nodeids
  _bmad-output/审查/evidence-w4final/contract-close-20260914T200632.txt
  _bmad-output/审查/evidence-w4final/contract-open-20260914T195128.txt
  _bmad-output/审查/evidence-w4final/gate-scope-ruff-20260914T201503.txt
  _bmad-output/审查/evidence-w4final/nc-negative-control-20260914T200618.txt
  _bmad-output/审查/evidence-w4final/nc-remove-protection.py
  _bmad-output/审查/evidence-w4final/open.nodeids
  _bmad-output/审查/evidence-w4final/readonly-live-20260914T201356.txt
  _bmad-output/审查/evidence-w4final/sentinel
  _bmad-output/审查/evidence-w4final/three-run-abc.py
  _bmad-output/审查/evidence-w4final/three-run-after-20260914T200549.txt
  _bmad-output/审查/evidence-w4final/three-run-before-20260914T195119.txt
  _bmad-output/审查/evidence-w4final/unit-close-20260914T200714.txt
  _bmad-output/审查/evidence-w4final/unit-k-liveportguard-20260914T200632.txt
  _bmad-output/审查/evidence-w4final/unit-open-20260914T195838.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-W4-FINAL-ACCOUNTING.md
  _bmad-output/验收单/UAT-CARD-W4-FINAL-ACCOUNTING-2026-09-14.md
  backend/tests/support/live_port_guard.py
Due: python-lint

chore(t9-w4): 卡级 squash T9-REVIEW-DOC 29e6afc5..29e6afc5 [BATCH-2026-09-11-第十四批 / T9-REVIEW-DOC]
  _bmad-output/审查/2026-09-16-第十四批-T9车道收口复核.md
Due: none

chore(t10-red): 卡级 squash CARD-RED-MOCKFIX [BATCH-2026-09-11-第十四批 / CARD-RED-MOCKFIX]
  _bmad-output/审查/codex-review-CARD-RED-MOCKFIX-r1.md
  _bmad-output/审查/evidence-red-mockfix/base.nodeids
  _bmad-output/审查/evidence-red-mockfix/base27.nodeids
  _bmad-output/审查/evidence-red-mockfix/close.nodeids
  _bmad-output/审查/evidence-red-mockfix/close2.nodeids
  _bmad-output/审查/evidence-red-mockfix/collection-order-20260914T202652.txt
  _bmad-output/审查/evidence-red-mockfix/commit-attempt-20260914T202037.txt
  _bmad-output/审查/evidence-red-mockfix/commit-done-20260914T202049.txt
  _bmad-output/审查/evidence-red-mockfix/diff-base-close2.txt
  _bmad-output/审查/evidence-red-mockfix/format-drift-attribution-20260914T201943.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-flip1-batch-disconnected-20260914T200317.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-flip2-30_11-degradation-20260914T200400.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-flip3-30_13-fallback-20260914T200400.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-green-20260914T200112.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-negctl-A-30_13-20260914T200216.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-negctl-B-30_11-degradation-20260914T200248.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-red-20260914T195832.txt
  _bmad-output/审查/evidence-red-mockfix/mockfix-red-traceback-20260914T195908.txt
  _bmad-output/审查/evidence-red-mockfix/open.nodeids
  _bmad-output/审查/evidence-red-mockfix/prompt-wording-gate-20260914T202123.txt
  _bmad-output/审查/evidence-red-mockfix/red27.nodeids
  _bmad-output/审查/evidence-red-mockfix/ruff-boundary-20260914T201931.txt
  _bmad-output/审查/evidence-red-mockfix/turf-ruff-gate-20260914T202057.txt
  _bmad-output/审查/evidence-red-mockfix/unit-close-20260914T200513.txt
  _bmad-output/审查/evidence-red-mockfix/unit-close-run2-20260914T201256.txt
  _bmad-output/审查/evidence-red-mockfix/unit-open-20260914T195126.txt
  _bmad-output/审查/evidence-red-mockfix/vanished.nodeids
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-MOCKFIX.md
  _bmad-output/验收单/UAT-CARD-RED-MOCKFIX-2026-09-14.md
  backend/tests/unit/test_memory_service_batch.py
  backend/tests/unit/test_story_30_11_batch_parallel.py
  backend/tests/unit/test_story_30_13_batch_idempotency.py
Due: python-lint

chore(t10-red): 卡级 squash CARD-RED-ENVDEP [BATCH-2026-09-11-第十四批 / CARD-RED-ENVDEP]
  _bmad-output/审查/codex-review-CARD-RED-ENVDEP-r1.md
  _bmad-output/审查/evidence-red-envdep/.runpath
  _bmad-output/审查/evidence-red-envdep/base.nodeids
  _bmad-output/审查/evidence-red-envdep/close.nodeids
  _bmad-output/审查/evidence-red-envdep/codex-r1-low-verify-20260914T205505.txt
  _bmad-output/审查/evidence-red-envdep/commit-attempt-20260914T203940.txt
  _bmad-output/审查/evidence-red-envdep/commit-done-20260914T203946.txt
  _bmad-output/审查/evidence-red-envdep/envdep-green-20260914T203707.txt
  _bmad-output/审查/evidence-red-envdep/envdep-red-20260914T203612.txt
  _bmad-output/审查/evidence-red-envdep/format-drift-attribution-20260914T203926.txt
  _bmad-output/审查/evidence-red-envdep/negctl-1-envvar-20260914T203955.txt
  _bmad-output/审查/evidence-red-envdep/negctl-2-env-revert-20260914T204021.txt
  _bmad-output/审查/evidence-red-envdep/negctl-3-skipif-revert-20260914T204050.txt
  _bmad-output/审查/evidence-red-envdep/scope-gate-20260914T204120.txt
  _bmad-output/审查/evidence-red-envdep/unit-close-20260914T204126.txt
  _bmad-output/审查/evidence-red-envdep/unit-diff-20260914T204808.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-ENVDEP.md
  _bmad-output/验收单/UAT-CARD-RED-ENVDEP-2026-09-14.md
  backend/requirements.txt
  backend/tests/unit/test_agent_service_extraction.py
Due: python-lint

chore(t5-bugs): 卡级 squash CARD-T-UNREACH 971061f5..385a2151 [BATCH-2026-09-11-第十四批 / CARD-T-UNREACH]
  _bmad-output/审查/codex-review-CARD-T-UNREACH-r1.md
  _bmad-output/审查/evidence-t-unreach/base.nodeids
  _bmad-output/审查/evidence-t-unreach/census-after-20260917T025334.txt
  _bmad-output/审查/evidence-t-unreach/census-final-20260917T030434.txt
  _bmad-output/审查/evidence-t-unreach/census-open-20260917T025027.txt
  _bmad-output/审查/evidence-t-unreach/close-final.nodeids
  _bmad-output/审查/evidence-t-unreach/close.nodeids
  _bmad-output/审查/evidence-t-unreach/dd03-nomock-ast-20260917T025541.txt
  _bmad-output/审查/evidence-t-unreach/dead-branch-census-all-20260917T025845.txt
  _bmad-output/审查/evidence-t-unreach/dead-branch-census-falsification-20260917T025903.txt
  _bmad-output/审查/evidence-t-unreach/downstream-impact-20260917T030715.txt
  _bmad-output/审查/evidence-t-unreach/final-verify-20260917T032608.txt
  _bmad-output/审查/evidence-t-unreach/fmt-ast-equivalence-20260917T030026.txt
  _bmad-output/审查/evidence-t-unreach/negctl-20260917T025645.txt
  _bmad-output/审查/evidence-t-unreach/negctl-final-20260917T030506.txt
  _bmad-output/审查/evidence-t-unreach/open.nodeids
  _bmad-output/审查/evidence-t-unreach/pyright-after-20260917T025338.txt
  _bmad-output/审查/evidence-t-unreach/pyright-final-20260917T030434.txt
  _bmad-output/审查/evidence-t-unreach/pyright-open-20260917T025005.txt
  _bmad-output/审查/evidence-t-unreach/pyright-testfile-20260917T030131.txt
  _bmad-output/审查/evidence-t-unreach/pyright-testfile-final-20260917T031022.txt
  _bmad-output/审查/evidence-t-unreach/redgreen-after-20260917T025300.txt
  _bmad-output/审查/evidence-t-unreach/redgreen-after-final-20260917T030434.txt
  _bmad-output/审查/evidence-t-unreach/redgreen-after-fmt-20260917T030037.txt
  _bmad-output/审查/evidence-t-unreach/redgreen-before-20260917T025201.txt
  _bmad-output/审查/evidence-t-unreach/ruff-20260917T025418.txt
  _bmad-output/审查/evidence-t-unreach/ruff-final-20260917T030434.txt
  _bmad-output/审查/evidence-t-unreach/ruff-format-20260917T025956.txt
  _bmad-output/审查/evidence-t-unreach/territory-20260917T031741.txt
  _bmad-output/审查/evidence-t-unreach/unit-close-20260917T025724.txt
  _bmad-output/审查/evidence-t-unreach/unit-close-final-20260917T030552.txt
  _bmad-output/审查/evidence-t-unreach/unit-open-20260917T025023.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-T-UNREACH.md
  _bmad-output/验收单/UAT-CARD-T-UNREACH-2026-09-17.md
  backend/app/api/v1/endpoints/boards.py
  backend/app/mcp/tools/board_manifest_tools.py
  backend/tests/unit/test_board_manifest_unreach_t5e.py
Due: spec-sync, python-lint

chore(t3-review): 卡级 squash CARD-U6C-HANDOVER [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  _bmad-output/审查/codex-review-CARD-U6C-HANDOVER-r1.md
  _bmad-output/审查/codex-review-CARD-U6C-HANDOVER-r2.md
  _bmad-output/审查/evidence-u6c-handover/attrib-reg-red-is-preexisting-20260917T132100.txt
  _bmad-output/审查/evidence-u6c-handover/due-crossed-AFTER-20260917T125101.txt
  _bmad-output/审查/evidence-u6c-handover/due-crossed-BEFORE-20260917T125004.txt
  _bmad-output/审查/evidence-u6c-handover/key-collision-20260917T125621.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item1-20260917T125712.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-behavior-20260917T125758.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-identity-only-20260917T132910.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-identity-only-behaviorgreen-20260917T132936.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-pinnable-entry-20260917T125827.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-pinnable-entry-20260917T125852.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item3-donekey-sep-20260917T125949.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item3-donekey-sep-20260917T130018.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item3-round5-degraded-20260917T130044.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item4-dud1-dud3-fuse-20260917T130117.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item4-dud2-20260917T125918.txt
  _bmad-output/审查/evidence-u6c-handover/parent-child-clock-BEFORE-20260917T125229.txt
  _bmad-output/审查/evidence-u6c-handover/post-r1-fix-tests-20260917T133018.txt
  _bmad-output/审查/evidence-u6c-handover/pyright-after-20260917T130142.txt
  _bmad-output/审查/evidence-u6c-handover/pyright-after-r1fix-20260917T133056.txt
  _bmad-output/审查/evidence-u6c-handover/pyright-baseline-20260917T124633.txt
  _bmad-output/审查/evidence-u6c-handover/reg-closing-20260917T130814.txt
  _bmad-output/审查/evidence-u6c-handover/ruff-after-r1fix-20260917T133056.txt
  _bmad-output/审查/evidence-u6c-handover/ruff-worktree-20260917T130155.txt
  _bmad-output/审查/evidence-u6c-handover/ruff-worktree-20260917T130215.txt
  _bmad-output/审查/evidence-u6c-handover/unit-closing-20260917T130225.txt
  _bmad-output/审查/evidence-u6c-handover/unit-reddiff-20260917T130805.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-U6C-HANDOVER.md
  _bmad-output/验收单/UAT-CARD-U6C-HANDOVER-2026-09-17.md
  backend/app/api/v1/endpoints/review_app.py
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/regression/test_daily_review_run.py
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_run.py
Due: spec-sync, python-lint

chore(t4-g3): 卡级 squash CARD-U9B-OPENSPEC [BATCH-2026-09-11-第十四批 / CARD-U9B-OPENSPEC]
  _bmad-output/审查/codex-review-CARD-U9B-OPENSPEC-r1.md
  _bmad-output/审查/codex-review-CARD-U9B-OPENSPEC-r2.md
  _bmad-output/审查/codex-review-CARD-U9B-OPENSPEC-r3.md
  _bmad-output/审查/codex-review-CARD-U9B-OPENSPEC-r4.md
  _bmad-output/审查/evidence-u9b-openspec/after-archive-20260916T013202.txt
  _bmad-output/审查/evidence-u9b-openspec/after-archive-final-20260916T015936.txt
  _bmad-output/审查/evidence-u9b-openspec/after-archive-r2-20260916T014951.txt
  _bmad-output/审查/evidence-u9b-openspec/barename-zero-20260916T013118.txt
  _bmad-output/审查/evidence-u9b-openspec/base.nodeids
  _bmad-output/审查/evidence-u9b-openspec/before-archive-20260915T235906.txt
  _bmad-output/审查/evidence-u9b-openspec/close.nodeids
  _bmad-output/审查/evidence-u9b-openspec/collect-g37-20260916T000922.txt
  _bmad-output/审查/evidence-u9b-openspec/facts-20260915T234453.txt
  _bmad-output/审查/evidence-u9b-openspec/final-close-20260916T021238.txt
  _bmad-output/审查/evidence-u9b-openspec/minute0-20260915T234340.txt
  _bmad-output/审查/evidence-u9b-openspec/prev.txt
  _bmad-output/审查/evidence-u9b-openspec/reverify-session2-20260916T124618.txt
  _bmad-output/审查/evidence-u9b-openspec/reverify-session2-part2-20260916T124637.txt
  _bmad-output/审查/evidence-u9b-openspec/reverify-session2-part3-20260916T124755.txt
  _bmad-output/审查/evidence-u9b-openspec/reverify-session2-part4-20260916T125313.txt
  _bmad-output/审查/evidence-u9b-openspec/territory-20260916T014054.txt
  _bmad-output/审查/evidence-u9b-openspec/territory-precommit-20260916T013221.txt
  _bmad-output/审查/evidence-u9b-openspec/unit-close-20260916T013234.txt
  _bmad-output/审查/evidence-u9b-openspec/validate-after-20260916T013053.txt
  _bmad-output/审查/evidence-u9b-openspec/validate-r2-20260916T014934.txt
  _bmad-output/审查/evidence-u9b-openspec/validate-r3-20260916T015912.txt
  _bmad-output/审查/evidence-u9b-openspec/validate-r4-20260916T020742.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-U9B-OPENSPEC-r1.md
  _bmad-output/审查/prompts/codex-prompt-CARD-U9B-OPENSPEC-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-U9B-OPENSPEC-r3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-U9B-OPENSPEC-r4.md
  _bmad-output/验收单/UAT-CARD-U9B-OPENSPEC-2026-09-16.md
  backend/tests/regression/test_g3_7_truth_source.py
  docs/project-status/fr-exploration/A6-phase0-reference-card.md
  openspec/specs/concept-identity/spec.md
Due: python-lint

chore(t8-tools): 卡级 squash CARD-PYRIGHT-TAIL [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-TAIL]
  _bmad-output/审查/2026-09-13-PYRIGHT-TAIL-census.md
  _bmad-output/审查/codex-review-CARD-PYRIGHT-TAIL.md
  _bmad-output/审查/evidence-pyright-tail/base.nodeids
  _bmad-output/审查/evidence-pyright-tail/census-anchors-20260917T135742.txt
  _bmad-output/审查/evidence-pyright-tail/close.nodeids
  _bmad-output/审查/evidence-pyright-tail/final-binding-20260917T142346.txt
  _bmad-output/审查/evidence-pyright-tail/g-census-only-20260917T140550.txt
  _bmad-output/审查/evidence-pyright-tail/green-after-20260917T135708.txt
  _bmad-output/审查/evidence-pyright-tail/h-negctl-20260917T140704.txt
  _bmad-output/审查/evidence-pyright-tail/i-anchor-fix-20260917T140632.txt
  _bmad-output/审查/evidence-pyright-tail/i-territory-20260917T140602.txt
  _bmad-output/审查/evidence-pyright-tail/medium3-control-and-q1-20260917T142039.txt
  _bmad-output/审查/evidence-pyright-tail/medium3-src-analysis-set-20260917T141919.txt
  _bmad-output/审查/evidence-pyright-tail/medium3-src-analysis-set-20260917T141954.txt
  _bmad-output/审查/evidence-pyright-tail/negctl-pyright-injected-20260917T140704.txt
  _bmad-output/审查/evidence-pyright-tail/negctl-pyright-restored-20260917T140704.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-app-after-20260917T135717.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-app-before-20260917T135402.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-app-final-20260917T142346.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-dependencies-after-20260917T135717.txt
  _bmad-output/审查/evidence-pyright-tail/red-before-20260917T135419.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-check-20260917T140647.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-format-drift-preexisting-20260917T140444.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-format-hunks-20260917T140508.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-format-nonintersect-20260917T140523.txt
  _bmad-output/审查/evidence-pyright-tail/semantic-lines-20260917T140602.txt
  _bmad-output/审查/evidence-pyright-tail/unit-close-20260917T135858.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-TAIL.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-TAIL-2026-09-17.md
  backend/app/dependencies.py
  backend/app/services/canvas_service.py
  backend/app/services/exam_service.py
  backend/app/services/review_service.py
  pyrightconfig.json
Due: python-lint

chore(t8-tools): 卡级 squash CARD-PYRIGHT-GATE [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-GATE]
  _bmad-output/审查/codex-review-CARD-PYRIGHT-GATE.md
  _bmad-output/审查/evidence-pyright-gate/archive-compliance-20260917T161815.txt
  _bmad-output/审查/evidence-pyright-gate/census-and-territory-20260917T160054.txt
  _bmad-output/审查/evidence-pyright-gate/final-binding-20260917T161925.txt
  _bmad-output/审查/evidence-pyright-gate/final-checks-20260917T161846.txt
  _bmad-output/审查/evidence-pyright-gate/gate-configfile-proof-20260917T161630.txt
  _bmad-output/审查/evidence-pyright-gate/gate-pyright-20260917T155555.txt
  _bmad-output/审查/evidence-pyright-gate/gate-warn-attribution-20260917T155740.txt
  _bmad-output/审查/evidence-pyright-gate/lefthook-typecheck-block-20260917T160033.txt
  _bmad-output/审查/evidence-pyright-gate/prompt-compliance-20260917T160939.txt
  _bmad-output/审查/evidence-pyright-gate/protocol-2.3-close.patch
  _bmad-output/审查/evidence-pyright-gate/protocol-23-close-judges-20260917T155925.txt
  _bmad-output/审查/evidence-pyright-gate/territory-postcommit-20260917T160922.txt
  _bmad-output/审查/evidence-pyright-gate/unit-20260917T160110.txt
  _bmad-output/审查/evidence-pyright-gate/unit-diff-20260917T160613.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-GATE.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-GATE-2026-09-17.md
Due: none

chore(batch14): 集成期再生 backend/openapi.json（T3/T5/T6 端点变更合流）[BATCH-2026-09-11-第十四批]
  backend/openapi.json
Due: none

test(batch14): 集成修复 G6-9 边界矩阵登记门转正（T3-C G6-9b 接进 generated_push_failed）[BATCH-2026-09-11-第十四批]
  backend/tests/regression/test_g6_9_boundary_matrix.py
Due: python-lint

chore(batch15): 剔除机械核运行产物 .mech_check_last.json 并加目录级 .gitignore [BATCH-2026-09-18-第十五批]
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/.gitignore
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/.mech_check_last.json
Due: none

docs(b15b): 续跑手册+10卡GLM改写+协议§2.4/§2.4.2+zcode补审通道 [BATCH-2026-09-18-第十五批]
  .claude/rules/card-batch-protocol.md
  _bmad-output/implementation-artifacts/goal-cards/2026-09-19-第十五批续跑手册-DeepSeek开发×GLM复核.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P1-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P10-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P2-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P3-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P5-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P5-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P6-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P6-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P7-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/P7-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/gate_goal_length_b15b.py
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/show_goal_b15b.py
  _bmad-output/第十五批续跑审阅-2026-09-19.md
Due: none

docs(b15b): 10条补审goal（zcode通道·逐卡SHA/文件集）+ 门扩容至20块 [BATCH-2026-09-18-第十五批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-19-第十五批续跑手册-DeepSeek开发×GLM复核.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/gate_goal_length_b15b.py
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/show_goal_b15b.py
  _bmad-output/第十五批续跑审阅-2026-09-19.md
Due: none

docs(b15b): 起点锚容忍化（补审/开发任意顺序安全）+ Obsidian 开跑命令卡 [BATCH-2026-09-18-第十五批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-19-第十五批续跑手册-DeepSeek开发×GLM复核.md
  _bmad-output/第十五批-车道开跑命令卡.md
Due: none

docs(b15b): goal 块改普通消息版（去 /goal 前缀）+ 粘贴手册修正 [BATCH-2026-09-18-第十五批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-19-第十五批续跑手册-DeepSeek开发×GLM复核.md
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/gate_goal_length_b15b.py
  _bmad-output/implementation-artifacts/goal-cards/第十五批-goals/show_goal_b15b.py
  _bmad-output/第十五批-车道开跑命令卡.md
  _bmad-output/第十五批续跑审阅-2026-09-19.md
Due: none

docs(b15b): 投递定论=文件指针短消息（整块粘贴静默丢弃实测）+ 命令卡同步 [BATCH-2026-09-18-第十五批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-19-第十五批续跑手册-DeepSeek开发×GLM复核.md
  _bmad-output/第十五批-车道开跑命令卡.md
  _bmad-output/第十五批续跑审阅-2026-09-19.md
Due: none

chore(scripts): 新增 Jev 审查分诊+校准工具（高危召回 7/7）[BATCH-2026-09-18-第十五批]
  scripts/jev_review_triage.py
  scripts/jev_triage_calibration.py
Due: none

docs(b15b): Jev 分诊接入（块内步骤+§零.5/零.6+协议§2.4.3；块长压缩回门内） [BATCH-2026-09-18-第十五批]
  .claude/rules/card-batch-protocol.md
  _bmad-output/implementation-artifacts/goal-cards/2026-09-19-第十五批续跑手册-DeepSeek开发×GLM复核.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
