Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

style(agentic_rag): ruff format 四个存量未格式化文件 (R11-BATCH2-2026-08-17)
  backend/lib/agentic_rag/clients/graphiti_client.py
  backend/lib/agentic_rag/compression.py
  backend/lib/agentic_rag/mastery_injection.py
  backend/lib/agentic_rag/nodes.py
Due: python-lint

fix(agentic_rag): A-2 mastery 方法名契约入库 + 三处静默失效硬化 (R11-BATCH2-2026-08-17)
  backend/lib/agentic_rag/clients/graphiti_client.py
  backend/lib/agentic_rag/compression.py
  backend/lib/agentic_rag/mastery_injection.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/unit/test_mastery_injection_memory_contract.py
Due: python-lint

chore(gitignore): 排除 manifest 快照缓存与 raw 课程材料 (R11-BATCH2-2026-08-17)
  .gitignore
Due: none

docs(census): D-2 死信队列重数盘点 — 92 条无出口 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/r11-evidence-2026-08-17/d2-dead-letter-census.md
Due: none

fix(docs+index): A-1 语义死链修正 + A-4 excalibrain 排除索引 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: python-lint

ci(test): D-1 修复 CI 全红根因 + 生产分支纳入监听 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
Due: none

ci(test): 补 CI 测试态配置 — 修 Settings 校验 exit 4 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
Due: none

ci(test): 提高超时并启用 xdist 并行 — 修第四环 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
Due: none

ci(test): 收敛到已实测绿的 5 文件子集 — 小而确定的门 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
Due: none

docs(batch2): D-1 证据包 + CURRENT_TASK 锚点更新 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
  _bmad-output/审查/r11-evidence-2026-08-17/d1-ci-final-run.txt
  _bmad-output/审查/r11-evidence-2026-08-17/d1-ci-gate.md
Due: none

fix(security): Codex 审查返工 — 快照迁移/硬底/降级三处收口 (R11-BATCH2-2026-08-17)
  backend/app/api/v1/endpoints/metadata.py
  backend/app/config.py
  backend/app/core/reference_config.py
  backend/app/services/board_manifest_service.py
  backend/app/services/vault_index_orchestrator.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/regression/test_immutable_skip_dirs_contract.py
  backend/tests/regression/test_reference_config_fallback_contract.py
  backend/tests/regression/test_snapshot_schema_migration_contract.py
  backend/tests/regression/test_vault_skip_files_scope_contract.py
Due: spec-sync, python-lint

docs(correction): 更正 D-2 统计与收官表述 — P2-01/P2-03/P1-06 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
  _bmad-output/审查/r11-evidence-2026-08-17/d2-dead-letter-census.md
Due: none

ci(security): P1-04 让安全审计失败真实传播 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
Due: none

docs(r11): 补录 A-8 授权 + E-3 移出验收范围 + 审查处置全景 (R11-BATCH2-2026-08-17)
  _bmad-output/研究/2026-08-17-R11-下一批次开发清单-第2批数据边界与可信基线.md
Due: none

fix(memory): P1-03 学习记忆检索改走 MemoryService + 显式降级信号 (R11-BATCH2-2026-08-17)
  backend/lib/agentic_rag/mastery_injection.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/unit/test_mastery_injection_memory_contract.py
Due: python-lint

docs(review): 给 Codex 的审查方法改善意见 — R11 第二批返工反馈 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/2026-08-19-给Codex的审查方法改善意见-R11第二批返工反馈.md
Due: none

fix(memory+config): Codex 复核 P1-02/P1-06/P1-07 — 三处返工缺陷 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
  backend/app/core/reference_config.py
  backend/lib/agentic_rag/mastery_injection.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/regression/test_reference_config_fallback_contract.py
Due: python-lint

docs(anchor): P1-08 重写 CURRENT_TASK 恢复锚点 — 对齐 HEAD 与远端实况 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
Due: none

fix(security): P1-05 Graphiti backfill 接入唯一策略源 + 硬底补三项 (R11-BATCH2-2026-08-17)
  backend/app/config.py
  backend/app/services/vault_backfill.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/regression/test_all_index_entrypoints_hostile_env.py
Due: python-lint

docs(anchor): P1-05 重新打开 + §D 两处勘误 — 计数改记 SHA、.claude 硬底理由更正 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
  backend/app/config.py
Due: python-lint

fix(security): P1-05b 统一路径准入 check_vault_path 接四条漏网扫描链 + 祖先目录 bug (R11-BATCH2-2026-08-17)
  backend/app/core/vault_admission.py
  backend/app/main.py
  backend/app/services/canvas_projection_sync.py
  backend/app/services/error_reader.py
  backend/app/services/error_rebuild_service.py
  backend/app/services/relationship_sync_service.py
  backend/tests/regression/test_all_index_entrypoints_hostile_env.py
  backend/tests/regression/test_projection_sync_ghost_edges.py
  backend/tests/unit/test_canvas_projection_sync.py
  backend/tests/unit/test_error_rebuild_service.py
  backend/tests/unit/test_vault_admission.py
Due: python-lint

feat(scripts): P1-05b 污染只读盘点 census 脚本 + backfill 黑名单闭包提升模块级 (R11-BATCH2-2026-08-17)
  backend/app/services/vault_backfill.py
  backend/scripts/census_graphiti_pollution.py
Due: python-lint

docs(census): P1-05b 污染盘点报告 — Q1 active 2 条可精确定位, 隔离组名待批 A/B (R11-BATCH2-2026-08-17)
  _bmad-output/审查/2026-08-19-P1-05b-Graphiti污染盘点census报告.md
Due: none

feat(snapshot): P1-05b SnapshotV3 allowlist + pick_eligible + v3 文件名迁移 (R11-BATCH2-2026-08-17)
  backend/app/models/snapshot_v3.py
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_board_manifest_contracts.py
  backend/tests/regression/test_snapshot_schema_migration_contract.py
  backend/tests/regression/test_snapshot_v3_contract.py
Due: python-lint

docs(anchor): P1-05b 中间态锚点 — 4/5 完成, 隔离执行与容器重启等用户批准 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
Due: none

feat(scripts): P1-05b 污染隔离执行 — 2 条边迁 quarantine__p105b, 三门验收全过 (R11-BATCH2-2026-08-17)
  backend/scripts/quarantine_graphiti_pollution.py
Due: python-lint

docs(anchor): P1-05b 终版锚点 — 五步全收官, 隔离执行+容器重启线上实测通过 (R11-BATCH2-2026-08-17)
  CURRENT_TASK.md
Due: none

docs(review): Codex 复核 P1-05b 九路独立验证 — 7 CONFIRMED + 2 PARTIAL, 拒绝收官成立 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/2026-08-20-Codex复核P1-05b-九路独立验证与处置方案.md
Due: none

fix(security): B1 准入收口 — NFC+casefold 归一/backfill 委托/containment/判定前移 (R11-BATCH2-2026-08-17)
  backend/app/core/vault_admission.py
  backend/app/services/vault_backfill.py
  backend/app/services/vault_index_orchestrator.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/scripts/census_graphiti_pollution.py
  backend/tests/regression/test_all_index_entrypoints_hostile_env.py
  backend/tests/unit/test_vault_admission.py
Due: python-lint

fix(security): B2 读侧闭合 — 墓碑过滤 5 条 Cypher + reader 组校验 + 节点隔离四门 (R11-BATCH2-2026-08-17)
  backend/app/services/graphiti_memory_reader.py
  backend/app/services/question_generator.py
  backend/app/services/recommendation_service.py
  backend/app/services/verification_service.py
  backend/scripts/quarantine_graphiti_pollution.py
  backend/tests/regression/test_tombstone_read_side_contract.py
  backend/tests/unit/test_recommendation_group_filter.py
Due: python-lint

fix(snapshot): B3 快照双洞 — 写侧校验对称/非dict防御/strict 契约, 超限拒绝不截断 (R11-BATCH2-2026-08-17)
  backend/app/models/snapshot_v3.py
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_snapshot_v3_contract.py
Due: python-lint

docs(honesty): B5 测试文案与锚点诚实化 — 34 实数/mock 申报/CI 补 4 文件/锚点四处勘误 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
  CURRENT_TASK.md
  backend/tests/regression/test_all_index_entrypoints_hostile_env.py
Due: python-lint

docs(review): P1-05c 四轮审查任务书 — 逐 F 回执 + 四处反驳点 + B4 押后声明 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/2026-08-20-P1-05c-四轮审查包-给Codex.md
Due: none

docs(review): Codex 四轮终裁九路验证 — 9/9 CONFIRMED 含 B3 新回归一条, C 批次待裁 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/2026-08-20-Codex四轮终裁-九路验证与C批次方案.md
Due: none

fix(snapshot): C2 快照三洞 — 脏时间投影None止血B3新回归/嵌套错型自愈/ID丢弃不切片 (R11-BATCH2-2026-08-17)
  backend/app/models/snapshot_v3.py
  backend/app/services/board_manifest_service.py
  backend/tests/regression/test_snapshot_v3_contract.py
Due: python-lint

fix(graphiti): C3 组闭环 — caller 显式传 vault 组修恒空 bug + 隔离身份拒绝复用 (R11-BATCH2-2026-08-17)
  backend/app/graphiti/identity_registry.py
  backend/app/services/question_generator.py
  backend/tests/regression/test_tombstone_read_side_contract.py
Due: python-lint

fix(security): C1 真实入口准入闭环 — open 前 containment/hash 前准入/missing 404 (R11-BATCH2-2026-08-17)
  backend/app/api/v1/endpoints/sync.py
  backend/app/services/relationship_sync_service.py
  backend/app/services/vault_index_orchestrator.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/regression/test_real_entrypoint_admission.py
Due: spec-sync, python-lint

docs(honesty): C4 census Q2 中性化 + 锚点新规则 — 不落盘 CI run 号 (R11-BATCH2-2026-08-17)
  .github/workflows/test.yml
  CURRENT_TASK.md
  backend/scripts/census_graphiti_pollution.py
Due: python-lint

docs(review): P1-05d 五轮审查任务书 — C1-C4 逐项回执 + 残余债务诚实登记 (R11-BATCH2-2026-08-17)
  _bmad-output/审查/2026-08-20-P1-05d-五轮审查包-给Codex.md
Due: none

chore(governance): quarantine hooks PLAN-CLS-PRODUCTIVITY-2026-08-20
  .claude/settings.json
  lefthook.yml
Due: none
