Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

docs(a3-phase0): rectify Section 11.5 scope drift framing
  docs/project-status/a3-review-summary.md
Due: none

docs(openspec): archive a11-phase0-plan-driven-exam-architecture
  openspec/changes/archive/2026-04-07-a11-phase0-plan-driven-exam-architecture/.openspec.yaml
  openspec/changes/archive/2026-04-07-a11-phase0-plan-driven-exam-architecture/design.md
  openspec/changes/archive/2026-04-07-a11-phase0-plan-driven-exam-architecture/proposal.md
  openspec/changes/archive/2026-04-07-a11-phase0-plan-driven-exam-architecture/specs/exam-planning/spec.md
  openspec/changes/archive/2026-04-07-a11-phase0-plan-driven-exam-architecture/tasks.md
  openspec/specs/exam-planning/spec.md
Due: none

fix(a10-phase0-hardening): observability + 1x perf + kg schema + bounded concurrency
  backend/app/models/exam_models.py
  backend/app/services/mastery_engine.py
  backend/app/services/question_generator.py
  backend/tests/e2e/test_a11_kg_relevance_e2e.py
  backend/tests/unit/test_question_generator_mastery_data.py
  docs/project-status/fr-exploration/A10-resolution-summary.md
  openspec/changes/archive/2026-04-07-a10-phase0-hardening/.openspec.yaml
  openspec/changes/archive/2026-04-07-a10-phase0-hardening/design.md
  openspec/changes/archive/2026-04-07-a10-phase0-hardening/proposal.md
  openspec/changes/archive/2026-04-07-a10-phase0-hardening/specs/algo-question/spec.md
  openspec/changes/archive/2026-04-07-a10-phase0-hardening/tasks.md
  openspec/specs/algo-question/spec.md
Due: python-lint

test(a10-phase0-hardening): update test_kg_relevance_weighted cypher assertion
  backend/tests/unit/test_kg_relevance_weighted.py
Due: python-lint

chore(auto-sync): 1 files, A6-phase0-reference-card.md
  docs/project-status/fr-exploration/A6-phase0-reference-card.md
Due: none

chore(auto-sync): 1 files, mastery_fusion.py
  backend/app/services/mastery_fusion.py
Due: python-lint

chore(auto-sync): 5 files, mastery_tools.py
  backend/app/mcp/tools/mastery_tools.py
  backend/app/services/mastery_engine.py
  backend/app/services/question_generator.py
  backend/tests/unit/test_mastery_fusion.py
  backend/tests/unit/test_question_generator_mastery_data.py
Due: python-lint

docs(a10-phase0-fallback-observability): archive + section 14 summary
  docs/project-status/fr-exploration/A10-resolution-summary.md
  openspec/changes/archive/2026-04-07-a10-phase0-fallback-observability/.openspec.yaml
  openspec/changes/archive/2026-04-07-a10-phase0-fallback-observability/design.md
  openspec/changes/archive/2026-04-07-a10-phase0-fallback-observability/proposal.md
  openspec/changes/archive/2026-04-07-a10-phase0-fallback-observability/specs/algo-question/spec.md
  openspec/changes/archive/2026-04-07-a10-phase0-fallback-observability/tasks.md
  openspec/specs/algo-question/spec.md
Due: none

chore(auto-sync): 2 files, design.md
  openspec/changes/archive/2026-04-07-fix-structlog-caplog-compat/design.md
  openspec/changes/archive/2026-04-07-fix-structlog-caplog-compat/tasks.md
Due: none

fix(hooks): frontend stryker pipe-blindness in post-tool-router
  .claude/hooks/post-tool-router.sh
Due: none

fix(test): correct episode_id / batch_id hash length assertions (16 → 32)
  backend/tests/unit/test_story_30_10_idempotency.py
Due: python-lint

docs(algo-question): lock canvasnode dual binding as long-term commitment
  openspec/changes/archive/2026-04-07-a10-phase1-lock-canvasnode-dual-binding/.openspec.yaml
  openspec/changes/archive/2026-04-07-a10-phase1-lock-canvasnode-dual-binding/design.md
  openspec/changes/archive/2026-04-07-a10-phase1-lock-canvasnode-dual-binding/proposal.md
  openspec/changes/archive/2026-04-07-a10-phase1-lock-canvasnode-dual-binding/specs/algo-question/spec.md
  openspec/changes/archive/2026-04-07-a10-phase1-lock-canvasnode-dual-binding/tasks.md
  openspec/specs/algo-question/spec.md
Due: none

chore(auto-sync): 1 files, settings.local.json
  .claude/settings.local.json
Due: none

feat(scripts): add offline fusion weight ablation harness (synthetic)
  openspec/changes/archive/2026-04-07-a10-phase1-ablation-harness-synthetic/.openspec.yaml
  openspec/changes/archive/2026-04-07-a10-phase1-ablation-harness-synthetic/design.md
  openspec/changes/archive/2026-04-07-a10-phase1-ablation-harness-synthetic/proposal.md
  openspec/changes/archive/2026-04-07-a10-phase1-ablation-harness-synthetic/specs/algo-fusion-ablation/spec.md
  openspec/changes/archive/2026-04-07-a10-phase1-ablation-harness-synthetic/tasks.md
  openspec/specs/algo-fusion-ablation/spec.md
  scripts/README_ablation.md
  scripts/ablation_fusion_weights.py
  scripts/fixtures/synthetic_fusion_sample.jsonl
Due: none

docs(A10-resolution-summary): add section 15 Phase 1 progress
  docs/project-status/fr-exploration/A10-resolution-summary.md
Due: none

docs(scheme-a-planning): import Plan v15 to v23 PRD archive (6 files, 1.3 MB)
  docs/scheme-a-planning/14-scheme-a-implementation-prd.md
  docs/scheme-a-planning/16-triangulated-review-report.md
  docs/scheme-a-planning/17-prd-v3-changelog.md
  docs/scheme-a-planning/19-prd-v4-changelog.md
  docs/scheme-a-planning/20-adversarial-review-prompt-v3.md
  docs/scheme-a-planning/21-prd-v5-changelog.md
  docs/scheme-a-planning/README.md
Due: none

chore(auto-sync): 1 files, phase-1-day-1-spike-results.md
  docs/scheme-a-planning/phase-1-day-1-spike-results.md
Due: none

chore(auto-sync): 2 files, phase-1-day-1-spike-results.md
  docs/scheme-a-planning/obsidian-deploy-plugin-spec.md
  docs/scheme-a-planning/phase-1-day-1-spike-results.md
Due: none

fix(health): mode-aware Neo4j probe to eliminate JSON_FALLBACK false-positive
  backend/app/api/v1/endpoints/health.py
  backend/tests/test_health.py
Due: spec-sync, python-lint

fix(worker): pre-flight neo4j connectivity before graphiti() to prevent fire-and-forget task leak
  backend/app/services/episode_worker.py
  backend/tests/test_episode_worker_preflight.py
Due: python-lint

docs(spike-results): mark l5-#1 and l5-#2 as fixed in plan v25 option c
  docs/scheme-a-planning/phase-1-day-1-spike-results.md
Due: none

chore(auto-sync): 2 files, pretool-guard.js
  .claude/hooks/pretool-guard.js
  CLAUDE.md
Due: none

chore(auto-sync): 10 files, context-inject.js
  .claude/hooks/context-inject.js
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/traceability.yml
  CLAUDE.md
  _decisions/CURRENT_TASK.md
  _plans/DASHBOARD.md
  _plans/PLAN-001-trackpad-pan.md
  _prd-register/PRD14-INDEX.md
  _prd-register/PRD14-S00.md
  _prd-register/PRD14-S01.md
  _prd-register/PRD14-S02.md
  _prd-register/PRD14-S03.md
  _prd-register/PRD14-S04.md
  _prd-register/PRD14-S05.md
  _prd-register/PRD14-S06.md
  _prd-register/PRD14-S07.md
  _prd-register/PRD14-S08.md
  _prd-register/PRD14-S09.md
  _prd-register/PRD14-S10.md
  _prd-register/PRD14-S11.md
  _prd-register/PRD14-S12.md
  _prd-register/PRD14-S13.md
  _templates/tpl-feedback.md
  _templates/tpl-plan.md
  _templates/tpl-verification.md
  _verification/VER-001-trackpad-pan.md
  lefthook.yml
Due: none

chore(auto-sync): 5 files, sync-report.md
  docs/_meta/indices/story-file-map.yaml
  docs/_meta/sync-report.md
  scripts/__init__.py
  scripts/trace/build_story_file_map.py
  scripts/trace/locate_by_bug.py
Due: none

chore(auto-sync): 3 files, 1-7-concept-relation-recommendation.md
  _bmad-output/implementation-artifacts/1-7-concept-relation-recommendation.md
  docs/_meta/annotations/ANNO-TEST-001.yaml
  scripts/bmad/scan_feedback.py
Due: none

chore(auto-sync): 3 files, bmm-sm.customize.yaml
  _bmad/_config/agents/bmm-sm.customize.yaml
  _bmad/custom-bmm-ext/module-help.csv
  _bmad/custom-bmm-ext/module.yaml
Due: none

chore(auto-sync): 2 files, instructions.xml
  _bmad/custom-bmm-ext/workflows/apply-feedback/instructions.xml
  scripts/bmad/scan_feedback.py
Due: none

chore(auto-sync): 3 files, prd.md
  _bmad-output/planning-artifacts/prd-tauri-archived-20260401.md
  _prd-register/PRD14-INDEX.md
Due: none

chore(auto-sync): 1 files, prd.md
  _bmad-output/planning-artifacts/prd.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
