Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

test(w4-guard): 顺序门改为遇局部函数即拒绝猜，停止近似调用语义 [BATCH-2026-09-11-第十四批 / CARD-W4-4b7-TAIL]
  backend/tests/support/live_port_guard.py
  backend/tests/unit/test_live_port_guard_contract.py
Due: python-lint

docs(mutant-scan): 验收单 + 五轮存档首部 [BATCH-2026-09-11-第十四批 / CARD-TOOL-residue-fail-open]
  _bmad-output/审查/codex-review-CARD-TOOL-residue-fail-open-r2.md
  _bmad-output/审查/codex-review-CARD-TOOL-residue-fail-open-r3.md
  _bmad-output/审查/codex-review-CARD-TOOL-residue-fail-open-r4.md
  _bmad-output/审查/codex-review-CARD-TOOL-residue-fail-open-r5.md
  _bmad-output/审查/codex-review-CARD-TOOL-residue-fail-open.md
  _bmad-output/审查/prompts/codex-prompt-CARD-TOOL-residue-fail-open-r5.md
  _bmad-output/验收单/UAT-CARD-TOOL-residue-fail-open-2026-09-14.md
Due: none

docs(mutant-scan): 收尾核验存档 [BATCH-2026-09-11-第十四批 / CARD-TOOL-residue-fail-open]
  _bmad-output/审查/evidence-residue-fo/final-grades-20260914T214035.txt
  _bmad-output/审查/evidence-residue-fo/final-verification-20260914T214027.txt
Due: none

revert(g39): 整轮退回 r4 那批修复——它引入了一条 HIGH [BATCH-2026-09-11-第十四批 / CARD-G3-9]
  _bmad-output/审查/2026-09-14-G3-9-J06-evidence-draft.md
  _bmad-output/审查/evidence-g39/close-final.nodeids
  _bmad-output/审查/evidence-g39/g39_mutation_negctl.py
  _bmad-output/审查/evidence-g39/gates-revert-20260914T214133.txt
  _bmad-output/审查/evidence-g39/mutation-negctl-revert-20260914T213637.txt
  _bmad-output/审查/evidence-g39/reconcile-live-final-20260914T214133.json
  _bmad-output/审查/evidence-g39/sentinel7
  _bmad-output/审查/evidence-g39/unit-close-final-20260914T214152.txt
  _bmad-output/审查/evidence-g39/unit-diff-final-20260914T214152.txt
  _bmad-output/验收单/UAT-CARD-G3-9-2026-09-14.md
  backend/scripts/g39_three_view_reconcile.py
  backend/tests/regression/test_g39_three_view_reconcile.py
Due: python-lint

docs(t7a): D-32 措辞尾巴 + 验收单与五轮 Codex 存档 [BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r1.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r2-p2.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r2.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r3.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r4.md
  _bmad-output/审查/codex-review-CARD-HARNESS-TREE-PARSE-REDO-r5.md
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-final-20260914T214146.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-final-20260914T214146.txt
  _bmad-output/审查/evidence-harness-tree/ruff-territory-final-20260914T214531.txt
  _bmad-output/审查/evidence-harness-tree/skills-final-20260914T214146.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r2-p2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO-r5.md
  _bmad-output/审查/prompts/codex-prompt-CARD-HARNESS-TREE-PARSE-REDO.md
  _bmad-output/验收单/UAT-CARD-HARNESS-TREE-PARSE-REDO-2026-09-14.md
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

test(w4-guard): 拒绝面扩到一切延迟执行体 + 清残留文案 [BATCH-2026-09-11-第十四批 / CARD-W4-4b7-TAIL]
  backend/tests/unit/test_live_port_guard_contract.py
Due: python-lint

fix(g6-9c-r2): 按 Codex r1 整改 2 HIGH + 5 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/api/v1/endpoints/review_overview.py
  backend/app/core/display_tz.py
  backend/openapi.json
  backend/tests/regression/test_g6_9c_single_tz_source.py
  backend/tests/unit/test_review_overview.py
  scripts/local_tz.py
Due: spec-sync, python-lint

docs(w4-guard): D-32 docstring 尾巴：三处更正 + 登记 TypeAlias 漏面 [BATCH-2026-09-11-第十四批 / CARD-W4-4b7-TAIL]
  backend/tests/unit/test_live_port_guard_contract.py
Due: python-lint

fix(g6-9c-r2): 按 Codex r2 整改 HIGH-2 + 2 MEDIUM + 5 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/api/v1/endpoints/review_overview.py
  backend/app/core/display_tz.py
  backend/openapi.json
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/local_tz.py
Due: spec-sync, python-lint

fix(g2-9-f2): 启动自愈补上「判不出主人就不碰」闸（r5-HIGH-1） [BATCH-2026-09-11-第十四批 / CARD-G2-9-F2]
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/unit/test_lancedb_cross_vault_drop_g29f1.py
Due: python-lint

fix(g6-9c-r2): 按 Codex r3 整改 HIGH + MEDIUM + 3 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/core/display_tz.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  backend/tests/unit/test_review_overview.py
  scripts/local_tz.py
Due: python-lint

feat(t6-b): 孤儿重放器接进真实路径 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/api/v1/endpoints/traces.py
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
  backend/tests/integration/test_neo4j_replay_wire_t6b.py
Due: spec-sync, python-lint

test(y4d-tail): 恢复 4 条被 skip 掩盖的测试并按 EpisodeWorker 重写 [BATCH-2026-09-11-第十四批 / CARD-Y4-D-TAIL]
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: python-lint

fix(t5-b): edges Neo4j 改 run_query + except 补 AttributeError [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

test(g610): 双 vault 交互隔离 canary + 7692 真库门 [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/evidence-g610/base.nodeids
  _bmad-output/审查/evidence-g610/canary-guard-anchors-20260914T223856.txt
  _bmad-output/审查/evidence-g610/canary-isolated-20260914T223646.txt
  _bmad-output/审查/evidence-g610/canary-sharestate-20260914T223700.txt
  _bmad-output/审查/evidence-g610/close.nodeids
  _bmad-output/审查/evidence-g610/gate-7691-refused-20260914T223717.txt
  _bmad-output/审查/evidence-g610/gate-7691-selflayer-20260914T223759.txt
  _bmad-output/审查/evidence-g610/gate-7692-20260914T223717.txt
  _bmad-output/审查/evidence-g610/gate-mutation-anchors-20260914T223817.txt
  _bmad-output/审查/evidence-g610/prereq.txt
  _bmad-output/审查/evidence-g610/readonly-and-uri-20260914T223904.txt
  _bmad-output/审查/evidence-g610/ruff-and-identity-20260914T223914.txt
  _bmad-output/审查/evidence-g610/ruff-falsification-anchor-20260914T223926.txt
  _bmad-output/审查/evidence-g610/sentinel
  _bmad-output/审查/evidence-g610/unit-close-20260914T223934.txt
  backend/scripts/g610_dual_vault_interaction_canary.py
  backend/tests/integration/test_g610_dual_vault_isolation.py
Due: python-lint

fix(t6-b): 按 Codex round-1 整改四处 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/api/v1/endpoints/traces.py
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
  backend/tests/integration/test_neo4j_replay_wire_t6b.py
Due: spec-sync, python-lint

feat(deploy): 步 5/6 真 activate 事务化 + 三段新增 + --also-push 实现 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/evidence-g2-8/negctl-4seg-20260914T224053.txt
  _bmad-output/审查/evidence-g2-8/negctl-assert-anchored-20260914T224217.txt
  _bmad-output/审查/evidence-g2-8/red-20260914T223535.txt
  _bmad-output/审查/evidence-g2-8/sentinel
  _bmad-output/审查/evidence-g2-8/unit-deploy-close-20260914T223923.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-final-20260914T224431.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-postformat-20260914T224745.txt
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

test(y4d-tail): 按 Codex r1 更正覆盖归属措辞与分类自述 [BATCH-2026-09-11-第十四批 / CARD-Y4-D-TAIL]
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: python-lint

fix(t5-b): 按 Codex r1 整改 7692 端口白名单 + 惰性探针 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

fix(g6-9c-r2): 按 Codex r4 整改 HIGH + 3 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/core/display_tz.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/local_tz.py
Due: python-lint

test(w4-sentinel): 判据改绑 blocked+正文身份 + sha 三态 [BATCH-2026-09-11-第十四批 / CARD-W4-SENTINEL-REBIND]
  backend/tests/support/hygiene_snapshot_tristate.py
  backend/tests/support/w4_sentinel_identity.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_w4_sentinel_rebind.py
Due: python-lint

fix(t6-b): 按 Codex round-2 整改 HIGH-1 等五处 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/api/v1/endpoints/traces.py
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
  backend/tests/integration/test_neo4j_replay_wire_t6b.py
Due: spec-sync, python-lint

test(y4d-tail): 按 Codex r2 消除四处覆盖声明自相矛盾 [BATCH-2026-09-11-第十四批 / CARD-Y4-D-TAIL]
  backend/tests/unit/test_graphiti_json_dual_write.py
Due: python-lint

fix(deploy): r1 整改 — readiness 只看顶层 status + 阶段账紧邻复查 + .env 逐字节 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/codex-review-CARD-G2-8-r1.md
  _bmad-output/审查/evidence-g2-8/negctl-r1fix-7seg-20260914T230041.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r1fix-20260914T230250.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

fix(t5-b): 按 Codex r2 补 scheme 白名单排除路由族 URI [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

test(y4d-tail): 按 Codex r3 收窄两处过强的覆盖措辞 [BATCH-2026-09-11-第十四批 / CARD-Y4-D-TAIL]
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: python-lint

fix(t6-b): 按 Codex round-3 整改清理身份与 U+2028 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/services/fallback_sync_service.py
  backend/tests/integration/test_neo4j_replay_wire_t6b.py
Due: python-lint

test(y4d-tail): 按 Codex r4 收窄覆盖声明并加强两条 recovery 断言 [第十四批 / CARD-Y4-D-TAIL]
  backend/tests/unit/test_graphiti_json_dual_write.py
  backend/tests/unit/test_story_38_6_scoring_reliability.py
Due: python-lint

fix(mutkill): 判据收口 H1/H2/M①②③ [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

docs(t5-b): 按 Codex r3 更正三处措辞——W4 对本文件只记账不拦 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/app/api/v1/endpoints/edges.py
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: spec-sync, python-lint

test(w4-sentinel): 按 Codex r1 修三条 HIGH 假绿 [BATCH-2026-09-11-第十四批 / CARD-W4-SENTINEL-REBIND]
  backend/tests/support/w4_sentinel_identity.py
  backend/tests/unit/conftest.py
  backend/tests/unit/test_w4_sentinel_rebind.py
Due: python-lint

docs(t5-b): 按 Codex r4 L3 把 advisory 措辞收成「可能」并撤回第二道防线说法 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: python-lint

fix(t6-b): 按 Codex round-4 整改 checkpoint 口径等五处 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
  backend/tests/integration/test_neo4j_replay_wire_t6b.py
Due: python-lint

fix(g6-9c-r2): 按 Codex r5 整改 HIGH + MEDIUM + 3 LOW [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/core/display_tz.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/local_tz.py
Due: python-lint

docs(t5-b): 按 Codex r5 L3 改掉 docstring 残余的「必然真连」表述 [BATCH-2026-09-11-第十四批 / CARD-T-EDGES]
  backend/tests/integration/test_edges_dual_write_neo4j_t5b.py
Due: python-lint

fix(deploy): r2 整改 — 阶段账改持有 fd + Lance 上限剥前导零与间隔受预算约束 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/codex-review-CARD-G2-8-r1.md
  _bmad-output/审查/codex-review-CARD-G2-8-r2.md
  _bmad-output/审查/evidence-g2-8/negctl-r2fix-11seg-20260914T231734.txt
  _bmad-output/审查/evidence-g2-8/negctl-r2fix-12seg-20260914T232040.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r2fix-20260914T232339.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r2.md
  _bmad-output/验收单/UAT-CARD-G2-8-2026-09-14.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

docs(g6-9c-r2): 台账补第 17 条——卡文 decay_beta 判据在 BASE 上即不成立 [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  _bmad-output/验收单/UAT-CARD-G6-9c-R2-2026-09-14.md
Due: none
