Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

docs(t6-b): 收尾合规核存档 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/evidence-neo4j-replay-wire/final-compliance-20260914T233054.txt
Due: none

fix(mutkill): round-2 整改 Codex 3 MEDIUM + 2 LOW [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

test(w4-sentinel): 按 Codex r2 修两条残留假绿 + ZERO 标签 [BATCH-2026-09-11-第十四批 / CARD-W4-SENTINEL-REBIND]
  backend/tests/support/w4_sentinel_identity.py
  backend/tests/unit/test_w4_sentinel_rebind.py
Due: python-lint

fix(t6-b): 按 Codex round-5 整改游标语义与回填解耦 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
  backend/tests/unit/test_story_38_8_fallback_sync.py
Due: python-lint

fix(t6-b): 另两条链的游标同型缺陷一并修 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/services/fallback_sync_service.py
Due: python-lint

fix(t6-b): 按 Codex round-6 修三条数据丢失路径 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/services/fallback_sync_service.py
Due: python-lint

fix(g6-9c-r2): 按 Codex r6 整改 HIGH + LOW [BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/app/core/display_tz.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/local_tz.py
Due: python-lint

fix(mutkill): round-3 整改 Codex 1 HIGH + 3 MEDIUM [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(deploy): r3 整改 — 开账失败 fail-closed + up/down 输出走 fd 9 + 引号去重 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/codex-review-CARD-G2-8-r3.md
  _bmad-output/审查/evidence-g2-8/README-负控存档序列.md
  _bmad-output/审查/evidence-g2-8/negctl-final-15seg-20260914T234549.txt
  _bmad-output/审查/evidence-g2-8/negctl-r3fix-15seg-20260914T233914.txt
  _bmad-output/审查/evidence-g2-8/negctl-r3fix-15seg-final-20260914T234243.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r3fix-20260914T234955.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r3.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

docs(t6-b): Codex 七轮收口, 停车交裁定 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r6.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r7.md
  _bmad-output/审查/evidence-neo4j-replay-wire/final-gates-1028bea7-20260914T235536.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/fix-contiguous-cursor-verify-20260914T233447.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/fix-r6-three-highs-20260914T234507.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/other-chains-checkpoint-selfcheck-20260914T233625.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/other-chains-same-defect-20260914T233636.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/pyright-r6fix-20260914T233502.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/pyright-r7fix-20260914T233742.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/pyright-r8fix-20260914T234523.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r6fix-20260914T233348.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r6fix-20260914T233418.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r7fix-20260914T233709.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r8fix-20260914T234443.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r6fix-20260914T233502.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r7fix-20260914T233742.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r8fix-20260914T234523.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/territory-r6-20260914T233341.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/territory-r7-20260914T233900.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-WIRE-r6.md
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-WIRE-r7.md
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-WIRE-2026-09-14.md
Due: none

docs(t6-b): 最终合规自检存档 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/evidence-neo4j-replay-wire/final-compliance-r7-20260914T235624.txt
Due: none

fix(t6-b): 按 Codex round-7 修 canvas 链与评分历史确认 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/services/fallback_sync_service.py
Due: python-lint

docs(g6-9c-r2): 按 Codex r7 改两条失实注释（纯注释，零行为改动）[BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  backend/tests/regression/test_g6_9c_single_tz_source.py
Due: python-lint

fix(mutkill): round-4 整改 Codex 2 MEDIUM + 1 LOW [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

docs(g6-9c-r2): r6-r8 存档 + 验收单终审状态（r8 绑最终 HEAD，本卡新增 B/H/M=0）[BATCH-2026-09-11-第十四批 / CARD-G6-9c-R2]
  _bmad-output/审查/codex-review-CARD-G6-9c-R2-r6.md
  _bmad-output/审查/codex-review-CARD-G6-9c-R2-r7.md
  _bmad-output/审查/codex-review-CARD-G6-9c-R2-r8.md
  _bmad-output/审查/evidence-g69cr2/close7.nodeids
  _bmad-output/审查/evidence-g69cr2/close8.nodeids
  _bmad-output/审查/evidence-g69cr2/g69cr2-negctl-20260914T233717.txt
  _bmad-output/审查/evidence-g69cr2/g69cr2-negctl-20260914T233740.txt
  _bmad-output/审查/evidence-g69cr2/g69cr2-negctl-20260914T235557.txt
  _bmad-output/审查/evidence-g69cr2/unit-close7-20260914T234113.txt
  _bmad-output/审查/evidence-g69cr2/unit-close8-20260914T235557.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-9c-R2-r6.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-9c-R2-r7.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-9c-R2-r8.md
  _bmad-output/验收单/UAT-CARD-G6-9c-R2-2026-09-14.md
Due: none

fix(t6-b): 按 Codex round-8 修游标作废与 pending 口径 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/main.py
  backend/app/services/fallback_sync_service.py
Due: python-lint

test(w4-sentinel): 判据改为只读自报条数的记录块 [BATCH-2026-09-11-第十四批 / CARD-W4-SENTINEL-REBIND]
  backend/tests/support/w4_sentinel_identity.py
  backend/tests/unit/test_w4_sentinel_rebind.py
Due: python-lint

docs(t6-b): r8 分类结论 + 两条修复落档 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r8.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r9.md
  _bmad-output/审查/evidence-neo4j-replay-wire/fix-r7-four-highs-20260914T235759.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/fix-r8-20260915T000812.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/pyright-r9b-20260915T000901.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/pyright-r9fix-20260914T235815.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r8fix-20260914T235734.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r9b-20260915T000841.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/replay-green-r9fix-20260915T000747.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r9b-20260915T000901.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r9c-20260915T001014.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r9fix-20260914T235815.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-WIRE-r8.md
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-WIRE-r9.md
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-WIRE-2026-09-14.md
Due: none

fix(deploy): r4 整改 — 开账后核 fd 的 inode 身份，关掉复查与 open 之间的窗口 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/codex-review-CARD-G2-8-r4.md
  _bmad-output/审查/evidence-g2-8/negctl-final-r4-17seg-20260915T000551.txt
  _bmad-output/审查/evidence-g2-8/negctl-r4fix-17seg-20260915T000104.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r4fix-20260915T000945.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r4.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

fix(mutkill): round-5 整改 Codex 1 MEDIUM + 1 LOW [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(t6-b): 按 Codex round-9 收口状态口径与端点语义 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  backend/app/api/v1/endpoints/traces.py
  backend/app/services/fallback_sync_service.py
Due: spec-sync, python-lint

docs(t6-b): r9 判定本卡 HIGH 归零 + 两条修复落档 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r10.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r9.md
  _bmad-output/审查/evidence-neo4j-replay-wire/fix-r9-pending-20260915T001918.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/pyright-r10-20260915T001941.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r10-20260915T001811.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/suite-r10-20260915T001941.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-WIRE-r10.md
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-WIRE-2026-09-14.md
Due: none

docs(t6-b): Codex 十轮终审「本卡 HIGH=0 可交付」落档 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r10.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r8.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-WIRE-r9.md
  _bmad-output/审查/evidence-neo4j-replay-wire/final-gates-8e3c3fa2-20260915T002646.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/unit-close-final-8e3c3fa2-20260915T002638.txt
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-WIRE-2026-09-14.md
Due: none

fix(deploy): r5 整改 — 身份采样与核对两侧各自要求 nlink==1，不让「相等」替「合格」背书 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/codex-review-CARD-G2-8-r4.md
  _bmad-output/审查/codex-review-CARD-G2-8-r5.md
  _bmad-output/审查/evidence-g2-8/negctl-final-r5-18seg-20260915T002120.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r5fix-20260915T002534.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r5.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

docs(deploy): CARD-G2-8 验收单定稿 + 收工核验存档 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/evidence-g2-8/close-checks-20260915T002819.txt
  _bmad-output/验收单/UAT-CARD-G2-8-2026-09-14.md
Due: none

test(w4-sentinel): 记录起点改常量 + 孤儿记录兜底 [BATCH-2026-09-11-第十四批 / CARD-W4-SENTINEL-REBIND]
  backend/tests/support/w4_sentinel_identity.py
  backend/tests/unit/test_w4_sentinel_rebind.py
Due: python-lint

docs(t6-b): 最终 unit 目录级 diff 落档 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/审查/evidence-neo4j-replay-wire/close-8e3c3fa2.nodeids
  _bmad-output/审查/evidence-neo4j-replay-wire/unit-close-final-8e3c3fa2-20260915T002638.txt
  _bmad-output/审查/evidence-neo4j-replay-wire/unit-diff-8e3c3fa2-20260915T003131.txt
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-WIRE-2026-09-14.md
Due: none

docs(w4-sentinel): D-32 尾巴：docstring 与实现对齐 [BATCH-2026-09-11-第十四批 / CARD-W4-SENTINEL-REBIND]
  backend/tests/support/w4_sentinel_identity.py
  backend/tests/unit/test_w4_sentinel_rebind.py
Due: python-lint

fix(mutkill): round-6 整改 Codex 2 MEDIUM + 1 LOW [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

fix(g610): 采纳 Codex r1 两条 HIGH + 六条 MEDIUM [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/codex-review-CARD-G6-10-r1.md
  _bmad-output/审查/evidence-g610/canary-isolated-r2-20260915T114525.txt
  _bmad-output/审查/evidence-g610/canary-sharestate-r2-20260915T114525.txt
  _bmad-output/审查/evidence-g610/gate-7692-r2-20260915T114525.txt
  _bmad-output/审查/evidence-g610/gate-mutation-anchors-r2-20260914T225924.txt
  _bmad-output/审查/evidence-g610/live-backups-cleanup-PENDING.md
  _bmad-output/审查/evidence-g610/r2-judges-20260915T114557.txt
  _bmad-output/审查/evidence-g610/ruff-array-20260914T224707.txt
  _bmad-output/审查/evidence-g610/territory-20260914T224659.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-10.md
  backend/scripts/g610_dual_vault_interaction_canary.py
  backend/tests/integration/test_g610_dual_vault_isolation.py
Due: python-lint

feat(t7a): 缺 PyYAML 即拒写，删除降级解析 [BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-failclosed-20260915T114656.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-failclosed-20260915T114656.txt
  _bmad-output/审查/evidence-harness-tree/negctl-r6-failclosed-20260915T114630.txt
  _bmad-output/审查/evidence-harness-tree/repro-counterexample-20260914.py
  _bmad-output/审查/evidence-harness-tree/ruff-territory-failclosed-20260915T115139.txt
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

fix(g2-9-f2): 裸表口径不再被「V 可能缺项」的闸拖累（r6-M2） [BATCH-2026-09-11-第十四批 / CARD-G2-9-F2]
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/unit/test_lancedb_cross_vault_drop_g29f1.py
Due: python-lint

fix(g610): 采纳 Codex r2 一条 HIGH + 三条 MEDIUM [BATCH-2026-09-11-第十四批 / CARD-G6-10]
  _bmad-output/审查/codex-review-CARD-G6-10-r2.md
  _bmad-output/审查/evidence-g610/pyc-sentinel
  _bmad-output/审查/evidence-g610/r2high-tempdir-probe-20260915T115342.txt
  _bmad-output/审查/evidence-g610/r2high-tempdir-probe-20260915T115402.txt
  _bmad-output/审查/evidence-g610/r2medium-anchors-20260915T115411.txt
  _bmad-output/审查/evidence-g610/r2medium-anchors-corrected-20260915T115507.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-10-r2.md
  backend/scripts/g610_dual_vault_interaction_canary.py
  backend/tests/integration/test_g610_dual_vault_isolation.py
Due: python-lint

fix(mutkill): round-7 整改 Codex 4 MEDIUM + 4 LOW [BATCH-2026-09-11-第十四批 / CARD-DEBT-mutkill-R3]
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
  backend/scripts/mutation_verdict_reconcile.py
  backend/tests/unit/test_mutation_kill_identity_r3.py
Due: python-lint

docs(g2-9-f2): 按 Codex r7 两条 LOW 更正 docstring 过度表述（D-32 纯文案） [BATCH-2026-09-11-第十四批 / CARD-G2-9-F2]
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/unit/test_lancedb_cross_vault_drop_g29f1.py
Due: python-lint
