Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

fix(recap): verifier 数字治理域收紧（default-deny + 句式绑定）[BATCH-2026-08-31-第七批 / CARD-维护B]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-29-维护卡B-board-recap-verifier收紧.md
  _bmad-output/审查/adversarial-audit-CARD-维护B-2026-08-31.md
  _bmad-output/审查/codex-review-CARD-维护B-round1.md
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-CS 61B.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-CS188 lecture 2.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-特征值与特征向量.json
  backend/tests/regression/fixtures/recap_live_reports/.recap-scan-递归与分治 (Recursion & Divide-Conquer).json
  backend/tests/regression/fixtures/recap_live_reports/回顾-CS 61B-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-CS188 lecture 2-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-特征值与特征向量-2026-08-27.md
  backend/tests/regression/fixtures/recap_live_reports/回顾-递归与分治 (Recursion & Divide-Conquer)-2026-08-27.md
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(scope): 独立审计整改 — temporal 归一 + 降级落点补归属 + 8 处文档不实
  .claude/rules/cypher-read-contract.md
  _bmad-output/审查/CARD-G4-1b-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-1b.md
  backend/app/clients/neo4j_client.py
  backend/app/services/memory_service.py
  backend/scripts/g41b_mutation_negative_controls.py
  backend/scripts/g41b_readscope_grep_gate.py
  backend/tests/integration/test_cypher_contract_gate.py
  backend/tests/unit/test_neo4j_client.py
  docs/known-gotchas.md
Due: python-lint

docs(review): 用户四项裁决落账 + 更正「0.0.0.0 暴露」假声明 [BATCH-2026-08-31-第七批 / CARD-G6-1 + CARD-G6-4]
  _bmad-output/审查/2026-08-31-CARD-G6-1-Codex对抗审查.md
  _bmad-output/验收单/UAT-CARD-G6-1-投影按需重建API-2026-08-31.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/unit/test_review_overview.py
Due: spec-sync, python-lint

feat(api): 四态贯穿 API/trace 面 [BATCH-2026-08-31-第七批 / CARD-G4-3]
  _bmad-output/审查/CARD-G4-3-状态词汇对齐登记.md
  _bmad-output/审查/CARD-G4-3-证据冻结清单.txt
  _bmad-output/审查/CARD-G4-3-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-3-round2.md
  _bmad-output/审查/codex-review-CARD-G4-3-round3.md
  _bmad-output/审查/codex-review-CARD-G4-3-round4.md
  _bmad-output/审查/codex-review-CARD-G4-3.md
  _bmad-output/审查/evidence-g43/01-review-suggestions-消费方证据.txt
  _bmad-output/审查/evidence-g43/02-先红-定稿测试在HEAD代码上的回放.txt
  _bmad-output/审查/evidence-g43/03-基线失败清单-59条.txt
  _bmad-output/审查/evidence-g43/04-变异门验证-输出.txt
  _bmad-output/审查/evidence-g43/05-最终失败清单-59条.txt
  _bmad-output/审查/evidence-g43/06-comm对账.txt
  _bmad-output/审查/evidence-g43/mutation_gate_check_g43.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/rag.py
  backend/app/core/decision_tracker.py
  backend/app/models/memory_schemas.py
  backend/tests/api/v1/endpoints/test_memory_four_state_api.py
  backend/tests/api/v1/endpoints/test_rag_four_state_api.py
  backend/tests/integration/test_memory_subject_filter.py
  tests/integration/test_memory_api.py
Due: spec-sync, python-lint

docs(review): CARD-G4-3 定向 round-5 终裁存档 [BATCH-2026-08-31-第七批 / CARD-G4-3]
  _bmad-output/审查/codex-review-CARD-G4-3-round5.md
Due: none

docs(review): CARD-G5-6 定向 round-2 存档 — 1 BLOCKER + 4 HIGH 仍开 [BATCH-2026-08-31-第七批 / CARD-G5-6]
  _bmad-output/审查/codex-review-CARD-G5-6-round2.md
Due: none

docs(review): G2-4/G2-5 定向 round-2 存档 — 3 HIGH 仍开 [BATCH-2026-08-31-第七批 / CARD-G2-4 + G2-5]
  _bmad-output/审查/codex-review-CARD-G2-4-G2-5-round2.md
Due: none

chore(governance): 第七批复核裁定 + G6-1 部署 env [BATCH-2026-08-31-第七批]
  _bmad-output/审查/2026-08-31-第七批复核裁定与待裁决登记.md
  docker-compose.yml
Due: none

docs(governance): 未合卡追踪台账 + 第七批收官锚点 [BATCH-2026-08-31-第七批]
  CURRENT_TASK.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
Due: none

docs(goal-cards): 第八批开跑手册 9 车道 14 卡 [BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
Due: none

docs(governance): 未合卡台账 4 行状态→已排入第八批整改车道 [BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
Due: none

chore(governance): 车道 venv freeze 2026-08-31 + 手册配方改 --no-deps [BATCH-2026-09-01-第八批]
  _bmad-output/.venv-freeze-2026-08-31.txt
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
Due: none

docs(goal-cards): 第八批手册 goal 块重渲染为第七批形态 [BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
Due: none

docs(goal-cards): 第八批 13 个 goal 块纯排版重排 + 复制范围提示 [BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
Due: none

docs(goal-cards): 第八批 goal 重排修正 + 每块单文件 第八批-goals/ [BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V5.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V6.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-1.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-3.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W5.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W6.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W7.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-1.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-3.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W9.md
Due: none

docs(goal-cards): 第八批 goal 第三轮断行（逗号/括号/空格退路）[BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V5.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V6.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-1.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-3.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W5.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W6.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W7.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-1.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-3.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W9.md
Due: none

docs(goal-cards): 第八批短 goal ≤4000 + 卡文分层 [BATCH-2026-09-01-第八批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-01-第八批开跑手册-9车道14卡.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V5.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/V6.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-1.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W4-3.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W5.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W6.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W7.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-1.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-2.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W8-3.md
  _bmad-output/implementation-artifacts/goal-cards/第八批-goals/W9.md
Due: none

fix(fsrs): 底层 fallback 激活时不再谎报 algorithm="fsrs-4.5" [BATCH-2026-09-01-第八批 / CARD-DEBT-8]
  _bmad-output/审查/evidence-debt8/after-k-filter.txt
  _bmad-output/审查/evidence-debt8/baseline-6files.txt
  _bmad-output/审查/evidence-debt8/baseline-k-filter.txt
  _bmad-output/审查/evidence-debt8/judge1-7files.txt
  _bmad-output/审查/evidence-debt8/mutation-run.txt
  _bmad-output/审查/evidence-debt8/mutation_negative_controls_debt8.py
  _bmad-output/审查/evidence-debt8/pre-mutation-sha.txt
  _bmad-output/审查/evidence-debt8/red-state-run.txt
  backend/app/services/review_service.py
  backend/lib/memory/temporal/fsrs_manager.py
  backend/tests/regression/test_debt8_fsrs_fallback_honest.py
Due: python-lint

feat(g4-4): rag.py/nodes.py 显式 VaultScope 核心改动 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  backend/app/api/v1/endpoints/agents.py
  backend/app/api/v1/endpoints/rag.py
  backend/lib/agentic_rag/nodes.py
Due: spec-sync, python-lint

feat(review): CARD-G6-2 交互复习壳 /overview/app 单文件 HTML [BATCH-2026-09-01-第八批 / CARD-G6-2]
  _bmad-output/审查/G6-2-UI范式-demo.html
  _bmad-output/审查/evidence-g62/demo-范式-上半区.jpg
  _bmad-output/审查/evidence-g62/demo-范式-下半区.jpg
  _bmad-output/审查/evidence-g62/g62-1-unavailable不白屏.png
  _bmad-output/审查/evidence-g62/g62-2-正常-live列表.png
  _bmad-output/审查/evidence-g62/g62-3-网络零外部请求-netlog同跑.png
  _bmad-output/审查/evidence-g62/g62_mutation_negative_controls.py
  _bmad-output/审查/evidence-g62/netlog-analysis.txt
  _bmad-output/审查/evidence-g62/netlog-normal-full.json.gz
  _bmad-output/审查/evidence-g62/走查时间线.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2.md
  backend/app/api/v1/endpoints/review_app.py
  backend/app/api/v1/router.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

fix(review): CARD-DEBT-8 补强——log_decision 诚实化+探针增强+M10 变异+验收单 [BATCH-2026-09-01-第八批 / CARD-DEBT-8]
  _bmad-output/审查/evidence-debt8/after-k-filter-v2.txt
  _bmad-output/审查/evidence-debt8/judge1-7files-v2.txt
  _bmad-output/审查/evidence-debt8/mutation-run-v2.txt
  _bmad-output/审查/evidence-debt8/mutation_negative_controls_debt8.py
  _bmad-output/审查/evidence-debt8/pre-mutation-sha-v2.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-8.md
  _bmad-output/验收单/UAT-CARD-DEBT-8-fsrs-fallback-诚实化.md
  backend/app/services/review_service.py
  backend/tests/regression/test_debt8_fsrs_fallback_honest.py
Due: python-lint

fix(skills): board-recap 数字治理整改——注记槽/⑦收紧/死代码删除 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: none

test(recap): survivor 承重门 11 组+真语料放行/篡改门+负验证追加 5 变体 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  backend/tests/regression/fixtures/recap_synthetic_signals/.recap-scan-CS 61B.json
  backend/tests/regression/fixtures/recap_synthetic_signals/回顾-CS 61B-2026-09-01.md
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
Due: python-lint

docs(governance): 维护B 验收单覆盖 v2+卡文§零补记+裁判证据存档 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-29-维护卡B-board-recap-verifier收紧.md
  _bmad-output/审查/evidence-maintb-r2/e1-pre-implementation-red.txt
  _bmad-output/审查/evidence-maintb-r2/f-collect-after.txt
  _bmad-output/审查/evidence-maintb-r2/f-collect-before.txt
  _bmad-output/审查/evidence-maintb-r2/f-collect-final.txt
  _bmad-output/审查/evidence-maintb-r2/f-scan-cs61b-fresh.json
  _bmad-output/审查/evidence-maintb-r2/judge1-final.txt
  _bmad-output/审查/evidence-maintb-r2/live-outputs-baseline-20260901T002852.txt
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-1.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-2.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-3.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-4.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-5.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-6.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-7.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-mutant-8.out
  _bmad-output/审查/evidence-maintb-r2/replay-after-result.txt
  _bmad-output/审查/evidence-maintb-r2/replay-survivors-result.json
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
Due: none

feat(g4-4): rag.py notry 日志 + 既有测试最小适配 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  backend/app/api/v1/endpoints/agents.py
  backend/app/api/v1/endpoints/rag.py
  backend/tests/api/v1/endpoints/test_agents_learning_event.py
  backend/tests/api/v1/endpoints/test_rag_four_state_api.py
Due: spec-sync, python-lint

fix(g24): 摘要递归纳入nested metadata+死门修复, round-4清零 [BATCH-2026-09-01-第八批 / CARD-G2-4]
  _bmad-output/审查/codex-review-CARD-G2-4-round3.md
  _bmad-output/审查/codex-review-CARD-G2-4-round4.md
  _bmad-output/审查/evidence-g24/a-judge-probe-round4.txt
  _bmad-output/审查/evidence-g24/a-judge-probe.txt
  _bmad-output/审查/evidence-g24/b-locks-post-fix-green.txt
  _bmad-output/审查/evidence-g24/b-locks-pre-fix-red.txt
  _bmad-output/审查/evidence-g24/base-failed.sorted
  _bmad-output/审查/evidence-g24/baseline-round3.txt
  _bmad-output/审查/evidence-g24/c-mutation-red-round4.txt
  _bmad-output/审查/evidence-g24/c-mutation-red-round4b.txt
  _bmad-output/审查/evidence-g24/c-mutation-red.txt
  _bmad-output/审查/evidence-g24/comm-new-failures-round4.txt
  _bmad-output/审查/evidence-g24/comm-new-failures.txt
  _bmad-output/审查/evidence-g24/grep-gate-round4.txt
  _bmad-output/审查/evidence-g24/post-failed.sorted
  _bmad-output/审查/evidence-g24/post-fix-suite-round3.txt
  _bmad-output/审查/evidence-g24/post-fix-suite-round4.txt
  _bmad-output/审查/evidence-g24/post4-failed.sorted
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-4-round3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-4-round4.md
  _bmad-output/验收单/UAT-CARD-G2-4-Lance旧表回退删除-2026-08-31.md
  backend/scripts/archive_legacy_lance_tables_g24.py
  backend/tests/unit/test_archive_legacy_lance_tables_g24.py
Due: python-lint

test(g4-4): agent 链 subject 透传门 + 变异证据归档 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  _bmad-output/审查/evidence-g44/after-judge2-v2.txt
  _bmad-output/审查/evidence-g44/baseline-judge1.txt
  _bmad-output/审查/evidence-g44/baseline-judge2.txt
  _bmad-output/审查/evidence-g44/g44_mutations.py
  _bmad-output/审查/evidence-g44/mutation-run.txt
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: python-lint

fix(skills): 列表项围栏逃逸修复+承重门——round-2 线索落地 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  _bmad-output/审查/evidence-maintb-r2/codex-hint-repro.txt
  _bmad-output/审查/evidence-maintb-r2/judge1-final2.txt
  _bmad-output/审查/evidence-maintb-r2/negverify-final.txt
  _bmad-output/审查/evidence-maintb-r2/probe_codex_hint.py
  _bmad-output/审查/evidence-maintb-r2/replay-after-result2.txt
  _bmad-output/审查/evidence-maintb-r2/replay_after.py
  _bmad-output/审查/evidence-maintb-r2/replay_survivors.py
  backend/tests/regression/recap_domain_negverify.py
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

fix(review): CARD-DEBT-8 codex round-1 PASS——M1/M3/LOW1 整改+终判存档 [BATCH-2026-09-01-第八批 / CARD-DEBT-8]
  _bmad-output/审查/codex-review-CARD-DEBT-8.md
  _bmad-output/审查/codex-review-CARD-DEBT-8.stderr
  _bmad-output/审查/evidence-debt8/after-k-filter-v3.txt
  _bmad-output/审查/evidence-debt8/judge1-7files-v3.txt
  _bmad-output/审查/evidence-debt8/mutation-run-v3.txt
  _bmad-output/审查/evidence-debt8/pre-mutation-sha-v3.txt
  _bmad-output/验收单/UAT-CARD-DEBT-8-fsrs-fallback-诚实化.md
  backend/app/services/review_service.py
  backend/tests/regression/test_debt8_fsrs_fallback_honest.py
Due: python-lint

fix(G5-6): 五处误判整改 B3/H1/H2/H3/H4 + 自审追加护栏 [BATCH-2026-09-01-第八批 / CARD-G5-6b]
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

docs(governance): round-2 截断存档+线索修复记账+验收单终态数字+round-3 重发 [BATCH-2026-09-01-第八批 / CARD-维护B-R2]
  _bmad-output/审查/codex-review-CARD-维护B-round2.md
  _bmad-output/审查/codex-review-CARD-维护B-round2.stderr
  _bmad-output/审查/evidence-maintb-r2/judge3-final.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-round2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-维护B-round3.md
  _bmad-output/验收单/UAT-CARD-维护B-数字治理域-2026-08-31.md
Due: none

feat(obs): 端点日志 nothrow 包装 + 注入回归锁 + 存量登记 [BATCH-2026-09-01-第八批 / CARD-OBS-nothrow-logging]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/prompts/codex-prompt-CARD-OBS-nothrow-logging.md
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/rag.py
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
  backend/tests/api/v1/endpoints/test_rag_four_state_api.py
Due: spec-sync, python-lint

fix(g4-4): codex round-1 整改: 裸表旁路+空白vault_id+适配补全 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  _bmad-output/审查/evidence-g44/g44_mutations.py
  _bmad-output/审查/evidence-g44/mutation-run.txt
  backend/app/api/v1/endpoints/rag.py
  backend/lib/agentic_rag/nodes.py
  backend/tests/api/v1/endpoints/test_rag_vault_scope_api.py
  backend/tests/api/v1/endpoints/test_recommend_action.py
  backend/tests/unit/test_agentic_rag_vault_scope.py
Due: spec-sync, python-lint

test(bark): Bark 外发自动打桩+八跑负门+同类扫描门 [BATCH-2026-09-01-第八批 / CARD-TEST-bark-autostub]
  _bmad-output/审查/CARD-TEST-bark-autostub-验收单.md
  _bmad-output/审查/codex-review-CARD-TEST-bark-autostub-round2.md
  _bmad-output/审查/codex-review-CARD-TEST-bark-autostub-round2.stderr
  _bmad-output/审查/codex-review-CARD-TEST-bark-autostub-round3.md
  _bmad-output/审查/codex-review-CARD-TEST-bark-autostub-round3.stderr
  _bmad-output/审查/codex-review-CARD-TEST-bark-autostub.md
  _bmad-output/审查/codex-review-CARD-TEST-bark-autostub.stderr
  _bmad-output/审查/prompts/codex-prompt-CARD-TEST-bark-autostub-round2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-TEST-bark-autostub-round3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-TEST-bark-autostub.md
  backend/scripts/bark_autostub_negative_control.py
  backend/tests/regression/bark_egress_probe.py
  backend/tests/regression/conftest.py
  backend/tests/regression/test_daily_review_run.py
  scripts/send_bark.py
Due: python-lint

docs(bark): 验收单回填 commit SHA [BATCH-2026-09-01-第八批 / CARD-TEST-bark-autostub]
  _bmad-output/审查/CARD-TEST-bark-autostub-验收单.md
Due: none

docs(g4-4): 验收单 v2 + codex round-1 存档 PLAN-G4-4 [BATCH-2026-09-01-第八批 / CARD-G4-4]
  _bmad-output/审查/codex-review-CARD-G4-4.md
  _bmad-output/审查/codex-review-CARD-G4-4.stderr
  _bmad-output/审查/prompts/codex-prompt-CARD-G4-4.md
  _bmad-output/验收单/UAT-CARD-G4-4-full-RAG-显式VaultScope-2026-09-01.md
Due: none

fix(obs): r1 整改 stacklevel 守护区+逐门负控+终版验收单 [BATCH-2026-09-01-第八批 / CARD-OBS-nothrow-logging]
  _bmad-output/审查/CARD-OBS-nothrow-logging-验收单.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging.md
  _bmad-output/审查/codex-review-CARD-OBS-nothrow-logging.stderr
  backend/app/core/nothrow_logging.py
  backend/scripts/nothrow_logging_inventory.py
  backend/scripts/nothrow_logging_negative_control.py
  backend/tests/api/v1/endpoints/test_nothrow_logging_api.py
Due: python-lint

fix(review): CARD-G6-2 round-1 四HIGH整改 [BATCH-2026-09-01-第八批 / CARD-G6-2]
  _bmad-output/审查/G6-2-UI范式-demo.html
  _bmad-output/审查/codex-review-CARD-G6-2.md
  _bmad-output/审查/codex-review-CARD-G6-2.stderr
  _bmad-output/审查/evidence-g62/g62-1-unavailable不白屏-r2.png
  _bmad-output/审查/evidence-g62/g62-2-正常-live列表-r2.png
  _bmad-output/审查/evidence-g62/g62_mutation_negative_controls.py
  _bmad-output/审查/evidence-g62/netlog-analysis-r2.txt
  _bmad-output/审查/evidence-g62/netlog-normal-full-r2.json.gz
  _bmad-output/审查/evidence-g62/裁判命令输出.txt
  _bmad-output/审查/evidence-g62/走查时间线-r2.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-2.md
  _bmad-output/验收单/UAT-CARD-G6-2-交互复习壳-2026-09-01.md
  backend/app/api/v1/endpoints/review_app.py
  backend/tests/unit/test_review_app.py
Due: spec-sync, python-lint

feat(review): CARD-G3-6b 板级 why_this_board 与系数版本化 rank_manifest [BATCH-2026-09-01-第八批]
  _bmad-output/审查/codex-review-CARD-G3-6b-round2.md
  _bmad-output/审查/codex-review-CARD-G3-6b-round2.stderr
  _bmad-output/审查/codex-review-CARD-G3-6b-round3-retry.stderr
  _bmad-output/审查/codex-review-CARD-G3-6b-round3.md
  _bmad-output/审查/codex-review-CARD-G3-6b-round3.stderr
  _bmad-output/审查/codex-review-CARD-G3-6b.md
  _bmad-output/审查/codex-review-CARD-G3-6b.stderr
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-6b-round2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-6b-round3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-6b.md
  _bmad-output/验收单/UAT-CARD-G3-6b-板级why_this_board与rank_manifest-2026-09-01.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_pick.py
  scripts/review_rank_manifest.json
Due: spec-sync, python-lint

docs(bark): 终验 GO 后更正验收单 4 处 cosmetic 瑕疵 [BATCH-2026-09-01-第八批 / CARD-TEST-bark-autostub]
  _bmad-output/审查/CARD-TEST-bark-autostub-验收单.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
