Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

chore(integ): 集成修复——openapi 再生 + deploy 测试超时防挂 + lint 基线接受快照 [BATCH-2026-09-07-第十三批]
  backend/openapi.json
  backend/tests/skills/test_skill_portability_lint.py
  backend/tests/unit/test_deploy_vault_sh.py
Due: python-lint

docs(batch13): 第一阶段合入登记——台账 §二 9 车道 squash + 裁定书 R-01~R-15 + PHASE2 通告 [BATCH-2026-09-07-第十三批]
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/审查/evidence-b13-integ/RULINGS-2026-09-10.md
  _bmad-output/审查/evidence-b13-integ/api-integ-20260910T125846.txt
  _bmad-output/审查/evidence-b13-integ/api-integ-20260910T235252.txt
  _bmad-output/审查/evidence-b13-integ/contract-integ-20260910T125846.txt
  _bmad-output/审查/evidence-b13-integ/contract-targeted-20260911T000440.txt
  _bmad-output/审查/evidence-b13-integ/reg-integ-20260910T125846.txt
  _bmad-output/审查/evidence-b13-integ/reg-integ-20260910T235709.txt
  _bmad-output/审查/evidence-b13-integ/skills-integ-20260910T125846.txt
  _bmad-output/审查/evidence-b13-integ/skills-integ-20260910T235258.txt
  _bmad-output/审查/evidence-b13-integ/unit-base.nodeids
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260910T125846.nodeids
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260910T125846.txt
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260910T231823.txt
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260910T235136.txt
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260910T235418.txt
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260910T235629.txt
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260911T003935.nodeids
  _bmad-output/审查/evidence-b13-integ/unit-integ-20260911T003935.txt
  _bmad-output/审查/evidence-b13-integ/unit-integ5-20260911T010612.nodeids
  _bmad-output/审查/evidence-b13-integ/unit-integ5-20260911T010612.txt
  _bmad-output/审查/evidence-b13/PHASE2-READY.md
Due: none

fix(pyright): 阶段2 共享10文件类型层清零 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  _bmad-output/审查/evidence-pyright-svc/checklist-phase2-base-20260911T083317.txt
  _bmad-output/审查/evidence-pyright-svc/checklist.py
  _bmad-output/审查/evidence-pyright-svc/dist.py
  _bmad-output/审查/evidence-pyright-svc/format-drift-phase2-20260911T084421.txt
  _bmad-output/审查/evidence-pyright-svc/pyright-app-phase2-base-20260911T082840.txt
  _bmad-output/审查/evidence-pyright-svc/pyright-app-phase2-base-568de82a.json
  _bmad-output/审查/evidence-pyright-svc/pyright-services-phase2-base-20260911T082840.txt
  _bmad-output/审查/evidence-pyright-svc/pyright-services-phase2-base-568de82a.json
  _bmad-output/审查/evidence-pyright-svc/rule-dist-phase2-base-20260911T083206.txt
  _bmad-output/审查/evidence-pyright-svc/unit-nodeid-phase2-base-568de82a.txt
  _bmad-output/审查/evidence-pyright-svc/unit-phase2-open-20260911T083310.txt
  backend/app/services/agent_service.py
  backend/app/services/calibration_tracker.py
  backend/app/services/canvas_service.py
  backend/app/services/difficulty_matcher.py
  backend/app/services/event_bus.py
  backend/app/services/mastery_engine.py
  backend/app/services/mastery_fusion.py
  backend/app/services/mastery_store.py
  backend/app/services/multimodal_service.py
  backend/app/services/review_service.py
Due: python-lint

fix(pyright): 阶段2 补 2 条被 §二.4 过滤器误归的真缺陷 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  _bmad-output/审查/evidence-pyright-svc/lefthook-blocked-raw-phase2-20260911T084608.txt
  _bmad-output/审查/evidence-pyright-svc/lefthook-blocked-raw-phase2b-20260911T085410.txt
  _bmad-output/审查/evidence-pyright-svc/multiset-286178d8-vs-0188c4e5-20260911T084835.txt
  _bmad-output/审查/evidence-pyright-svc/multiset-base-286178d8.json
  _bmad-output/审查/evidence-pyright-svc/multiset-work-0188c4e5.json
  _bmad-output/审查/evidence-pyright-svc/multiset.py
  _bmad-output/审查/evidence-pyright-svc/phase0-merge-attempt-conflict-20260911T084716.txt
  _bmad-output/审查/evidence-pyright-svc/phase0-merge-whatif-20260911T084917.txt
  _bmad-output/审查/evidence-pyright-svc/phase0-merge-whatif-detail-20260911T084953.txt
  _bmad-output/审查/evidence-pyright-svc/phase0-merge-whatif-final-20260911T085256.txt
  _bmad-output/审查/evidence-pyright-svc/pyright-app-phase2-close-20260911T084846.txt
  _bmad-output/审查/evidence-pyright-svc/rule-dist-phase2-base-20260911T082947.txt
  _bmad-output/审查/evidence-pyright-svc/unit-phase2-close-20260911T084800.txt
  backend/app/services/learning_context_service.py
  backend/app/services/multimodal_service.py
Due: python-lint

fix(pyright): 删掉 1 条经承重门实测冗余的 ignore [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  backend/app/services/review_service.py
Due: python-lint

fix(u1): 更正注释里的测试覆盖数 17 -> 15 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  backend/app/services/review_service.py
Due: python-lint

docs(u1): 阶段 2 验收单 v2 + 全部裁判存档 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  _bmad-output/审查/evidence-pyright-svc/api-phase2-close-20260911T091816.txt
  _bmad-output/审查/evidence-pyright-svc/ast-equivalence-comment-fix-20260911T091301.txt
  _bmad-output/审查/evidence-pyright-svc/baseline-contamination-corroboration-20260911T090753.txt
  _bmad-output/审查/evidence-pyright-svc/deadpath-proof-generate_verification_canvas-20260911T090956.txt
  _bmad-output/审查/evidence-pyright-svc/ignore-necessity-phase2-20260911T090340.txt
  _bmad-output/审查/evidence-pyright-svc/ignore-necessity-phase2-final-20260911T090527.txt
  _bmad-output/审查/evidence-pyright-svc/negctl-phase2-20260911T090542.txt
  _bmad-output/审查/evidence-pyright-svc/pyright-FINAL-ccd2a4d1-20260911T091906.txt
  _bmad-output/审查/evidence-pyright-svc/rename-indirect-read-scan-20260911T090233.txt
  _bmad-output/审查/evidence-pyright-svc/scope-phase2-20260911T085519.txt
  _bmad-output/审查/evidence-pyright-svc/unit-clean-baseline-568de82a-20260911T091229.txt
  _bmad-output/审查/evidence-pyright-svc/unit-nodeid-clean-baseline-568de82a.txt
  _bmad-output/审查/evidence-pyright-svc/unit-nodeid-close-81c57528.txt
  _bmad-output/审查/evidence-pyright-svc/unit-nodeid-diff-clean-20260911T091854.txt
  _bmad-output/审查/evidence-pyright-svc/unit-nodeid-diff-phase2-20260911T090254.txt
  _bmad-output/审查/evidence-pyright-svc/unit-phase2-close-81c57528-20260911T090558.txt
  _bmad-output/审查/evidence-pyright-svc/unit-phase2-close-9a6c82e6-20260911T085430.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-DEBT-services-r5.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

fix(pyright): 阶段2 清共享文件 review.py/system.py + D-29 exam_service 单文件 crossover
  backend/app/api/v1/endpoints/review.py
  backend/app/api/v1/system.py
  backend/app/services/exam_service.py
  backend/openapi.json
Due: spec-sync, python-lint

docs(u1): Codex r5 存档(B0/H0/M3/L4) + 7 条发现逐条处置 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  _bmad-output/审查/codex-review-CARD-PYRIGHT-DEBT-services-r5.md
  _bmad-output/审查/evidence-pyright-svc/cleared.py
  _bmad-output/审查/evidence-pyright-svc/lefthook-blocked-raw-FULL-ccd2a4d1-20260911T093329.txt
  _bmad-output/审查/evidence-pyright-svc/lefthook-blocked-raw-FULL-ccd2a4d1-20260911T093347.txt
  _bmad-output/审查/evidence-pyright-svc/multiset-286178d8-vs-ccd2a4d1-20260911T093100.txt
  _bmad-output/审查/evidence-pyright-svc/multiset-work-ccd2a4d1.json
  _bmad-output/审查/evidence-pyright-svc/phase2-cleared-breakdown-20260911T093108.txt
  _bmad-output/审查/evidence-pyright-svc/phase2-cleared-breakdown-20260911T093318.txt
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

docs(u1): 补全卡数字链 + 与 goal 指定的卡级开工基准对账 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-services]
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

docs(pyright): 集成合入门预演 —— U2 tip + U1 services 全量 pyright app = 0 errors
  _bmad-output/审查/evidence-pyright-rest/integ-gate-prediction-20260911T094158.txt
Due: none

docs(pyright): 独立复核 U1 一半判据 + 跨车道依赖实测（仅 _bmad-output）
  _bmad-output/审查/evidence-pyright-rest/crosslane-dependency-check-20260911T094433.txt
  _bmad-output/审查/evidence-pyright-rest/u1-half-independent-check-20260911T094323.txt
Due: none

docs(u2-pyright-rest): 车道收尾证据尾巴 7e32413d..699cad96 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-pyright-rest/crosslane-dependency-check-20260911T094433.txt
  _bmad-output/审查/evidence-pyright-rest/u1-half-independent-check-20260911T094323.txt
Due: none

docs(u1-pyright-svc): 集成期存档卫生——剔 2 份失败运行产物 + 验收单 glob 写全名 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-pyright-svc/lefthook-blocked-raw-FULL-ccd2a4d1-20260911T093329.txt
  _bmad-output/审查/evidence-pyright-svc/phase2-cleared-breakdown-20260911T093108.txt
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

docs(batch14): 卡文缺陷修正第一轮——16 卡按 R-B14 裁定与独立核验 defects 修正 [BATCH-2026-09-11-第十四批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-11-第十四批开跑手册-10车道43卡.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T1-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T1-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-E.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T3-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T3-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T3-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T3-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T4-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T4-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T4-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T5-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T5-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T5-E.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T1-A.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T1-B.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T2-A.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T2-C.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T2-D.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T2-E.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T3-A.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T3-B.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T3-C.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T3-D.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T4-A.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T4-D.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T5-A.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T5-B.txt
Due: none

docs(batch14): 手册 §一.1 补 10~12 条口径 + §四.6 标题 + R-B14-9 回写 + 台账 §三.22 登记 [BATCH-2026-09-11-第十四批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-11-第十四批开跑手册-10车道43卡.md
  _bmad-output/implementation-artifacts/goal-cards/未合卡追踪台账.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-E.md
  _bmad-output/审查/2026-09-14-第十四批排批期裁定-R-B14.md
Due: none

docs(batch14): 修正第四轮 T8-B/T8-C/T5-D/T8-G/T10-D 复核残留 + R-B14-9 补裁 + §三 重装配 [BATCH-2026-09-11-第十四批]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-11-第十四批开跑手册-10车道43卡.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T10-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T10-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T5-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T7-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T7-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T7-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-F.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-G.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T10-A.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T10-D.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T5-D.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T7-B.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T8-B.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T8-C.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T8-F.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T8-G.txt
  _bmad-output/审查/2026-09-14-第十四批排批期裁定-R-B14.md
Due: none

docs(batch14): 排批终稿——修正第五轮 10 卡 26 处 grep -E 假交替改 -e + 协议 §2.2 两条 + §三 终装配 [BATCH-2026-09-11-第十四批]
  .claude/rules/card-batch-protocol.md
  _bmad-output/implementation-artifacts/goal-cards/2026-09-11-第十四批开跑手册-10车道43卡.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T1-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T10-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T10-E.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-A.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T2-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T3-B.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T7-C.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T7-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-D.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/T8-G.md
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T1-B.txt
  _bmad-output/implementation-artifacts/goal-cards/第十四批-goals/_goal/T7-D.txt
Due: none

feat(g39): picker/Dashboard/总览三面对账脚本 + 负控先红 [BATCH-2026-09-11-第十四批 / CARD-G3-9]
  _bmad-output/审查/evidence-g39/fixtures/overview-bad.json
  _bmad-output/审查/evidence-g39/fixtures/overview-ok.json
  _bmad-output/审查/evidence-g39/fixtures/picker-ok.json
  _bmad-output/审查/evidence-g39/g39_mutation_negctl.py
  _bmad-output/审查/evidence-g39/mutation-negctl-20260914T195721.txt
  _bmad-output/审查/evidence-g39/mutation-negctl-postformat-20260914T200319.txt
  _bmad-output/审查/evidence-g39/pytest-g39-20260914T195553.txt
  _bmad-output/审查/evidence-g39/pytest-g39-20260914T195646.txt
  _bmad-output/审查/evidence-g39/pytest-g39-postformat-20260914T200252.txt
  _bmad-output/审查/evidence-g39/rc-semantics-20260914T195908.txt
  _bmad-output/审查/evidence-g39/rc-semantics-final-20260914T200454.txt
  _bmad-output/审查/evidence-g39/rc-semantics-final-20260914T200503.txt
  _bmad-output/审查/evidence-g39/readonly-find-20260914T195946.txt
  _bmad-output/审查/evidence-g39/readonly-vaults-20260914T200205.txt
  _bmad-output/审查/evidence-g39/reconcile-live-20260914T195939.json
  _bmad-output/审查/evidence-g39/reconcile-live-20260914T195939.txt
  _bmad-output/审查/evidence-g39/reconcile-live-final-20260914T200456.json
  _bmad-output/审查/evidence-g39/reconcile-live-final-20260914T200456.txt
  _bmad-output/审查/evidence-g39/sentinel
  _bmad-output/审查/evidence-g39/sentinel2
  backend/scripts/g39_three_view_reconcile.py
  backend/tests/regression/test_g39_three_view_reconcile.py
Due: python-lint

fix(g2-9-f2): LanceDB 归属改最长前缀优先，解互前缀 vault 跨库删表 [BATCH-2026-09-11-第十四批 / CARD-G2-9-F2]
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/tests/unit/test_lancedb_cross_vault_drop_g29f1.py
Due: python-lint

docs(t6-a): Neo4j 离线暂存链零代码普查 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-CENSUS]
  _bmad-output/审查/2026-09-14-NEO4J-REPLAY-CENSUS.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-CENSUS.md
  _bmad-output/审查/evidence-neo4j-replay-census/base.nodeids
  _bmad-output/审查/evidence-neo4j-replay-census/close.nodeids
  _bmad-output/审查/evidence-neo4j-replay-census/judge1-orphan-recover-failed-writes-20260914T195022.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge10-readonly-gate-20260914T195708.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge10-writeside-wiring-requestid-20260914T195235.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge11-12-traces-emptiness-and-patch-target-20260914T195251.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge13-14-skip-owner-and-episodetask-requestid-20260914T195307.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge15-episodetask-requestid-full-20260914T195324.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge16-boundedness-20260914T195343.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge17-cleanup-ownership-20260914T195356.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge18-19-seventh-chain-and-full-sweep-20260914T195412.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge2-orphan-sync-all-fallbacks-20260914T195038.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge20-chain7-writeside-20260914T195427.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge21-22-all-writers-and-trigger-precondition-20260914T195950.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge23-chain1-writepath-20260914T200028.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge24-chain5-gates-20260914T200040.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge25-26-orphan-history-and-live-pattern-20260914T200136.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge27-28-codex-high1-high4-verify-20260914T200641.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge29-30-codex-high2-high3-verify-20260914T200656.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge2x-wide-callform-enum-20260914T195056.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge2y-gateway-and-red-baseline-20260914T195126.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge3-4-5-edgesync-startup-dualwrite-20260914T195140.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge31-codex-remaining-verify-20260914T200710.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge32-codex-verdict-verification-20260914T200730.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge33-stderr-hygiene-correct-scope-20260914T201035.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge5x-6-thirdstate-and-chain-anchors-20260914T195159.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge7-8-9-sixth-chain-traces-dualwrite-tests-20260914T195215.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge7-territory-gate-20260914T195642.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge7pp-post-commit-territory-gate-20260914T201016.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge8-unit-diff-20260914T200343.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge9-pyright-and-lancedb-path-20260914T195649.txt
  _bmad-output/审查/evidence-neo4j-replay-census/sentinel
  _bmad-output/审查/evidence-neo4j-replay-census/step0-selfcheck-20260914T195007.txt
  _bmad-output/审查/evidence-neo4j-replay-census/unit-close-20260914T195635.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-CENSUS.md
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-CENSUS-2026-09-14.md
Due: none

fix(deploy): 步 1 build 加墙钟上限+离线, 16 处裸跑加 timeout [BATCH-2026-09-11-第十四批 / CARD-DEPLOY-TIMEOUT]
  _bmad-output/审查/evidence-deploy-timeout/ast-close-20260914T195612.txt
  _bmad-output/审查/evidence-deploy-timeout/ast-open-20260914T194902.txt
  _bmad-output/审查/evidence-deploy-timeout/deploy-file-20260914T195639.txt
  _bmad-output/审查/evidence-deploy-timeout/manual-scope-20260914T194807.txt
  _bmad-output/审查/evidence-deploy-timeout/negctl-20260914T195738.txt
  _bmad-output/审查/evidence-deploy-timeout/open-facts-A-20260914T194826.txt
  _bmad-output/审查/evidence-deploy-timeout/open-facts-B-20260914T194837.txt
  _bmad-output/审查/evidence-deploy-timeout/ruff-20260914T195908.txt
  _bmad-output/审查/evidence-deploy-timeout/ruff-live-20260914T195843.txt
  _bmad-output/审查/evidence-deploy-timeout/scope-gate-20260914T195832.txt
  _bmad-output/审查/evidence-deploy-timeout/script-close-20260914T195516.txt
  _bmad-output/审查/evidence-deploy-timeout/script-grep-close-20260914T195804.txt
  _bmad-output/审查/evidence-deploy-timeout/script-grep-open-20260914T194847.txt
  _bmad-output/审查/evidence-deploy-timeout/script-open-20260914T195329.txt
  _bmad-output/审查/evidence-deploy-timeout/unit-close-20260914T200536.txt
  _bmad-output/审查/evidence-deploy-timeout/unit-diff-20260914T201203.txt
  _bmad-output/审查/evidence-deploy-timeout/unit-diff-falsifier-20260914T201210.txt
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

fix(w4-guard): 结账落盘失败 print 移入保护块 [BATCH-2026-09-11-第十四批 / CARD-W4-FINAL-ACCOUNTING]
  _bmad-output/审查/evidence-w4final/DISCARDED-unit-open-20260914T195156-truncated.txt
  _bmad-output/审查/evidence-w4final/ast-after-20260914T200544.txt
  _bmad-output/审查/evidence-w4final/ast-before-20260914T195111.txt
  _bmad-output/审查/evidence-w4final/ast-protected.py
  _bmad-output/审查/evidence-w4final/base.nodeids
  _bmad-output/审查/evidence-w4final/close.nodeids
  _bmad-output/审查/evidence-w4final/contract-close-20260914T200632.txt
  _bmad-output/审查/evidence-w4final/contract-open-20260914T195128.txt
  _bmad-output/审查/evidence-w4final/nc-negative-control-20260914T200618.txt
  _bmad-output/审查/evidence-w4final/nc-remove-protection.py
  _bmad-output/审查/evidence-w4final/open.nodeids
  _bmad-output/审查/evidence-w4final/readonly-live-20260914T201356.txt
  _bmad-output/审查/evidence-w4final/sentinel
  _bmad-output/审查/evidence-w4final/three-run-abc.py
  _bmad-output/审查/evidence-w4final/three-run-after-20260914T200549.txt
  _bmad-output/审查/evidence-w4final/three-run-before-20260914T195119.txt
  _bmad-output/审查/evidence-w4final/unit-close-20260914T200714.txt
  _bmad-output/审查/evidence-w4final/unit-k-liveportguard-20260914T200632.txt
  _bmad-output/审查/evidence-w4final/unit-open-20260914T195838.txt
  backend/tests/support/live_port_guard.py
Due: python-lint

fix(t5-a): 后台清理调度器不再忙循环 [BATCH-2026-09-11-第十四批 / CARD-TAIL-CLEANUP-LOOP]
  _bmad-output/审查/evidence-tail-cleanup/README.md
  _bmad-output/审查/evidence-tail-cleanup/a-minute0-selfproof-20260914T194929.txt
  _bmad-output/审查/evidence-tail-cleanup/b1-rootcause-gate-RED-20260914T195006.txt
  _bmad-output/审查/evidence-tail-cleanup/b2-testcleanupscheduler-RED-20260914T195230.txt
  _bmad-output/审查/evidence-tail-cleanup/base.nodeids
  _bmad-output/审查/evidence-tail-cleanup/close.nodeids
  _bmad-output/审查/evidence-tail-cleanup/d1-rootcause-gate-GREEN-20260914T195454.txt
  _bmad-output/审查/evidence-tail-cleanup/d1-rootcause-gate-GREEN-final-20260914T200600.txt
  _bmad-output/审查/evidence-tail-cleanup/d2-testcleanupscheduler-GREEN-20260914T195454.txt
  _bmad-output/审查/evidence-tail-cleanup/d2-testcleanupscheduler-GREEN-final-20260914T200600.txt
  _bmad-output/审查/evidence-tail-cleanup/e-negctl-final-20260914T200649.txt
  _bmad-output/审查/evidence-tail-cleanup/e1-negctl-config-field-renamed-20260914T195543.txt
  _bmad-output/审查/evidence-tail-cleanup/e1-negctl-config-field-renamed-locline-20260914T195634.txt
  _bmad-output/审查/evidence-tail-cleanup/e2-negctl-backoff-await-removed-20260914T195705.txt
  _bmad-output/审查/evidence-tail-cleanup/g-unit-close-20260914T195745.txt
  _bmad-output/审查/evidence-tail-cleanup/g-unit-close-final-20260914T200748.txt
  _bmad-output/审查/evidence-tail-cleanup/h-pyright-app-20260914T195518.txt
  _bmad-output/审查/evidence-tail-cleanup/h-pyright-app-final-20260914T200600.txt
  _bmad-output/审查/evidence-tail-cleanup/i-ruff-20260914T200503.txt
  _bmad-output/审查/evidence-tail-cleanup/i2-ruffformat-drift-attribution-final-20260914T200740.txt
  _bmad-output/审查/evidence-tail-cleanup/i2-ruffformat-drift-preexisting-20260914T200526.txt
  backend/app/config.py
  backend/app/services/background_task_manager.py
  backend/tests/unit/test_background_task_manager.py
Due: python-lint

fix(t7a): _harness_tree 整体重做根治静默换树 [BATCH-2026-09-11-第十四批 / CARD-HARNESS-TREE-PARSE-REDO]
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-close-20260914T201024.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-fullfile-open-20260914T195308.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-close-20260914T200954.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-open-20260914T195136.txt
  _bmad-output/审查/evidence-harness-tree/g3_2-harness-red-20260914T200017.txt
  _bmad-output/审查/evidence-harness-tree/negctl-both-20260914T201544.txt
  _bmad-output/审查/evidence-harness-tree/negctl-digest-20260914T200542.txt
  _bmad-output/审查/evidence-harness-tree/negctl-regex-20260914T201434.txt
  _bmad-output/审查/evidence-harness-tree/negctl-regex-20260914T201513.txt
  _bmad-output/审查/evidence-harness-tree/ruff-territory-20260914T201635.txt
  _bmad-output/审查/evidence-harness-tree/skills-close-20260914T200647.txt
  _bmad-output/审查/evidence-harness-tree/skills-close-20260914T200832.txt
  _bmad-output/审查/evidence-harness-tree/skills-open-20260914T195609.txt
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

fix(g39): 采纳 Codex r1 九条 + 代理旁路 [BATCH-2026-09-11-第十四批 / CARD-G3-9]
  _bmad-output/审查/2026-09-14-G3-9-J06-evidence-draft.md
  _bmad-output/审查/codex-review-CARD-G3-9.md
  _bmad-output/审查/evidence-g39/base.nodeids
  _bmad-output/审查/evidence-g39/close.nodeids
  _bmad-output/审查/evidence-g39/g39_mutation_negctl.py
  _bmad-output/审查/evidence-g39/gate-territory-anchor-20260914T200533.txt
  _bmad-output/审查/evidence-g39/gates-final-20260914T201845.txt
  _bmad-output/审查/evidence-g39/gates-territory-ruff-20260914T200525.txt
  _bmad-output/审查/evidence-g39/mutation-negctl-v2-20260914T201049.txt
  _bmad-output/审查/evidence-g39/mutation-negctl-v3-20260914T201517.txt
  _bmad-output/审查/evidence-g39/notfetched-path-20260914T200856.txt
  _bmad-output/审查/evidence-g39/notfetched-path-fixed-20260914T201040.txt
  _bmad-output/审查/evidence-g39/reconcile-live-v2-20260914T201845.json
  _bmad-output/审查/evidence-g39/sentinel3
  _bmad-output/审查/evidence-g39/unit-close-20260914T200540.txt
  _bmad-output/审查/evidence-g39/unit-diff-20260914T200540.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-9.md
  _bmad-output/验收单/UAT-CARD-G3-9-2026-09-14.md
  backend/scripts/g39_three_view_reconcile.py
  backend/tests/regression/test_g39_three_view_reconcile.py
Due: python-lint
