Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

fix(deploy): Codex r2 整改 —— 发布走 rename(2) 不走 mv [BATCH-2026-09-11-第十四批 / CARD-G2-7b-TAIL]
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r2.md
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL.md
  _bmad-output/审查/evidence-g27b-tail/deploytest-r3-20260917T100907.txt
  _bmad-output/审查/evidence-g27b-tail/r3-publish-follows-dirlink-20260917T101247.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL-r2.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

docs(negctl): 索引自检第2条收窄到文件引用语境 [BATCH-2026-09-11-第十四批 / CARD-AST-FLAG-PATCH]
  _bmad-output/审查/evidence-ast-flag/README.md
  _bmad-output/审查/evidence-ast-flag/readme-selfcheck-20260917T100808.txt
  _bmad-output/审查/evidence-ast-flag/readme_selfcheck.py
Due: none

fix(deploy): Codex r3 整改 —— 可表示性判据挪到归一化之后 [BATCH-2026-09-11-第十四批 / CARD-G2-7b-TAIL]
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r2.md
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r3.md
  _bmad-output/审查/evidence-g27b-tail/close-r3.nodeids
  _bmad-output/审查/evidence-g27b-tail/deploytest-r4-20260917T102208.txt
  _bmad-output/审查/evidence-g27b-tail/r4-receipt-states-20260917T102057.txt
  _bmad-output/审查/evidence-g27b-tail/unit-r3-20260917T101337.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL-r3.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

docs(deploy): CARD-G2-7b-TAIL 收官 —— 四轮结算 + 终态核验 [BATCH-2026-09-11-第十四批 / CARD-G2-7b-TAIL]
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r4.md
  _bmad-output/审查/evidence-g27b-tail/close-final.nodeids
  _bmad-output/审查/evidence-g27b-tail/unit-final-20260917T103240.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL-r4.md
  _bmad-output/验收单/UAT-CARD-G2-7b-TAIL-2026-09-17.md
Due: none

chore(toolchain): lefthook 1.13.6 + ruff 必错级 [BATCH-2026-09-11-第十四批 / CARD-TOOLCHAIN-UNIFY]
  _bmad-output/审查/evidence-toolchain-unify/base.nodeids
  _bmad-output/审查/evidence-toolchain-unify/close.nodeids
  _bmad-output/审查/evidence-toolchain-unify/json-toml-validity-20260917T124753.txt
  _bmad-output/审查/evidence-toolchain-unify/rootsurface-before-after-20260917T125840.txt
  _bmad-output/审查/evidence-toolchain-unify/rootsurface-before-after-v2-20260917T125857.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-array-and-rootsurface-20260917T125826.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-before-after-diff-20260917T124809.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-before-assertions-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-after-20260917T124753.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-before-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-f82-locate-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-probe-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/state-selfcheck-20260917T124628.txt
  _bmad-output/审查/evidence-toolchain-unify/state-selfcheck-part2-20260917T124646.txt
  _bmad-output/审查/evidence-toolchain-unify/unit-close-20260917T124820.txt
  _bmad-output/审查/evidence-toolchain-unify/unit-diff-20260917T125806.txt
  _bmad-output/审查/evidence-toolchain-unify/version-grep-after-20260917T124753.txt
  _bmad-output/审查/evidence-toolchain-unify/version-grep-before-20260917T124731.txt
  package-lock.json
  package.json
  ruff.toml
Due: none

docs(toolchain): 验收单+Codex r1 存档+glob 实测更正 [BATCH-2026-09-11-第十四批 / CARD-TOOLCHAIN-UNIFY]
  _bmad-output/审查/codex-review-CARD-TOOLCHAIN-UNIFY.md
  _bmad-output/审查/evidence-toolchain-unify/lefthook-glob-empirical-20260917T130842.txt
  _bmad-output/审查/evidence-toolchain-unify/lefthook-glob-empirical-v2-20260917T130857.txt
  _bmad-output/审查/evidence-toolchain-unify/territory-gate-20260917T130018.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-TOOLCHAIN-UNIFY.md
  _bmad-output/验收单/UAT-CARD-TOOLCHAIN-UNIFY-2026-09-17.md
Due: none

docs(toolchain): 回填收官绑定核 [BATCH-2026-09-11-第十四批 / CARD-TOOLCHAIN-UNIFY]
  _bmad-output/审查/evidence-toolchain-unify/final-binding-20260917T131027.txt
  _bmad-output/验收单/UAT-CARD-TOOLCHAIN-UNIFY-2026-09-17.md
Due: none

fix(u6c-handover): due_crossed 判型 + 刷新父子墙钟统一 + 键值域双向门 [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  _bmad-output/审查/evidence-u6c-handover/attrib-reg-red-is-preexisting-20260917T132100.txt
  _bmad-output/审查/evidence-u6c-handover/due-crossed-AFTER-20260917T125101.txt
  _bmad-output/审查/evidence-u6c-handover/due-crossed-BEFORE-20260917T125004.txt
  _bmad-output/审查/evidence-u6c-handover/key-collision-20260917T125621.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item1-20260917T125712.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-behavior-20260917T125758.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-pinnable-entry-20260917T125827.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-pinnable-entry-20260917T125852.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item3-donekey-sep-20260917T125949.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item3-donekey-sep-20260917T130018.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item3-round5-degraded-20260917T130044.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item4-dud1-dud3-fuse-20260917T130117.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item4-dud2-20260917T125918.txt
  _bmad-output/审查/evidence-u6c-handover/parent-child-clock-BEFORE-20260917T125229.txt
  _bmad-output/审查/evidence-u6c-handover/pyright-after-20260917T130142.txt
  _bmad-output/审查/evidence-u6c-handover/pyright-baseline-20260917T124633.txt
  _bmad-output/审查/evidence-u6c-handover/reg-closing-20260917T130814.txt
  _bmad-output/审查/evidence-u6c-handover/ruff-worktree-20260917T130155.txt
  _bmad-output/审查/evidence-u6c-handover/ruff-worktree-20260917T130215.txt
  _bmad-output/审查/evidence-u6c-handover/unit-closing-20260917T130225.txt
  _bmad-output/审查/evidence-u6c-handover/unit-reddiff-20260917T130805.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-U6C-HANDOVER.md
  backend/app/api/v1/endpoints/review_app.py
  backend/app/api/v1/endpoints/review_overview.py
  backend/openapi.json
  backend/tests/regression/test_daily_review_run.py
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_run.py
Due: spec-sync, python-lint

chore(u6c-handover): 还原 openapi.json 的 x-generated-at 行 [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  backend/openapi.json
Due: none

fix(u6c-handover): 按 Codex r1 更正 doneKey 单射定性 + 自修失实 [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  _bmad-output/审查/codex-review-CARD-U6C-HANDOVER-r1.md
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-identity-only-20260917T132910.txt
  _bmad-output/审查/evidence-u6c-handover/negctl-item2-identity-only-behaviorgreen-20260917T132936.txt
  _bmad-output/审查/evidence-u6c-handover/post-r1-fix-tests-20260917T133018.txt
  _bmad-output/审查/evidence-u6c-handover/pyright-after-r1fix-20260917T133056.txt
  _bmad-output/审查/evidence-u6c-handover/ruff-after-r1fix-20260917T133056.txt
  _bmad-output/验收单/UAT-CARD-U6C-HANDOVER-2026-09-17.md
  backend/app/api/v1/endpoints/review_app.py
  backend/openapi.json
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
Due: spec-sync, python-lint

chore(u6c-handover): 再还原 openapi.json x-generated-at [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  backend/openapi.json
Due: none

docs(u6c-handover): prompt 增补 round-2 节 [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  _bmad-output/审查/prompts/codex-prompt-CARD-U6C-HANDOVER.md
Due: none

docs(u6c-handover): Codex r2 存档 + 验收单按 r2 收口 [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  _bmad-output/审查/codex-review-CARD-U6C-HANDOVER-r2.md
  _bmad-output/验收单/UAT-CARD-U6C-HANDOVER-2026-09-17.md
Due: none

docs(u6c-handover): 验收单补 Codex 轮次/绑定/不 push 三条自证 [BATCH-2026-09-11-第十四批 / CARD-U6C-HANDOVER]
  _bmad-output/验收单/UAT-CARD-U6C-HANDOVER-2026-09-17.md
Due: none

chore(pyright): TAIL census + 清死配置/冗余 ignore/三处注释措辞 [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-TAIL]
  _bmad-output/审查/2026-09-13-PYRIGHT-TAIL-census.md
  _bmad-output/审查/evidence-pyright-tail/base.nodeids
  _bmad-output/审查/evidence-pyright-tail/census-anchors-20260917T135742.txt
  _bmad-output/审查/evidence-pyright-tail/close.nodeids
  _bmad-output/审查/evidence-pyright-tail/green-after-20260917T135708.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-app-after-20260917T135717.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-app-before-20260917T135402.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-dependencies-after-20260917T135717.txt
  _bmad-output/审查/evidence-pyright-tail/red-before-20260917T135419.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-format-drift-preexisting-20260917T140444.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-format-hunks-20260917T140508.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-format-nonintersect-20260917T140523.txt
  _bmad-output/审查/evidence-pyright-tail/unit-close-20260917T135858.txt
  backend/app/dependencies.py
  backend/app/services/canvas_service.py
  backend/app/services/exam_service.py
  backend/app/services/review_service.py
  pyrightconfig.json
Due: python-lint

docs(pyright): 收工判据证据入库(地盘/census-only/负控/ruff) [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-TAIL]
  _bmad-output/审查/evidence-pyright-tail/g-census-only-20260917T140550.txt
  _bmad-output/审查/evidence-pyright-tail/h-negctl-20260917T140704.txt
  _bmad-output/审查/evidence-pyright-tail/i-anchor-fix-20260917T140632.txt
  _bmad-output/审查/evidence-pyright-tail/i-territory-20260917T140602.txt
  _bmad-output/审查/evidence-pyright-tail/negctl-pyright-injected-20260917T140704.txt
  _bmad-output/审查/evidence-pyright-tail/negctl-pyright-restored-20260917T140704.txt
  _bmad-output/审查/evidence-pyright-tail/ruff-check-20260917T140647.txt
  _bmad-output/审查/evidence-pyright-tail/semantic-lines-20260917T140602.txt
Due: none

docs(pyright): Codex r1 存档+验收单+复审后三项实测 [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-TAIL]
  _bmad-output/审查/2026-09-13-PYRIGHT-TAIL-census.md
  _bmad-output/审查/codex-review-CARD-PYRIGHT-TAIL.md
  _bmad-output/审查/evidence-pyright-tail/medium3-control-and-q1-20260917T142039.txt
  _bmad-output/审查/evidence-pyright-tail/medium3-src-analysis-set-20260917T141919.txt
  _bmad-output/审查/evidence-pyright-tail/medium3-src-analysis-set-20260917T141954.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-TAIL.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-TAIL-2026-09-17.md
Due: none

docs(pyright): 收官绑定核+最终硬门存档 [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-TAIL]
  _bmad-output/审查/evidence-pyright-tail/final-binding-20260917T142346.txt
  _bmad-output/审查/evidence-pyright-tail/pyright-app-final-20260917T142346.txt
Due: none

docs(gate): pyright app=0 + 协议§2.3关闭 patch [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-GATE]
  _bmad-output/审查/evidence-pyright-gate/census-and-territory-20260917T160054.txt
  _bmad-output/审查/evidence-pyright-gate/gate-pyright-20260917T155555.txt
  _bmad-output/审查/evidence-pyright-gate/gate-warn-attribution-20260917T155740.txt
  _bmad-output/审查/evidence-pyright-gate/lefthook-typecheck-block-20260917T160033.txt
  _bmad-output/审查/evidence-pyright-gate/protocol-2.3-close.patch
  _bmad-output/审查/evidence-pyright-gate/protocol-23-close-judges-20260917T155925.txt
  _bmad-output/审查/evidence-pyright-gate/unit-20260917T160110.txt
  _bmad-output/审查/evidence-pyright-gate/unit-diff-20260917T160613.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-GATE.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-GATE-2026-09-17.md
Due: none

docs(gate): Codex r1 B0/H0 绑最终 HEAD + 配置加载补证 [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-GATE]
  _bmad-output/审查/codex-review-CARD-PYRIGHT-GATE.md
  _bmad-output/审查/evidence-pyright-gate/archive-compliance-20260917T161815.txt
  _bmad-output/审查/evidence-pyright-gate/final-checks-20260917T161846.txt
  _bmad-output/审查/evidence-pyright-gate/gate-configfile-proof-20260917T161630.txt
  _bmad-output/审查/evidence-pyright-gate/prompt-compliance-20260917T160939.txt
  _bmad-output/审查/evidence-pyright-gate/territory-postcommit-20260917T160922.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-GATE.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-GATE-2026-09-17.md
Due: none

docs(gate): 收官绑定核存档入库 [BATCH-2026-09-11-第十四批 / CARD-PYRIGHT-GATE]
  _bmad-output/审查/evidence-pyright-gate/final-binding-20260917T161925.txt
Due: none

docs(batch14): T6-B 复核裁定书 + 复核证据 + 手册 §零 环境通告 [BATCH-2026-09-11-第十四批 / CARD-NEO4J-REPLAY-WIRE]
  _bmad-output/implementation-artifacts/goal-cards/2026-09-11-第十四批开跑手册-10车道43卡.md
  _bmad-output/审查/2026-09-15-第十四批复核裁定与待裁决登记.md
  _bmad-output/审查/evidence-b14/t6b-review/commitmsg-20260915T120754.txt
  _bmad-output/审查/evidence-b14/t6b-review/commitmsg-anchor-20260915T120818.txt
  _bmad-output/审查/evidence-b14/t6b-review/fss-diff-base-vs-head-nowlines-20260915T120833.txt
  _bmad-output/审查/evidence-b14/t6b-review/gitlog-chain-20260915T120714.txt
  _bmad-output/审查/evidence-b14/t6b-review/live-failed-writes-stats-20260915T120759.txt
  _bmad-output/审查/evidence-b14/t6b-review/live-learning-memories-stats-20260915T120944.txt
  _bmad-output/审查/evidence-b14/t6b-review/m-fsrs-liveport-20260915T120907.txt
  _bmad-output/审查/evidence-b14/t6b-review/mainpy-hunks-20260915T121017.txt
  _bmad-output/审查/evidence-b14/t6b-review/negctl-1-auth-8e3c3fa2-20260915T182530.txt
  _bmad-output/审查/evidence-b14/t6b-review/negctl-2-replay-8e3c3fa2-20260915T182548.txt
  _bmad-output/审查/evidence-b14/t6b-review/negctl-assert-identity-8e3c3fa2-20260915T182646.txt
  _bmad-output/审查/evidence-b14/t6b-review/orphan-gate-20260915T120842.txt
  _bmad-output/审查/evidence-b14/t6b-review/orphan-territory-hunks-8e3c3fa2-20260915T183401.txt
  _bmad-output/审查/evidence-b14/t6b-review/pyright-20260915T120633.txt
  _bmad-output/审查/evidence-b14/t6b-review/replay-8e3c3fa2-20260915T120645.txt
  _bmad-output/审查/evidence-b14/t6b-review/replay-negctl-wrongpw-8e3c3fa2-20260915T121231.txt
  _bmad-output/审查/evidence-b14/t6b-review/ruff-20260915T120703.txt
  _bmad-output/审查/evidence-b14/t6b-review/ruff-anchor-20260915T120730.txt
  _bmad-output/审查/evidence-b14/t6b-review/stderr-tracked-20260915T120832.txt
  _bmad-output/审查/evidence-b14/t6b-review/territory-20260915T120853.txt
  _bmad-output/审查/evidence-b14/t6b-review/v4-ast-compare-20260915T120812.txt
  _bmad-output/审查/evidence-b14/t6b-review/v4-fmtbase-vs-head-diff-20260915T120757.txt
  _bmad-output/审查/evidence-b14/t6b-review/v4-lefthook-format-hook-20260915T120823.txt
  _bmad-output/审查/evidence-b14/t6b-review/v4-ruff-format-check-20260915T120733.txt
  _bmad-output/审查/evidence-b14/t6b-review/v4-test-count-20260915T120819.txt
  _bmad-output/审查/evidence-b14/t6b-review/v9-greps-20260915T120937.txt
  _bmad-output/审查/evidence-b14/t6b-review/v9-hit-context-20260915T121019.txt
Due: none

chore(t6-neo4j): 卡级 squash CARD-NEO4J-REPLAY-CENSUS [BATCH-2026-09-11-第十四批]
  _bmad-output/审查/2026-09-14-NEO4J-REPLAY-CENSUS.md
  _bmad-output/审查/codex-review-CARD-NEO4J-REPLAY-CENSUS.md
  _bmad-output/审查/evidence-neo4j-replay-census/base.nodeids
  _bmad-output/审查/evidence-neo4j-replay-census/close.nodeids
  _bmad-output/审查/evidence-neo4j-replay-census/judge1-orphan-recover-failed-writes-20260914T195022.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge10-readonly-gate-20260914T195708.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge10-writeside-wiring-requestid-20260914T195235.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge11-12-traces-emptiness-and-patch-target-20260914T195251.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge13-14-skip-owner-and-episodetask-requestid-20260914T195307.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge15-episodetask-requestid-full-20260914T195324.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge16-boundedness-20260914T195343.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge17-cleanup-ownership-20260914T195356.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge18-19-seventh-chain-and-full-sweep-20260914T195412.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge2-orphan-sync-all-fallbacks-20260914T195038.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge20-chain7-writeside-20260914T195427.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge21-22-all-writers-and-trigger-precondition-20260914T195950.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge23-chain1-writepath-20260914T200028.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge24-chain5-gates-20260914T200040.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge25-26-orphan-history-and-live-pattern-20260914T200136.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge27-28-codex-high1-high4-verify-20260914T200641.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge29-30-codex-high2-high3-verify-20260914T200656.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge2x-wide-callform-enum-20260914T195056.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge2y-gateway-and-red-baseline-20260914T195126.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge3-4-5-edgesync-startup-dualwrite-20260914T195140.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge31-codex-remaining-verify-20260914T200710.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge32-codex-verdict-verification-20260914T200730.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge33-stderr-hygiene-correct-scope-20260914T201035.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge5x-6-thirdstate-and-chain-anchors-20260914T195159.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge7-8-9-sixth-chain-traces-dualwrite-tests-20260914T195215.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge7-territory-gate-20260914T195642.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge7pp-post-commit-territory-gate-20260914T201016.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge8-unit-diff-20260914T200343.txt
  _bmad-output/审查/evidence-neo4j-replay-census/judge9-pyright-and-lancedb-path-20260914T195649.txt
  _bmad-output/审查/evidence-neo4j-replay-census/sentinel
  _bmad-output/审查/evidence-neo4j-replay-census/step0-selfcheck-20260914T195007.txt
  _bmad-output/审查/evidence-neo4j-replay-census/unit-close-20260914T195635.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-NEO4J-REPLAY-CENSUS.md
  _bmad-output/验收单/UAT-CARD-NEO4J-REPLAY-CENSUS-2026-09-14.md
Due: none

chore(t4-g3): 卡级 squash CARD-U9C-EVAL 463fe762..1cdc9063 [BATCH-2026-09-11-第十四批 / CARD-U9C-EVAL]
  _bmad-output/审查/2026-09-16-U9C-VaultScopeUnresolved-拒启-评估.md
  _bmad-output/审查/codex-review-CARD-U9C-EVAL-r1.md
  _bmad-output/审查/codex-review-CARD-U9C-EVAL-r2.md
  _bmad-output/审查/codex-review-CARD-U9C-EVAL-r3.md
  _bmad-output/审查/codex-review-CARD-U9C-EVAL-r4.md
  _bmad-output/审查/codex-review-CARD-U9C-EVAL-r5.md
  _bmad-output/审查/evidence-u9c-eval/.unitpath
  _bmad-output/审查/evidence-u9c-eval/factory-readonly-20260916T145559.txt
  _bmad-output/审查/evidence-u9c-eval/grep-main-20260916T144314.txt
  _bmad-output/审查/evidence-u9c-eval/grep-prod-ctor-20260916T144314.txt
  _bmad-output/审查/evidence-u9c-eval/grep-raise-20260916T144314.txt
  _bmad-output/审查/evidence-u9c-eval/grep-scripts-20260916T144314.txt
  _bmad-output/审查/evidence-u9c-eval/pytest-u9c-20260916T144743.txt
  _bmad-output/审查/evidence-u9c-eval/pytest-u9c-final-20260916T194319.txt
  _bmad-output/审查/evidence-u9c-eval/pytest-u9c-r2-20260916T190729.txt
  _bmad-output/审查/evidence-u9c-eval/territory-20260916T145925.txt
  _bmad-output/审查/evidence-u9c-eval/territory-final-20260916T195355.txt
  _bmad-output/审查/evidence-u9c-eval/u9c-antigate-20260916T144639.txt
  _bmad-output/审查/evidence-u9c-eval/unit-20260916T144844.txt
  _bmad-output/审查/evidence-u9c-eval/unit-base.nodeids
  _bmad-output/审查/evidence-u9c-eval/unit-new-red.txt
  _bmad-output/审查/evidence-u9c-eval/unit-now.nodeids
  _bmad-output/审查/evidence-u9c-eval/unit-vanished.txt
  _bmad-output/审查/evidence-u9c-eval/zero-write-proof-20260916T190821.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-U9C-EVAL.md
  _bmad-output/验收单/UAT-CARD-U9C-EVAL-2026-09-16.md
  backend/tests/regression/test_u9c_startup_rejection_eval.py
Due: python-lint

chore(t2-deploy): 卡级 squash CARD-G2-8 bb070e6f..7e1d6b53 [BATCH-2026-09-11-第十四批 / CARD-G2-8]
  _bmad-output/审查/codex-review-CARD-G2-8-r1.md
  _bmad-output/审查/codex-review-CARD-G2-8-r2.md
  _bmad-output/审查/codex-review-CARD-G2-8-r3.md
  _bmad-output/审查/codex-review-CARD-G2-8-r4.md
  _bmad-output/审查/codex-review-CARD-G2-8-r5.md
  _bmad-output/审查/evidence-g2-8/README-负控存档序列.md
  _bmad-output/审查/evidence-g2-8/close-checks-20260915T002819.txt
  _bmad-output/审查/evidence-g2-8/negctl-4seg-20260914T224053.txt
  _bmad-output/审查/evidence-g2-8/negctl-assert-anchored-20260914T224217.txt
  _bmad-output/审查/evidence-g2-8/negctl-final-15seg-20260914T234549.txt
  _bmad-output/审查/evidence-g2-8/negctl-final-r4-17seg-20260915T000551.txt
  _bmad-output/审查/evidence-g2-8/negctl-final-r5-18seg-20260915T002120.txt
  _bmad-output/审查/evidence-g2-8/negctl-r1fix-7seg-20260914T230041.txt
  _bmad-output/审查/evidence-g2-8/negctl-r2fix-11seg-20260914T231734.txt
  _bmad-output/审查/evidence-g2-8/negctl-r2fix-12seg-20260914T232040.txt
  _bmad-output/审查/evidence-g2-8/negctl-r3fix-15seg-20260914T233914.txt
  _bmad-output/审查/evidence-g2-8/negctl-r3fix-15seg-final-20260914T234243.txt
  _bmad-output/审查/evidence-g2-8/negctl-r4fix-17seg-20260915T000104.txt
  _bmad-output/审查/evidence-g2-8/red-20260914T223535.txt
  _bmad-output/审查/evidence-g2-8/sentinel
  _bmad-output/审查/evidence-g2-8/unit-deploy-close-20260914T223923.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-final-20260914T224431.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-postformat-20260914T224745.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r1fix-20260914T230250.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r2fix-20260914T232339.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r3fix-20260914T234955.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r4fix-20260915T000945.txt
  _bmad-output/审查/evidence-g2-8/unit-deploy-r5fix-20260915T002534.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8-r5.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-8.md
  _bmad-output/验收单/UAT-CARD-G2-8-2026-09-14.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

chore(t2-deploy): 卡级 squash CARD-G2-7b-TAIL [BATCH-2026-09-11-第十四批 / CARD-G2-7b-TAIL]
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r2.md
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r3.md
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL-r4.md
  _bmad-output/审查/codex-review-CARD-G2-7b-TAIL.md
  _bmad-output/审查/evidence-g27b-tail/base.nodeids
  _bmad-output/审查/evidence-g27b-tail/before-after-20260917T093413.txt
  _bmad-output/审查/evidence-g27b-tail/close-final.nodeids
  _bmad-output/审查/evidence-g27b-tail/close-r3.nodeids
  _bmad-output/审查/evidence-g27b-tail/close.nodeids
  _bmad-output/审查/evidence-g27b-tail/deploytest-close-20260917T091845.txt
  _bmad-output/审查/evidence-g27b-tail/deploytest-r2-20260917T095014.txt
  _bmad-output/审查/evidence-g27b-tail/deploytest-r3-20260917T100907.txt
  _bmad-output/审查/evidence-g27b-tail/deploytest-r4-20260917T102208.txt
  _bmad-output/审查/evidence-g27b-tail/mutation-ledger-20260917T093141.txt
  _bmad-output/审查/evidence-g27b-tail/r2-blocker-close-20260917T094455.txt
  _bmad-output/审查/evidence-g27b-tail/r3-publish-follows-dirlink-20260917T101247.txt
  _bmad-output/审查/evidence-g27b-tail/r4-receipt-states-20260917T102057.txt
  _bmad-output/审查/evidence-g27b-tail/ruff-close-20260917T092726.txt
  _bmad-output/审查/evidence-g27b-tail/ruff-close-20260917T092749.txt
  _bmad-output/审查/evidence-g27b-tail/unit-close-20260917T092218.txt
  _bmad-output/审查/evidence-g27b-tail/unit-final-20260917T103240.txt
  _bmad-output/审查/evidence-g27b-tail/unit-r3-20260917T101337.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL-r3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL-r4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-TAIL.md
  _bmad-output/验收单/UAT-CARD-G2-7b-TAIL-2026-09-17.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

chore(t8-tools): 卡级 squash CARD-TOOLCHAIN-UNIFY [BATCH-2026-09-11-第十四批 / CARD-TOOLCHAIN-UNIFY]
  _bmad-output/审查/codex-review-CARD-TOOLCHAIN-UNIFY.md
  _bmad-output/审查/evidence-toolchain-unify/base.nodeids
  _bmad-output/审查/evidence-toolchain-unify/close.nodeids
  _bmad-output/审查/evidence-toolchain-unify/final-binding-20260917T131027.txt
  _bmad-output/审查/evidence-toolchain-unify/json-toml-validity-20260917T124753.txt
  _bmad-output/审查/evidence-toolchain-unify/lefthook-glob-empirical-20260917T130842.txt
  _bmad-output/审查/evidence-toolchain-unify/lefthook-glob-empirical-v2-20260917T130857.txt
  _bmad-output/审查/evidence-toolchain-unify/rootsurface-before-after-20260917T125840.txt
  _bmad-output/审查/evidence-toolchain-unify/rootsurface-before-after-v2-20260917T125857.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-array-and-rootsurface-20260917T125826.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-before-after-diff-20260917T124809.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-before-assertions-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-after-20260917T124753.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-before-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-f82-locate-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/ruff-scripts-probe-20260917T124705.txt
  _bmad-output/审查/evidence-toolchain-unify/state-selfcheck-20260917T124628.txt
  _bmad-output/审查/evidence-toolchain-unify/state-selfcheck-part2-20260917T124646.txt
  _bmad-output/审查/evidence-toolchain-unify/territory-gate-20260917T130018.txt
  _bmad-output/审查/evidence-toolchain-unify/unit-close-20260917T124820.txt
  _bmad-output/审查/evidence-toolchain-unify/unit-diff-20260917T125806.txt
  _bmad-output/审查/evidence-toolchain-unify/version-grep-after-20260917T124753.txt
  _bmad-output/审查/evidence-toolchain-unify/version-grep-before-20260917T124731.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-TOOLCHAIN-UNIFY.md
  _bmad-output/验收单/UAT-CARD-TOOLCHAIN-UNIFY-2026-09-17.md
  package-lock.json
  package.json
  ruff.toml
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
