Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

fix(debt): 外部审查两卡整改+宣称降级 [BATCH-2026-08-29-第六批 / CARD-DEBT-15 + CARD-DEBT-14]
  _bmad-output/审查/DEBT-14-分叉对账与合并策略-2026-08-30.md
  _bmad-output/审查/DEBT-15-hook写副作用台账-2026-08-30.md
  _bmad-output/审查/evidence-debt14/codex-审查报告-2026-08-30.md
  _bmad-output/审查/evidence-debt15/codex-round2-复核报告-2026-08-30.md
  _bmad-output/验收单/DEBT-14-验收单-2026-08-30.md
  _bmad-output/验收单/DEBT-15-验收单-2026-08-30.md
  scripts/assert-hook-write-safety.sh
  scripts/lib/collect_hook_signatures.py
  scripts/lib/scan_git_occurrences.py
  scripts/verify-hook-write-safety-negative.sh
Due: none

fix(recap): 并行复核 2 BLOCKER/4 HIGH 合并处置 + 碰撞报告恢复 [BATCH-2026-08-29-第六批 / CARD-收口A]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G5-9-两份复核合并处置.md
  _bmad-output/审查/codex-review-CARD-G5-9-主session独立复核-2026-08-30.md
  _bmad-output/审查/codex-review-CARD-G5-9.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

docs: 收口卡 A 验收单 + 合并准备取证 + 维护卡 B 移交 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-29-维护卡B-board-recap-verifier收紧.md
  _bmad-output/审查/closeout-a-evidence/ci-equivalence-runner.sh
  _bmad-output/审查/closeout-a-evidence/ci-equivalence.md
  _bmad-output/审查/closeout-a-evidence/ci-preflight.md
  _bmad-output/审查/closeout-a-evidence/ci-yaml-shell-semantics.md
  _bmad-output/审查/closeout-a-evidence/g31-round19-high-closure.md
  _bmad-output/审查/closeout-a-evidence/merge-readiness.md
  _bmad-output/验收单/UAT-CARD-收口A-S3S6四项收口与两分支合并准备-2026-08-30.md
Due: none

feat(review): 投影五桶位与 why_due 加性扩展 [BATCH-2026-08-29-第六批 / CARD-G3-6a]
  _bmad-output/审查/codex-review-CARD-G3-6a.md
  _bmad-output/验收单/UAT-CARD-G3-6a-投影桶位与why_due-2026-08-30.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_pick.py
Due: spec-sync, python-lint

fix(scope): 封堵读侧跨 vault 泄漏 + 保召回前缀语义 [BATCH-2026-08-29-第六批 / CARD-G4-1a]
  .claude/rules/cypher-read-contract.md
  _bmad-output/审查/CARD-G4-1a-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-1a-round1-整改记录.md
  _bmad-output/审查/codex-review-CARD-G4-1a.md
  _bmad-output/审查/evidence-g41a/codex-round2-中断存档.md
  _bmad-output/审查/evidence-g41a/codex-round3-中断存档.md
  _bmad-output/审查/evidence-g41a/mutation-negative-controls-2026-08-30.txt
  backend/app/api/v1/endpoints/exam_quick.py
  backend/app/clients/neo4j_client.py
  backend/app/core/vault_scope.py
  backend/app/services/archive_scheduler.py
  backend/app/services/conversation_inheritance.py
  backend/app/services/learning_context_service.py
  backend/app/services/memory_service.py
  backend/scripts/g41a_mutation_negative_controls.py
  backend/tests/integration/test_cypher_contract_gate.py
  backend/tests/unit/test_memory_read_scope_g41a.py
  backend/tests/unit/test_neo4j_client.py
  backend/tests/unit/test_neo4j_field_consistency.py
  backend/tests/unit/test_read_scope_callers_g41a.py
  backend/tests/unit/test_s02_search_upgrade.py
  backend/tests/unit/test_story_31a2_ac1_neo4j_priority.py
  backend/tests/unit/test_story_31a2_ac2_client_method.py
  backend/tests/unit/test_story_31a2_ac4_pagination.py
  backend/tests/unit/test_story_31a2_ac5_api_injection.py
  backend/tests/unit/test_story_31a2_helpers.py
  backend/tests/unit/test_vault_scope_read_g41a.py
Due: spec-sync, python-lint

docs: 自审 10 条全处置 + ③b 补做登记 + 内容核对门 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-29-维护卡B-board-recap-verifier收紧.md
  _bmad-output/审查/closeout-a-evidence/ci-equivalence.md
  _bmad-output/审查/closeout-a-evidence/codex-self-review-transcript.txt
  _bmad-output/审查/closeout-a-evidence/merge-readiness.md
  _bmad-output/审查/closeout-a-evidence/precommit-content-check.sh
  _bmad-output/审查/closeout-a-evidence/移交与裁决清单.md
  _bmad-output/审查/codex-review-CARD-收口A.md
  _bmad-output/验收单/UAT-CARD-收口A-S3S6四项收口与两分支合并准备-2026-08-30.md
Due: none

docs(recap): ③b G5-4 定向复核存档 + G5-9 阻塞待裁口径更正 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-4-round6-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-两份复核合并处置.md
  _bmad-output/审查/g5-4-evidence/round6-transcript.txt
Due: none

docs: 按收尾自审更正恢复锚点 SHA 与 CI 等价论证口径 [BATCH-2026-08-29-第六批 / CARD-收口A]
  CURRENT_TASK.md
  _bmad-output/审查/closeout-a-evidence/ci-equivalence.md
Due: none

test(scope): 门 6 生产方法改为同一结果集精确相等 [BATCH-2026-08-29-第六批 / CARD-G4-1a]
  _bmad-output/审查/CARD-G4-1a-验收单.md
  _bmad-output/审查/evidence-g41a/condition-c-live-readout.txt
  _bmad-output/审查/evidence-g41a/mutation-negative-controls-2026-08-30.txt
  _bmad-output/审查/evidence-g41a/prove_condition_c.py
  backend/tests/integration/test_cypher_contract_gate.py
Due: python-lint

docs(review): 落盘门 6 提交态运行日志与"同时"双向能红证据 [BATCH-2026-08-29-第六批 / CARD-G4-1a]
  _bmad-output/审查/CARD-G4-1a-验收单.md
  _bmad-output/审查/evidence-g41a/gate-run-at-c43f1854.txt
Due: none

docs(recap): dirfd 锚定的作用域边界写进 docstring [BATCH-2026-08-29-第六批 / CARD-收口A]
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: none

docs(review): Codex 终裁「可合并」+ 修正 (f) 清单事实错误 [BATCH-2026-08-29-第六批 / CARD-G4-1a]
  _bmad-output/审查/CARD-G4-1a-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-1a-final-裁定.md
  _bmad-output/审查/evidence-g41a/gate-run-at-c43f1854.txt
Due: none

feat(board-split): 分层稳定 ID 与四态 diff 契约 [BATCH-2026-08-29-第六批 / CARD-G5-3]
  _bmad-output/审查/codex-review-CARD-G5-3.md
  _bmad-output/审查/g5-3-evidence/.gitignore
  _bmad-output/审查/g5-3-evidence/README.md
  _bmad-output/审查/g5-3-evidence/dump_ids.py
  _bmad-output/审查/g5-3-evidence/engine-and-products.sha256
  _bmad-output/审查/g5-3-evidence/four-state-demo-log.txt
  _bmad-output/审查/g5-3-evidence/four-state-demo-summary.txt
  _bmad-output/审查/g5-3-evidence/judge-and-contract.sha256
  _bmad-output/审查/g5-3-evidence/live-diff-summary.txt
  _bmad-output/审查/g5-3-evidence/live-full-after.tsv
  _bmad-output/审查/g5-3-evidence/live-full-before.tsv
  _bmad-output/审查/g5-3-evidence/live-run-log.txt
  _bmad-output/审查/g5-3-evidence/live-stable-ids.txt
  _bmad-output/审查/g5-3-evidence/mutate_board.py
  _bmad-output/审查/g5-3-evidence/mutate_engine.py
  _bmad-output/审查/g5-3-evidence/mutation-check.txt
  _bmad-output/审查/g5-3-evidence/pytest-green.txt
  _bmad-output/审查/g5-3-evidence/raw-reviews/codex-round1-raw.md
  _bmad-output/审查/g5-3-evidence/raw-reviews/codex-round2-raw.md
  _bmad-output/审查/g5-3-evidence/raw-reviews/codex-round3-raw.md
  _bmad-output/审查/g5-3-evidence/raw-reviews/codex-round4-raw.md
  _bmad-output/审查/g5-3-evidence/raw-reviews/codex-round5-raw.md
  _bmad-output/审查/g5-3-evidence/raw-reviews/codex-round6-raw.md
  _bmad-output/审查/g5-3-evidence/raw-reviews/workflow-6lens-raw.json
  _bmad-output/审查/g5-3-evidence/red-before-impl.txt
  _bmad-output/审查/g5-3-evidence/run_four_state_demo.sh
  _bmad-output/审查/g5-3-evidence/run_live_evidence.sh
  _bmad-output/审查/g5-3-evidence/run_mutation_check.sh
  _bmad-output/审查/g5-3-evidence/verify_manifests.sh
  _bmad-output/验收单/UAT-CARD-G5-3-拆分稳定ID与diff契约-2026-08-30.md
  backend/tests/skills/test_split_preview.py
  backend/tests/skills/test_split_stable_id.py
  canvas-vault/.claude/skills/board-split/scripts/split_preview.py
  docs/design/split-stable-id-contract.md
Due: python-lint

fix(recap): round-3 四条 HIGH 整改 + 承重门扩至 14 变体 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round3-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round3-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round3-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

fix(recap): round-4 五条 HIGH 整改 + 承重门扩至 19 变体 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round4-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round4-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round4-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

fix(recap): round-5 两条 HIGH 整改 + 首现收敛信号 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round5-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round5-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round5-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

fix(recap): round-6 定向终止轮三条反例整改 + 四态矩阵门 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round6-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round6-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round6-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

feat(vault): raw/wiki/schema 文档角色台账 + 只读校验脚本
  _bmad-output/审查/G8-1-evidence/README.md
  _bmad-output/审查/G8-1-evidence/check-live-degraded-refused.txt
  _bmad-output/审查/G8-1-evidence/check-live-degraded.txt
  _bmad-output/审查/G8-1-evidence/check-live-enforce-stdout.txt
  _bmad-output/审查/G8-1-evidence/check-live-report.json
  _bmad-output/审查/G8-1-evidence/live-vault-shasum-AFTER.txt
  _bmad-output/审查/G8-1-evidence/live-vault-shasum-BEFORE.txt
  _bmad-output/审查/G8-1-evidence/pytest-119-passed.txt
  _bmad-output/审查/codex-review-CARD-G8-1-round1-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round2-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round3-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round4-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round5-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round6-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round7-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1-round8-raw.md
  _bmad-output/审查/codex-review-CARD-G8-1.md
  _bmad-output/验收单/UAT-CARD-G8-1-文档角色台账-2026-08-30.md
  backend/scripts/check_vault_doc_roles.py
  backend/scripts/vault_doc_roles.yaml
  backend/tests/unit/test_vault_doc_roles.py
Due: python-lint

fix(recap): round-7 收官轮整改 + 更正「28 变体」不实陈述 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round7-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round7-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round7-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

fix(recap): round-8 三条 HIGH 全修 + 12 格归因矩阵 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round8-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round8-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round8-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

fix(recap): round-9 两条 FAIL 整改 + 12 格逐格归因矩阵 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round9-T2车道.md
  _bmad-output/审查/codex-review-CARD-G5-9-round9-处置.md
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  _bmad-output/审查/g5-9-evidence/round9-transcript.txt
  backend/tests/skills/test_g5_9_recap_exam.py
Due: python-lint

docs(recap): G5-9 十轮对抗复核结案 [BATCH-2026-08-29-第六批 / CARD-收口A]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G5-9-round10-T2车道-结案.md
  _bmad-output/审查/codex-review-CARD-G5-9-结案总表.md
  _bmad-output/审查/g5-9-evidence/round10-transcript.txt
Due: none

docs: G5-9 十轮结案登记 + 移交清单更新 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/closeout-a-evidence/移交与裁决清单.md
  _bmad-output/验收单/UAT-CARD-收口A-S3S6四项收口与两分支合并准备-2026-08-30.md
Due: none

docs: user rulings 甲/确认/按建议 + stage-recap subtype registered [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/2026-08-30-用户裁决记录-D1-D2-维护卡B.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
Due: none

docs: closeout-A round-2 archive (2 closed, 2 ruled by user) [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-收口A-round2.md
Due: none

docs: batch-7 runbook 7 lanes / 11 cards [PLAN-CLS-PRODUCTIVITY-2026-08-20]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-31-第七批开跑手册-7车道11卡.md
Due: none

feat(lance): 删除裸表回退与 tier-2 直开 + 表缺失显式透出 [BATCH-2026-08-29-第七批 / CARD-G2-4]
  _bmad-output/审查/codex-review-CARD-G2-4.md
  _bmad-output/审查/evidence-g24/live-lancedb-census-2026-08-31.json
  _bmad-output/验收单/UAT-CARD-G2-4-Lance旧表回退删除-2026-08-31.md
  backend/app/api/v1/endpoints/chat.py
  backend/app/mcp/tools/note_search_tools.py
  backend/app/services/supplementary_search_service.py
  backend/lib/agentic_rag/clients/lancedb_client.py
  backend/scripts/archive_legacy_lance_tables_g24.py
  backend/scripts/check_vault_doc_roles.py
  backend/scripts/g24_grep_gate.sh
  backend/scripts/vault_doc_roles.yaml
  backend/tests/regression/test_rag_stage2_chain_unify_contracts.py
  backend/tests/regression/test_rag_stage2_rerank_contracts.py
  backend/tests/regression/test_rag_stage2_t6_verification_contracts.py
  backend/tests/unit/test_archive_legacy_lance_tables_g24.py
  backend/tests/unit/test_g24_lance_legacy_table_removal.py
  backend/tests/unit/test_supplementary_search_service.py
Due: spec-sync, python-lint

feat(review): 投影按需重建 api + 零 js 刷新按钮 [BATCH-2026-08-31-第七批 / CARD-G6-1]
  _bmad-output/审查/2026-08-31-CARD-G6-1-Codex对抗审查.md
  _bmad-output/验收单/UAT-CARD-G6-1-投影按需重建API-2026-08-31.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_pick.py
Due: spec-sync, python-lint

feat(review): 板行节点级明细与节点深链 [BATCH-2026-08-31-第七批 / CARD-G6-4]
  _bmad-output/审查/2026-08-31-CARD-G6-4-Codex对抗审查.md
  _bmad-output/验收单/UAT-CARD-G6-4-节点级明细与精确开节点-2026-08-31.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/unit/test_review_overview.py
Due: spec-sync, python-lint

fix(recap): M11 批注跨板去重 + M7 板名字符拒绝集 [BATCH-2026-08-31-第七批 / CARD-M11M7]
  _bmad-output/审查/codex-review-CARD-M11M7-round1.md
  _bmad-output/审查/codex-review-CARD-M11M7-round2.md
  _bmad-output/审查/codex-review-CARD-M11M7-round3.md
  _bmad-output/验收单/UAT-CARD-M11M7-批注去重与板名字符-2026-08-31.md
  backend/tests/regression/test_recap_scan_signals.py
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

feat(G5-6): clear-inbox 只读盘点提名 preview 引擎
  _bmad-output/审查/codex-review-CARD-G5-6.md
  _bmad-output/验收单/UAT-CARD-G5-6-clear-inbox只读盘点提名preview-2026-08-31.md
  backend/tests/skills/test_g5_6_clear_inbox.py
  canvas-vault/.claude/skills/clear-inbox/scripts/inbox_preview.py
Due: python-lint

fix(review): g6-1 round-3 整改 (codex 复核) [BATCH-2026-08-31-第七批 / CARD-G6-1]
  _bmad-output/审查/2026-08-31-CARD-G6-1-Codex对抗审查.md
  _bmad-output/验收单/UAT-CARD-G6-1-投影按需重建API-2026-08-31.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_pick.py
Due: spec-sync, python-lint

feat(index): pending journal 按 vault 命名空间 + 旧件隔离不加载 [BATCH-2026-08-29-第七批 / CARD-G2-5]
  .gitignore
  _bmad-output/审查/G2-5-后端全局状态文件盘点-2026-08-31.md
  _bmad-output/审查/codex-review-CARD-G2-5.md
  _bmad-output/验收单/UAT-CARD-G2-5-索引journal命名空间-2026-08-31.md
  backend/app/core/vault_state_paths.py
  backend/app/services/lancedb_index_service.py
  backend/app/services/vault_index_orchestrator.py
  backend/scripts/migrate_index_journals_g25.py
  backend/tests/unit/test_g25_journal_namespace.py
Due: python-lint

docs(v5): 补存量测试适配逐条记录 + 输入缺口声明 + 裁决点汇总 [BATCH-2026-08-29-第七批 / CARD-G2-4 + CARD-G2-5]
  _bmad-output/验收单/UAT-CARD-G2-4-Lance旧表回退删除-2026-08-31.md
  _bmad-output/验收单/UAT-CARD-G2-5-索引journal命名空间-2026-08-31.md
  _bmad-output/验收单/裁决点汇总-车道V5-G2-4与G2-5-2026-08-31.md
Due: none

fix(scope): neo4j client 层读收口 + get_concept_history 名实一致
  .claude/rules/cypher-read-contract.md
  _bmad-output/审查/CARD-G4-1b-验收单.md
  _bmad-output/审查/codex-review-CARD-G4-1b.md
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/kg_health.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/system.py
  backend/app/clients/neo4j_client.py
  backend/app/core/subject_config.py
  backend/app/services/memory_service.py
  backend/scripts/g41b_mutation_negative_controls.py
  backend/scripts/g41b_readscope_grep_gate.py
  backend/tests/integration/test_cypher_contract_gate.py
  backend/tests/integration/test_story_38_7_ac1_fresh_startup.py
  backend/tests/unit/test_neo4j_client.py
  backend/tests/unit/test_story_38_2_episode_recovery.py
  backend/tests/unit/test_story_38_2_qa_supplement.py
  docs/known-gotchas.md
Due: spec-sync, python-lint

fix(review): 收官审计整改 — tz 强制 + 死门加固 + 失实陈述更正 [BATCH-2026-08-31-第七批 / CARD-G6-1 + CARD-G6-4]
  _bmad-output/审查/2026-08-31-CARD-G6-1-Codex对抗审查.md
  _bmad-output/审查/2026-08-31-CARD-G6-4-Codex对抗审查.md
  _bmad-output/验收单/UAT-CARD-G6-1-投影按需重建API-2026-08-31.md
  _bmad-output/验收单/UAT-CARD-G6-4-节点级明细与精确开节点-2026-08-31.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/unit/test_review_overview.py
Due: spec-sync, python-lint

feat(census): 工作树资产分类台账（只读盘点器 + 12 道断言）
  _bmad-output/审查/2026-08-31-DEBT-13-复跑diff.json
  _bmad-output/审查/2026-08-31-DEBT-13-复跑diff.md
  _bmad-output/审查/2026-08-31-DEBT-13-工作树资产分类台账.json
  _bmad-output/审查/2026-08-31-DEBT-13-工作树资产分类台账.md
  _bmad-output/审查/codex-review-CARD-DEBT-13.md
  _bmad-output/验收单/Story-CARD-DEBT-13-工作树资产分类台账.md
  scripts/census_worktree_assets.py
Due: none

docs(debt-16): P1 七残项 CLOSED/STILL-OPEN 单轮终裁台账 + G8-9 回填
  _bmad-output/implementation-artifacts/2026-08-28-G8-9-统一验收门底账.md
  _bmad-output/审查/2026-08-31-DEBT-16-P1残项CLOSED-STILL-OPEN台账.md
  _bmad-output/审查/codex-review-CARD-DEBT-16-P1残项单轮终裁.md
  _bmad-output/验收单/Story-CARD-DEBT-16-P1残项单轮终裁台账.md
Due: none

fix(review): 收官审计第二批 — 去抖不再伪装成功 + host 归一 + 死常量接线 [BATCH-2026-08-31-第七批 / CARD-G6-1]
  _bmad-output/审查/2026-08-31-CARD-G6-1-Codex对抗审查.md
  _bmad-output/验收单/UAT-CARD-G6-1-投影按需重建API-2026-08-31.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/tests/unit/test_review_overview.py
Due: spec-sync, python-lint

docs(review): 更正验收单 d-1 前置链 — 漏了合并这一级 [BATCH-2026-08-31-第七批 / CARD-G6-1 + CARD-G6-4]
  _bmad-output/验收单/UAT-CARD-G6-1-投影按需重建API-2026-08-31.md
  _bmad-output/验收单/UAT-CARD-G6-4-节点级明细与精确开节点-2026-08-31.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
