Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

docs(census): receipt 补 round-9 commit [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-evidence/artifact-commit-receipt.txt
Due: none

feat(recap): 偏航lint一梯队信号+verifier结构化绑定 [BATCH-2026-08-28-第五批 / CARD-G5-4]
  _bmad-output/审查/codex-review-CARD-G5-4-round2.md
  _bmad-output/审查/codex-review-CARD-G5-4-round3-处置.md
  _bmad-output/审查/codex-review-CARD-G5-4-round3.md
  _bmad-output/审查/codex-review-CARD-G5-4-round4-处置.md
  _bmad-output/审查/codex-review-CARD-G5-4-round4.md
  _bmad-output/审查/codex-review-CARD-G5-4-round5-处置.md
  _bmad-output/审查/codex-review-CARD-G5-4-round5.md
  _bmad-output/审查/codex-review-CARD-G5-4.md
  _bmad-output/审查/g5-4-evidence/README.md
  _bmad-output/审查/g5-4-evidence/scan-CS-61B.json
  _bmad-output/审查/g5-4-evidence/scan-CS188-lecture-2.json
  _bmad-output/审查/g5-4-evidence/scan-特征值与特征向量.json
  _bmad-output/审查/g5-4-evidence/shasum-after.txt
  _bmad-output/审查/g5-4-evidence/shasum-before.txt
  _bmad-output/验收单/UAT-CARD-G5-4-偏航lint一梯队信号-2026-08-28.md
  backend/tests/regression/test_recap_scan_signals.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_scan.py
Due: python-lint

feat: 唯一 VaultScope resolver + 409 fail-closed [BATCH-2026-08-28-第五批 / CARD-G2-2]
  _bmad-output/审查/codex-review-CARD-G2-2-round1-整改记录.md
  _bmad-output/审查/codex-review-CARD-G2-2.md
  _bmad-output/验收单/UAT-CARD-G2-2-VaultScope统一与409-2026-08-28.md
  backend/app/api/v1/endpoints/_vault_id_resolver.py
  backend/app/api/v1/endpoints/boards.py
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/endpoints/context.py
  backend/app/api/v1/endpoints/errors.py
  backend/app/api/v1/endpoints/exam.py
  backend/app/api/v1/endpoints/exam_sessions.py
  backend/app/api/v1/endpoints/inheritance.py
  backend/app/api/v1/endpoints/mastery.py
  backend/app/api/v1/endpoints/memory.py
  backend/app/api/v1/endpoints/metadata.py
  backend/app/api/v1/endpoints/profile.py
  backend/app/api/v1/endpoints/subjects.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/core/vault_scope.py
  backend/app/models/memory_schemas.py
  backend/app/services/agent_service.py
  backend/app/services/conversation_archive.py
  backend/app/services/conversation_inheritance.py
  backend/app/services/error_writer.py
  backend/app/services/event_handlers.py
  backend/app/services/learning_context_service.py
  backend/app/services/memory_service.py
  backend/app/services/react_agent.py
  backend/tests/unit/test_lancedb_vault_isolation.py
  backend/tests/unit/test_memory_service_contextvar_leak.py
  backend/tests/unit/test_react_agent.py
  backend/tests/unit/test_subjects_group_isolation.py
  backend/tests/unit/test_sync_batch_auth.py
  backend/tests/unit/test_vault_scope_409.py
  backend/tests/unit/test_wave5_stageb_continued_vault_id_injection.py
  backend/tests/unit/test_wave5_stageb_vault_id_injection.py
Due: spec-sync, python-lint

feat(recap): 阶段回顾检验白板输出 preview→确认→创建→undo [BATCH-2026-08-28-第五批 / CARD-G5-9]
  _bmad-output/审查/g5-9-evidence/README.md
  _bmad-output/审查/g5-9-evidence/baseline-manifest.txt
  _bmad-output/审查/g5-9-evidence/baseline.txt
  _bmad-output/审查/g5-9-evidence/g1-after-create.txt
  _bmad-output/审查/g5-9-evidence/g1-after-preview.txt
  _bmad-output/审查/g5-9-evidence/g1-after-undo.txt
  _bmad-output/审查/g5-9-evidence/g1-create.json
  _bmad-output/审查/g5-9-evidence/g1-preview.json
  _bmad-output/审查/g5-9-evidence/g1-undo.json
  _bmad-output/审查/g5-9-evidence/g2-after-create.txt
  _bmad-output/审查/g5-9-evidence/g2-after-preview.txt
  _bmad-output/审查/g5-9-evidence/g2-after-undo.txt
  _bmad-output/审查/g5-9-evidence/g2-create.json
  _bmad-output/审查/g5-9-evidence/g2-manifest-compat.txt
  _bmad-output/审查/g5-9-evidence/g2-preview.json
  _bmad-output/审查/g5-9-evidence/g2-undo.json
  _bmad-output/审查/round6-终裁复核-处置.md
  _bmad-output/验收单/UAT-CARD-G5-9-阶段回顾检验白板-2026-08-28.md
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/Dashboard.md
Due: python-lint

feat: 四态贯穿服务层 Memory/RAG [BATCH-2026-08-28-第五批 / CARD-G4-2]
  _bmad-output/审查/codex-review-CARD-G4-2-round1-整改记录.md
  _bmad-output/审查/codex-review-CARD-G4-2.md
  _bmad-output/验收单/UAT-CARD-G4-2-四态贯穿服务层-2026-08-28.md
  backend/app/models/service_status.py
  backend/app/services/rag_service.py
  backend/lib/agentic_rag/mastery_injection.py
  backend/lib/agentic_rag/nodes.py
  backend/lib/agentic_rag/state.py
  backend/tests/unit/test_four_state_injection.py
  backend/tests/unit/test_mastery_injection_memory_contract.py
  backend/tests/unit/test_service_status_contract.py
  backend/tests/unit/test_story_2_3_error_reminders.py
Due: python-lint

fix(census): G4-9 round-10 解阻整改 — 声明彻底收敛 + 测试如实标注 [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-DLQ-census-2026-08-28.md
  _bmad-output/审查/G4-9-dlq-ledger-2026-08-28.json
  _bmad-output/审查/G4-9-evidence/grep-selfattest.txt
  _bmad-output/审查/G4-9-evidence/readonly-contract-tests.txt
  _bmad-output/审查/codex-review-CARD-G4-9-round10.md
  _bmad-output/验收单/UAT-CARD-G4-9-DLQ真实挂载census分诊-2026-08-28.md
  backend/scripts/census_dead_letter_episodes.py
  backend/tests/regression/test_census_dead_letter_readonly_contract.py
Due: python-lint

docs(census): receipt 补 round-10 commit [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-evidence/artifact-commit-receipt.txt
Due: none

fix(census): G4-9 round-11 解阻整改 — 残留声明清除 + 测试补强 [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-DLQ-census-2026-08-28.md
  _bmad-output/审查/G4-9-dlq-ledger-2026-08-28.json
  _bmad-output/审查/G4-9-evidence/readonly-contract-tests.txt
  _bmad-output/审查/codex-review-CARD-G4-9-round11.md
  _bmad-output/验收单/UAT-CARD-G4-9-DLQ真实挂载census分诊-2026-08-28.md
  backend/scripts/census_dead_letter_episodes.py
  backend/tests/regression/test_census_dead_letter_readonly_contract.py
Due: python-lint

docs(census): receipt 补 round-11 commit [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-evidence/artifact-commit-receipt.txt
Due: none

fix: 六轮整改—parsed查重+fencing+state相容可执行判别+YAML状态机 [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round6-2026-08-28.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round6-counterexamples.txt
  _bmad-output/审查/g3-4-evidence/g3-4-negative-verification.txt
  _bmad-output/审查/g3-4-evidence/g3-round6-counterexamples.txt
  _bmad-output/审查/g3-4-evidence/negverify_v4.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  _bmad-output/验收单/UAT-CARD-G3-4-FSRS-golden-vectors-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_fsrs_golden_vectors.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

feat: Neo4j 概念/LEARNED 写身份加 group [BATCH-2026-08-28-第五批 / CARD-G2-3]
  .claude/rules/cypher-write-contract.md
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G2-3.md
  _bmad-output/审查/evidence-g23/g23-live-7691-dryrun.json
  _bmad-output/验收单/UAT-CARD-G2-3-Neo4j写身份加group-2026-08-28.md
  backend/app/clients/neo4j_client.py
  backend/app/services/canvas_service.py
  backend/app/services/fallback_sync_service.py
  backend/scripts/g23_mutation_negative_controls.py
  backend/scripts/migrate_write_identity_g23.py
  backend/tests/integration/test_cypher_contract_gate.py
  backend/tests/integration/test_migrate_write_identity_g23.py
  backend/tests/unit/test_neo4j_client.py
Due: python-lint

docs(census): G4-9 round-12 最后两条措辞整改 [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-DLQ-census-2026-08-28.md
  _bmad-output/审查/codex-review-CARD-G4-9-round12.md
  _bmad-output/验收单/UAT-CARD-G4-9-DLQ真实挂载census分诊-2026-08-28.md
Due: none

docs(census): receipt 补 round-12 commit [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-evidence/artifact-commit-receipt.txt
Due: none

docs(census): G4-9 Codex round-13 终裁 — 三层全 PASS 可验收 [BATCH-2026-08-28-第五批 / CARD-G4-9]
  _bmad-output/审查/G4-9-DLQ-census-2026-08-28.md
  _bmad-output/审查/codex-review-CARD-G4-9-round13.md
  _bmad-output/验收单/UAT-CARD-G4-9-DLQ真实挂载census分诊-2026-08-28.md
Due: none

docs(census): G4-16 Codex round-5 终裁 — 可验收，无必须再做项 [BATCH-2026-08-28-第五批 / CARD-G4-16]
  _bmad-output/审查/G4-16-doc-type-census-2026-08-28.md
  _bmad-output/审查/G4-16-evidence/live-distribution-and-value-grep.txt
  _bmad-output/审查/G4-16-evidence/test-run-metadata.txt
  _bmad-output/审查/codex-review-CARD-G4-16-round5.md
  _bmad-output/验收单/UAT-CARD-G4-16-doc_type族接线普查-2026-08-28.md
Due: none

fix: 七轮整改—envelope等价面+CAS接管+去stability误报+极简YAML [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round7-2026-08-28.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round7-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 八轮整改—stability语义上界+W后继域+宽计数+proof schema [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round8-2026-08-28.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round8-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  _bmad-output/验收单/UAT-CARD-G3-4-FSRS-golden-vectors-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 九轮整改—域闭包+引号键计数+proof唯一化+超大数fail-closed [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round9-2026-08-28.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round9-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 十轮整改—vault_id改PyYAML与backend同源+proof值类型与genesis锚 [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round10-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round10-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 十一轮整改—vault_id与生产逐环节同源+proof E选取与genesis锚 [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round11-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round11-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 十二轮整改—proof键集表格化+跨层单调门+YAML异常同口径 [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round12-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-1-live-ledger-validation.txt
  _bmad-output/审查/g3-1-evidence/g3-round12-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

feat: proof层级作用域冻结+参考verifier [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round13-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round14-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: verifier真实绑定门+金标严格解析 [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round14-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round15-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  _bmad-output/验收单/UAT-CARD-G3-4-FSRS-golden-vectors-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_fsrs_golden_vectors.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 修自引入的递归崩溃与行号口径不一致 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round15-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round15-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 算法身份绑manifest+genesis真锚+单快照直读 [BATCH-2026-08-28-第五批 / CARD-G3-1 + CARD-G3-4]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-G3-4-round15-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round16-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  _bmad-output/验收单/UAT-CARD-G3-4-FSRS-golden-vectors-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_fsrs_golden_vectors.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: canonical JSON同源+out_of_order严格true+五survivor补门 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round16-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round17-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  _bmad-output/验收单/UAT-CARD-G3-4-FSRS-golden-vectors-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: manifest残缺fail-closed+out_of_order语义门+vault无证据拒 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round17-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round18-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: vault收集先于乱序continue+三处同文做成门 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round18-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round19-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix(test): isolate episode worker to stop live Neo4j writes [BATCH-2026-08-28-第五批 / CARD-G2-2]
  backend/tests/unit/test_vault_scope_409.py
Due: python-lint

fix: 未知event_version不当v1解释+同文门正规化收紧 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round19-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round20-counterexamples.txt
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
Due: python-lint

fix: 冻结跨版本路由信封+负验证归因修正 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round20-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round21-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

docs(review): archive raw codex round2/3 transcripts [BATCH-2026-08-27-Anki化与诚实收尾 / CARD-D1]
  _bmad-output/审查/codex-review-CARD-D1-round2-raw.md
  _bmad-output/审查/codex-review-CARD-D1-round3-raw.md
Due: none

fix: 主体校验器执行路由信封+Q归因拆纯scanner门 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round21-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round22-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/scripts/validate_learning_events.py
  backend/tests/regression/test_learning_events_schema_contract.py
  docs/learning-events-schema-v1.md
Due: python-lint

fix: 信封value-shape九形态+误拒反面门+逐实例红集判据 [BATCH-2026-08-28-第五批 / CARD-G3-1]
  CURRENT_TASK.md
  _bmad-output/审查/codex-review-CARD-G3-1-round22-2026-08-29.md
  _bmad-output/审查/g3-1-evidence/g3-round23-counterexamples.txt
  _bmad-output/审查/g3-1-evidence/negverify_round14_proof_gates.sh
  _bmad-output/验收单/UAT-CARD-G3-1-事件账schema冻结-2026-08-28.md
  backend/tests/regression/test_learning_events_schema_contract.py
Due: python-lint

docs: batch-6 runbook + batch-5 verdict [PLAN-CLS-PRODUCTIVITY-2026-08-20]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-29-第六批开跑手册-6车道7卡.md
  _bmad-output/审查/2026-08-29-第五批独立复核裁定.md
Due: none

ci: G3-1/G3-4 回归文件接入 test.yml + round-23 复核存档 [BATCH-2026-08-29-第六批 / CARD-收口A]
  .github/workflows/test.yml
  _bmad-output/审查/closeout-a-evidence/ci-equivalence-runner.sh
  _bmad-output/审查/closeout-a-evidence/ci-equivalence.md
  _bmad-output/审查/closeout-a-evidence/ci-preflight.md
  _bmad-output/审查/closeout-a-evidence/ci-yaml-shell-semantics.md
  _bmad-output/审查/closeout-a-evidence/g31-round19-high-closure.md
  _bmad-output/审查/codex-review-CARD-G3-1-round23-2026-08-29.md
Due: none

docs: update T2 closeout goal with G5-9 review findings [BATCH-2026-08-29-第六批]
  _bmad-output/implementation-artifacts/goal-cards/2026-08-29-第六批开跑手册-6车道7卡.md
Due: none

fix(recap): G5-9 codex 首轮 4 条 HIGH 整改 + 承重门 [BATCH-2026-08-29-第六批 / CARD-收口A]
  _bmad-output/审查/codex-review-CARD-G5-9-round1-处置.md
  _bmad-output/审查/codex-review-CARD-G5-9.md
  _bmad-output/审查/g5-9-evidence/codex-round1-transcript.txt
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.py
  _bmad-output/审查/g5-9-evidence/round1-high-negverify.txt
  backend/tests/skills/test_g5_9_recap_exam.py
  canvas-vault/.claude/skills/board-recap/SKILL.md
  canvas-vault/.claude/skills/board-recap/scripts/recap_exam_build.py
Due: python-lint

docs(debt): 分叉对账清单+三方案策略+可恢复基线 [BATCH-2026-08-29-第六批 / CARD-DEBT-14]
  _bmad-output/审查/DEBT-14-分叉对账与合并策略-2026-08-30.md
  _bmad-output/验收单/DEBT-14-验收单-2026-08-30.md
Due: none

feat(debt): hook写副作用台账+三门断言+N0-N16负验证 [BATCH-2026-08-29-第六批 / CARD-DEBT-15]
  _bmad-output/审查/DEBT-15-hook写副作用台账-2026-08-30.md
  _bmad-output/审查/evidence-debt15/codex-round1-审查报告-2026-08-30.md
  _bmad-output/验收单/DEBT-15-验收单-2026-08-30.md
  scripts/assert-hook-write-safety.sh
  scripts/lib/collect_hook_signatures.py
  scripts/lib/scan_git_occurrences.py
  scripts/verify-hook-write-safety-negative.sh
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
