Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

refactor(memory): Phase 2 删 record_episode 双写 + 结构化事件路由 structured_writer
  backend/app/services/memory_service.py
  backend/tests/unit/test_memory_service_structured_routing.py
Due: python-lint

refactor(exam): Phase 3 检验白板四读取器改走 Graphiti 精确读
  backend/app/services/graphiti_memory_reader.py
  backend/app/services/question_generator.py
  backend/tests/unit/test_graphiti_memory_reader.py
Due: python-lint

refactor(kg): Phase 4 episode_worker D6 守卫 + Fix-E1 降级为 canvas_projection_sync
  backend/app/main.py
  backend/app/services/canvas_projection_sync.py
  backend/app/services/episode_worker.py
  backend/scripts/verify_targeted_exam_chain.py
  backend/tests/unit/test_canvas_projection_sync.py
Due: python-lint

feat(kg): Phase 4.5 vault 历史回填 + 实测修复 reader 方向判定与 embedding 硬前提
  backend/app/services/graphiti_memory_reader.py
  backend/app/services/graphiti_structured_writer.py
  backend/app/services/vault_backfill.py
  backend/scripts/backfill_graphiti_structured.py
  backend/tests/unit/test_graphiti_memory_reader.py
  backend/tests/unit/test_graphiti_structured_writer.py
  backend/tests/unit/test_vault_backfill.py
Due: python-lint

feat(kg): Phase 5 e2e 验证脚本 + belief 链补 embedding 硬前提修复
  backend/app/services/graphiti_belief_service.py
  backend/scripts/verify_graphiti_native_chain.py
Due: python-lint

docs(graphiti-native): 执行完成记录 — 全 Phase done + e2e 10/10 + 实测 5 修复
  _bmad-output/研究/2026-06-10-graphiti-native-记忆重构-落地计划.md
Due: none

docs(uat): 主链验收单 v2 — Graphiti-native 真实上手版 (correct-course 覆盖 v1)
  _bmad-output/验收单/Story-S2-2-主链-批注节点原因-handson.md
Due: none

fix(kg): 回填解析器支持插件真实批注格式 — 列表嵌套 [!tips] + 理解度模板剔噪
  backend/app/services/vault_backfill.py
  backend/tests/unit/test_vault_backfill.py
Due: python-lint

fix(plugin): 批注实时入记忆 — 修列表嵌套解析 + 恢复单条上报
  frontend/obsidian-plugin/src/callout.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/tests/callout.test.ts
Due: none

feat(kg): 启动回填钩子 — vault 批注/原因每次后端启动自动入图
  backend/app/main.py
Due: python-lint

feat(api): 复活 /tips/batch — debounce 批量同步收录批注续写全文
  backend/app/api/v1/endpoints/tips.py
Due: spec-sync, python-lint

fix(kg): 批注去重 — 规范存储格式 + 逻辑身份, 三通道同批注自动合并
  backend/app/services/graphiti_structured_writer.py
  backend/app/services/memory_service.py
  backend/app/services/vault_backfill.py
  backend/tests/unit/test_graphiti_structured_writer.py
  backend/tests/unit/test_vault_backfill.py
Due: python-lint

test(kg): e2e 断言对齐 F10 规范格式 — read_node_tips 期望 '[tip] 裸正文'
  backend/scripts/verify_graphiti_native_chain.py
Due: python-lint

fix(plugin): callout 同步 debounce 500→3000ms — 续写期间不切版本
  frontend/obsidian-plugin/src/callout-sync.ts
Due: none

feat(kg): P0 批注稳定 annotation_id — A+-prime 同步契约地基
  backend/app/api/v1/endpoints/tips.py
  backend/app/services/graphiti_structured_writer.py
  backend/app/services/memory_service.py
  backend/app/services/vault_backfill.py
  backend/tests/unit/test_graphiti_structured_writer.py
  backend/tests/unit/test_vault_backfill.py
  frontend/obsidian-plugin/src/callout.ts
  frontend/obsidian-plugin/src/frontmatter-tips-sync.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/tests/callout.test.ts
Due: spec-sync, python-lint

feat(kg): P1 ACP 当前态切 frontmatter 真相源 — 幽灵记忆根治
  backend/app/services/frontmatter_signals.py
  backend/app/services/question_generator.py
  backend/tests/unit/test_frontmatter_signals.py
  backend/tests/unit/test_source_description_contract.py
Due: python-lint

feat(kg): P2 A7 诚实失败契约 — 不再静默假成功 + outbox 重放
  backend/app/api/v1/endpoints/tips.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_a7_honest_failure.py
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

feat(kg): P3 source_time/ingest_time 分离 — create-or-preserve 根治 A4 时序污染
  backend/app/services/graphiti_structured_writer.py
  backend/app/services/memory_service.py
  backend/app/services/vault_backfill.py
  backend/tests/unit/test_graphiti_structured_writer.py
Due: python-lint

feat(kg): P4 派生关系原因实时入图 — 修 X1 (不再依赖重启回填)
  backend/app/api/v1/endpoints/tips.py
  backend/app/services/memory_service.py
  backend/tests/unit/test_a7_honest_failure.py
  frontend/obsidian-plugin/src/main.ts
Due: spec-sync, python-lint

feat(kg): P5 最小删除失效语义 — 删除对账 tombstone (回填时)
  backend/app/services/graphiti_structured_writer.py
  backend/app/services/vault_backfill.py
  backend/tests/unit/test_graphiti_structured_writer.py
Due: python-lint

feat(kg): 可切换 embedder (gemini/openai/local bge-m3) — 摆脱 Gemini 地理封锁
  backend/app/graphiti/embedder_factory.py
  backend/app/services/episode_worker.py
  backend/scripts/backfill_graphiti_structured.py
  backend/scripts/verify_embedder.py
  backend/scripts/verify_graphiti_native_chain.py
  backend/tests/unit/test_embedder_factory.py
  docker-compose.yml
Due: python-lint

feat(exam-board): 检验白板 v1.1 — 诚实版落地 + 双重对抗审查修复 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  .gdr/exam-board-v1-review-files.txt
  .gdr/instruction-exam-board-v1-review.md
  _bmad-output/研究/2026-07-05-检验白板v1-真机质量评估.md
  _bmad-output/研究/2026-07-08-ChatGPT对抗审查-核实与修复.md
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
  canvas-vault/Dashboard.md
  canvas-vault/检验白板/特征值与特征向量-2026-07-05-1815.md
  canvas-vault/节点/Fundamentals.md
  frontend/obsidian-plugin/src/ai-linked-doc.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/tests/ai-linked-doc.test.ts
Due: none

fix(hooks): settings.json 全部 13 条 hook 命令加 git-root 解析前缀 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  .claude/settings.json
Due: none

fix(backend): G-DEFAULT 根治 + 检索索引三修 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  .gitignore
  backend/app/api/v1/endpoints/metadata.py
  backend/app/config.py
  backend/app/main.py
  backend/app/services/memory_service.py
  docker-compose.yml
Due: spec-sync, python-lint

fix(plugin): S3 死命令清理 — 命令面板不再有点了就坑的入口 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  frontend/obsidian-plugin/src/main.ts
Due: none

docs(vault): S3 Skill/CLAUDE.md 收敛 + hook 可见警告与鉴权头 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  canvas-vault/.claude/settings.json
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  canvas-vault/.claude/skills/exam-quick/SKILL.md
  canvas-vault/.claude/skills/node-chat/SKILL.md
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/study-question/SKILL.md
  canvas-vault/CLAUDE.md
Due: none

docs(research): 2026-07-10 四份决策文档归档 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-10-PRD对照全景盘点-Graphiti运行态-检索与Skill对抗审查.md
  _bmad-output/研究/2026-07-10-北极星开发计划-多vault一键部署与收敛路线.md
  _bmad-output/研究/2026-07-10-基本功能优先-检索复活实录与Sprint计划.md
  _bmad-output/研究/2026-07-10-社区成熟方案-CLS分发与多vault隔离.md
Due: none

docs(handoff): 新 session 交接任务书 + 打包清单 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  .gdr/instruction-next-session-convergence.md
  .gdr/next-session-pack-files.txt
Due: none

fix(backend): T1 group_id 读写格式统一 — 物理层单一 __ 格式 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/api/v1/endpoints/edges.py
  backend/app/api/v1/endpoints/exam_sessions.py
  backend/app/api/v1/endpoints/profile.py
  backend/app/clients/neo4j_client.py
  backend/app/clients/neo4j_edge_client.py
  backend/app/graphiti/group_id_compat.py
  backend/app/services/agent_service.py
  backend/app/services/exam_service.py
  backend/app/services/exam_service_ext.py
  backend/app/services/fallback_sync_service.py
  backend/app/services/group_id_migration_service.py
  backend/app/services/learning_context_service.py
  backend/app/services/mastery_store.py
  backend/app/services/memory_service.py
  backend/app/services/react_agent.py
  backend/app/utils/cypher_helpers.py
  backend/tests/unit/test_group_id_compat.py
  backend/tests/unit/test_group_id_migration.py
  backend/tests/unit/test_mastery_store.py
  backend/tests/unit/test_neo4j_field_consistency.py
  backend/tests/unit/test_react_agent.py
Due: spec-sync, python-lint

fix(rag): T3 enrich singleton 根治 — LanceDB 表句柄按需 open 不读缓存 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: python-lint

fix(backend): T2 canvas_projection_sync 加 group_id 投影图纳入 vault 隔离 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/main.py
  backend/app/services/canvas_projection_sync.py
Due: python-lint

feat(plugin): T5 错误候选 accept/dispute 命令接线 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  canvas-vault/节点/UAT-2.5.X-test.md
  frontend/obsidian-plugin/src/main.ts
Due: none

feat(vault): T6 考察历史 Dashboard 聚合 + T4 设计小节待批注 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-10-T4-Graphiti读侧接通检验白板-设计小节.md
  canvas-vault/Dashboard.md
Due: none

docs(task): T1-T6 收敛进度快照 round-14 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _decisions/CURRENT_TASK.md
Due: none

feat(exam): T4 方案A 跨节点针对性考察素材 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-10-T4-Graphiti读侧接通检验白板-设计小节.md
  backend/app/api/v1/endpoints/exam_sessions.py
  backend/app/services/targeting_material_service.py
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
  canvas-vault/节点/UAT-2.5.X-test.md
Due: spec-sync, python-lint

fix(exam): T4 素材服务加 neighbor_id 穿越纵深防御 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/services/targeting_material_service.py
Due: python-lint

docs(research): 2026-07-12 全景状态报告 9-agent 深探+对抗审查 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-12-全景状态报告-PRD对照-Graphiti实证-对抗审查.md
Due: none

docs(research): R1 批注回复 x3 + 索引表 + 原文嵌链 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-12-全景状态报告-PRD对照-Graphiti实证-对抗审查.md
  _bmad-output/研究/answers/R1-Q1_部署路径历史查证.md
  _bmad-output/研究/answers/R1-Q2_enrich-hook是什么.md
  _bmad-output/研究/answers/R1-Q3_评分双轨解释.md
  _bmad-output/研究/批注总索引表-2026-07-12.md
Due: none

fix(backend): P0 批次一 B1+R2+R1+B2 评分复活+隔离+检索止血+tips落桶 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/endpoints/exam_grade.py
  backend/app/api/v1/endpoints/tips.py
  backend/app/config.py
  backend/app/services/question_generator.py
  backend/app/services/supplementary_search_service.py
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: spec-sync, python-lint

fix(backend): P0 批次二 D2 回填黑名单 + neo4j 挂载迁主仓 + GEMINI_API_KEY (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/services/vault_backfill.py
  docker-compose.yml
Due: python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
