Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

docs(uat): Codex r4 整改 — 台账最后一处本卡行号改用名称 [BATCH-2026-09-07-第十三批 / CARD-RED-A1-auth]
  _bmad-output/审查/codex-review-CARD-RED-A1-auth-r4.md
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-A1-auth-r4.md
  _bmad-output/验收单/UAT-CARD-RED-A1-auth-2026-09-09.md
Due: none

docs(evidence): 补证据提交自身的 hook 存档 [BATCH-2026-09-07-第十三批 / CARD-G3-5]
  _bmad-output/审查/evidence-g35/commit-evidence-hooks-20260909T144408.txt
Due: none

docs(red-c2): §八 round-3 记录 + 裁判绑定 e43db627 + SHA 绑定实证 [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  _bmad-output/审查/codex-review-CARD-RED-C2-r3.md
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T143922.txt
  _bmad-output/审查/evidence-red-c2/c2-verdicts.md
  _bmad-output/审查/evidence-red-c2/files-23-20260909T144643.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T144643.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T144721.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T143922.bare.txt
  _bmad-output/审查/evidence-red-c2/negctl-compose-exemption-r3-20260909T143735.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r3-20260909T143823.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T143922.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T143922.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T143922.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T143922.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r3.md
Due: none

docs(uat): Codex r5 末轮收尾 — 停轮达成 + 推翻一处与日志相反的耗时归因 [BATCH-2026-09-07-第十三批 / CARD-RED-A1-auth]
  _bmad-output/审查/codex-review-CARD-RED-A1-auth-r5.md
  _bmad-output/审查/evidence-red-a1-auth/second-layer-20260909T134842.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-A1-auth-r5.md
  _bmad-output/验收单/UAT-CARD-RED-A1-auth-2026-09-09.md
Due: none

test(skills): 按 Codex r14 整改 — 兜底网分块修正（tab 列数/原文指纹）[BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

test(red-c2): Codex round-4 整改 — bytes 标量 + 双轴计数 + 安全判据 A/B 分层 [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_1_7_env_config.py
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

docs(red-c2): §九 round-4 记录 + 裁判绑定 3a6f51ea + 隔离用例 [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  _bmad-output/审查/codex-review-CARD-RED-C2-r4.md
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T150204.txt
  _bmad-output/审查/evidence-red-c2/c2-verdicts.md
  _bmad-output/审查/evidence-red-c2/files-23-20260909T150641.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T150641.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T150718.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T150204.bare.txt
  _bmad-output/审查/evidence-red-c2/negctl-compose-exemption-r4-20260909T145953.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r4-20260909T150108.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T150204.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T150204.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T150204.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T150204.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r4.md
Due: none

docs(guard): 收回结构门「关掉整族」的过宽声明（纯 docstring，AST 等价）[BATCH-2026-09-07-第十三批 / CARD-W4-7]
  backend/tests/unit/test_live_port_guard_contract.py
Due: python-lint

test(skills): 按 Codex r15 整改 — fence 额度算对、标题自成块、散文按段绑 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

test(red-c2): Codex round-5 整改 — 撤回 r4 自造的判据弱化 [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

docs(review): CARD-W4-7 Codex r5 末轮存档 + 绑定执行记录 + 三项未验证登记 [BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/审查/codex-review-CARD-W4-7-r5.md
  _bmad-output/审查/evidence-w47/bound-run-20260909T151635.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-W4-7-r5.md
  _bmad-output/验收单/UAT-CARD-W4-7-2026-09-09.md
Due: none

docs(review): CARD-W4-7 终审绑定等价证明（r5 审 SHA → HEAD 仅 docstring）[BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/审查/evidence-w47/r5-binding-equivalence-20260909T152241.txt
Due: none

fix(deploy-vault): Codex r1 两 BLOCKER + 四 HIGH 全数整改 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/codex-review-CARD-G2-7b.md
  _bmad-output/审查/evidence-g27b/dir-red-diff-r1fix.txt
  _bmad-output/审查/evidence-g27b/dir-red-nodeids-r1fix.txt
  _bmad-output/审查/evidence-g27b/dir-tests-unit-r2-20260909T151638.raw
  _bmad-output/审查/evidence-g27b/install-activate-deprecated-20260909T144913.txt
  _bmad-output/审查/evidence-g27b/r2-blocker1-recheck-20260909T150606.txt
  _bmad-output/审查/evidence-g27b/r2-blocker1-recheck-20260909T150708.txt
  _bmad-output/审查/evidence-g27b/r2-rest-recheck-20260909T150812.txt
  _bmad-output/审查/evidence-g27b/r2-rest-recheck-20260909T150956.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b.md
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/deploy-vault.sh
Due: python-lint

docs(red-c2): 验收单 + §十 round-5 记录 + 完整 SHA 绑定链（停下交主 session）[BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  _bmad-output/审查/codex-review-CARD-RED-C2-r5.md
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T151936.txt
  _bmad-output/审查/evidence-red-c2/c2-verdicts.md
  _bmad-output/审查/evidence-red-c2/files-23-20260909T152453.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T152453.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T152536.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T151936.bare.txt
  _bmad-output/审查/evidence-red-c2/negctl-compose-exemption-r4-20260909T145953.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r5-20260909T151650.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r5-20260909T151731.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T151936.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T151936.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T151936.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T151936.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r5.md
  _bmad-output/验收单/UAT-CARD-RED-C2-2026-09-09.md
Due: none

test(skills): 按 Codex r16 整改 — 续接歧义取并集、补两条局部回归断言 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

fix(deploy-vault): Codex r2 四 BLOCKER + 二 HIGH — 禁写面判据换物理解析 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/codex-review-CARD-G2-7b-r2.md
  _bmad-output/审查/evidence-g27b/dir-red-diff-r2fix.txt
  _bmad-output/审查/evidence-g27b/dir-red-nodeids-r2fix.txt
  _bmad-output/审查/evidence-g27b/dir-tests-unit-r3-20260909T155112.raw
  _bmad-output/审查/evidence-g27b/mutation-r2-20260909T154638.txt
  _bmad-output/审查/evidence-g27b/mutation-r2-20260909T154858.txt
  _bmad-output/审查/evidence-g27b/r3-blocker1-recheck-20260909T154302.txt
  _bmad-output/审查/evidence-g27b/r3-rest-recheck-20260909T154129.txt
  _bmad-output/审查/evidence-g27b/r3-rest-recheck-20260909T154302.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r2.md
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/cls_forbidden_paths.py
  scripts/deploy-vault.sh
Due: python-lint

test(skills): 按 Codex r17 整改 — 并集循环扩张、候选取多重集差 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

refactor(fsrs): 按人审裁定缩小范围 -- legacy 兼容移交下一张卡 [BATCH-2026-09-07-第十三批 / CARD-G3-5]
  backend/app/services/review_service.py
  backend/scripts/migrate_fsrs_card_states_vault_key_g35.py
  backend/tests/regression/test_g3_5_vault_keyed_card_states.py
Due: python-lint

test(red-c2): Codex round-6 整改 — 内联判据从「按参数打补丁」改为「按输入值」[BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  backend/tests/unit/test_story_30_24_boundary.py
Due: python-lint

docs(review): CARD-W4-7 补协议 §2.1 五份存档首部 + 修验收单字面 NUL [BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/审查/codex-review-CARD-W4-7-r2.md
  _bmad-output/审查/codex-review-CARD-W4-7-r3.md
  _bmad-output/审查/codex-review-CARD-W4-7-r4.md
  _bmad-output/审查/codex-review-CARD-W4-7-r5.md
  _bmad-output/审查/codex-review-CARD-W4-7.md
  _bmad-output/审查/evidence-w47/nul-root-cause-and-remeasure-20260909T160942.txt
  _bmad-output/审查/evidence-w47/protocol-2-1-header-backfill.txt
  _bmad-output/验收单/UAT-CARD-W4-7-2026-09-09.md
Due: none

test(skills): 按 Codex r18 整改 — 长单元源码无条件保留、bytes 进解析、五处整改逐个变异验证 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

docs(review): CARD-W4-7 §9.2 补第 4 次 NUL 实证（写记忆时复发）[BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/验收单/UAT-CARD-W4-7-2026-09-09.md
Due: none

docs(review): CARD-W4-7 收工态自证存档（绑定/首部/NUL/stderr 四项）[BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/审查/evidence-w47/final-state-20260909T162105.txt
Due: none

fix(deploy-vault): Codex r3 4B+4H — 判据逐段判 mkdir -p 写入面 [BATCH-2026-09-07-第十三批 / CARD-G2-7b]
  _bmad-output/审查/codex-review-CARD-G2-7b-r3.md
  _bmad-output/审查/evidence-g27b/dir-red-diff-r3fix.txt
  _bmad-output/审查/evidence-g27b/dir-red-nodeids-r3fix.txt
  _bmad-output/审查/evidence-g27b/dir-tests-unit-r4-20260909T161158.raw
  _bmad-output/审查/evidence-g27b/dir-tests-unit-r4b-20260909T162114.raw
  _bmad-output/审查/evidence-g27b/r4-recheck-20260909T161202.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-7b-r3.md
  _bmad-output/验收单/UAT-CARD-G2-7b-2026-09-09.md
  backend/tests/unit/test_deploy_vault_sh.py
  scripts/cls_forbidden_paths.py
  scripts/deploy-vault.sh
Due: python-lint

docs(red-c2): §十一 round-6 记录 + 裁判绑定 82c285db [BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  _bmad-output/审查/codex-review-CARD-RED-C2-r6.md
  _bmad-output/审查/evidence-red-c2/c2-contribution-20260909T161927.txt
  _bmad-output/审查/evidence-red-c2/c2-verdicts.md
  _bmad-output/审查/evidence-red-c2/files-23-20260909T161810.txt
  _bmad-output/审查/evidence-red-c2/files-failed-20260909T161810.txt
  _bmad-output/审查/evidence-red-c2/gates-20260909T162539.txt
  _bmad-output/审查/evidence-red-c2/gone-20260909T161927.bare.txt
  _bmad-output/审查/evidence-red-c2/negctl-security-r6-20260909T161650.txt
  _bmad-output/审查/evidence-red-c2/red-after-20260909T161927.txt
  _bmad-output/审查/evidence-red-c2/red-diff-20260909T161927.txt
  _bmad-output/审查/evidence-red-c2/u11a-contribution-20260909T161927.txt
  _bmad-output/审查/evidence-red-c2/unit-after-20260909T161927.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C2-r6.md
  _bmad-output/验收单/UAT-CARD-RED-C2-2026-09-09.md
Due: none

docs(review): CARD-W4-7 修首部 prompt 路径 + (a)(h)(i)(j)(m)(n) 复核存档 [BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/审查/codex-review-CARD-W4-7-r2.md
  _bmad-output/审查/codex-review-CARD-W4-7-r3.md
  _bmad-output/审查/codex-review-CARD-W4-7-r4.md
  _bmad-output/审查/codex-review-CARD-W4-7-r5.md
  _bmad-output/审查/codex-review-CARD-W4-7.md
  _bmad-output/审查/evidence-w47/verify-cases-20260909T162613.txt
  _bmad-output/审查/evidence-w47/verify-readonly-20260909T162451.txt
  _bmad-output/审查/evidence-w47/verify-uat-structure-20260909T162702.txt
Due: none

test(skills): 按 Codex r19 整改 — 预筛贯通消费端、bytes 常量链、URL 判定重写 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

fix(fsrs): 缩小后两轮复审处置 -- 冲突 legacy fail-fast + 假门改真 [BATCH-2026-09-07-第十三批 / CARD-G3-5]
  backend/app/services/review_service.py
  backend/scripts/migrate_fsrs_card_states_vault_key_g35.py
  backend/tests/regression/test_g3_5_vault_keyed_card_states.py
Due: python-lint

docs(uat): CARD-G3-5 验收单定稿 + 七轮 Codex 存档 [BATCH-2026-09-07-第十三批 / CARD-G3-5]
  _bmad-output/审查/codex-review-CARD-G3-5-r6-scoped.md
  _bmad-output/审查/codex-review-CARD-G3-5-r7-final.md
  _bmad-output/审查/evidence-g35/.unit-after-path
  _bmad-output/审查/evidence-g35/commit-final-hooks-20260909T164058.txt
  _bmad-output/审查/evidence-g35/commit-scoped-hooks-20260909T161039.txt
  _bmad-output/审查/evidence-g35/final-unit-after-20260909T163558.txt
  _bmad-output/审查/evidence-g35/final2-migrate-rc-20260909T161712.txt
  _bmad-output/审查/evidence-g35/final2-negctl-20260909T161713.txt
  _bmad-output/审查/evidence-g35/final2-pyright-20260909T161743.txt
  _bmad-output/审查/evidence-g35/final2-suites-20260909T161534.txt
  _bmad-output/审查/evidence-g35/final3-all-20260909T163256.txt
  _bmad-output/审查/evidence-g35/final3-negctl-20260909T163517.txt
  _bmad-output/审查/evidence-g35/final3-pyright-20260909T163540.txt
  _bmad-output/审查/evidence-g35/migrate-dryrun.json
  _bmad-output/审查/evidence-g35/prev-unit-after-full-scope.txt
  _bmad-output/审查/evidence-g35/prev-unit-after-scoped-v1.txt
  _bmad-output/审查/evidence-g35/prev-unit-after-scoped-v2.txt
  _bmad-output/审查/evidence-g35/scoped-migrate-rc-20260909T160418.txt
  _bmad-output/审查/evidence-g35/scoped-negctl-20260909T160433.txt
  _bmad-output/审查/evidence-g35/scoped-pyright-20260909T160454.txt
  _bmad-output/审查/evidence-g35/scoped-suites-20260909T160309.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-5-r6-scoped.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-5-r7-final.md
  _bmad-output/验收单/UAT-CARD-G3-5-2026-09-09.md
Due: none

docs(uat): 卡文范围符合性实测 + 澄清措辞 [BATCH-2026-09-07-第十三批 / CARD-G3-5]
  _bmad-output/审查/evidence-g35/scope-verification-20260909T164506.txt
  _bmad-output/验收单/UAT-CARD-G3-5-2026-09-09.md
Due: none

docs(review): CARD-W4-7 §十 最终 HEAD 全量复核 + 基线缺失假阻断登记 [BATCH-2026-09-07-第十三批 / CARD-W4-7]
  _bmad-output/审查/evidence-w47/verify-api-20260909T162419.txt
  _bmad-output/审查/evidence-w47/verify-contract-20260909T163640.txt
  _bmad-output/审查/evidence-w47/verify-h1a-20260909T163640.txt
  _bmad-output/审查/evidence-w47/verify-m4-20260909T162843.txt
  _bmad-output/审查/evidence-w47/verify-negctl-ast-20260909T163737.txt
  _bmad-output/审查/evidence-w47/verify-negctl-astonly-20260909T163737.txt
  _bmad-output/审查/evidence-w47/verify-negctl-full-20260909T163737.txt
  _bmad-output/审查/evidence-w47/verify-negctl-mutating-20260909T163929.txt
  _bmad-output/审查/evidence-w47/verify-negctl-rounds-20260909T164250.txt
  _bmad-output/审查/evidence-w47/verify-probes-20260909T163640.txt
  _bmad-output/审查/evidence-w47/verify-regression-20260909T162419.txt
  _bmad-output/审查/evidence-w47/verify-skills-20260909T162419.txt
  _bmad-output/审查/evidence-w47/verify-unit-20260909T162419.txt
  _bmad-output/审查/evidence-w47/verify-unit-basediff-20260909T162419.txt
  _bmad-output/审查/evidence-w47/verify-unit-basediff-20260909T163030.txt
  _bmad-output/验收单/UAT-CARD-W4-7-2026-09-09.md
Due: none

fix(mutkill): Codex round-4 五条整改 —— 切分唯一性与退出状态快照 [BATCH-2026-09-07-第十三批 / CARD-DEBT-mutkill-R2]
  _bmad-output/审查/codex-review-CARD-DEBT-mutkill-R2-r4.md
  _bmad-output/审查/evidence-mutkill-r2/_run_all_console_v6.txt
  _bmad-output/审查/evidence-mutkill-r2/_run_index.txt
  _bmad-output/审查/evidence-mutkill-r2/ast-gate-20260909T165104.txt
  _bmad-output/审查/evidence-mutkill-r2/disposition-tables-v6-20260909T165244.txt
  _bmad-output/审查/evidence-mutkill-r2/finalize-v6-20260909T165158.txt
  _bmad-output/审查/evidence-mutkill-r2/g33-20260909T163820.json
  _bmad-output/审查/evidence-mutkill-r2/guard-probes-20260909T165111.txt
  _bmad-output/审查/evidence-mutkill-r2/make_disposition_table.py
  _bmad-output/审查/evidence-mutkill-r2/negctl-n1n2-v6-20260909T153905.txt
  _bmad-output/审查/evidence-mutkill-r2/negctl-signal-v6-20260909T153905.txt
  _bmad-output/审查/evidence-mutkill-r2/negctl-thirdparty-v6-20260909T153905.txt
  _bmad-output/审查/evidence-mutkill-r2/premise_anchor_screen.py
  _bmad-output/审查/evidence-mutkill-r2/pyeof-negctl-v6-20260909T153905.txt
  _bmad-output/审查/evidence-mutkill-r2/regression-after-20260909T164554.txt
  _bmad-output/审查/evidence-mutkill-r2/regression-before-20260909T154331.txt
  _bmad-output/审查/evidence-mutkill-r2/run-code-state-20260909T153921.txt
  _bmad-output/审查/evidence-mutkill-r2/run-g32b-20260909T154901.txt
  _bmad-output/审查/evidence-mutkill-r2/run-g32cb-20260909T163005.txt
  _bmad-output/审查/evidence-mutkill-r2/run-g32ccr1-20260909T163354.txt
  _bmad-output/审查/evidence-mutkill-r2/run-g33-20260909T163820.txt
  _bmad-output/审查/evidence-mutkill-r2/unit-after-20260909T164204.txt
  _bmad-output/审查/evidence-mutkill-r2/unit-before-20260909T153921.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-mutkill-R2-r4.md
  _bmad-output/验收单/UAT-CARD-DEBT-mutkill-R2-2026-09-08.md
  backend/scripts/g32b_mutation_gates.py
  backend/scripts/g32cb_mutation_gates.py
  backend/scripts/g32ccr1_negative_controls.py
  backend/scripts/g33_mutation_gates.py
  backend/scripts/mutation_kill_identity.py
Due: python-lint

feat(review): 板级 snooze 两档「今晚/明天」端到端切片 [BATCH-2026-09-07-第十三批 / CARD-G6-6]
  _bmad-output/审查/evidence-g66/four-files-20260909T164946.txt
  _bmad-output/审查/evidence-g66/fsrs-negctl-20260909T165100.txt
  _bmad-output/审查/evidence-g66/g66-green-20260909T164946.txt
  _bmad-output/审查/evidence-g66/g66-red-20260909T160837.txt
  _bmad-output/审查/evidence-g66/g66-red-20260909T160929.txt
  _bmad-output/审查/evidence-g66/g66-red-20260909T161029.txt
  _bmad-output/审查/evidence-g66/gate-6b-precise-20260909T165334.txt
  _bmad-output/审查/evidence-g66/gates-6b-7-20260909T165303.txt
  _bmad-output/审查/evidence-g66/grep-gates-20260909T165223.txt
  _bmad-output/审查/evidence-g66/lint-typecheck-20260909T165405.txt
  _bmad-output/审查/evidence-g66/live-readonly-close-20260909T165641.txt
  _bmad-output/审查/evidence-g66/live-shasum-open-20260909T160230.txt
  _bmad-output/审查/evidence-g66/openapi-20260909T165730.txt
  _bmad-output/审查/evidence-g66/prior-gates-20260909T165100.txt
  _bmad-output/审查/evidence-g66/pyright-20260909T165619.txt
  _bmad-output/审查/evidence-g66/tests-api-20260909T165705.txt
  _bmad-output/审查/evidence-g66/unit-baseline-diff-open-20260909T160648.txt
  _bmad-output/审查/evidence-g66/unit-baseline-diff-open-20260909T160706.txt
  _bmad-output/审查/evidence-g66/unit-baseline-open-20260909T160147.txt
  _bmad-output/审查/evidence-g66/unit-closing-20260909T165357.txt
  _bmad-output/审查/evidence-g66/unit-closing-diff-20260909T165928.txt
  _bmad-output/审查/evidence-g66/write-point-survey-20260909T165100.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-6.md
  backend/app/api/v1/endpoints/review_app.py
  backend/app/api/v1/endpoints/review_overview.py
  backend/openapi.json
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/regression/test_daily_review_run.py
  backend/tests/unit/test_review_app.py
  backend/tests/unit/test_review_overview.py
  scripts/daily_review_pick.py
  scripts/daily_review_run.py
Due: spec-sync, python-lint

docs(mutkill): round-5 存档 + 按 D-15 停轮交主 session 人审 [BATCH-2026-09-07-第十三批 / CARD-DEBT-mutkill-R2]
  _bmad-output/审查/codex-review-CARD-DEBT-mutkill-R2-r5.md
  _bmad-output/审查/prompts/codex-prompt-CARD-DEBT-mutkill-R2-r5.md
  _bmad-output/验收单/UAT-CARD-DEBT-mutkill-R2-2026-09-08.md
Due: none
