Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

docs(probe): CARD-HOST-PROBE 批级事件跨窗口复查 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-host-probe/INDEX-evidence-list.txt
  _bmad-output/审查/evidence-host-probe/batch-event-u10a-window-recheck-20260908T082918.txt
  _bmad-output/研究/2026-09-08-HOST-PROBE-宿主实测表.md
Due: none

docs(pyright): 跨车道 /tmp 窗口污染核对（三窗口零影响）+ 宽判据假阳记录 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-rest]
  _bmad-output/审查/evidence-pyright-rest/crosslane-tmpwindow-check-20260908T082956.txt
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-rest-2026-09-08.md
Due: none

fix(verify-vault): Codex r3 三条 HIGH（含一条我自己引入的假绿）+ 四条 MEDIUM [BATCH-2026-09-07-第十三批 / CARD-RV-G2-6]
  _bmad-output/审查/codex-review-CARD-RV-G2-6-r3.md
  _bmad-output/审查/evidence-rv-g26/adjacent-suites-r4-20260908T082515.txt
  _bmad-output/审查/evidence-rv-g26/dir-tests-unit-close-r4-20260908T082515.raw
  _bmad-output/审查/evidence-rv-g26/dir-tests-unit-diff-r4-20260908T082930.txt
  _bmad-output/审查/evidence-rv-g26/flip-and-proof-r4-20260908T082649.txt
  _bmad-output/审查/evidence-rv-g26/live-diff-r4-20260908T082714.txt
  _bmad-output/审查/evidence-rv-g26/live-readonly-r4-20260908T082714.txt
  _bmad-output/审查/evidence-rv-g26/live-sentinel-r4-20260908T082714
  _bmad-output/审查/evidence-rv-g26/manifest-test-green-r4-20260908T082515.txt
  _bmad-output/审查/evidence-rv-g26/pipe-variants-20260908T083008.txt
  _bmad-output/审查/evidence-rv-g26/pipe-variants-probe.py.txt
  _bmad-output/审查/evidence-rv-g26/review-c4e6b165.md
  _bmad-output/审查/evidence-rv-g26/ruff-r4-20260908T082515.txt
  _bmad-output/审查/evidence-rv-g26/secret-sha-before-r4-20260908T082714.txt
  _bmad-output/审查/evidence-rv-g26/unit-red-close-r4-nodeids.txt
  _bmad-output/审查/evidence-rv-g26/verify-r3-claims-20260908T083008.txt
  _bmad-output/审查/evidence-rv-g26/verify-r3-claims-probe-20260908T083008.py.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RV-G2-6-r3.md
  backend/tests/unit/test_vault_install_manifest.py
  scripts/verify_vault_install.py
Due: python-lint

fix(services): Codex r3 整改 · 6 处已证实差异恢复 + 5 处注释校正 [BATCH-2026-09-07-第十三批 / U1]
  backend/app/services/autoscore.py
  backend/app/services/conversation_distiller.py
  backend/app/services/error_classifier.py
  backend/app/services/exam_service_ext.py
  backend/app/services/rag_service.py
  backend/app/services/signal_registry.py
Due: python-lint

fix(tz): Codex r1 整改 — POSIX TZ 串回落进程本地 + 桶位门以投影自带时区为参照 [BATCH-2026-09-07-第十三批 / CARD-G6-9c]
  _bmad-output/审查/codex-review-CARD-G6-9c.md
  _bmad-output/审查/evidence-g69c/grep-gates.txt
  _bmad-output/审查/evidence-g69c/lefthook-exclude-python-lint.txt
  _bmad-output/审查/evidence-g69c/mutation-negctl-g69c.txt
  _bmad-output/审查/evidence-g69c/skills-r2-20260908T083106.txt
  _bmad-output/审查/evidence-g69c/two-state-final-America-Los_Angeles-20260908T083347.txt
  _bmad-output/审查/evidence-g69c/two-state-final-Asia-Shanghai-20260908T083324.txt
  _bmad-output/审查/evidence-g69c/two-state-r2-America-Los_Angeles-20260908T081132.txt
  _bmad-output/审查/evidence-g69c/two-state-r2-Asia-Shanghai-20260908T081108.txt
  _bmad-output/审查/evidence-g69c/unit-close-r2-20260908T081626.txt
  _bmad-output/审查/evidence-g69c/unit-close-r2-clean-20260908T082044.txt
  _bmad-output/审查/evidence-g69c/unit-close-r2-confirm-20260908T082631.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-9c.md
  _bmad-output/验收单/UAT-CARD-G6-9c-2026-09-08.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/app/core/display_tz.py
  backend/openapi.json
  backend/scripts/vault_lint.py
  backend/tests/regression/test_g6_9_boundary_matrix.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  backend/tests/unit/test_vault_lint.py
  scripts/daily_review_pick.py
  scripts/local_tz.py
Due: spec-sync, python-lint

docs(u1): Codex r2/r3 存档 + 整改证据 + 验收单 v1.2 [BATCH-2026-09-07-第十三批 / U1]
  _bmad-output/审查/codex-review-CARD-PYRIGHT-DEBT-services-r2.md
  _bmad-output/审查/codex-review-CARD-PYRIGHT-DEBT-services-r3.md
  _bmad-output/审查/evidence-pyright-svc/INDEX.txt
  _bmad-output/审查/evidence-pyright-svc/TAIL-handover.txt
  _bmad-output/审查/evidence-pyright-svc/_superseded/pyright-base-da690bf8.json
  _bmad-output/审查/evidence-pyright-svc/_superseded/pyright-work-2fa89589.json
  _bmad-output/审查/evidence-pyright-svc/_superseded/pyright-work-5a31d4fb.json
  _bmad-output/审查/evidence-pyright-svc/api-final2-20260908T082243.txt
  _bmad-output/审查/evidence-pyright-svc/api-r2fix-20260908T081652.txt
  _bmad-output/审查/evidence-pyright-svc/api-r3fix-20260908T083317.txt
  _bmad-output/审查/evidence-pyright-svc/assert-caller-leak-audit-20260908T082710.txt
  _bmad-output/审查/evidence-pyright-svc/assert-message-leak-audit-20260908T081412.txt
  _bmad-output/审查/evidence-pyright-svc/final-dod-selfcheck.txt
  _bmad-output/审查/evidence-pyright-svc/lefthook-skip-archive-r2fix-20260908T082031.txt
  _bmad-output/审查/evidence-pyright-svc/lefthook-skip-archive-r3fix-20260908T083350.txt
  _bmad-output/审查/evidence-pyright-svc/multiset-r2fix-da690bf8-20260908T081717.txt
  _bmad-output/审查/evidence-pyright-svc/multiset-r3fix-20260908T083317.txt
  _bmad-output/审查/evidence-pyright-svc/phase1-checklist-20260908T081245.txt
  _bmad-output/审查/evidence-pyright-svc/pyright-base-da690bf8.json
  _bmad-output/审查/evidence-pyright-svc/pyright-work-82d15aac.json
  _bmad-output/审查/evidence-pyright-svc/r1-fix-verification-20260908T075315.txt
  _bmad-output/审查/evidence-pyright-svc/r2-fix-message-verification-20260908T081627.txt
  _bmad-output/审查/evidence-pyright-svc/r3-fix-verification-20260908T083807.txt
  _bmad-output/审查/evidence-pyright-svc/rollback-final2-20260908T082243.txt
  _bmad-output/审查/evidence-pyright-svc/uat-reference-check.txt
  _bmad-output/审查/evidence-pyright-svc/unit-final2-20260908T082243.txt
  _bmad-output/审查/evidence-pyright-svc/unit-final2-nodeids.txt
  _bmad-output/审查/evidence-pyright-svc/unit-r2fix-20260908T081652.txt
  _bmad-output/审查/evidence-pyright-svc/unit-r2fix-nodeids.txt
  _bmad-output/审查/evidence-pyright-svc/unit-r3fix-20260908T083317.txt
  _bmad-output/审查/evidence-pyright-svc/unit-r3fix-nodeids.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-DEBT-services-r3.md
  _bmad-output/审查/prompts/codex-prompt-CARD-PYRIGHT-DEBT-services-r4.md
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

docs(services): Codex r4 LOW-1 · signal_registry 注释按各类真实写入路径改写 [BATCH-2026-09-07-第十三批 / U1]
  backend/app/services/signal_registry.py
Due: python-lint

docs(u1): Codex r4 存档（B0 H0 M0）+ 验收单 v1.3 阶段1收官 [BATCH-2026-09-07-第十三批 / U1]
  _bmad-output/审查/codex-review-CARD-PYRIGHT-DEBT-services-r4.md
  _bmad-output/审查/evidence-pyright-svc/INDEX.txt
  _bmad-output/审查/evidence-pyright-svc/phase1-final-judges.txt
  _bmad-output/审查/evidence-pyright-svc/r4-binding-ast-proof.txt
  _bmad-output/审查/evidence-pyright-svc/unit-r4fix-20260908T084614.txt
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

docs(u1): 更正 · flaky 采样 v1 被证伪，v2 干净交错重做 [BATCH-2026-09-07-第十三批 / U1]
  _bmad-output/审查/evidence-pyright-svc/flaky-sampling-v2-interleaved-20260908T085218.txt
  _bmad-output/审查/evidence-pyright-svc/unit-r4fix-nodeids.txt
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

fix(verify-vault): Codex r4 四条 HIGH — 摘要在编码前丢信息 + 三态谓词收口 [BATCH-2026-09-07-第十三批 / CARD-RV-G2-6]
  _bmad-output/审查/codex-review-CARD-RV-G2-6-r4.md
  _bmad-output/审查/evidence-rv-g26/adjacent-suites-r5-20260908T085548.txt
  _bmad-output/审查/evidence-rv-g26/dir-tests-unit-close-r5-20260908T085548.raw
  _bmad-output/审查/evidence-rv-g26/dir-tests-unit-diff-r5-20260908T085959.txt
  _bmad-output/审查/evidence-rv-g26/flip-and-proof-r5-20260908T085639.txt
  _bmad-output/审查/evidence-rv-g26/live-diff-r5-20260908T085707.txt
  _bmad-output/审查/evidence-rv-g26/live-readonly-r5-20260908T085707.txt
  _bmad-output/审查/evidence-rv-g26/live-sentinel-r5-20260908T085707
  _bmad-output/审查/evidence-rv-g26/manifest-test-green-r5-20260908T085548.txt
  _bmad-output/审查/evidence-rv-g26/review-c4e6b165.md
  _bmad-output/审查/evidence-rv-g26/ruff-r5-20260908T085548.txt
  _bmad-output/审查/evidence-rv-g26/secret-sha-before-r5-20260908T085707.txt
  _bmad-output/审查/evidence-rv-g26/selffound-brokenpipe-in-write-20260908T084445.txt
  _bmad-output/审查/evidence-rv-g26/unit-red-close-r5-nodeids.txt
  _bmad-output/审查/evidence-rv-g26/verify-r4-claims-probe-20260908T085639.py.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RV-G2-6-r4.md
  _bmad-output/验收单/UAT-CARD-RV-G2-6-2026-09-08.md
  backend/tests/unit/test_vault_install_manifest.py
  scripts/verify_vault_install.py
Due: python-lint

fix(hygiene): Codex r3 整改 — 三段内部的确定性断言全部收窄 [BATCH-2026-09-07-第十三批 / CARD-HYGIENE-conftest]
  _bmad-output/审查/codex-review-CARD-HYGIENE-conftest-r3.md
  _bmad-output/审查/evidence-hyg-conftest/negctl-n3b-enum-denied-samefixture-20260908T084356.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-n3c-enum-e2e-20260908T084356.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-p1-red-20260908T084313.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-p2-red-20260908T084323.txt
  _bmad-output/审查/evidence-hyg-conftest/probe-baseline-swap-20260908T085441.txt
  _bmad-output/审查/evidence-hyg-conftest/probe-nodeid-swap-20260908T084901.txt
  _bmad-output/审查/evidence-hyg-conftest/red-after.txt
  _bmad-output/审查/evidence-hyg-conftest/red-diff-after.txt
  _bmad-output/审查/evidence-hyg-conftest/selfprobe-comment-20260908T084334.txt
  _bmad-output/审查/evidence-hyg-conftest/selfprobe-const-20260908T084345.txt
  _bmad-output/审查/evidence-hyg-conftest/static-gates-r4-20260908T084107.txt
  _bmad-output/审查/evidence-hyg-conftest/treeB-cleanup-20260908T082507.txt
  _bmad-output/审查/evidence-hyg-conftest/unit-after-r4-20260908T084422.txt
  _bmad-output/审查/evidence-hyg-conftest/unit-after-r4b-20260908T084934.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-HYGIENE-conftest-r3.md
  _bmad-output/验收单/UAT-CARD-HYGIENE-conftest-2026-09-08.md
  backend/tests/unit/conftest.py
Due: python-lint

docs(g29f1): Codex round-5 处置收口 + 五轮存档首部齐 [BATCH-2026-09-07-第十三批 / CARD-G2-9-F1]
  _bmad-output/审查/CARD-G2-9-F1-方法论小结.md
  _bmad-output/审查/CARD-G2-9-F1-裁定请求.md
  _bmad-output/审查/codex-review-CARD-G2-9-F1-r3.md
  _bmad-output/审查/codex-review-CARD-G2-9-F1-r4.md
  _bmad-output/审查/codex-review-CARD-G2-9-F1-r5.md
  _bmad-output/审查/evidence-g29f1/codex-archive-header-check-20260908T085615.txt
  _bmad-output/审查/evidence-g29f1/completion-checklist-final-20260908T085454.txt
  _bmad-output/审查/evidence-g29f1/order-independence-verified-20260908T085225.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G2-9-F1-r5.md
  _bmad-output/验收单/UAT-CARD-G2-9-F1-2026-09-08.md
Due: none

docs(u1): 登记 U10-A 车道的外部观察（同一代码状态下归属会翻转）[BATCH-2026-09-07-第十三批 / U1]
  _bmad-output/验收单/UAT-CARD-PYRIGHT-DEBT-services-2026-09-08.md
Due: none

docs(g29f1): stderr 未入库核查 + 方法论小结加第 7 条判据教训 [BATCH-2026-09-07-第十三批 / CARD-G2-9-F1]
  _bmad-output/审查/CARD-G2-9-F1-方法论小结.md
  _bmad-output/审查/evidence-g29f1/stderr-not-tracked-20260908T090430.txt
Due: none

fix(tz): Codex r2 整改 — 本地时区改逐时刻解析(含 DST) + 桶位参照系按证据择一 [BATCH-2026-09-07-第十三批 / CARD-G6-9c]
  _bmad-output/审查/codex-review-CARD-G6-9c-r2.md
  _bmad-output/审查/evidence-g69c/grep-gates.txt
  _bmad-output/审查/evidence-g69c/mutation-negctl-g69c.txt
  _bmad-output/审查/evidence-g69c/skills-r3-20260908T090038.txt
  _bmad-output/审查/evidence-g69c/two-state-r3-America-Los_Angeles-20260908T090017.txt
  _bmad-output/审查/evidence-g69c/two-state-r3-Asia-Shanghai-20260908T085955.txt
  _bmad-output/审查/evidence-g69c/two-state-r3final-America-Los_Angeles-20260908T091102.txt
  _bmad-output/审查/evidence-g69c/two-state-r3final-Asia-Shanghai-20260908T091039.txt
  _bmad-output/审查/evidence-g69c/unit-close-final-20260908T091139.txt
  _bmad-output/审查/evidence-g69c/unit-close-r3-20260908T090224.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-G6-9c-r2.md
  _bmad-output/验收单/UAT-CARD-G6-9c-2026-09-08.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/app/core/display_tz.py
  backend/openapi.json
  backend/tests/regression/test_g6_9c_single_tz_source.py
  backend/tests/unit/test_vault_lint.py
  scripts/local_tz.py
Due: spec-sync, python-lint

docs(rv-g2-6): Codex round-5 存档 + 移交结论（轮次用满，未自判通过）[BATCH-2026-09-07-第十三批 / CARD-RV-G2-6]
  _bmad-output/审查/codex-review-CARD-RV-G2-6-r5.md
  _bmad-output/审查/evidence-rv-g26/review-c4e6b165.md
  _bmad-output/审查/evidence-rv-g26/verify-r5-claims-20260908T091401.txt
  _bmad-output/审查/evidence-rv-g26/verify-r5-claims-probe-20260908T091401.py.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-RV-G2-6-r5.md
  _bmad-output/验收单/UAT-CARD-RV-G2-6-2026-09-08.md
Due: none

fix(hygiene): Codex r4 整改 — 撤回未交付的证据声明 + 三处结论收窄 [BATCH-2026-09-07-第十三批 / CARD-HYGIENE-conftest]
  _bmad-output/审查/codex-review-CARD-HYGIENE-conftest-r4.md
  _bmad-output/审查/evidence-hyg-conftest/cleanup-script-fix-20260908T091401.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-n3b-enum-denied-samefixture-20260908T091728.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-n3c-enum-e2e-20260908T091717.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-p1-green-r5-20260908T091401.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-p1-red-20260908T091349.txt
  _bmad-output/审查/evidence-hyg-conftest/negctl-p2-red-20260908T091645.txt
  _bmad-output/审查/evidence-hyg-conftest/red-diff-n2p-r3.txt
  _bmad-output/审查/evidence-hyg-conftest/red-diff-r1open.txt
  _bmad-output/审查/evidence-hyg-conftest/red-diff-r4.txt
  _bmad-output/审查/evidence-hyg-conftest/red-diff-r4b.txt
  _bmad-output/审查/evidence-hyg-conftest/red-diff-r5.txt
  _bmad-output/审查/evidence-hyg-conftest/red-set-n2.txt
  _bmad-output/审查/evidence-hyg-conftest/red-set-n2p-r3.txt
  _bmad-output/审查/evidence-hyg-conftest/red-set-r1open.txt
  _bmad-output/审查/evidence-hyg-conftest/red-set-r4.txt
  _bmad-output/审查/evidence-hyg-conftest/red-set-r4b.txt
  _bmad-output/审查/evidence-hyg-conftest/red-set-r5.txt
  _bmad-output/审查/evidence-hyg-conftest/selfprobe-comment-20260908T091656.txt
  _bmad-output/审查/evidence-hyg-conftest/selfprobe-const-20260908T091707.txt
  _bmad-output/审查/evidence-hyg-conftest/unit-after-r5-20260908T091741.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-HYGIENE-conftest-r4.md
  _bmad-output/验收单/UAT-CARD-HYGIENE-conftest-2026-09-08.md
  backend/tests/unit/conftest.py
Due: python-lint

test(skills): 三层可移植性 lint 基线 + start-exam-board 最小整改 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-skill-lint/baseline-counts-close-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/baseline-counts-open-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/baseline-scripts-open-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/dir-tests-skills-close-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/dir-tests-skills-close-final-20260908T092702.txt
  _bmad-output/审查/evidence-skill-lint/dir-tests-skills-open-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/domain-gate-20260908T092702.txt
  _bmad-output/审查/evidence-skill-lint/git-status-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/live-newer-count-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/live-vs-head-board-recap-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/live-vs-head-quiz-answer-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/live-vs-head-start-exam-board-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/portlint-green-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/portlint-green-final-20260908T092702.txt
  _bmad-output/审查/evidence-skill-lint/regression-collect-close-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/regression-collect-open-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/routing-check-close-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/routing-check-open-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/ruff-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/ruff-final-20260908T092702.txt
  _bmad-output/审查/evidence-skill-lint/sentinel-live
  _bmad-output/审查/evidence-skill-lint/shasum-pinned-close-20260908T092313.txt
  _bmad-output/审查/evidence-skill-lint/shasum-pinned-open-20260908T090832.txt
  _bmad-output/审查/evidence-skill-lint/test-red-20260908T092057.txt
  backend/tests/skills/test_skill_portability_lint.py
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
Due: python-lint

docs(rv-g2-6): 定性表按卡文 (b) 三维度重做 + 17 条新门逐条变异证承重 [BATCH-2026-09-07-第十三批 / CARD-RV-G2-6]
  _bmad-output/审查/evidence-rv-g26/gate17-m5-retry-probe-20260908T093014.py.txt
  _bmad-output/审查/evidence-rv-g26/gate17-mutation-20260908T093014.txt
  _bmad-output/审查/evidence-rv-g26/gate17-mutation-probe-20260908T093014.py.txt
  _bmad-output/审查/evidence-rv-g26/manifest-test-after-mutation-20260908T093350.txt
  _bmad-output/审查/evidence-rv-g26/review-c4e6b165.md
  _bmad-output/验收单/UAT-CARD-RV-G2-6-2026-09-08.md
Due: none

docs(hygiene): Codex r5 末轮整改 — 撤回与 §三·八 矛盾的宽建议 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/codex-review-CARD-HYGIENE-conftest-r5.md
  _bmad-output/审查/evidence-hyg-conftest/static-gates-r5-20260908T093259.txt
  _bmad-output/审查/prompts/codex-prompt-CARD-HYGIENE-conftest-r5.md
  _bmad-output/验收单/UAT-CARD-HYGIENE-conftest-2026-09-08.md
Due: none

refactor(review): 退役零调用方 save_card_state + mastery 投影写边界门 [BATCH-2026-09-07-第十三批 / CARD-G3-7-R2]
  backend/app/services/mastery_engine.py
  backend/app/services/mastery_store.py
  backend/app/services/review_service.py
  backend/tests/unit/test_mastery_fsrs_projection_boundary.py
  backend/tests/unit/test_review_service_fsrs.py
  docs/fsrs-truth-source-d0-revision.md
  docs/known-gotchas.md
Due: python-lint

test(skills): 按 Codex r1 整改 — 钉计数两端 + 越界 normpath 判据 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

test(skills): 钉住门测不到的 4 处 8011 + 更正 UserPromptSubmit 口径 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

docs(pyright): 阶段2 预研 + exam.py 跨卡矛盾待裁决 + 台账待登记 [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-rest]
  _bmad-output/审查/U2-台账待登记-阶段1-2026-09-08.md
  _bmad-output/审查/U2-待裁决-exam-py-跨卡矛盾-2026-09-08.md
  _bmad-output/审查/U2-阶段2预研-2026-09-08.md
  _bmad-output/审查/evidence-pyright-rest/geminiclient-callsite-census-20260908T105247.txt
  _bmad-output/审查/evidence-pyright-rest/live-bug-review184-probe-20260908T105154.txt
Due: none

docs(audit): Neo4j 离线韧性缺口独立审计 + U11-A 移交证据升级 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-red-c1/c1-verdicts.md
  _bmad-output/审查/evidence-red-c1/tmp-window-attribution.txt
  _bmad-output/审查/evidence-resilience-audit/AUDIT-neo4j-offline-resilience-2026-09-08.md
  _bmad-output/审查/evidence-resilience-audit/raw-lens-results.json
  _bmad-output/审查/prompts/codex-prompt-CARD-RED-C1-decision.md
Due: none

test(red-c2): 四个根因锚 24/66 落盘（阶段提交，非终态）[BATCH-2026-09-07-第十三批 / CARD-RED-C2]
  _bmad-output/审查/evidence-red-c2/PROGRESS.md
  _bmad-output/审查/evidence-red-c2/anchor2-floor-probe.txt
  _bmad-output/审查/evidence-red-c2/anchor4-security-probe.txt
  _bmad-output/审查/evidence-red-c2/c2-files.txt
  _bmad-output/审查/evidence-red-c2/c2-identities.md
  _bmad-output/审查/evidence-red-c2/c2-in-202.txt
  _bmad-output/审查/evidence-red-c2/c2-nodeids.txt
  _bmad-output/审查/evidence-red-c2/failed-c2-20260908T080533.txt
  _bmad-output/审查/evidence-red-c2/failed-foreign-20260908T080533.txt
  _bmad-output/审查/evidence-red-c2/files-anchors-20260908T082428.txt
  _bmad-output/审查/evidence-red-c2/files-anchors-precommit-20260908T111123.txt
  _bmad-output/审查/evidence-red-c2/files-failed-open-20260908T080533.txt
  _bmad-output/审查/evidence-red-c2/identity-open-20260908T080533.txt
  _bmad-output/审查/evidence-red-c2/red-baseline-202.bare.txt
  _bmad-output/审查/evidence-red-c2/red-baseline-202.txt
  _bmad-output/审查/evidence-red-c2/red-diff-open-20260908T080049.txt
  _bmad-output/审查/evidence-red-c2/red-open-20260908T080049.txt
  _bmad-output/审查/evidence-red-c2/u11a-transferred-in-b.files.txt
  _bmad-output/审查/evidence-red-c2/u11a-transferred-in-b.txt
  _bmad-output/审查/evidence-red-c2/u11a-transferred.txt
  _bmad-output/审查/evidence-red-c2/unit-open-20260908T080049.txt
  backend/tests/unit/test_config_neo4j.py
  backend/tests/unit/test_story_30_24_boundary.py
  backend/tests/unit/test_supplementary_reranker.py
Due: python-lint

test(skills): 按 Codex r2 整改 — 放行端加左边界 + 行级保守判据 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

fix(tz): Codex r3 整改 — 本地时区补 fromutc/fold + 生产器自报归日时区 [BATCH-2026-09-07-第十三批 / CARD-G6-9c]
  _bmad-output/审查/codex-review-CARD-G6-9c-r2.md
  _bmad-output/审查/codex-review-CARD-G6-9c-r3.md
  _bmad-output/审查/evidence-g69c/mutation-negctl-g69c.txt
  _bmad-output/审查/evidence-g69c/skills-final-20260908T112551.txt
  _bmad-output/审查/evidence-g69c/skills-r4-20260908T104229.txt
  _bmad-output/审查/evidence-g69c/two-state-r4-America-Los_Angeles-20260908T103418.txt
  _bmad-output/审查/evidence-g69c/two-state-r4-America-Los_Angeles-20260908T103607.txt
  _bmad-output/审查/evidence-g69c/two-state-r4-Asia-Shanghai-20260908T103356.txt
  _bmad-output/审查/evidence-g69c/two-state-r4-Asia-Shanghai-20260908T103543.txt
  _bmad-output/审查/evidence-g69c/two-state-r5-America-Los_Angeles-20260908T111201.txt
  _bmad-output/审查/evidence-g69c/two-state-r5-Asia-Shanghai-20260908T111140.txt
  _bmad-output/审查/evidence-g69c/unit-close-final2-20260908T112034.txt
  _bmad-output/审查/evidence-g69c/unit-close-r4-20260908T103654.txt
  _bmad-output/验收单/UAT-CARD-G6-9c-2026-09-08.md
  backend/app/api/v1/endpoints/review_overview.py
  backend/app/core/display_tz.py
  backend/openapi.json
  backend/scripts/vault_lint.py
  backend/tests/regression/test_daily_review_pick.py
  backend/tests/regression/test_g6_9_boundary_matrix.py
  backend/tests/regression/test_g6_9c_single_tz_source.py
  scripts/daily_review_pick.py
  scripts/local_tz.py
Due: spec-sync, python-lint

docs(audit): 补记第三跑结果与重测信度观察 [BATCH-2026-09-07-第十三批]
  _bmad-output/审查/evidence-resilience-audit/AUDIT-neo4j-offline-resilience-2026-09-08.md
Due: none

fix(review): 按 Codex r1 五条整改 + 退役自动门 [BATCH-2026-09-07-第十三批 / CARD-G3-7-R2]
  backend/app/services/mastery_engine.py
  backend/tests/unit/test_mastery_fsrs_projection_boundary.py
  backend/tests/unit/test_review_service_fsrs.py
Due: python-lint

docs(truth-source): MEDIUM-4 整改补提交 -- 检索范围限定 backend/app [BATCH-2026-09-07-第十三批 / CARD-G3-7-R2]
  docs/fsrs-truth-source-d0-revision.md
Due: none

fix(quiz-answer): R1 整改 harness_tree 正则与判据绑定 [BATCH-2026-09-07-第十三批 / CARD-G3-3-R2-writer-boundary]
  _bmad-output/审查/codex-review-CARD-G3-3-R2-writer-boundary.md
  _bmad-output/审查/evidence-g33r2/anchor-g32b_mutation_gates-r1fix-20260908T114027.txt
  _bmad-output/审查/evidence-g33r2/anchor-g32cb_mutation_gates-r1fix-20260908T114027.txt
  _bmad-output/审查/evidence-g33r2/anchor-g32ccr1_negative_controls-r1fix-20260908T114027.txt
  _bmad-output/审查/evidence-g33r2/five-regression-r1fix-20260908T114030.txt
  _bmad-output/审查/evidence-g33r2/low7-scientific-notation-probe-20260908T113209.txt
  _bmad-output/审查/evidence-g33r2/r1-fixes-ledger-20260908T112654.txt
  _bmad-output/审查/evidence-g33r2/r1-fixes-ledger-20260908T112818.txt
  _bmad-output/审查/evidence-g33r2/r1-fixes-ledger-20260908T113108.txt
  _bmad-output/审查/evidence-g33r2/r1-fixes-shapegate-20260908T112442.txt
  _bmad-output/审查/evidence-g33r2/r1fix-postformat-20260908T114341.txt
  _bmad-output/审查/evidence-g33r2/skills-r1fix-20260908T114132.txt
  _bmad-output/审查/evidence-g33r2/unit-close-20260908T114233.txt
  _bmad-output/审查/evidence-g33r2/unit-r1fix-diff.txt
  _bmad-output/审查/evidence-g33r2/unit-r1fix.nodeids
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-3-R2-writer-boundary-r2.md
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-3-R2-writer-boundary.md
  _bmad-output/验收单/UAT-CARD-G3-3-R2-writer-boundary-2026-09-08.md
  backend/tests/regression/test_g3_2_review_ledger.py
  backend/tests/regression/test_learning_event_log.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

docs(pyright): exam.py 反例实验 — 推荐改甲' 单文件crossover [BATCH-2026-09-07-第十三批 / CARD-PYRIGHT-DEBT-rest]
  _bmad-output/审查/U2-待裁决-exam-py-跨卡矛盾-2026-09-08.md
  _bmad-output/审查/U2-阶段2预研-2026-09-08.md
  _bmad-output/审查/evidence-pyright-rest/exam-falsify-experiment-20260908T114930.txt
  _bmad-output/审查/evidence-pyright-rest/review184-test-coverage-20260908T111822.txt
  _bmad-output/审查/evidence-pyright-rest/t14-runtime-crosscheck-20260908T111912.txt
Due: none

feat(install-vault): 清单补齐+裁定表+optional+yaml2.1+退役 [BATCH-2026-09-07-第十三批 / CARD-G2-7a]
  _bmad-output/审查/evidence-g27a/completeness-audit-v2.txt
  _bmad-output/审查/evidence-g27a/completeness-audit.txt
  _bmad-output/审查/evidence-g27a/dir-tests-unit-close-20260908T114348.raw
  _bmad-output/审查/evidence-g27a/dir-tests-unit-diff-20260908T114746.txt
  _bmad-output/审查/evidence-g27a/dir-tests-unit-open-20260908T093637.raw
  _bmad-output/审查/evidence-g27a/facts-supplement.txt
  _bmad-output/审查/evidence-g27a/h1-drift-fix-chain.txt
  _bmad-output/审查/evidence-g27a/inventory-union.txt
  _bmad-output/审查/evidence-g27a/live-sentinel-20260908T112618
  _bmad-output/审查/evidence-g27a/live-sha-before.txt
  _bmad-output/审查/evidence-g27a/live-sha-run-before-20260908T112618.txt
  _bmad-output/审查/evidence-g27a/manifest-ruling.md
  _bmad-output/审查/evidence-g27a/manifest-test-pre-20260908T093637.txt
  _bmad-output/审查/evidence-g27a/mcp-servername-probe.txt
  _bmad-output/审查/evidence-g27a/onboarding-probe.txt
  _bmad-output/审查/evidence-g27a/optional-gates-red-20260908T104131.txt
  _bmad-output/审查/evidence-g27a/real-run-live-20260908T114136-judge.txt
  _bmad-output/审查/evidence-g27a/real-run-live-20260908T114136.txt
  _bmad-output/审查/evidence-g27a/real-run-tree-20260908T112618.txt
  _bmad-output/审查/evidence-g27a/ruling-gap-probe.txt
  _bmad-output/审查/evidence-g27a/settings-local-keyname-probe.txt
  _bmad-output/审查/evidence-g27a/skeleton-cross-source.txt
  _bmad-output/审查/evidence-g27a/tree-selfcheck-20260908T111127.txt
  _bmad-output/审查/evidence-g27a/unit-red-close-nodeids.txt
  _bmad-output/审查/evidence-g27a/unit-red-open-nodeids.txt
  _bmad-output/审查/evidence-g27a/unruled-five-probe.txt
  _bmad-output/审查/evidence-g27a/vault-init-service-probe.txt
  _bmad-output/审查/evidence-g27a/verify-live-20260908T114136.txt
  _bmad-output/审查/evidence-g27a/verify-self-20260908T111127.txt
  _bmad-output/审查/evidence-g27a/verify-tree-20260908T112618.txt
  _bmad-output/审查/evidence-g27a/verify-tree-fixed-20260908T112618.txt
  _bmad-output/审查/evidence-g27a/verify-tree-fixed-20260908T112618.txt.stdout
  _bmad-output/验收单/UAT-CARD-G2-7a-2026-09-08.md
  backend/tests/unit/test_vault_install_manifest.py
  scripts/install-vault.sh
  scripts/vault-install-manifest.json
  scripts/verify_vault_install.py
Due: python-lint

test(skills): 按 Codex r3 整改 — 分隔符白名单边界 + 逻辑行可疑判据 [BATCH-2026-09-07-第十三批]
  backend/tests/skills/test_skill_portability_lint.py
Due: python-lint

fix(quiz-answer): R2 整改 裸值井号语义与指纹符号链接 [BATCH-2026-09-07-第十三批 / CARD-G3-3-R2-writer-boundary]
  _bmad-output/审查/codex-review-CARD-G3-3-R2-writer-boundary-r2.md
  _bmad-output/审查/evidence-g33r2/anchor-g32b_mutation_gates-r2fix-20260908T120039.txt
  _bmad-output/审查/evidence-g33r2/anchor-g32cb_mutation_gates-r2fix-20260908T120039.txt
  _bmad-output/审查/evidence-g33r2/anchor-g32ccr1_negative_controls-r2fix-20260908T120039.txt
  _bmad-output/审查/evidence-g33r2/five-regression-final2-20260908T120648.txt
  _bmad-output/审查/evidence-g33r2/five-regression-r2fix-20260908T120043.txt
  _bmad-output/审查/evidence-g33r2/r2-fixes-20260908T115735.txt
  _bmad-output/审查/evidence-g33r2/skills-r2fix-20260908T120142.txt
  _bmad-output/审查/evidence-g33r2/unit-close-20260908T120453.txt
  _bmad-output/审查/evidence-g33r2/unit-r2fix-diff.txt
  _bmad-output/审查/evidence-g33r2/unit-r2fix.nodeids
  _bmad-output/审查/prompts/codex-prompt-CARD-G3-3-R2-writer-boundary-r2.md
  _bmad-output/验收单/UAT-CARD-G3-3-R2-writer-boundary-2026-09-08.md
  backend/tests/regression/test_g3_2_review_ledger.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
Due: python-lint

fix(boundary): Codex r2 六条处置 -- io.open 三分/档间衔接/census 第三步 [BATCH-2026-09-07-第十三批 / CARD-G3-7-R2]
  backend/tests/unit/test_mastery_fsrs_projection_boundary.py
  docs/fsrs-truth-source-d0-revision.md
Due: python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
