Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py

fix(plugin+skill): P0 批次三 B2 vault_id 传递 + F3/F4 quiz-answer 数据缺陷 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  frontend/obsidian-plugin/src/main.ts
Due: none

chore(infra): HF 模型缓存持久化 volume — 容器重建不再重下 BGEM3 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  docker-compose.yml
Due: none

fix(rag): R1 根因二+三 检索精确性三连修 — 语义过滤终于真实工作 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/api/v1/endpoints/chat.py
  backend/app/core/reference_config.py
  backend/app/services/supplementary_search_service.py
  backend/lib/agentic_rag/clients/lancedb_client.py
Due: spec-sync, python-lint

docs(uat): P0 验收单 + 任务快照 — 部署统一与基本功能修复全清 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/验收单/P0-部署统一与基本功能修复-2026-07-12.md
  _decisions/CURRENT_TASK.md
Due: none

docs(research): 快捷键与流程触发全景手册 3-agent 探查 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-13-快捷键与流程触发全景-测试对照手册.md
Due: none

docs(research): R1-Q4 批注回复 三机制运作解释 + 索引更新 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-13-快捷键与流程触发全景-测试对照手册.md
  _bmad-output/研究/answers/R1-Q4_评分与错误候选与QuickExam运作解释.md
  _bmad-output/研究/批注总索引表-2026-07-12.md
Due: none

docs(research): R2-Q1 批注回复 全栈模型现状+Graphiti换模型可行性 3-agent 调研 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/answers/R1-Q4_评分与错误候选与QuickExam运作解释.md
  _bmad-output/研究/answers/R2-Q1_全栈模型使用现状与Graphiti换模型可行性.md
  _bmad-output/研究/批注总索引表-2026-07-12.md
Due: none

docs(research): R3-Q1 三方向对抗审查+落地设计 本地模型/双图隔离/QuickExam吸收 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/answers/R2-Q1_全栈模型使用现状与Graphiti换模型可行性.md
  _bmad-output/研究/answers/R3-Q1_本地模型激活Graphiti与QuickExam切订阅-对抗审查与落地设计.md
  _bmad-output/研究/批注总索引表-2026-07-12.md
Due: none

docs(research): R4 批注回复 x2 部署调研+MCP设计 + ChatGPT DR 打包 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  .gdr/research-pack-graphiti-local-model-deploy.xml
  _bmad-output/研究/answers/R3-Q1_本地模型激活Graphiti与QuickExam切订阅-对抗审查与落地设计.md
  _bmad-output/研究/answers/R4-Q1_Mac部署方式内部调研-llama-server胜出.md
  _bmad-output/研究/answers/R4-Q2_对话记忆写入实现设计-不挂MCP用归档钩子.md
  _bmad-output/研究/批注总索引表-2026-07-12.md
Due: none

docs(research): R5-Q1 Claudian换ClaudeCode原生 3-agent 调研裁决 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/answers/R4-Q2_对话记忆写入实现设计-不挂MCP用归档钩子.md
  _bmad-output/研究/answers/R5-Q1_Claudian换ClaudeCode原生-调研裁决与迁移设计.md
  _bmad-output/研究/批注总索引表-2026-07-12.md
Due: none

docs(research): 路线图 v2 定稿 + ChatGPT DR 交叉验证 + M0 .mcp.json 落位 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-06-13-同步契约-务实方案-待ChatGPT审查.md
  _bmad-output/研究/2026-06-27-UAT-A批注回复-出题AI与白板层级.md
  _bmad-output/研究/2026-06-27-检验白板Skill-ModeD设计.md
  _bmad-output/研究/2026-06-27-检验白板定位-纠偏-回到PRD.md
  _bmad-output/研究/2026-06-27-熟练度定义与演化-PRD.md
  _bmad-output/研究/2026-07-01-quiz-answer-对抗审查-管道断裂裁决.md
  _bmad-output/研究/2026-07-01-原白板检验白板-文件管理与生成-需求钉板.md
  _bmad-output/研究/2026-07-01-检验白板Skill-v1诚实版设计.md
  _bmad-output/研究/2026-07-01-检验白板Skill-草稿.md
  _bmad-output/研究/2026-07-01-检验白板出题设计-ChatGPT-DeepResearch-简报.md
  _bmad-output/研究/2026-07-01-检验白板出题设计-ChatGPT核实与裁决.md
  _bmad-output/研究/2026-07-13-开发路线图v2-ClaudeCode原生+本地模型激活.md
  _bmad-output/研究/answers/R5-Q1_Claudian换ClaudeCode原生-调研裁决与迁移设计.md
  canvas-vault/.mcp.json
Due: none

feat(m1+m4): schema canary 工具 + QuickExam 吸收进检验白板 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/scripts/graphiti_schema_canary.py
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
  canvas-vault/CLAUDE.md
  frontend/obsidian-plugin/src/main.ts
Due: python-lint

feat(m2): 双图隔离基础件 semantic_group_id + SEMAPHORE 绑定时机修复 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/graphiti/group_id_compat.py
  backend/app/services/episode_worker.py
  backend/tests/unit/test_group_id_compat.py
  docker-compose.yml
Due: python-lint

feat(m2): llm/reranker 工厂 — episode_worker 摘除硬编码 Gemini (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/graphiti/llm_factory.py
  backend/app/services/episode_worker.py
Due: python-lint

feat(m2): search_memories 双图检索 — 主图+语义影子图同查 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/services/memory_service.py
Due: python-lint

feat(m1+m2): 本地 LLM 放行 — canary 50/50 基线 + 语义通道写侧落影子图 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/services/episode_worker.py
  docker-compose.yml
  scripts/local-llm/start-qwen-graphiti.sh
Due: python-lint

fix(m1): 中文白板名 punycode 段编码 — 语义通道 E2E 全链打通 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/graphiti/group_id_compat.py
  backend/tests/unit/test_group_id_compat.py
Due: python-lint

feat(m3): SessionEnd 归档管道 — hook→蒸馏→双通道落库 全链 E2E 通过 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-13-开发路线图v2-ClaudeCode原生+本地模型激活.md
  _decisions/CURRENT_TASK.md
  backend/app/api/v1/endpoints/memory.py
  backend/app/mcp/tools/conversation_tools.py
  backend/app/mcp/tools/memory_tools.py
  backend/app/services/conversation_distiller.py
  backend/app/services/memory_service.py
  canvas-vault/.claude/hooks/session-end-archive.py
  canvas-vault/.claude/settings.json
Due: spec-sync, python-lint

feat(m5): 本地 reranker 上线 — /v1/rerank 协议适配器 + 真机验证 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-13-开发路线图v2-ClaudeCode原生+本地模型激活.md
  _decisions/CURRENT_TASK.md
  backend/app/graphiti/llm_factory.py
  backend/app/graphiti/rerank_client.py
  scripts/local-llm/start-reranker-graphiti.sh
Due: python-lint

fix(enrich): LanceDB singleton 共享后台 init — enrich 注入死锁根治 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/api/v1/endpoints/chat.py
  canvas-vault/Dashboard.md
Due: spec-sync, python-lint

docs(uat): 未验证功能上手验收单 — 4 主线 + 候选种子 + 前置代跑 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/验收单/UAT-未验证功能上手验收-2026-07-13.md
Due: none

fix(plugin): P7 插入新疑问直插命令 + P10 onLayoutReady 手动启用崩溃修复 (PLAN-EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  frontend/obsidian-plugin/src/callout.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/tests/callout.test.ts
Due: none

feat(track-b): 方案 A 双写回显后端 — 候选三态卡片 + 3 条硬要求 + P2 素材过滤 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  backend/app/api/v1/endpoints/errors.py
  backend/app/services/candidate_callout.py
  backend/app/services/candidate_service.py
  backend/app/services/error_writer.py
  backend/app/services/targeting_material_service.py
  backend/scripts/backfill_candidate_callouts.py
  backend/tests/unit/test_candidate_callout.py
Due: spec-sync, python-lint

feat(track-b): 复盘候选命令合并全库化 + Dashboard 方案A改造 + P4/P8/文案 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  canvas-vault/.claude/skills/exam-quick/SKILL.md
  canvas-vault/.claude/skills/node-chat/SKILL.md
  canvas-vault/Dashboard.md
  frontend/obsidian-plugin/src/error-candidate-helpers.ts
  frontend/obsidian-plugin/src/main.ts
  frontend/obsidian-plugin/src/node-derivation.ts
Due: none

fix(track-b): P15/P16/P6/归档计数 杂修群 — 全部真机验证 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/验收单/UAT-未验证功能上手验收-2026-07-13.md
  backend/app/api/v1/endpoints/chat.py
  backend/app/api/v1/system.py
  backend/app/core/subject_config.py
  backend/app/mcp/server.py
  backend/app/mcp/tools/conversation_tools.py
  backend/app/mcp/tools/memory_tools.py
  canvas-vault/.claude/hooks/session-end-archive.py
Due: spec-sync, python-lint

docs(track-b): 轨道 B 收尾 — 验收单状态总览与恢复锚点更新 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/验收单/UAT-未验证功能上手验收-2026-07-13.md
  _decisions/CURRENT_TASK.md
Due: none

docs(research): V2 未实现功能全景盘点 — 13-agent 代码实况裁决版 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-20-V2未实现功能全景盘点-代码实况裁决版.md
Due: none

docs(research): Graphiti 接入使用程度 + 用户体感地图 — 活库实测版 (EPIC1-BMAD-DEV-ASSESS-2026-04-17)
  _bmad-output/研究/2026-07-20-Graphiti接入使用程度与用户体感地图.md
Due: none

docs(mem-flywheel): 记忆打磨批注回复+下一步开发计划+核心功能盘点+MEM-0验收单 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/研究/2026-07-20-Graphiti接入使用程度与用户体感地图.md
  _bmad-output/研究/2026-07-20-Graphiti记忆打磨进度与图谱查看指南-批注回复.md
  _bmad-output/研究/2026-07-22-下一步开发计划-稳定记忆与越老越准.md
  _bmad-output/研究/2026-07-22-核心功能实现盘点-批注回复.md
  _bmad-output/验收单/Story-MEM-0-稳定记忆底座.md
  _decisions/CURRENT_TASK.md
Due: none

feat(mem-0): 稳定记忆底座批次0 — 自启/备份/免重试/待发队列/健康自检 (MEM-FLYWHEEL-2026-07-22)
  backend/app/graphiti/llm_factory.py
  backend/app/main.py
  backend/app/services/episode_worker.py
  canvas-vault/.claude/hooks/session-end-archive.py
  scripts/backup-neo4j.sh
  scripts/memory-health.sh
Due: python-lint

docs(mem-flywheel): 记忆检索效果对抗审查 — 活体12query实测55.8%+两CRITICAL+三浪费 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/研究/2026-07-22-记忆检索效果对抗审查.md
Due: none

docs(mem-flywheel): ChatGPT 对抗审查任务书 — 越考越准记忆系统 Q1-Q8 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/审查/2026-07-22-记忆系统越考越准-对抗审查任务书-给ChatGPT.md
Due: none

docs(mem-flywheel): ChatGPT 第二意见逐条对账 + 计划 v2 修订 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/研究/2026-07-22-下一步开发计划-稳定记忆与越老越准.md
  _bmad-output/研究/2026-07-23-ChatGPT审查对账-计划v2修订.md
  _decisions/CURRENT_TASK.md
Due: none

docs(mem-flywheel): 新session交接锚点 — 用户批注开工确认+待决项归档 (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/研究/2026-07-23-ChatGPT审查对账-计划v2修订.md
  _decisions/CURRENT_TASK.md
Due: none

docs(mem-0): MEM-0 UAT 通过 — 用户三框全勾含重启验证, status=done (MEM-FLYWHEEL-2026-07-22)
  _bmad-output/验收单/Story-MEM-0-稳定记忆底座.md
  _decisions/CURRENT_TASK.md
Due: none

feat(mem-g0): G0 评测门禁 — gold set 25条+5指标回归脚本+基线固化 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/scripts/run_memory_retrieval_regression.py
  backend/tests/fixtures/regression_baselines/memory_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/memory_retrieval_last_run.json
  backend/tests/regression/memory_gold_set.yaml
Due: python-lint

feat(mem-batch1): 批次1' 隔离守门五项 — fail-closed+去重+地板+子组+精排 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/app/api/v1/endpoints/memory.py
  backend/app/mcp/tools/conversation_tools.py
  backend/app/mcp/tools/memory_tools.py
  backend/app/services/memory_service.py
  backend/app/services/targeting_material_service.py
  backend/tests/fixtures/regression_baselines/memory_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/memory_retrieval_last_run.json
  backend/tests/regression/memory_gold_set.yaml
  backend/tests/regression/test_search_dedupe_floor.py
  backend/tests/regression/test_targeting_material_isolation.py
  backend/tests/regression/test_write_side_group_guard.py
  scripts/memory-health.sh
Due: spec-sync, python-lint

feat(mem-batch1): ③清污B迁出完成 — 泄漏率归零+基线挤水分 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/scripts/quarantine_test_pollution.py
  backend/tests/fixtures/regression_baselines/memory_retrieval_baseline.json
  backend/tests/fixtures/regression_baselines/memory_retrieval_last_run.json
  backend/tests/regression/memory_gold_set.yaml
Due: python-lint

feat(mem-batch2): A1 衰减Beta后验替代EMA — 越考越准+破P3死循环 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/tests/regression/test_decay_beta_convergence.py
  canvas-vault/.claude/scripts/decay_beta.py
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
Due: python-lint

feat(mem-batch2): A2-A4+线2+线3 — 弃答/增量归纳/题目去重/记忆触发/RAG三死因 (MEM-FLYWHEEL-2026-07-22)
  _decisions/CURRENT_TASK.md
  backend/app/services/memory_service.py
  backend/lib/agentic_rag/clients/graphiti_client.py
  backend/tests/regression/test_search_error_memories.py
  canvas-vault/.claude/skills/chat-with-context/SKILL.md
  canvas-vault/.claude/skills/node-chat/SKILL.md
  canvas-vault/.claude/skills/quiz-answer/SKILL.md
  canvas-vault/.claude/skills/start-exam-board/SKILL.md
  canvas-vault/CLAUDE.md
Due: python-lint
