Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

refactor(phase2): rename misleading 'graphiti' functions to match actual behavior
  backend/.env
  backend/app/config.py
  backend/app/services/review_service.py
Due: python-lint

fix(phase2): correct Neo4j run_query method name + param conflict in layered search
  backend/app/services/memory_service.py
Due: python-lint

fix(phase2): add GeminiRerankerClient cross-encoder to prevent OpenAI fallback
  backend/app/services/episode_worker.py
  docker-compose.yml
Due: python-lint

fix(phase2): SEMAPHORE_LIMIT=3 + max_coroutines=3 + gemini-2.5-flash + fix fulltext index name
  backend/app/services/episode_worker.py
  backend/app/services/memory_service.py
Due: python-lint

fix(phase2): embedding model text-embedding-001 → gemini-embedding-001
  backend/app/services/episode_worker.py
Due: python-lint

fix(phase2): Tier 1 search verified — fix EntityEdge attribute mapping
  backend/app/services/memory_service.py
Due: python-lint

docs(phase2): add implementation plan + migration plan + worker research
  _decisions/migration-plan-graphiti-real-integration.md
  _decisions/research-asyncio-queue-graphiti-worker.md
  docs/superpowers/plans/2026-03-26-phase2-graphiti-real-integration.md
Due: none

docs: add S29 session prompt (Phase 2.6 auto-trigger + Phase 3 pipeline)
  _decisions/s29-session-prompt.md
Due: none

fix(sidecar): replace bypassPermissions with canUseTool whitelist (S29 Phase 3A)
  frontend/sidecar/package-lock.json
  frontend/sidecar/package.json
  frontend/sidecar/sidecar.js
Due: none

feat(sidecar): add PostToolUse hook for BEA learning extraction (S29 Phase 3B)
  frontend/sidecar/sidecar.js
Due: none

feat(mcp): add source_session_id/source_canvas_id to record_learning_memory (S29)
  backend/app/mcp/server.py
  backend/app/mcp/tools/memory_tools.py
Due: python-lint

fix(sidecar): code review fixes — session_id + remove generate_question from BEA (S29)
  _decisions/decision-log.md
  docs/superpowers/plans/2026-03-27-phase3-sidecar-posttooluse.md
  frontend/sidecar/sidecar.js
Due: none

fix(mcp): FastApiMCP include_operations→include_tags (pre-existing MCP mount bug)
  backend/app/mcp/server.py
Due: python-lint

fix(engine): MCP transport type 'http'→'sse' to match backend SSE transport (S29)
  frontend/src/services/claude-engine.ts
Due: none

fix(sidecar): remove stale generate_question from PostToolUse comment (A-1)
  frontend/sidecar/sidecar.js
Due: none

fix(mcp): add explicit operation_id to all 15 MCP routes (S29 tool name fix)
  backend/app/mcp/server.py
Due: python-lint

fix(mcp): monkey-patch fastapi-mcp anyOf+type schema conflict (S29)
  backend/app/mcp/server.py
Due: python-lint

fix(sidecar): canUseTool must return updatedInput for SDK Zod validation (S29)
  frontend/sidecar/sidecar.js
Due: none

feat(infra): add parallel bug-fix architecture (S30)
  .claude/hooks/graphiti-session-start.js
  .claude/hooks/post-compact-refresh.js
  backend/requirements.txt
  docs/known-gotchas.md
Due: none

fix(mcp): patch both module and local reference for anyOf bug fix (S29)
  backend/app/mcp/server.py
Due: python-lint

feat(workflow): S31 GDR — 规范驱动开发工作流重构
  .claude/commands/code-review.md
  .claude/commands/coverage-check.md
  .claude/commands/plan-feature.md
  .claude/commands/tdd-cycle.md
  .claude/commands/tech-audit.md
  .claude/settings.local.json
  .gdr/context_pack.json
  .gdr/state.json
  .gdr/wave1/w1c-graphiti-capability-audit.json
  .gdr/wave3/comparison-matrix.md
  .gdr/wave3/write-log.json
  CLAUDE.md
Due: none

fix(hooks): S31 P1 — DD-13 exit 2 + auto-test + exclude_invalidated 全路径注入
  .claude/hooks/auto-test.js
  .claude/hooks/graphiti-session-start.js
  .claude/hooks/graphiti-user-prompt.js
  .claude/hooks/post-compact-refresh.js
  .claude/hooks/pretool-guard.js
  .claude/settings.json
Due: none

fix(tests): S32 Phase1 — 修复集成测试签名不匹配 + 3份Gemini诊断报告
  _decisions/deep-research-anti-facade-deployment.md
  _decisions/deep-research-ssd-code-diagnosis.md
  _decisions/deep-research-ssd-web-improvements.md
  backend/tests/integration/test_dual_write_consistency.py
Due: python-lint

feat(test-infra): S32 Phase1 Step0+1 — 测试专用Neo4j容器 + conftest端口修复
  backend/tests/conftest.py
  docker-compose.yml
Due: python-lint

feat(hooks): S32 Phase1 Step2 — DD-03 hard hook 阻断 production 代码中的 mock 导入
  .claude/hooks/mock-import-guard.js
  .claude/settings.json
Due: none

feat(tests): S33 Phase1 Step3 — 18个real Neo4j集成测试 + 暴露2个production bugs
  backend/tests/conftest.py
  backend/tests/integration/test_dual_write_consistency.py
  backend/tests/integration/test_graphiti_client_real.py
  backend/tests/integration/test_memory_persistence_real.py
  backend/tests/integration/test_neo4j_client_real.py
Due: python-lint

fix(backend): S33 修复2个real-DB测试暴露的production bugs
  backend/app/clients/graphiti_client.py
  backend/app/services/memory_service.py
  backend/tests/integration/test_graphiti_client_real.py
  backend/tests/integration/test_memory_persistence_real.py
Due: python-lint

feat(tests): S33 Tier2 — MasteryStore 12个real Neo4j集成测试 + 1个TODO(human)
  backend/tests/integration/test_mastery_store_real.py
Due: python-lint

feat(tests): S33 Tier2 完成 — MasteryStore 14个real Neo4j测试全部PASSED
  backend/tests/integration/test_mastery_store_real.py
Due: python-lint

docs: S33 更新known-gotchas — G-FAKE-003纠正 + 新增G-SILENT/G-PARAM分类
  docs/known-gotchas.md
Due: none

refactor(S34): G-FAKE-001 — 批量重命名假"graphiti"标识符为真实Neo4j名称
  backend/app/api/v1/endpoints/edges.py
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/mastery.py
  backend/app/clients/__init__.py
  backend/app/clients/graphiti_client.py
  backend/app/clients/graphiti_client_base.py
  backend/app/clients/neo4j_edge_client.py
  backend/app/clients/neo4j_learning_base.py
  backend/app/dependencies.py
  backend/app/services/context_enrichment_service.py
  backend/app/services/conversation_distiller.py
  backend/app/services/verification_service.py
  backend/tests/integration/test_graphiti_client_real.py
  docs/known-gotchas.md
Due: spec-sync, python-lint

fix(S34): G-PIPE DI强制注入 — 3处LearningMemoryClient移除try/except None
  backend/app/dependencies.py
Due: python-lint

docs(S34): G-PIPE-001审计纠正 — WeightCalculator已接线(review_service:620)
  docs/known-gotchas.md
Due: none

fix(S34): G-PIPE-006 — Verification评分结果回写memory闭合反馈环
  backend/app/services/verification_service.py
Due: python-lint

feat(S35): Phase 3 Step 3 — Hybrid语义路由（regex主路径+LLM低置信度fallback）
  backend/app/services/agent_routing_engine.py
  backend/app/services/batch_orchestrator.py
Due: python-lint

fix(S35): Phase 3 Step 4 — Fusion Engine接入全局单例（G-PIPE管道打通）
  backend/app/main.py
  backend/app/services/agent_service.py
  backend/app/services/mastery_engine.py
  backend/app/services/review_service.py
Due: python-lint

docs(S35): known-gotchas 11待修→1待修 — 8项审计确认已修复/误报 + G-SILENT-001修复
  _decisions/decision-log.md
  backend/app/services/review_service.py
  docs/known-gotchas.md
  src/memory/temporal/behavior_tracker.py
Due: python-lint

fix(S35): Phase 3 Step 2 遗漏 — 4文件 except Exception 统一化 + DD-13 KnowledgeGraphHealthResponse 重命名
  backend/app/api/v1/endpoints/health.py
  backend/app/api/v1/endpoints/mastery.py
  backend/app/dependencies.py
  backend/app/services/verification_service.py
Due: spec-sync, python-lint

feat(hooks): S32 上下文传递修复 — 5项Gemini建议全部实施
  .claude/hooks/graphiti-session-start.js
  .claude/hooks/graphiti-stop-check.js
  .claude/hooks/graphiti-user-prompt.js
  .claude/hooks/post-compact-refresh.js
  _decisions/CURRENT_TASK.md
Due: none

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
