Repository oinani0721/canvas-learning-system: changes, and which lefthook commands are due for each by the changed paths.
All: spec-sync, python-lint

spec-sync:
  run: "echo \"[Spec Sync] API changes detected, exporting OpenAPI...\"\ncd backend && python ../scripts/spec-tools/export-openapi.py 2>/dev/null && cd ..\nif [ -f openapi.json ] && ! git diff --quiet openapi.json 2>/dev/null; then\n  git add openapi.json\n  echo \"[Spec Sync] + openapi.json added to 
  ...

python-lint:
  run: 'echo "[Python] Checking syntax..."
  
    python -m py_compile {staged_files} 2>&1 || exit 1
  
    echo "[Python] Syntax OK."
  
    '

chore(FR-KG-04): update project rules + fix test path after src/ removal
  .claude/settings.json
  CLAUDE.md
  backend/tests/unit/test_textbook_removal.py
Due: python-lint

feat(FR-KG-04): integrate recommendations UI + X-Request-ID tracing in api-client
  frontend/src-tauri/icons/128x128.png
  frontend/src-tauri/icons/128x128@2x.png
  frontend/src-tauri/icons/32x32.png
  frontend/src-tauri/icons/icon.ico
  frontend/src-tauri/icons/icon.png
  frontend/src/App.tsx
  frontend/src/components/Settings.tsx
  frontend/src/main.tsx
  frontend/src/services/api-client.ts
Due: none

fix(FR-KG-04): stop SyncEngine from marking failed operations as synced
  frontend/src/services/sync-engine.ts
Due: none

fix(FR-KG-04): verification_service reads CANVAS_EDGE + transforms RAG results
  backend/app/services/verification_service.py
Due: python-lint

chore(FR-KG-04): post-commit hook pushes to both backup and origin
  lefthook.yml
Due: none

chore(FR-KG-04): final cleanup — untrack runtime data, add .nvmrc + openspec skills
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .gitignore
  .nvmrc
  data/bug_log.jsonl
  data/dead_letter_episodes.jsonl
  data/llm_call_logs.db
Due: none

docs(fix-structlog-caplog-compat): add OpenSpec change proposal for 256 test failures
  openspec/changes/fix-structlog-caplog-compat/design.md
  openspec/changes/fix-structlog-caplog-compat/proposal.md
  openspec/changes/fix-structlog-caplog-compat/tasks.md
Due: none

chore(tooling): add @fission-ai/openspec CLI as devDependency
  package-lock.json
  package.json
Due: none

docs(fix-structlog-caplog-compat): add specs/backend-logging delta with 6 requirements
  openspec/changes/fix-structlog-caplog-compat/specs/backend-logging/spec.md
Due: none

docs(openspec): fix proposal sections + expose fr-kg-04-sync-pipeline-fix to origin
  openspec/changes/fix-structlog-caplog-compat/proposal.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/design.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/proposal.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/tasks.md
Due: none

docs(CLAUDE.md): codify OpenSpec Hybrid workflow policy (Option B)
  CLAUDE.md
Due: none

docs(fr-exploration): add test infrastructure impact report
  docs/project-status/fr-exploration/test-infrastructure-impact-report.md
Due: none

fix(canvas-store): include canvasId and edge endpoints in outbox payload (FR-KG-04)
  frontend/src/stores/canvas-store.ts
Due: none

fix(question_generator): align KG queries to SyncService write schema (A11 / FR-KG-04)
  backend/app/services/question_generator.py
Due: python-lint

fix(memory_service): filter in-memory and fallback paths by group_id (FR-KG-04)
  backend/app/services/memory_service.py
Due: python-lint

docs(openspec): expand fr-kg-04-sync-pipeline-fix with segment commit + specs delta
  openspec/changes/fr-kg-04-sync-pipeline-fix/design.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/proposal.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/specs/algo-scoring/spec.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/specs/canvas-sync/spec.md
  openspec/changes/fr-kg-04-sync-pipeline-fix/tasks.md
Due: none

docs(openspec): archive fr-kg-05 + fix fr-kg-04 orphaned misclassification
  docs/project-status/fr-exploration/FR-KG-04/FR-KG-04.md
  openspec/changes/archive/2026-04-07-fr-kg-05-recommendation-mvp/.openspec.yaml
  openspec/changes/archive/2026-04-07-fr-kg-05-recommendation-mvp/design.md
  openspec/changes/archive/2026-04-07-fr-kg-05-recommendation-mvp/proposal.md
  openspec/changes/archive/2026-04-07-fr-kg-05-recommendation-mvp/specs/canvas-recommendations/spec.md
  openspec/changes/archive/2026-04-07-fr-kg-05-recommendation-mvp/tasks.md
  openspec/specs/canvas-recommendations/spec.md
Due: none

fix(kg-relevance): Phase 1 schema unification + weighted edge formula
  backend/app/models/exam_models.py
  backend/app/services/exam_service_ext.py
  backend/app/services/question_generator.py
  backend/migrations/002_canvasnode_uuid_to_id.cypher
  backend/tests/unit/test_kg_relevance_weighted.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/.openspec.yaml
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/design.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/proposal.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/specs/algo-question/spec.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/specs/algo-scoring/spec.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/specs/canvas-sync/spec.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/specs/llm-safety/spec.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

fix(neo4j-client): Phase 15 learning relationship field consistency
  backend/app/clients/neo4j_client.py
  backend/tests/unit/test_neo4j_field_consistency.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

fix(faithfulness): eliminate vacuous-true score=1.0 (Phase 1 / not-applicable contract)
  backend/app/models/exam_models.py
  backend/app/services/scoring_faithfulness.py
  backend/lib/agentic_rag/faithfulness_check.py
  backend/tests/unit/test_faithfulness_check.py
  backend/tests/unit/test_faithfulness_check_boundary.py
  backend/tests/unit/test_scoring_faithfulness_not_applicable.py
Due: python-lint

test(fusion-strategy): add state-priority override regression tests (Phase 2)
  backend/tests/unit/test_fusion_strategy_override.py
Due: python-lint

fix(security): Phase 2 /sync/batch internal API key authentication
  backend/app/api/v1/endpoints/sync.py
  backend/app/config.py
  backend/app/security.py
  backend/tests/conftest.py
  backend/tests/unit/test_sync_batch_auth.py
  docs/secrets-setup.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/services/api-client.test.ts
  frontend/src/services/api-client.ts
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: spec-sync, python-lint

fix(sync-models): Phase 13 payload Pydantic validation at ingress
  backend/app/models/sync_models.py
  backend/tests/unit/test_sync_payload_validation.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

fix(rag-transform): Phase 3 related_concepts path-like string guard
  backend/app/services/verification_service.py
Due: python-lint

feat(agentic-rag): publish fusion_report / sharpness_report / support_sources (Phase 3)
  backend/lib/agentic_rag/nodes.py
  backend/lib/agentic_rag/state.py
  backend/tests/unit/test_fusion_report.py
  backend/tests/unit/test_sharpness_report.py
Due: python-lint

fix(verification): Phase 17.1 fail-closed degraded scoring
  backend/app/services/verification_service.py
  backend/tests/unit/test_mock_degradation_transparency.py
  backend/tests/unit/test_verification_service_activation.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/proposal.md
Due: python-lint

fix(sync_service): Phase 3+11+12(backend) Segment Commit architecture
  backend/app/models/sync_models.py
  backend/app/services/sync_service.py
  backend/tests/unit/test_sync_segment_commit.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

fix(verification): Phase 17.2 path traversal hardening
  backend/app/services/verification_service.py
Due: python-lint

fix(schemas): G-SILENT-001 Phase 1 — WeightConfig.enrichment_available field
  backend/app/api/v1/endpoints/sync.py
  backend/app/models/schemas.py
  backend/migrations/001_canvas_constraints.cypher
  backend/tests/unit/test_review_enrichment_signal.py
  backend/tests/unit/test_sync_exception_classification.py
  docs/known-gotchas.md
Due: spec-sync, python-lint

fix(sync.py): Phase 4 exception classification + Neo4j constraint migration
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: none

feat(agentic-rag): add CRAG one-shot deep_research_fallback (Phase 4)
  backend/lib/agentic_rag/config.py
  backend/lib/agentic_rag/deep_research.py
  backend/lib/agentic_rag/state_graph.py
  backend/tests/unit/test_deep_research_fallback.py
Due: python-lint

fix(kg-relevance): broaden Neo4j exception capture (Code-Review C-1)
  backend/app/services/question_generator.py
Due: python-lint

docs(openspec): mark Phase 6 complete (unit test layer)
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: none

docs(gotchas): add G-FAI-001 for faithfulness not_applicable contract (Phase 5)
  docs/known-gotchas.md
Due: none

docs(openspec): Phase 7 CONNECTS_TO deprecation schedule + docstring
  backend/app/services/canvas_service.py
  docs/project-status/fr-exploration/CONNECTS_TO-deprecation-evidence.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/deprecation-schedule.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

fix(llm-safety): Phase 9 retrieved context prompt-injection scanning
  backend/app/clients/claude_client.py
  backend/app/clients/gemini_client.py
  backend/app/middleware/prompt_injection_guard.py
  backend/app/services/context_enrichment_service.py
  backend/tests/unit/test_prompt_injection_context.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

docs(fr-kg-04): Phase 17 traceability gap closure
  _decisions/decision-log.md
  docs/known-gotchas.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/proposal.md
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/specs/verification-service/spec.md
Due: none

fix(sync_service): Phase 8 classify ConstraintError as VALIDATION_ERROR
  backend/app/services/question_generator.py
  backend/app/services/sync_service.py
  backend/tests/unit/test_kg_relevance_weighted.py
  backend/tests/unit/test_sync_segment_commit.py
  openspec/changes/fix-fr-kg-04-schema-drift-and-sync-hardening/tasks.md
Due: python-lint

Path conditions:
  spec-sync: any of: backend/app/{api,models,schemas}/**/*.py
  python-lint: any of: backend/**/*.py
